git+git://github.com/biothings/biothings_schema.py.git@e5550d3#egg=biothings_schema
biothings==0.8.4
elasticsearch>=7, <8
elasticsearch-dsl>=7, <8
PyLD>=0.7.1
jsonschema>=2.6.0
torngithub==0.2.0
Jinja2>=2.9.6
pycurl>=7.19
libsass==0.19.2
python3-saml==1.9.0 # SAML SSO
PyGithub
certifi
pyadf