git+https://github.com/biothings/biothings_schema.py@25a3c02#egg=biothings_schema
# git+https://github.com/biothings/biothings.api.git@0.12.x#egg=biothings
biothings==0.12.5
#PyLD>=0.7.1
#jsonschema>=2.6.0
#torngithub==0.2.0
pycurl>=7.19
python3-saml==1.9.0 # SAML SSO
PyGithub>=1.53
certifi
pyadf==0.2.29       # create rich text in Jira
aiocron==1.8

# use in index.routine to lock file
filelock
# s3 backup
boto3>=1.21.0
