{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
  .status{
    border-radius: 100%;
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
  }

  .circle{
    border-radius: 100%;
  }

  .dashboardUserBox{
    border-radius: 20px;
  }
  .dashboardUserBox img{
    border:2px solid var(--light)
  }
</style>
<div id="dashboard" class="container" style="min-height: 70vh;padding-top:80px;">
  <h1 class="text-muted">My Dashboard</h1>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-2 text-center">
        <div class="bg-secondary padding20 dashboardUserBox">
          <img class="circle" :src="user.avatar_url" width="80%" alt="logo" style="max-width:200px;"/>
          <p class="text-light mt-4"  v-text="user.name" v-text="user.name"></p>
          <a data-tippy="Go to GitHub profile" class="badge badge-light" v-text="'@'+user.login" target="_blank" :href="'http://www.github.com/'+user.login">
          </a>
        </div>
      </div>
      <div class="col-sm-10">
        <div>
          <div class="numberCircle mainBackLight" v-text="dashboardTotal"></div> Registered Datasets
        </div>
        <table class="table">
          <thead class="bg-secondary text-light">
            <tr>
              <th scope="col">Slug</th>
              <th scope="col">Source URL</th>
              <th scope="col">View</th>
              <th scope="col">Download</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="dashboard && dashboard.length">
              <tr v-for="item in dashboard">
                <td>
                  <span class="status bg-success" ></span> <a target="_blank" :href="item.url" v-text="item._meta.slug"></a>
                </td>
                <td>
                  <a target="_blank" :href="item._meta.url" :title="item._meta.url">
                    Link <i class="fas fa-external-link-alt"></i>
                  </a>
                </td>
                <td>
                  <a role="button" :href="'/'+item._meta.slug+'/'" class="btn btn-outline-secondary up">
                    Visualize
                  </a>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">JSON-LD</a>
                      <a class="dropdown-item" href="#">YAML</a>
                    </div>
                  </div>
                </td>
                <td>
                  <button @click.prevent="deleteSelected(item._meta.slug,item._id)" class="btn btn-outline-secondary fill">
                    Delete
                  </button>
                </td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td colspan="6" class="text-center text-muted">
                  No Contributions Yet
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
var app = new Vue({
      el: '#dashboard',
			data: function(){
				return {
          user:{},
          dashboard:[],
          dashboardTotal:"0"
				}
			},
      watch:{

      },
			methods:{
        deleteSelected(name,id){
          var self = this;
          Swal.fire({
            title: '<h3>Are you sure you want to delete <span class="text-danger bold">'+name+'</span> ?</h3>',
            text: "You won't be able to revert this!",
            imageUrl: "/static/img/dde-logo-o.svg",
            imageHeight: 100,
            imageAlt: 'Warning',
            showCancelButton: true,
            confirmButtonColor: '#006476',
            cancelButtonColor: '#5C3069',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {

            if (result.value) {
              axios.delete('/api/registry'+id).then(res=>{
                console.log(res.data)
                if (res.data.success) {
                  Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                  );
                  self.getAll();
                }

              }).catch(err=>{
                throw err;
                Swal.fire(
                  'Oops!',
                  'something went wrong',
                  'error'
                );
              });

            }
          });
        },
        getAll(){
          let self= this;
          if (this.user.login) {
            axios.get('/api/query?q=_meta.username:'+self.user.login).then(res=>{
              self.dashboard = res.data.hits;
              self.dashboardTotal = res.data.total;
            }).catch(err=>{
              throw err;
            });
          }
        },
        checkLoggedUser(){
          var self = this;
          axios.get('/user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
              self.getAll();
            }
          }).catch(err=>{
            throw err;
          });
        },
			},
			mounted:function(){

			},
      created:function(){
        this.checkLoggedUser()
      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
