<!--Footer-->
<footer class="section gradientVertical">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5" style="padding:20px;">
        <p class="text-light" >A BioThings schema viewer. View your JSON-LD schema.</p>
        <!-- Rights-->
        <p class="rights text-light"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>All Rights Reserved.</span></p>
      </div>
      <div class="col-md-4" style="padding:20px;">
        <h5 class="text-light" >Contact Us</h5>
      </div>
      <div class="col-md-4 col-xl-3" style="padding:20px;">
        <h5 class="text-light" >Links</h5>
        <ul class="nav-list">
          <li><a class="text-light" href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
