<!--Footer-->
<footer class="section bg-dark">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <p class="text-muted" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc</p>
              <!-- Rights-->
              <p class="rights text-muted"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>All Rights Reserved.</span></p>
            </div>
            <div class="col-md-4">
              <h5 class="text-muted" >Contact Us</h5>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5 class="text-muted" >Links</h5>
              <ul class="nav-list">
                <li><a class="text-muted" href="#">About</a></li>
                <li><a class="text-muted" href="#">Projects</a></li>
                <li><a class="text-muted" href="#">Blog</a></li>
                <li><a class="text-muted" href="#">Contacts</a></li>
                <li><a class="text-muted" href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
