<!--Footer-->
<footer class="section bg-light">
  <div class="container padding20">
    <p class="rights text-muted text-center" style="margin:0px;">
      <small>
        <span>©  </span><span class="copyright-year"><span id="year"></span></span><span> </span><span>All Rights Reserved.</span>
      </small>
    </p>
  </div>
</footer>
<script>
var currentTime = new Date()
var year = currentTime.getFullYear()
var myelement = document.getElementById("year");
    myelement.innerHTML= year;
</script>
