{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>


</style>

<main id="guide" style="min-height:70vh;">

  <div v-if=loading class="loader">
    <img src="./static/img/ripple.svg"/>
  </div>

  <div class="container">
    <div class="jumbotron bg-light text-center" style="margin-top: 40px;">

      <div class="jumbotron animatedBack text-center mt-5">
        <h1 class="text-light">DISCOVERY GUIDE</h1>
      </div>
      <p class="text-muted">
        Make your data more findable using this guide.
      </p>

      <template>
        <div class="jumbotron text-muted">
          <div class="numberCircle mainBackLight">1</div>
          <h3>Host your Dataset Metadata</h3>
          <p class="col-sm-6" style="margin: 0 auto;">
            Here's a few suggestions where you may host your dataset:
          </p>
          <hr />
          <ul class="list-group col-sm-6" style="margin:0 auto;">
            <li class="list-group-item">
              <a href="https://dataverse.org/" target="_blank">
                <img width="220px" src="https://dataverse.org/files/dataverseorg/files/dataverse_r_project.png" alt="Dataverse"/>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://zenodo.org/" target="_blank">
                <img width="220px" src="https://about.zenodo.org/static/img/logos/zenodo-gradient-square.svg" alt="Zenodo"/>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://figshare.com/" target="_blank">
              <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Figshare_logo.svg/1280px-Figshare_logo.svg.png" alt="FigShare"/></a>
            </li>
            <li class="list-group-item">
              <h3 class="text-muted"><i class="fas fa-home"></i> Your own website</h3>
            </li>
          </ul>
          <hr />
          <div class="text-muted">
            <p class="col-sm-6" style="margin: 0 auto;">
              Paste the URL to your hosted dataset metadata
            </p>
            <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
              <div class="form-group">
                <label for="urlform">Paste your URL here:</label>
                <input data-parsley-trigger="change" v-model="link" id="urlform" autocomplete="on" required ref="dataset_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
                <button :disabled="!link.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
              </div>
              <small class="badge badge-pill badge-secondary pointer"
              @click="link = 'https://figshare.com/articles/Should_we_treat_patients_with_only_one_set_of_positive_blood_cultures_for_extensively_drug-resistant_i_Acinetobacter_baumannii_i_the_same_as_multiple_sets_/5187139'">
                <i class="fas fa-question-circle"></i> Example URL
              </small>
            </form>
            <div>
              <span v-if="fieldsFoundCount && link" class="text-success h5 font-weigth-light" v-text="fieldsFoundCount+' fields found and filled out'"></span>
            </div>
          </div>
        </div>

      </template>

      <template>
        <div class="jumbotron text-muted">
          <div class="numberCircle mainBackLight">2</div>
          <h3>License Chooser*</h3>
          <small>(*Required)</small>
          <p class="col-sm-6" style="margin: 0 auto;">
            This tool helps you determine which Creative Commons License is right for you in a couple of easy steps.
          </p>
          <hr />
          <form id="licenseForm" class="col-sm-6" style="margin: 0 auto;">
            <div class="form-group">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Allow commercial uses of your work
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, as well as make and distribute derivative works based on it.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      Yes, as long as others share alike
                    </td>
                    <td>
                      The licensor permits others to create and distribute derivative works, but only under the same or a compatible license.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, but not distribute derivative works based on it.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect1">Allow adaptations of your work to be shared? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp;achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
              <form  class="col-sm-6" style="margin: 0 auto;">
              <select data-parsley-trigger="change" @change="getLicense()" ref="license1" class="form-control form-control-sm" id="ControlSelect1" required="">
                <option selected>Choose...</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Yes, as long as others share alike">Yes, as long as others share alike</option>
              </select>
            </div>

            <div class="form-group">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Allow commercial uses of your work
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, including for commercial purposes.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work for non-commercial purposes only.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect2">Allow commercial uses of your work? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp; achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
            <form  class="col-sm-6" style="margin: 0 auto;">
              <select data-parsley-trigger="change" @change="getLicense()" ref="license2" class="form-control form-control-sm" id="ControlSelect2" required="">
                <option selected>Choose...</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </form>
          </div>

          <template >
            <div class="form-group" id="thirdQuestionBlock" style="display: none;">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Impose legal requirement for attribution?
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to share and adapt work but must give attribution. Choosing this often creates a barrier to data integration efforts in the community. Community norms are already quite effective at giving authors attribution.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor effectively relinquishes all copyright and similar rights that he or she holds in a work and dedicating those rights to the public domain. Community norms are already quite effective at giving authors attribution regardless.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect3">Impose legal requirement for attribution? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp; achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
              <form  class="col-sm-6" style="margin: 0 auto;">
                <select data-parsley-trigger="change" @change="getLicense()" ref="license3" class="form-control form-control-sm" id="ControlSelect3" required="">
                  <option selected>Choose...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </form>
            </div>
          </template>


          <template v-if="licenseInfo">
            <div class="alert alert-success fade-in" role="alert" style="margin: 0 auto;">
              <h4>License Selected:</h4>
              <h2 class="font-weight-bold" v-text="typeLicense"></h2>
              <span class="badge badge-success" v-text="licenseAbbreviation"></span>
              <div class="alert alert-info mt-2" role="alert">
                Form has been updated!
              </div>
              <hr />
              <a target="_blank" :href="licenseLink">More Info</a>
            </div>
          </template>

        </div>
      </template>

      <template>
          <div class="flipcard">
            <div class="jumbotron text-muted face front">
              <button style="position:absolute; right: 10px; top:10px; transform: scale(.7);" class="btn btn-secondary" @click='flipView()'>Switch View</button>
              <div class="numberCircle mainBackLight">3</div>
              <h2>Metadata</h2>
              <small>(*Required)</small>
              <p class="col-sm-6" style="margin: 0 auto;">
                Fill out or edit your metadata.
              </p>
              <p>
                <a data-tippy="Load Cancer FigShare Example" href="#" class="badge badge-pill badge-secondary pointer mt-2 p-2" @click.prevent="loadExample('./static/misc/example.jsonld')"><i class="fas fa-question-circle"></i> Load Example</a>
              </p>
              <hr />
              <div class="row">
                <form id="metadataForm" autocomplete="off" class="col-sm-12 col-md-6">
                  <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label col-form-label-sm">
                      Name* <br />
                      <i class="fas fa-question-circle" data-tippy="A descriptive name of a dataset."></i>
                    </label>
                    <div class="col-sm-10">
                      <input autocomplete="off" v-model="metadata.name" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="name" placeholder="Enter text here" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description" class=" col-form-label col-form-label-sm">
                      Description* <br />
                      <i class="fas fa-question-circle" data-tippy="A short summary describing a dataset."></i>
                    </label>
                    <textarea required="" rows="7" v-model="metadata.description" class="form-control" id="description" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-minlength-message="Your description needs to be at least 20 characters long.." data-parsley-validation-threshold="10"></textarea>
                    <div class="col-sm-12 text-center">
                      <small><span v-text="metadata.description.length">0</span> Characters</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="keywords" class="col-sm-2 col-form-label col-form-label-sm">
                      Keywords <br />
                      <i class="fas fa-question-circle" data-tippy="Keywords summarizing the dataset."></i>
                    </label>
                    <div class="col-sm-9">
                      <input ref="keywordInput" autocomplete="off" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="keywords" placeholder="Enter new keyword here">
                    </div>
                    <div class="col-sm-1">
                      <button @click.prevent="addKeyword" class="btn btn-secondary btn-sm"><i class="fas fa-plus-circle"></i></button>
                    </div>
                    <div id="keywords">
                      <template v-for="text in keywords">
                        <span title="Delete" @click="removeKeyword(text)" data-tippy-placement="bottom" data-tippy="Remove" class="badge badge-success mr-1 pointer slit-in-vertical" v-html="text" data-tippy="Remove">
                        </span>
                      </template>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="version" class="col-sm-2 col-form-label col-form-label-sm">
                      Version* <br />
                      <i class="fas fa-question-circle" data-tippy="The version number for the dataset."></i>
                    </label>
                    <div class="col-sm-10">
                      <input autocomplete="off" v-model="metadata.version" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="version" placeholder="Enter text here" required="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="url" class="col-sm-2 col-form-label col-form-label-sm">
                      URL* <br />
                      <i class="fas fa-question-circle" data-tippy="Location of a page describing the dataset."></i>
                    </label>
                    <div class="col-sm-10">
                      <input autocomplete="off" v-model="metadata.url" data-parsley-trigger="change" type="url" class="form-control form-control-sm" id="url" placeholder="Enter URL here" required="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="SameAs" class="col-sm-2 col-form-label col-form-label-sm">
                      Same As* <br />
                      <i class="fas fa-question-circle" data-tippy="A link to a page that provides more information about the same dataset, usually in a different repository."></i>
                    </label>
                    <div class="col-sm-10">
                      <input autocomplete="off" v-model="metadata.sameAs" data-parsley-trigger="change" type="url" class="form-control form-control-sm" id="SameAs" placeholder="Enter URL here" required="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="variablesMeasured" class="col-sm-2 col-form-label col-form-label-sm">
                      Variables Measured <br />
                      <i class="fas fa-question-circle" data-tippy="The variable that this dataset measures. For example, temperature or pressure."></i>
                      <i class="fas fa-info-circle text-info" data-tippy="The variableMeasured property is proposed and pending standardization at schema.org."></i>
                    </label>
                    <div class="col-sm-10">
                      <input autocomplete="off" v-model="metadata.variablesMeasured" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="variablesMeasured" placeholder="Enter text here">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="license" class="col-sm-2 col-form-label col-form-label-sm">
                      License* <i class="fas fa-question-circle pointer" @click.prevent="scrollTo('licenseForm')" data-tippy="Get help choosing the right license"></i>
                    </label>
                    <div class="col-sm-10">
                      <input required="" disabled v-model="licenseAbbreviation" v-model="metadata.license" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="license" placeholder="Use License Chooser Tool">
                    </div>
                  </div>

                  <template v-if="otherFields.length">
                    <div class="text-muted mb-3 alert alert-secondary">
                      <small>Other Fields Found:</small>
                      <span class="badge badge-secondary mr-1" v-for="field in otherFields" v-text="field"></span>
                    </div>
                  </template>

                  <div>
                    <input data-tippy="Validate and Submit" type="button" class="btn themeButton text-light pulse" @click.prevent='validate("metadataForm")' value="Submit">
                    <input data-tippy="Clear All Fields" type="button" class="btn btn-danger text-light" @click.prevent='clearForm()' value="Clear">
                  </div>
                </form>

                <div class="col-sm-12 col-md-6">
                  <pre :disabled='!editCodeMode' class="form-control margin20 text-left bg-secondary text-light padding20 context" id="sideCode"></pre>
                </div>
              </div>


            </div>
            <div class="jumbotron face back text-secondary">
              <button style="position:absolute; right: 10px; top:10px; transform: scale(.7);" class="btn text-secondary btn-light" @click='flipView()'>Switch View</button>
              <h2>Clean View</h2>
              <div class="form-group bg-secondary">
                <label for="progressCode">Dataset Metadata</label>
                <pre class="margin20 text-left font-weight-bold" style="height:50vh" id="progressCode"></pre>
                <!-- <textarea :disabled='!editCodeMode' class="form-control margin20" id="progressCode" rows="20"></textarea> -->
                <!-- <button @click="editCodeMode = !editCodeMode" class="btn text-secondary btn-light" role="button">
                  <span v-if='!editCodeMode'>Locked <i class="fas fa-lock"></i></span>
                  <span v-else>Unlocked <i class="fas fa-lock-open"></i></span>
                </button> -->
              </div>
              <!-- <div>
                <input data-tippy="Validate and Submit" type="button" class="btn themeButton text-light" @click.prevent='validate("metadataForm")' value="Submit">
                <input data-tippy="Clear All Fields" type="button" class="btn btn-danger text-light" @click.prevent='clearForm()' value="Clear">
              </div> -->
            </div>
          </div>
      </template>

      <!-- <template>
        <div class="jumbotron text-muted">
          <h2>Metadata</h2>
          <small>(*Required)</small>
          <p class="col-sm-6" style="margin: 0 auto;">
            Fill out or edit your metadata.
          </p>
          <p>
            <a data-tippy="Load Cancer FigShare Example" href="#" class="badge badge-pill badge-secondary pointer mt-2 p-2" @click.prevent="loadExample('./static/misc/cancer.jsonld')"><i class="fas fa-question-circle"></i> Load Example</a>
          </p>
          <hr />
          <form id="metadataForm" autocomplete="off" class="col-sm-6" style="margin: 0 auto;">
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label col-form-label-sm">
                Name* <br />
                <i class="fas fa-question-circle" data-tippy="A descriptive name of a dataset."></i>
              </label>
              <div class="col-sm-10">
                <input autocomplete="off" v-model="metadata.name" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="name" placeholder="Enter text here" required="">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class=" col-form-label col-form-label-sm">
                Description* <br />
                <i class="fas fa-question-circle" data-tippy="A short summary describing a dataset."></i>
              </label>
              <textarea required="" rows="7" v-model="metadata.description" class="form-control" id="description" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-minlength-message="Your description needs to be at least 20 characters long.." data-parsley-validation-threshold="10"></textarea>
              <div class="col-sm-12 text-center">
                <small><span v-text="metadata.description.length">0</span> Characters</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="keywords" class="col-sm-2 col-form-label col-form-label-sm">
                Keywords <br />
                <i class="fas fa-question-circle" data-tippy="Keywords summarizing the dataset."></i>
              </label>
              <div class="col-sm-9">
                <input ref="keywordInput" autocomplete="off" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="keywords" placeholder="Enter new keyword here">
              </div>
              <div class="col-sm-1">
                <button @click.prevent="addKeyword" class="btn btn-secondary btn-sm"><i class="fas fa-plus-circle"></i></button>
              </div>
              <div id="keywords">
                <template v-for="text in keywords">
                  <span @click="removeKeyword(text)" data-tippy-placement="bottom" data-tippy="Remove" class="badge badge-success mr-1 pointer slit-in-vertical" v-html="text" data-tippy="Remove">
                  </span>
                </template>
              </div>
            </div>
            <div class="form-group row">
              <label for="version" class="col-sm-2 col-form-label col-form-label-sm">
                Version* <br />
                <i class="fas fa-question-circle" data-tippy="The version number for the dataset."></i>
              </label>
              <div class="col-sm-10">
                <input autocomplete="off" v-model="metadata.version" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="version" placeholder="Enter text here" required="">
              </div>
            </div>
            <div class="form-group row">
              <label for="url" class="col-sm-2 col-form-label col-form-label-sm">
                URL* <br />
                <i class="fas fa-question-circle" data-tippy="Location of a page describing the dataset."></i>
              </label>
              <div class="col-sm-10">
                <input autocomplete="off" v-model="metadata.url" data-parsley-trigger="change" type="url" class="form-control form-control-sm" id="url" placeholder="Enter URL here" required="">
              </div>
            </div>
            <div class="form-group row">
              <label for="SameAs" class="col-sm-2 col-form-label col-form-label-sm">
                Same As* <br />
                <i class="fas fa-question-circle" data-tippy="A link to a page that provides more information about the same dataset, usually in a different repository."></i>
              </label>
              <div class="col-sm-10">
                <input autocomplete="off" v-model="metadata.sameAs" data-parsley-trigger="change" type="url" class="form-control form-control-sm" id="SameAs" placeholder="Enter URL here" required="">
              </div>
            </div>
            <div class="form-group row">
              <label for="variablesMeasured" class="col-sm-2 col-form-label col-form-label-sm">
                Variables Measured <br />
                <i class="fas fa-question-circle" data-tippy="The variable that this dataset measures. For example, temperature or pressure."></i>
                <i class="fas fa-info-circle text-info" data-tippy="The variableMeasured property is proposed and pending standardization at schema.org."></i>
              </label>
              <div class="col-sm-10">
                <input autocomplete="off" v-model="metadata.variablesMeasured" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="variablesMeasured" placeholder="Enter text here">
              </div>
            </div>
            <div class="form-group row">
              <label for="license" class="col-sm-2 col-form-label col-form-label-sm">
                License* <i class="fas fa-question-circle pointer" @click.prevent="scrollTo('licenseForm')" data-tippy="Get help choosing the right license"></i>
              </label>
              <div class="col-sm-10">
                <input required="" disabled v-model="licenseAbbreviation" v-model="metadata.license" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="license" placeholder="Use License Chooser Tool">
              </div>
            </div>

            <template v-if="otherFields.length">
              <div class="text-muted mb-3 alert alert-secondary">
                <small>Other Fields Found:</small>
                <span class="badge badge-secondary mr-1" v-for="field in otherFields" v-text="field"></span>
              </div>
            </template>

            <div>
              <input data-tippy="Validate and Submit" type="button" class="btn themeButton text-light" @click.prevent='validate("metadataForm")' value="Submit">
              <input data-tippy="Clear All Fields" type="button" class="btn btn-danger text-light" @click.prevent='clearForm()' value="Clear">
            </div>
          </form>
        </div>
      </template> -->

      <template>
        <div id="result" class="jumbotron text-muted">
          <div class="numberCircle mainBackLight">4</div>
          <h3>Code</h3>
          <p class="col-sm-6" style="margin: 0 auto;">
            Copy and paste this code in your site's HTML code.
          </p>
          <hr />
          <form id="linkForm" class="col-sm-11" style="margin: 0 auto;">
            <div class="form-group">
              <div class="form-group">
                <pre >
                  <code id="resultCode" @click="selectText('resultCode')">
                  </code>
                </pre>
              </div>
            </div>
          </form>
        </div>
      </template>

      <template v-if="achievements.length">
        <div class="container bg-muted">
          <h5 class="text-muted font-weight-light">Achievements Unlocked</h5>
          <div class="m-1 badge-pill badge badge-secondary p-2" v-for="ach in achievements">
            <i class="fas fa-trophy"></i> <span v-text="ach"></span>
          </div>
        </div>
      </template>


    </div>
  </div>
</main>
<script type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="./static/js/lodash.js"></script>
<script src="./static/js/renderjson.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#guide',
			data: function(){
				return {
          loading: false,
          data:{},
          link:'',
          licenseInfo:false,
          typeLicense:'',
          licenseAbbreviation:'',
          licenseLink:'',
          licenseHelp: false,
          metadata:{
            "name":'',
            "description":'',
            "keywords": '',
            "version":'',
            "url":'',
            "sameAs":'',
            "variablesMeasured":'',
            "license": ''
          },
          otherFields:[],
          keywords:[],
          result:'',
          datasetInput:false,
          fieldsFoundCount: 0,
          validForm:false,
          achievements:[],
          editCodeMode: false
				}
			},
      watch:{
        metadata: {
          handler:function(oldM, newM){
            renderjson.set_show_to_level(7);
						$('#sideCode').html( renderjson(newM) );
          },
          deep: true
        },
        keywords: function (newKW, oldKW) {
          let str = newKW.join(',');
          this.metadata.keywords = str;
        },
        typeLicense: function(oldLic, newLic){
          this.metadata.license = this.licenseAbbreviation;
          // this.renderProgress();
        }
      },
      methods:{
        renderProgress(){
          // var str = JSON.stringify(this.metadata, null, 2);
          // var progressCode = str;
          // document.getElementById("progressCode").textContent=progressCode;
          renderjson.set_show_to_level(7);
          $('#progressCode').html( renderjson(this.metadata) );
        },
        flipView(){

          if ($('.flipcard').hasClass("flipped")) {
              $('.flipcard').removeClass('flipped');
          } else {
              $('.flipcard').addClass('flipped');
              this.renderProgress();
          }
        },
        selectText(containerid) {
          window.getSelection().selectAllChildren( document.getElementById( containerid ) );
        },
        achievementPopup(title){

          if (this.achievements.indexOf(title) === -1) {
            this.achievements.push(title);
            setTimeout(function(){
              swal({
                imageUrl: './static/img/trophy.svg',
                imageHeight: 50,
                imageAlt: 'Trophy',
                toast: true,
                timer: 3000,
                showConfirmButton: false,
                title: title,
                footer:'Achievement Unlocked',
                position: 'center-start'
              });
            }, 1000);
          }

        },
        clearForm(){
          this.metadata = {
            "name":'',
            "description":'',
            "keywords": '',
            "version":'',
            "url":'',
            "sameAs":'',
            "variablesMeasured":'',
            "thumbnailUrl":'',
            "license": ''
          };
          this.typeLicense='';
          this.licenseAbbreviation='';
          this.licenseLink='';
          this.keywords=[];
          this.otherFields=[];
          this.fieldsFoundCount= 0;
          this.achievements = [];
          this.renderProgress();
        },
        validate(formID){
          let res = $('#'+formID).parsley().validate();
          if (res) {
            this.validForm = true;
            this.makeScript();
            swal({
              type: 'success',
              toast: true,
              title: 'Form Submitted',
              showConfirmButton: false,
              position: 'top',
              timer: 4500
            });
          }else{
            swal({
              type: 'error',
              toast: true,
              title: 'Oops...Form Incomplete',
              showConfirmButton: false,
              position: 'top',
              timer: 4500
            });
            this.validForm = false;
          }
          this.renderProgress();
        },
        mergeOldAndNewData(){
          var newData = _.extend({}, this.data, this.metadata);
          this.data = newData;
        },
        makeScript(){
          this.mergeOldAndNewData();
          this.achievementPopup('Done and Done');
          var str = JSON.stringify(this.data, null, 2);
          var script = "<script type=\"application/ld+json\">" + str + "<\/script>"
          this.result = script;
          document.getElementById("resultCode").textContent=script;
          this.scrollTo('result');
        },
        addKeyword(){
          let value = this.$refs.keywordInput.value;
          this.keywords.push(value);
          this.$refs.keywordInput.value = '';
        },
        removeKeyword(tagName){
          for (var i = 0; i < this.keywords.length; i++) {
            if (this.keywords[i] === tagName) {
              this.keywords.splice(i,1);
            }
          }
        },
        loadingOn(){
          var self = this;
          self.loading = true;
        },
        loadingOff(){
          var self = this;
          setTimeout(function(){
             self.loading = false;
           }, 500);
        },
        getLicense(specialCase){
          let question1 = this.$refs.license1.value;
          let question2 = this.$refs.license2.value;

          if (specialCase) {
            switch (specialCase) {
              case 'No':
                this.licenseInfo = true;
                this.typeLicense = 'No Rights Reserved';
                this.licenseLink = 'https://creativecommons.org/share-your-work/public-domain/cc0/';
                this.licenseAbbreviation = 'CC0';
                break;
              case "Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by/4.0/';
                this.licenseAbbreviation = 'CC BY 4.0';
                break;
              default:
                this.licenseInfo = false;
                this.typeLicense = "We had trouble with your input, please try this link:";
                this.licenseAbbreviation = '';
                this.licenseLink = 'https://creativecommons.org/choose/';
                this.thirdQuestion = false;
                break;
            }
          }else{
            switch (question1+'|'+question2) {
              case "Yes|Yes":
                // Special Case
                //display third question
                $('#thirdQuestionBlock').show();
                let question3 = this.$refs['license3'].value;
                this.getLicense(question3);
                break;
              case "No|Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NoDerivatives 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nd/4.0/';
                this.licenseAbbreviation = 'CC BY-ND 4.0';
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes, as long as others share alike|Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-ShareAlike 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-sa/4.0/';
                this.licenseAbbreviation = 'CC BY-SA 4.0';
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc/4.0/';
                this.licenseAbbreviation = 'CC BY-NC 4.0';
                $('#thirdQuestionBlock').hide();
                break;
              case "No|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial-NoDerivatives 4.0 International';
                this.licenseAbbreviation = 'CC BY-NC-ND 4.0';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes, as long as others share alike|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial-ShareAlike 4.0 International';
                this.licenseAbbreviation = 'CC BY-NC-SA 4.0';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
                $('#thirdQuestionBlock').hide();
                break;
              default:
                this.licenseInfo = false;
                this.typeLicense = "We had trouble with your input, please try this link:";
                this.licenseAbbreviation = '';
                this.licenseLink = 'https://creativecommons.org/choose/';
                $('#thirdQuestionBlock').hide();
                break;
            }
          }




        },
        getFormValues () {
          this.requestPageHTML(this.link);
        },
        scrollTo(anchor){
          document.querySelector("#"+anchor).scrollIntoView({
            behavior: 'smooth'
          });
        },
        requestPageHTML(url){
          var self = this;
          self.loadingOn();
          //https://multiverso.me/AllOrigins/
          //http://api.allorigins.ml/get?url=
          // Gets around the CORS blocking issue
          $.getJSON('http://api.allorigins.ml/get?url='+encodeURIComponent(url)+'&callback=?', function(data){        	// console.log(data)
            self.loadingOff();
            let parser  = new DOMParser();
            let htmlDoc = parser.parseFromString(data.contents, "text/html");
            var txt = htmlDoc.querySelector('script[type="application/ld+json"]');
            if (!txt) {
              // self.achievementPopup("Nothing To See Here...");
              swal({
                type: 'error',
                title: 'Oops...',
                text: "We cannot find any structured dataset metadata in the pasted URL",
                footer: '<small>Make sure your dataset is enclosed in a "script" tag with "type=application/ld+json" then try again.</small>'
              });
            }else{
              self.achievementPopup("Who's Got Data? You Do!");
              txt = txt.textContent;
              var res = JSON.parse(txt);
              self.data = res;
              self.parseData();
              self.scrollTo('metadataForm');
            }
          });
        },
        loadExample(url){
          var self = this;
          self.loading = true;
          self.loadingOn();
          axios.get(url).then(res=>{
            self.achievementPopup("Show Me The Way, Master Kenobi");
            self.data = res.data;
            self.loadingOff();
            self.parseData();
            self.scrollTo('metadataForm');
          }).catch(err=>{
            throw err;
            swal({
              type: 'error',
              toast: true,
              title: 'Oops...Something Went Wrong',
              showConfirmButton: false,
              position: 'center',
              timer: 4500
            });
          })
        },
        parseData(){
          let self = this;
          let data = this.data;
          self.fieldsFoundCount = 0;
          Object.keys(data).forEach(function(key,index) {
              switch (key) {
                case 'name':
                  self.metadata['name'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'description':
                  self.metadata['description'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'keywords':
                  if (_.isArray(data[key])) {
                    self.keywords = data[key];
                  }else if (_.isString(data[key])) {
                    self.keywords = data[key].split(",");
                  }
                  self.fieldsFoundCount++;
                  break;
                case 'sameAs':
                  self.metadata['sameAs'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'version':
                  self.metadata['version'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'url':
                  self.metadata['url'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'license':
                  self.licenseAbbreviation = data[key];
                  self.fieldsFoundCount++;
                  break;
                case 'variablesMeasured':
                  self.metadata['variablesMeasured'] = data[key];
                  self.fieldsFoundCount++;
                  break;
                default:
                  self.metadata[key] = data[key];
                  if ( !_.includes(["@context", "@type", "@id"], key)) {
                    self.otherFields.push(key);
                  }
                  break;
              }
          });
        }
    },
    mounted:function(){
      var self = this;
      $(function () {
        $('#metadataForm').parsley().on('field:validated', function() {
          var err = $('.parsley-error').length;
          if (err > 5) {
            self.achievementPopup('Not So Fast!');
          }
        })
        .on('form:submit', function() {
          self.makeScript();
          return false;
        });

        $('#licenseForm').parsley().on('field:validated', function() {
        });

        $('#linkForm').parsley().on('field:validated', function() {
        })
        .on('form:submit', function() {
          return false;
        });
      });
    },
    created: function(){
    }
  })
</script>
{% include "footer.html" %}
{% endblock %}
