<header>
<title>Schema Viewer</title>
<nav class="navbar-expand-lg navbar navbar-dark animatedBack">
  <a class="navbar-brand mainFont twoEM" href="./"><b>CD2H</b> Schema Viewer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav " id="user_link">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    </ul>
  </div>
  </nav>
</header>
