{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main id="index" style="min-height:70vh;">
  <div class="container">
    <div class="jumbotron bg-light text-center" style="margin-top: 40px;">
      <img class="margin20" src="./static/img/cd2h-logo.png" style="width:50vw; max-width: 1100px;" alt="logo"/>
      <h2 class="mainTextDark">CD2H Data Discovery Engine</h2>
      <p class="text-muted">A Project of the CD2H Data Workgroup</p>
      <hr />
      <a role="button" href="./guide" class="btn btn-default themeButton text-light margin20">Guide</a>
      <button type="button" @click="handleChoice('our')" class="btn themeButton text-light margin20">Schema.org Core Schema</button>
      <button type="button" @click="handleChoice('your')" class="btn themeButton text-light margin20">View Your Schema</button>
      <a href="./whatever/test" class="btn btn-primary margin20">TEST LINK</a>

    </div>


    <div v-if="ourSchema" class="jumbotron mainBackLight text-light text-center" style="margin-top: 40px;">
      <h1 class="twoEM">Schema.org Core Schema</h1>
      <h4>View any of the available classes in this schema</h4>
      <form>
        <div class="form-row align-items-center">
          <div class="col-sm-6" style="margin: 0 auto;">
            <select class="form-control" @change='handleFilter' class="custom-select " id="inlineFormCustomSelect">
              <option selected>Filter by...</option>
              <option v-for="letter in alphabet" :value="letter" v-text="letter"></option>
            </select>
            <template v-if='filter'>
              <hr />
                <h3 class="text-light font-weight-bold twoEM" v-text='filter'></h3>
              <hr />
            </template>
            <select class="form-control" @change='handleChange' v-if="filter"  class="custom-select" id="inlineFormCustomSelect">
              <option selected v-text='"Choose..."'></option>
              <option v-for="(item,i) in filterResults" :value="item" v-text="item"></option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div v-if="yourSchema" class="jumbotron mainBackLight text-light text-center" style="margin-top: 40px;">
      <h1 class="twoEM">View Your Schema</h1>
      <h4>Copy the <b>raw</b> link to your data and paste it here</h4>
      <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
        <div class="form-group">
          <label for="urlform">Paste your URL here:</label>
          <input data-parsley-trigger="change" v-model="input" id="urlform" autocomplete="on" required ref="my_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
          <button :disabled="!input.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
        </div>
        <small class="badge badge-pill badge-secondary pointer"
        @click="input = 'https://schema.org/Dataset.jsonld'">
          <i class="fas fa-question-circle"></i> Example URL
        </small>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="./static/js/lodash.js"></script>
<script>
var app = new Vue({
      el: '#index',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          filter:'',
          availableClasses:[],
          graph:[],
          filterResults :[],
          input:'',
          yourSchema:false,
          ourSchema: false,
          linkPrefix:'./',
          data: null
				}
			},
      methods:{
        buildLink(){
          if (this.yourSchema) {
            this.linkPrefix= './cd2h/';
          }else{
            this.linkPrefix= './schema/';
          }
        },
        handleChoice(choice){
          switch (choice) {
            case 'our':
              this.ourSchema = true;
              this.yourSchema = false;
              break;
            case 'your':
              this.yourSchema = true;
              this.ourSchema = false;
              break;
            default:
              console.log('INVALID CHOICE!')
          }
        },
        getFormValues () {
          this.input = this.$refs.my_input.value;
          // console.log('input',this.input);
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        // sendRequest(){
        //   window.location.href = "./?url="+this.input;
        // },
        sendRequest(){
          axios.get(this.input).then(res=>{
            this.data = res.data;
            let result = res.data['@graph'];
            for (var i = 0; i < result.length; i++) {
              if (result[i].hasOwnProperty('@type') && result[i]['@type'] === "rdfs:Class"){
                this.makeURLandRedirect(result[i]);
              }
            }
          }).catch(err=>{
            throw err;
          })
        },
        makeURLandRedirect(obj){
          let arr = obj['@id'].split(':');

          localStorage.setItem('datasetData', JSON.stringify(this.data));

          window.location.href = "./"+arr[0]+"/"+arr[1];

        },
        handleFilter(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.availableClasses;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word[0] === target);
              this.filterResults = _.sortBy(results, [user => user['rdfs:label']], ['asc']);
          }
        },
        reqFile: function(){
          axios.get('./static/misc/schema.jsonld').then(res=>{
            this.graph = res.data['@graph']
            this.getAvailableClasses()
          }).catch(err=>{
            throw err;
          })
      },
      getAvailableClasses(){
        let results = [];
        for (var i = 0; i < this.graph.length; i++) {
          if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
            results.push(this.graph[i]["rdfs:label"]);
          }
        }
        this.availableClasses = results.sort();
      },
      handleChange: function(e){
        let value = e.target.value;
        window.location.href = "./schema-org/"+value;
      }
    },
    mounted:function(){
      this.reqFile()
    },
    created: function(){
      this.getAvailableClasses()
    }
  })
</script>
{% include "footer.html" %}
{% endblock %}
