{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main id="index">
  <div class="container">
    <div class="jumbotron" style="margin-top: 40px;">
      <h2>View an available class in this schema</h2>
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select @change='handleChange' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option v-for="item in availableClasses" :value="item" v-text="item"></option>

            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="jumbotron">
      <h2>Submit Schema</h2>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input disabled type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
var app = new Vue({
      el: '#index',
			data: function(){
				return {
          availableClasses:[],
          graph:[]
				}
			},
      methods:{
        reqFile: function(){
          axios.get('/static/misc/book.jsonld').then(res=>{
            this.graph = res.data['@graph']
            this.getAvailableClasses()
          }).catch(err=>{
            throw err;
          })
      },
      getAvailableClasses(){
        let results = [];
        for (var i = 0; i < this.graph.length; i++) {
          if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
            results.push(this.graph[i]["rdfs:label"]);
          }
        }
        this.availableClasses = results;
      },
      handleChange: function(e){
        window.location.href = "/viewer/"+e.target.value;
      }
    },
    mounted:function(){
      this.reqFile()
    },
    created: function(){
      this.getAvailableClasses()
    }
  })
</script>
{% include "footer.html" %}
{% endblock %}
