{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main id="index" style="min-height:70vh;">
  <div class="">
    <div class="jumbotron bg-light text-center padding20" style="margin-top: 40px;">
      <a data-tippy="Learn More About CD2H" target="_blank" href="https://ctsa.ncats.nih.gov/cd2h/">
        <img class="margin20" src="./static/img/cd2h-logo.png" style="width:30vw; max-width: 300px;" alt="logo"/>
      </a>
      <h1 class="text-muted caps">CD2H Data Discovery Engine</h1>
      <img src="./static/img/dde-logo-o.svg" width="200px" class="margin20 mb-9"/>
      <h4 class="text-muted caps">A Project of the CD2H Data Workgroup</h4>
    </div>

    <div class="jumbotron mainBackLight" style="margin-bottom:15vh;">
      <div class="container d-flex flex-row justify-content-center flex-wrap">
        <div class="col-sm-4 text-center swing-in-left-fwd">
          <h1 class="text3D">GUIDE</h1>
          <p class="caps text-light">Make your dateset more discoverable</p>
          <a role="button" href="./guide" class="btn pulse themeButton text-light margin20">Go</a>
        </div>
        <div class="col-sm-4 text-center swing-in-left-fwd">
          <h1 class="text3D">VIEW</h1>
          <p class="caps text-light">Browse the core schema.org schemas</p>
          <button type="button" class="btn pulse themeButton text-light margin20" data-toggle="modal" data-target="#schemaOrgModal">Go</button>
        </div>
        <div class="col-sm-4 text-center swing-in-left-fwd">
          <h1 class="text3D">BUILD</h1>
          <p class="caps text-light">Customize and host your own metadata schema</p>
          <a role="button" href="./schema-playground" class="btn pulse themeButton text-light margin20">Go</a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="schemaOrgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mainTextDark caps" id="exampleModalLabel">Schema.org Core Schema</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="mainTextLight">&times;</span>
            </button>
          </div>
          <div class="modal-body mainBackLight text-light text-center">
            <p>View any of the available classes in this schema</p>
            <form>
              <div class="form-row align-items-center">
                <div class="col-sm-6" style="margin: 0 auto;">
                  <select class="form-control" @change='handleFilter' class="custom-select " id="inlineFormCustomSelect">
                    <option selected>Filter by...</option>
                    <option v-for="letter in alphabet" :value="letter" v-text="letter"></option>
                  </select>
                  <template v-if='filter'>
                    <hr />
                      <h3 class="text-light font-weight-bold twoEM" v-text='filter'></h3>
                    <hr />
                  </template>
                  <select class="form-control" @change='handleChange' v-if="filter"  class="custom-select" id="inlineFormCustomSelect">
                    <option selected v-text='"Choose..."'></option>
                    <option v-for="(item,i) in filterResults" :value="item" v-text="item"></option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="./static/js/lodash.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#index',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          filter:'',
          availableClasses:[],
          graph:[],
          filterResults :[],
          input:'',
          linkPrefix:'./',
          data: null,
          user:{}
				}
			},
      methods:{
        checkLoggedUser(){
          var self = this;
          axios.get('./user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
            }
          }).catch(err=>{
            throw err;
          });
        },
        buildLink(){
          if (this.yourSchema) {
            this.linkPrefix= './cd2h/';
          }else{
            this.linkPrefix= './schema/';
          }
        },
        getFormValues () {
          this.input = this.$refs.my_input.value;
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        sendRequest(){
          axios.get(this.input).then(res=>{
            this.data = res.data;
            let result = res.data['@graph'];
            for (var i = 0; i < result.length; i++) {
              if (result[i].hasOwnProperty('@type') && result[i]['@type'] === "rdfs:Class"){
                this.makeURLandRedirect(result[i]);
              }
            }
          }).catch(err=>{
            throw err;
          })
        },
        makeURLandRedirect(obj){
          let arr = obj['@id'].split(':');

          localStorage.setItem('datasetData', JSON.stringify(this.data));

          window.location.href = "./"+arr[0]+"/"+arr[1];

        },
        handleFilter(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.availableClasses;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word[0] === target);
              this.filterResults = _.sortBy(results, [user => user['rdfs:label']], ['asc']);
          }
        },
        reqFile: function(){
          axios.get('./static/misc/schema.jsonld').then(res=>{
            this.graph = res.data['@graph']
            this.getAvailableClasses()
          }).catch(err=>{
            throw err;
          })
      },
      getAvailableClasses(){
        let results = [];
        for (var i = 0; i < this.graph.length; i++) {
          if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
            results.push(this.graph[i]["rdfs:label"]);
          }
        }
        this.availableClasses = results.sort();
      },
      handleChange: function(e){
        let value = e.target.value;
        window.location.href = "./schema-org/"+value;
      }
    },
    mounted:function(){
      this.reqFile();
      this.checkLoggedUser();
    },
    created: function(){
      this.getAvailableClasses();
    }
  })
</script>
{% include "footer.html" %}
{% endblock %}
