<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" style="background: #fc506d">
    <head>

      <!-- <meta property="og:locale" content="en_US" />
      <meta property="og:url" content="http://smart-api.info/">
      <meta property="og:site_name" content="SmartAPI">
      <meta property="og:title" content="SmartAPI | Building a connected network of FAIR APIs" />
      <meta name="description" content="The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs)" />
      <meta property="og:image" content="https://s17.postimg.cc/48tff4kbj/featured.jpg">
      <meta property="og:image:type" content="image/jpg">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:type" content="website">
      <meta property="og:description" content="The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs)">
      <meta property="fb:app_id" content="" />
      <meta name="twitter:title" content="SmartAPI | Building a connected network of FAIR APIs" />
      <meta name="twitter:image" content="/static/img/logo-medium.png" />
      <meta name="twitter:url" content="http://smart-api.info/" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs)" />
      <link rel="apple-touch-icon" href="/static/img/logo-medium.png" />
      <link rel="shortcut icon" type="image/png" href="/static/img/logo-small.png"/>
      <link rel="shortcut icon" type="image/png" href="/static/img/logo-small.png"/>
      <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
      <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png" />
      <meta name="msapplication-config" content="/static/img/browserconfig.xml">
      <link rel="manifest" href="/static/img/site.webmanifest">
      <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#3f85bb">
      <meta name="msapplication-TileColor" content="#3f85bb">
      <meta name="theme-color" content="#b2e3f5">
      <meta name="theme-color" content="#2196F3"> -->

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
      <link type="text/css" rel="stylesheet" href="./static/css/app.css"/>
      <link type="text/css" rel="stylesheet" href="./static/css/Treant.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        {% block extra_head %}
        {% endblock %}

    </head>

    <body class="whiteBack">

        {% block content %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

        {% block extra_scripts %}
        {% endblock %}

        <script type="text/javascript">

        </script>
    </body>
</html>
