{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="playground" class="container" style="min-height: 70vh;padding-top:60px;">
  <div class="jumbotron animatedBack text-center mt-5">
    <h1 class="text-light">SCHEMA PLAYGROUND</h1>
  </div>
  <div class="jumbotron text-muted text-center">
    <h3>CUSTOMIZE AND HOST YOUR OWN METADATA SCHEMA</h3>
    <p>Copy the <b>raw</b> link to your data and paste it here</p>
    <img src="/static/img/raw.gif" alt="Copy Raw Link" width="300px"/>
    <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
      <div class="form-group">
        <label for="urlform">Paste your URL here:</label>
        <input style="margin:auto;" data-parsley-trigger="change" v-model="input" id="urlform" autocomplete="on" required ref="my_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
        <button :disabled="!input.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
      </div>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://schema.org/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="Schema.org Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/cvisb/sample_viewer_web/master/sample-viewer/src/assets/schema/dataset.json'">
        <i class="fas fa-question-circle" data-tippy="CVISB Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="BioThings Dataset"></i> Example URL
      </small>
    </form>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="./static/js/parsley.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#playground',
			data: function(){
				return {
          input: ''
				}
			},
      watch:{

      },
			methods:{
        getFormValues () {
          this.input = this.$refs.my_input.value;
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        sendRequest(){
          axios.get(this.input).then(res=>{
            this.data = res.data;
            let result = res.data['@graph'];
            for (var i = 0; i < result.length; i++) {
              if (result[i].hasOwnProperty('@type') && result[i]['@type'] === "rdfs:Class"){
                this.makeURLandRedirect(result[i]);
              }
            }
          }).catch(err=>{
            throw err;
          })
        },
        makeURLandRedirect(obj){
          let arr = obj['@id'].split(':');

          localStorage.setItem('datasetData', JSON.stringify(this.data));

          window.location.href = "./"+arr[0]+"/"+arr[1];

        },
			},
			mounted:function(){
        $('#linkForm').parsley().on('field:validated', function() {
        })

			},
      created:function(){

      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
