{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="playground" class="container" style="min-height: 70vh;padding-top:60px;">
  <div class="jumbotron animatedBack text-center mt-5">
    <h1 class="text-light">SCHEMA PLAYGROUND</h1>
  </div>
  <div class="jumbotron text-muted text-center">
    <h3>CUSTOMIZE AND HOST YOUR OWN METADATA SCHEMA</h3>
    <p>Copy the <b>raw</b> link to your data and paste it here</p>
    <img src="/static/img/raw.gif" alt="Copy Raw Link" width="300px"/>
    <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
      <div class="form-group">
        <label for="urlform">Paste your URL here:</label>
        <input style="margin:auto;" data-parsley-trigger="change" v-model="input" id="urlform" autocomplete="on" required ref="my_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
        <button :disabled="!input.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
      </div>
      <div v-if="suggestedURL" class="alert alert-warning">
        <p>We noticed that was not a GitHub raw data link.<br /> We have converted it to: </p>
        <p><a style="word-break: break-all;" target="_blank" class="small" :href="suggestedURL" v-text="suggestedURL"></a></p>
        <button class="btn btn-warning text-light pointer" @click.prevent="input = suggestedURL">Use this link</button>
      </div>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://schema.org/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="Schema.org Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/cvisb/sample_viewer_web/master/sample-viewer/src/assets/schema/dataset.json'">
        <i class="fas fa-question-circle" data-tippy="CVISB Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="BioThings Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-warning pointer mr-1"
      @click="input = 'https://github.com/data2health/schemas/blob/master/Dataset/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="BioThings Dataset"></i> Example URL
      </small>
      <small class="badge badge-pill badge-primary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/data2health/schemas/biothings/biothings/biothings_curie.jsonld'">
        <i class="fas fa-question-circle" data-tippy="BioThings Dataset"></i> Example URL Multiple
      </small>
    </form>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="./static/js/parsley.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
var app = new Vue({
      el: '#playground',
			data: function(){
				return {
          input: '',
          suggestedURL:''
				}
			},
      watch:{
        input: function(value, oldValue){
          if (value.includes('blob') || value.includes('github.com')) {
            this.suggestedURL = value.replace('blob/', '')
            .replace('github.com', 'raw.githubusercontent.com')
            .replace('www.github.com', 'raw.githubusercontent.com');;
          }
        }
      },
			methods:{
        checkURL(){
          let url = this.input;
          if (url.includes('blob')) {

            url = url.replace('blob', 'raw');

            Swal({
              title: 'Link Converted',
              imageUrl: "./static/img/dde-logo-o.svg",
              imageHeight: 100,
              imageAlt: 'Warning',
              html:
                '<p>We noticed that was not a raw data link. We have converted it to: </p> ' +
                '<p><a target="_blank" href="'+url+'">'+url+'</a></p>' +
                '<p>Proceed with this link?</p>',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, use this link!'
            }).then((result) => {
              if (result.value) {
                return url;
              }
            });
          }else{
            return url;
          }
        },
        getFormValues () {
          this.input = this.$refs.my_input.value;
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        sendRequest(){
          axios.get(this.input).then(res=>{
            this.data = res.data;
            let graph = res.data['@graph'];
            for (var i = 0; i < graph.length; i++) {
              if (graph[i].hasOwnProperty('@type') && graph[i]['@type'] === "rdfs:Class"){
                this.makeURLandRedirect(graph[i]);
              }
            }
          }).catch(err=>{
            Swal(
                'Something went wrong.',
                'Make sure your GitHub link links directly to your data page or raw data',
                'error'
              );
            throw err;
          })
        },
        makeURLandRedirect(obj){
          let arr = obj['@id'].split(':');

          localStorage.setItem('datasetData', JSON.stringify(this.data));

          // window.location.href = "./"+arr[0]+"/"+arr[1];
          window.location.href = "./"+arr[0]+"/";

        },
			},
			mounted:function(){
        $('#linkForm').parsley();

			},
      created:function(){

      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
