{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="viewer" class="container">
  <h1>Viewer</h1>
  <button @click="reqFile">Get JSON-LD Graph</button>
  <hr />
  <h1>{{schemaClass}}</h1>
  <table class="table" v-if="properties.length" style="margin-bottom: 40px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Expected Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody v-for="(item,i) in properties">
    <tr >
      <th><a :href='"/viewer/"+getTitle(item)' v-html=getTitle(item)></a></th>
      <td v-html=getType(item)>TYPE</td>
      <td v-html=getDescription(item)></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script>
var app = new Vue({
      el: '#viewer',
			data: function(){
				return {
          graph: [],
          query:'',
          schemaClass:'',
          properties:[]
				}
			},
			methods:{
        shapeData(dataGraph){
          for (var i = 0; i < dataGraph.length; i++) {
            if (rawdata.hasOwnProperty('rdfs:label')) {
              return rawdata['rdfs:label']
            }else{
              return false;
            }
          }
        },
        getTitle: function(data){
          if (data.hasOwnProperty('rdfs:label')) {
            return data["rdfs:label"];
          }else{
            return 'no property name available'
          }
        },
        getType: function(data){
          if (data.hasOwnProperty("@type")) {
            return data["@type"];
          }else{
            return 'no type available'
          }
        },
        getDescription: function(data){
          if (data.hasOwnProperty("rdfs:comment")) {
            return data["rdfs:comment"];
          }else{
            return 'no description available'
          }
        },
        reqFile: function(){
          axios.get('/static/misc/person.jsonld').then(res=>{
            //console.log(res.data);
            this.graph = res.data['@graph']
            this.getClass();
          }).catch(err=>{
            throw err;
          })
        },
        getClassProperties: function(){
          let resultsArray = [];
          for (var i = 0; i < this.graph.length; i++) {
            if ( !_.isArray(this.graph[i]["schema:domainIncludes"]) && this.graph[i]['@type'] === "rdf:Property") {
              //console.log('NOT array',this.graph[i]);
              if (this.graph[i]["schema:domainIncludes"]['@id'].toLowerCase() === this.query ) {
                console.log('pushing',this.graph[i]);
                resultsArray.push(this.graph[i]);
              }
            }else if(_.isArray(this.graph[i]["schema:domainIncludes"]) && this.graph[i]['@type'] === "rdf:Property"){
              //console.log('IS array',this.graph[i]);
              for (var x = 0; i < this.graph[i]["schema:domainIncludes"].length; x++) {
                if (this.graph[i]["schema:domainIncludes"][x].toLowerCase() === this.query) {
                  console.log('pushing',this.graph[i]);
                  resultsArray.push(this.graph[i]);
                }
              }
            }
          }
          this.properties = _.orderBy(resultsArray, "rdfs:label", 'asc');
        },
        getClass(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query) {
              console.log('class found',this.graph[i]["rdfs:label"]);
              this.schemaClass = this.graph[i]["rdfs:label"];
            }
          }
          if (this.schemaClass) {
            this.getClassProperties()
          }else{
            //look for properties
          }
        }
			},
			mounted:function(){
        let context = {{Context}}
         if ( context.Content ) {
           console.log('Context Query = ',context.Query);
           this.query = context.Query;
         }
        this.reqFile()
			}
		});


</script>
{% include "footer.html" %}
{% endblock %}
