{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
g.nodes g.node:last-child circle{
  fill: #ec9ff0 !important;
}

g.nodes g.node:last-child text{
  font-size: 1.5em !important;
}

.node-name{
  margin:0;
}

.navigation{
  opacity: .7;
  margin-top:100px;
  position: fixed; top: 40vh;
  box-shadow: 0px 0px 0px #4b4b4b;
  z-index:100;
  transition: all .5s;
}

.navigation:hover{
  box-shadow: 1px 5px 20px #4b4b4b;
  opacity: 1;
}

.description{
  background: #d7d7d7;
  border-radius: 10px;
}

.fa-external-link-alt{
  font-size: small !important;
}

.small{
  font-size: small;
}
.table thead th{
  vertical-align: middle;
}
</style>
<div id="viewer" class="container" style="min-height: 70vh;padding-top:40px;">
  <div class="row" style="margin-top:40px;">
    <div class="col-lg-2">
      <template v-if="availableClasses.length>20">
        <ul class="list-group">
          <li class="list-group-item mainBackDark text-light text-center">
            Schemas
          </li>
          <li class="list-group-item">
            <select @change='handleChange' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Filter by...</option>
              <option v-for="letter in filterLetters" :value="letter" v-text="letter"></option>
            </select>
          </li>
          <li class="list-group-item text-light mainBackDark twoEM text-center" v-if='filter' v-text='filter'>

          </li>
          <li class="list-group-item" v-if='filter'>
            <select @change='handleFilter' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected v-text='"Choose..."'></option>
              <option v-for="(item,i) in filterResults" :value="item['rdfs:label']" v-text="item['rdfs:label']"></option>
            </select>
          </li>
        </ul>
      </template>
      <!-- If class list is less than 20 -->
      <template v-else>
        <ul class="list-group">
          <li class="list-group-item mainBackLight text-light text-center">
            Schemas
          </li>
          <li class="list-group-item">
            <select @change='handleFilter' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected v-text='"Choose..."'></option>
              <option v-for="(item,i) in availableClasses" :value="item['rdfs:label']" v-text="item['rdfs:label']"></option>
            </select>
          </li>
        </ul>
      </template>

      <!-- sideNav -->
      <template v-if="parentDisplayResults.length">
        <ul class="list-group d-none d-sm-none d-md-block navigation">
          <li class="list-group-item mainBackLight text-light text-center font-weight-bold">
            Page Navigation
          </li>
          <li class="list-group-item noPadding" v-for="item in parentDisplayResults.slice().reverse()">
            <a class="nav-link" :href="'#'+removePrefix(item)" ><i class="fas fa-arrow-alt-circle-right mainTextLight"></i> <span v-text="removePrefix(item)"></span></a>
          </li>
        </ul>
      </template>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-9">
      <h1>Schema Visualizer</h1>
      <div id="canvas" class="d-none d-sm-none d-md-block"></div>
      <div class="jumbotron" v-if='schemaClass'>
        <div >
          <button @click="toggleGraph" class="d-none d-sm-none d-md-block btn themeButton text-light float-right" ><i class="fas fa-draw-polygon"></i> Graph</button>
          <h1 class="mainTextDark bold" v-if='schemaClass' :id='schemaClass' v-text='schemaClass'></h1>
          <template v-if='allPaths.length'>
            <ul>
              <li v-for="path in allPaths">
                <span v-for="(item,index) in path">
                  <a :class="[ index !== path.length-1 ? 'mainTextLight' : 'mainTextDark']" class="font-weight-bold" :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
                  <span v-if="index !== path.length-1">&gt;</span>
                </span>
              </li>
            </ul>
          </template>
          <template v-else>
            <span v-if="subclass">
              <a class="mainTextLight font-weight-bold" :href="'./'+subclass" v-text='subclass'></a>
              &gt;
            </span>
            <a class="mainTextDark font-weight-bold" :href="'./'+schemaClass" v-text='schemaClass'></a>
          </template>
          <template v-if="schemaClass">
            <p v-html="classInfo['rdfs:comment']" class="padding20 description mainTextDark"></p>
          </template>
        </div>
      </div>
      <h1 class="mainTextDark bold" v-if='property' v-text='property'></h1>
      <h1 class="mainTextDark bold" v-if='schemaClass' v-text='schemaClass'></h1>
      <table class="table table-responsive" v-if="properties.length" style="margin-bottom: 40px">
      <thead class="mainBackDark text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in properties">
        <!-- <tr v-for="(item,i) in checkLinks(properties)"> -->
          <td>
            <a class="font-weight-bold" :href='"./"+getTitle(item)' v-html=getTitle(item)></a>
            <!-- <a class="font-weight-bold" :target="[item.linkOut ? '_blank' : '_self']" :href='item.link' v-html=getTitle(item)></a> -->
            <!-- <template v-if="item.linkOut">
              <i class="fas fa-external-link-alt mainTextDark"></i>
            </template> -->
          </td>
          <td>
            <!-- <a style="display: block;" v-for="(type,i) in getType(item)" :href="'./'+type" v-html='type'></a> -->
            <template v-for="(type,i) in getType(item)">
              <a style="display: block;" :href="generateLink(type)">
                <span v-html='type'></span>
                <i v-if="generateLink(type)[0] !== '.'" class="fas small fa-external-link-alt"></i>
              </a>

            </template>
          </td>
          <td v-html=getDescription(item) class="mainTextDark"></td>
        </tr>
        <!-- <tr>
          <td colspan="3">
            <a class="btn btn-primary text-light" @click="addFieldForm()">Add Field</a>
            <button type="button" class="btn pulse themeButton text-light margin20" data-toggle="modal" data-target="#addFieldModal">Add New</button>
          </td>
        </tr> -->
      </tbody>
    </table>
    <template v-if="!properties.length && !userURL">
      <div class="text-center mainBackDark text-light padding20" style="margin-bottom: 40px">
        <i class="fas fa-exclamation-circle mainTextLight"></i>
        This class has no properties of it's own
      </div>
    </template>
    <div class="row" v-if='propertyInfo["@id"]'>
      <div class="col-sm-6">
        <ul class="list-group" style="max-width: 50vw;">
          <li class="list-group-item mainBackLight text-light font-weight-bold">
            Used on these types
          </li>
          <li class="list-group-item" v-for="(item,i) in usedOnTheseTypes">
              <a :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-group" style="max-width: 50vw;">
          <li class="list-group-item mainBackLight text-light font-weight-bold">
            Values expected to be one of these types
          </li>
          <li class="list-group-item" v-for="(item,i) in rangeIncludes">
              <a :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
          </li>
        </ul>
      </div>
    </div>

    <span v-if="parentClassesAndProps.length" v-for="(parent,i) in parentClassesAndProps">
      <h1 :id='parent["className"]' class="mainTextLight" v-html='parent["className"]'></h1>
      <table v-if="parent['props'].length" class="table table-responsive" style="margin-bottom: 40px">
      <thead class="mainBackLight text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in parent['props']">
        <!-- <tr v-for="item in checkLinks(parent['props'])"> -->
          <td>
            <a class="font-weight-bold" :href='"./"+getTitle(item)' v-html=getTitle(item)></a></td>
            <!-- <a class="font-weight-bold" :target="[item.linkOut ? '_blank' : '_self']" :href='item.link' v-html=getTitle(item)></a>
            <template v-if="item.linkOut">
              <i class="fas fa-external-link-alt mainTextLight"></i>
            </template> -->
          </td>
          <td>
            <!-- <a style="display: block;" v-for="(type,i) in getType(item)" :href="'./'+type" v-html='type'></a> -->
            <template v-for="(type,i) in getType(item)">
              <a style="display: block;" :href="generateLink(type)">
                <span v-html='type'></span>
                <i v-if="generateLink(type)[0] !== '.'" class="fas small fa-external-link-alt"></i>
              </a>
            </template>
          </td>
          <td v-html=getDescription(item) class="mainTextDark"></td>
        </tr>
      </tbody>
    </span>
  </table>
  <template v-else>
    <div class="text-center mainBackLight text-light padding20" style="margin-bottom: 40px">
      <i class="fas fa-exclamation-circle"></i>
      This class has no properties of it's own
    </div>
  </template>

    </div>
  </div>

  <div class="modal fade" id="addFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mainTextDark caps" id="exampleModalLabel">Add Field</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="mainTextLight">&times;</span>
          </button>
        </div>
        <div class="modal-body mainBackDark text-light text-center">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Property Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Sub-Fileds?</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Comments/Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/1.0.0/jsonld.min.js"></script> -->
<script src="/static/js/lodash.js"></script>
<script src="https://d3js.org/d3.v3.js"></script>
<script src="/static/js/networkx.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsonld@1.0.0/dist/jsonld.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
var app = new Vue({
      el: '#viewer',
			data: function(){
				return {
          filter:'',
          dataSetURL : 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/Dataset.jsonld',
          graph: [],
          context: {},
          query:'',
          schemaClass:'',
          properties:[],
          parentProperties: [],
          property:'',
          propertyInfo:{},
          classes:[],
          subclass: '',
          classInfo:{},
          availableClasses:[],
          filterResults:[],
          lineageArray:[],
          displayResults:[],
          parentDisplayResults:[],
          additionalPaths:[],
          userURL:'',
          nxG: null,
          allPaths:[],
          edgeGraph: [],
          parentClassesAndProps:[],
          usedOnTheseTypes: [],
          rangeIncludes: [],
          showGraph: false,
          namespace : '',
          addFieldCounter: 0,
          filterLetters:[]
				}
			},
      watch:{
        addFieldCounter: function(oldC,newC){
          this.graph =
          this.determinePath();
        }
      },
			methods:{
        addFieldForm(){
          Swal({
            title: 'Property Name',
            input: 'text',
            inputAttributes: {
              autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Look up',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
              return fetch(`//api.github.com/users/${login}`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error(response.statusText)
                  }
                  return response.json()
                })
                .catch(error => {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  )
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((result) => {
            if (result.value) {
              Swal({
                title: `${result.value.login}'s avatar`,
                imageUrl: result.value.avatar_url
              })
            }
          })
        },
        addField(){
          this.addFieldCounter++;

          this.graph.push({
            '@id': "schema:NEWPROP",
            '@type': "rdf:Property",
            'rdfs:comment': "THIS IS A TEST DECRIPTION",
            'rdfs:label': "NEWPROP",
            'schema:domainIncludes': {
              '@id': "schema:Dataset"
            },
            'schema:rangeIncludes': {
              '@id': "schema:TEST TYPE"
            },
            'schema:sameAs': {
              '@id': "schema:Dataset"
            }
          });
        },
        generateLink(query){
          var self = this;
          var link = ''
          for (var i = 0; i < self.graph.length; i++) {
            //IF OBJECT
            // console.log(self.graph[i]["rdfs:label"])
            if (_.isPlainObject(self.graph[i]["rdfs:label"])) {
              if (self.graph[i]["rdfs:label"]['@value'] === query)
                {
                  return link = './'+query;
                }
                else{
                  var linkExpanded = self.context[self.namespace]+query;
                  link = linkExpanded;
                }
            }
            //IF NOT OBJECT
            else if(_.isString(self.graph[i]["rdfs:label"])){
              if (self.graph[i]["rdfs:label"] === query)
                {
                  return link = './'+query;
                }
                else{
                  var linkExpanded = self.context[self.namespace]+query;
                  link = linkExpanded;
                }
            }

          }
          return link;
        },
        checkLinks(myList){

          var self = this;

          for (var x = 0; x < myList.length; x++) {

            let query = self.removePrefix(myList[x]['@id']);
            for (var i = 0; i < self.graph.length; i++) {

              //IF OBJECT
              if (_.isPlainObject(self.graph[i]["rdfs:label"])) {
                if (self.graph[i]["rdfs:label"]['@value'] === query)
                  {
                    myList[x] = Object.assign({'link':'./'+query, 'linkOut': false}, myList[x]);
                  }
              }
              //IF NOT OBJECT
              else{
                if (self.graph[i]["rdfs:label"] === query)
                  {
                    myList[x] = Object.assign({'link':'./'+query, 'linkOut': false}, myList[x]);
                  }
                  // ELSE EXPAND AND LINK OUT
                  else{
                    if (self.context[self.namespace]) {

                      let arr = myList[x]['@id'].split(':');
                      let text = arr[arr.length-1];
                      let prefix = arr[0];
                      var linkExpanded = self.context[prefix]+text;
                      myList[x] = Object.assign({'link':linkExpanded, 'linkOut': true}, myList[x]);

                    }else{
                      myList[x] = Object.assign({'link':'', 'linkOut': false}, myList[x]);
                    }
                  }
              }

            }
          }
          return myList;
        },
        // async checkLinks(myList){
        //
        //   var self = this;
        //
        //   console.log('My List Input: ',myList)
        //
        //   for (var x = 0; x < myList.length; x++) {
        //
        //     let query = self.removePrefix(myList[x]['@id']);
        //
        //     for (var i = 0; i < self.graph.length; i++) {
        //       //CHECK IF A CLASS EXISTS
        //       if (self.graph[i].hasOwnProperty('@type') && self.graph[i]['@type'] === "rdfs:Class"
        //        && self.graph[i]["rdfs:label"].toLowerCase() === query
        //        || self.graph[i].hasOwnProperty('@type') && self.graph[i]['@type'] === "rdfs:Class"
        //        && self.graph[i]["rdfs:label"].toLowerCase() === query.toLowerCase())
        //         {
        //           myList[x]['link'] = './'+query;
        //         }
        //         else if (self.graph[i].hasOwnProperty("rdfs:label") && self.graph[i]["rdfs:label"] === query)
        //         // CHECK IF A PROPERTY EXISTS
        //           {
        //             // myList[x]['link'] = './'+query;
        //
        //             // jsonld.expand({'@context':self.context, ...myList[x]}, function(err, expanded) {
        //             //    let linkFinal = expanded[0]['@id'];
        //             //    myList[x] = Object.assign({'link':linkFinal}, myList[x]);
        //             // });
        //
        //             const compacted = await jsonld.compact(myList[x], self.context);
        //             const expanded = await jsonld.expand(compacted);
        //             let linkFinal = expanded[0]['@id'];
        //             myList[x] = Object.assign({'link':linkFinal}, myList[x]);
        //
        //           }
        //         else{
        //           // ELSE EXPAND AND LINK OUT
        //
        //           const compacted = await jsonld.compact(myList[x], self.context);
        //           const expanded = await jsonld.expand(compacted);
        //           let linkFinal = expanded[0]['@id'];
        //           myList[x] = Object.assign({'link':linkFinal}, myList[x]);
        //
        //           // jsonld.expand({'@context':self.context, ...myList[x]}, function(err, expanded) {
        //           //    console.log('expanded',expanded)
        //           //    let linkFinal = expanded[0]['@id'];
        //           //    myList[x] = Object.assign({'link':linkFinal}, myList[x]);
        //           // });
        //
        //         }
        //     }
        //   }
        //   console.log('FINAL LIST', myList)
        //   return myList;
        // },
        // async compactSchema(propertyObj){
        //
        //   const compacted = jsonld.compact(propertyObj, this.context);
        //   const expanded = await compacted.then(compactedRes=>{
        //     this.extendSchema(compactedRes);
        //   });
        // },
        // async extendSchema(data){
        //
        //   const expanded = jsonld.expand(data);
        //   const link = await expanded.then(expandedRes=>{
        //     // console.log(expandedRes)
        //     let linkFinal = expandedRes[0]['@id'];
        //     console.log('returning ',linkFinal);
        //     return linkFinal;
        //   });
        //   return link;
        // },
        toggleGraph(){
          this.showGraph = !this.showGraph;
          if (this.showGraph) {
            this.makeQueryGraph();
          }
        },
        removePrefix(text){
          let arr = text.split(':');
          text = arr[arr.length-1];
          return text;
        },
        allIndices(arr, val){
            var indices = [],
                i;
            for (i = 0; i < arr.length; i++) {
                if (arr[i] === val) {
                    indices.push(i);
                }
            }
            return indices;
        },
        hasEdgeBeenFollowedInPath({ edge, path }) {
            var indices = this.allIndices(path, edge.from);
            return indices.some(i => path[i + 1] === edge.to);
        },
        nodes(graph, node){
          return graph.reduce((p, c) => {
              (c[0] === node) && p.push(c[1]);
              return p;
          }, []);
        },
        memoize(fn){
          const cache = new Map();
          return function() {
              var key = JSON.stringify(arguments);
              var cached = cache.get(key);
              if (cached) {
                  return cached;
              }
              cached = fn.apply(this, arguments)
              cache.set(key, cached);
              return cached;;
          };
        },
        paths(graph =[],from, to, path =[]){
          var self= this;
          const linkedNodes = self.memoize(self.nodes.bind(null, graph));
          return explore(from, to);

          function explore(currNode, to, paths = []) {
              path.push(currNode);
              for (let linkedNode of linkedNodes(currNode)) {
                  if (linkedNode === to) {
                      let result = path.slice(); // copy values
                      result.push(to);
                      paths.push(result);
                      continue;
                  }
                  // do not re-explore edges
                  if (!self.hasEdgeBeenFollowedInPath({
                          edge: {
                              from: currNode,
                              to: linkedNode
                          },
                          path
                      })) {
                      explore(linkedNode, to, paths);
                  }
              }
              path.pop(); // sub-graph fully explored
              return paths;
          }
        },
        getAllPaths(){
          if (this.lineageArray.length) {
            let from = this.lineageArray[0]["@id"];
            let to = this.classInfo["@id"];
            let path = jsnx.shortestPath(this.nxG, {source: from,target: to});

            let g = JSON.parse(JSON.stringify(this.edgeGraph));

            let res = this.paths(g,path[0],path[path.length-1])
            this.allPaths = res;
            this.getUniqueContent(res);
            this.getParentData();
          }
        },
        getUniqueContent(paths){

          var finalArr = [];

          Array.prototype.unique = function() {
              var a = this.concat();
              for(var i=0; i<a.length; ++i) {
                  for(var j=i+1; j<a.length; ++j) {
                      if(a[i] === a[j])
                          a.splice(j--, 1);
                  }
              }

              return a;
          };

          for (var i = 0; i < paths.length; i++) {
            if (paths[i+1]) {
              finalArr =paths[i].concat(paths[i+1]).unique();
            }else{
              finalArr = paths[0];
            }
          }
          this.parentDisplayResults = finalArr;

        },
        returnFullClassInfo(name){
          this.getAvailableClasses();
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i].hasOwnProperty('@type') && this.availableClasses[i]['@type'] === "rdfs:Class" && this.availableClasses[i]["rdfs:label"].toLowerCase() === name.toString().toLowerCase()) {
                return this.availableClasses[i]["rdfs:label"]
              }
            }
          },
          makeGraph(){
          this.nxG = new jsnx.Graph();
          this.getAvailableClasses();
          let grabFrom = this.availableClasses;

          if (grabFrom.length > 1) {
            for (var i = 0; i < grabFrom.length; i++) {
              if (grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(grabFrom[i]["rdfs:subClassOf"]) ) {
                this.addNode(grabFrom[i]["@id"]);
                this.addNode(grabFrom[i]["rdfs:subClassOf"]["@id"]);
                this.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"]["@id"])
              }
              else if(grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isArray(grabFrom[i]["rdfs:subClassOf"]) ){
                this.addNode(grabFrom[i]["@id"]);
                for (var x = 0; x < grabFrom[i]["rdfs:subClassOf"].length; x++) {
                  this.addNode(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  this.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"][x]["@id"])
                }
              }
            }
          }
          this.getClassLineage(this.classInfo);
          this.getAllPaths();
        },
        makeQueryGraph(){
          let smallG = new jsnx.Graph();
          let arr = [];
          let grabFrom = arr;
          for (var i = 0; i < this.parentDisplayResults.length; i++) {
            arr.push( this.returnClass(this.parentDisplayResults[i]) )
          }

          if (grabFrom.length) {
            for (var i = 0; i < grabFrom.length; i++) {
              if (grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(grabFrom[i]["rdfs:subClassOf"]) ) {
                smallG.addNode(grabFrom[i]["@id"],{'label':grabFrom[i]["@id"]});
                smallG.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"]["@id"]);
              }
              else if(grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isArray(grabFrom[i]["rdfs:subClassOf"]) ){
                for (var x = 0; x < grabFrom[i]["rdfs:subClassOf"].length; x++) {
                  smallG.addNode(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  smallG.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  //go one level deeper if exists
                  let sc = this.returnClass(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  if (sc.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(sc["rdfs:subClassOf"])) {
                    smallG.addEdge(sc["@id"],sc["rdfs:subClassOf"]["@id"]);
                  }
                }
              }
            }
          }else{
            smallG.addNode(this.classInfo["@id"],{'label':this.classInfo["@id"]});
          }
          this.drawGraph(smallG);
        },
        drawGraph(g){
          jsnx.draw(g, {
            element: '#canvas',
            weighted: true,
            edgeStyle: {
                'stroke-width': 10,
                'fill': '#b4b4b4'
            },
            layoutAttr: {
                charge: -800,
                linkDistance: 100
            },
            height:300,
            labelStyle: {fill: '#5C3069'},
            withLabels: true,
            nodeLabels: 'label',
            nodeStyle: {
                'stroke': '#8feddc',
                'fill': '#84dcdf',
                'cursor': 'pointer'
            }
          });
        },
        addNode(className){
          this.nxG.addNode(className,{'label':className});
        },
        addEdge(class1,class2){
          this.nxG.addEdge(class1,class2);
          let node = [class2,class1];
          this.edgeGraph.push(node);
        },
        getClassLineage(classInfo){
          let subclass ='';
          this.getAvailableClasses();
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(classInfo["rdfs:subClassOf"])) {
            subclass = classInfo["rdfs:subClassOf"]['@id'];
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i]['@id'] === subclass) {
                this.lineageArray.unshift(this.availableClasses[i])
                this.getClassLineage(this.availableClasses[i])
              }
            }
          }
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isArray(classInfo["rdfs:subClassOf"])) {
            //if array take the first index and explore further
            subclass = classInfo["rdfs:subClassOf"][0]['@id'];
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i]['@id'] === subclass) {
                this.lineageArray.unshift(this.availableClasses[i])
                this.getClassLineage(this.availableClasses[i])
              }
            }
          }

        },
        returnSubclass(className){
          let classInfo = this.returnClass(className);
          let subclass = '';
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && !_.isArray(classInfo["rdfs:subClassOf"])) {
              subclass = this.removePrefix(classInfo["rdfs:subClassOf"]['@id']);
              return subclass;
          }else{
            return false;
          }
        },
        getParentData(){
          for (var i = 0; i < this.parentDisplayResults.length-1; i++) {
            let parent = this.parentDisplayResults[i];
            let props = this.returnProps(this.parentDisplayResults[i]);
            this.shapeData(parent,props);
          }
        },
        shapeData(parent,props){
          let obj = {
            'className' : this.removePrefix(parent),
            'props' : props
          }
          this.parentClassesAndProps.unshift(obj);
        },
        returnClass(classInfo){
          if (_.isObject(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo["rdfs:label"].toLowerCase()) {
                return this.graph[i];
              }
            }
          }

          if (_.isString(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo.toLowerCase() || this.graph[i]["@id"] === classInfo ) {
                return this.graph[i];
              }
            }
          }

        },
        returnProps(classInfo){
          let properties = [];

            for (var i = 0; i < this.graph.length; i++) {

              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                if ( _.isArray(this.graph[i]['schema:domainIncludes']) ) {
                  for (var x = 0; x < this.graph[i]['schema:domainIncludes'].length; x++) {
                    if (this.graph[i]["schema:domainIncludes"][x]['@id'] === classInfo || this.graph[i]["schema:domainIncludes"][x]['@id'] === classInfo["rdfs:label"]) {
                      properties.push(this.graph[i]);
                    }
                  }
                }else if( _.isObject(this.graph[i]['schema:domainIncludes']) ){
                  if (this.graph[i]["schema:domainIncludes"]['@id'] === classInfo || this.graph[i]["schema:domainIncludes"]['@id'] === classInfo["rdfs:label"]) {
                    properties.push(this.graph[i]);
                  }
                }
                properties = _.sortBy(properties, [user => user['rdfs:label']], ['asc']);
              }

            }
            return properties;
        },
        handleFilter(e){
          if (e.target.value !== 'Choose...') {
            window.location.href = "./"+e.target.value;
          }
        },
        findDisplaySchema(){
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class"){
              this.query = this.graph[i]["rdfs:label"];
            }
          }
        },
        determinePath(){
          if(this.userURL){
            this.findDisplaySchema()
          }
          if (this.getClass()) {
            // console.log('PATH: CLASS')
            this.property='';
            this.getClassProperties();
            this.makeGraph();
          }else if (!this.getClass()){
            // console.log('PATH: PROPERTY')
            this.getPropertyInfo()
          }
        },
        getTitle: function(data){
          if (data.hasOwnProperty('rdfs:label')) {
            if (_.isObject(data['rdfs:label'])) {
              if (data['rdfs:label'].hasOwnProperty('@value')) {
                return data['rdfs:label']['@value']
              }else{
                return data['rdfs:label'];
              }
            }else if (_.isString(data['rdfs:label'])) {
              return data["rdfs:label"];
            }
          }else{
            return 'no property name available'
          }
        },
        getType: function(data){
          let types=[];
          if (data.hasOwnProperty("schema:rangeIncludes")) {
            if (_.isArray(data["schema:rangeIncludes"])) {
              for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
                let type = data['schema:rangeIncludes'][i]['@id'].split(':');
                type = type[type.length-1];
                types.push(type);
              }
            }else if(_.isObject(data["schema:rangeIncludes"])){
              let type = data['schema:rangeIncludes']['@id'].split(':');
              type = type[type.length-1];
              types.push(type);
            }
          }
          return types;
        },
        getDescription: function(data){
          if (data.hasOwnProperty("rdfs:comment")) {
            return data["rdfs:comment"];
          }else{
            return 'no description available'
          }
        },
        reqFile: function(){

            var retrievedObject = JSON.parse(localStorage.getItem('datasetData'));

            console.log('retreived data', retrievedObject);

            this.graph = retrievedObject['@graph'];
            this.context = retrievedObject['@context'];

            this.determinePath()
            this.getAvailableClasses()

        },
        getClassProperties(){
          this.properties = [];
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                this.extractPropertyInfo(this.graph[i]);
              }
            }
            this.getParentProperties();
        },
        getParentProperties(){
          this.parentProperties = [];
          if (this.subclass) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                this.extractParentPropertyInfo(this.graph[i])
              }
            }
          }
        },
        extractPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              let idValue = data["schema:domainIncludes"][i]['@id'].split(':');
              idValue = idValue[idValue.length-1];
              if (idValue.toLowerCase() === this.query.toLowerCase()) {
                this.properties.push(data);
              }
            }
          }else if( _.isPlainObject(data['schema:domainIncludes']) ){
            let idValue = data["schema:domainIncludes"]['@id'].split(':');
            idValue = idValue[idValue.length-1];
            if (idValue.toLowerCase() === this.query.toLowerCase() ) {
              this.properties.push(data);
            }
          }
          this.properties = _.sortBy(this.properties, [user => user['rdfs:label']], ['asc']);
        },
        extractParentPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              if (data["schema:domainIncludes"][i]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"][i]['@id'].toLowerCase() === this.subclass.toLowerCase()) {
                this.parentProperties.push(data);
              }
            }
          }else if( _.isObject(data['schema:domainIncludes']) ){
            if (data["schema:domainIncludes"]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"]['@id'].toLowerCase() === this.subclass.toLowerCase() ) {
              this.parentProperties.push(data);
            }
          }
          this.parentProperties = _.sortBy(this.parentProperties, [user => user['rdfs:label']], ['asc']);
        },
        getClass(){
          let results = [];
          console.log("QUERY ",  this.query)
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query ||
          this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query.toLowerCase()) {
              this.schemaClass = this.graph[i]["rdfs:label"];
              this.classInfo= this.graph[i];

              this.getSubclass(this.graph[i]);
            }
          }
          if (this.schemaClass) {
            return true;
          }else{
            return false;
          }
        },
        getAvailableClasses(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
              results.push(this.graph[i]);
            }
          }
          this.availableClasses = results.sort();
          this.getFilters();
        },
        getFilters(){
          let letters = [];
          let self = this;
          for (var i = 0; i < self.availableClasses.length; i++) {

            let q = self.removePrefix(self.availableClasses[i]["@id"])[0];

            if ( !letters.includes(q) ) {
              letters.push( q );
            }
          }
          this.filterLetters = letters.sort();
        },
        handleChange: function(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.availableClasses;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word["rdfs:label"][0] === target);
              this.filterResults =  _.sortBy(results, [user => user['rdfs:label']], ['asc']);
          }
        },
        getSubclass(data){
          if (data.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(data["rdfs:subClassOf"])) {
            let sc = data["rdfs:subClassOf"]['@id'].split(':');
            sc = sc[sc.length-1];
            this.subclass = sc;
            return data["rdfs:subClassOf"]['@id'];
          }
        },
        getPropertyInfo(){
          let res =[];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty("rdfs:label") && this.graph[i]["rdfs:label"] === this.query) {
              this.property = this.graph[i]["rdfs:label"];
              res.push(this.graph[i]);
              this.propertyInfo = this.graph[i];
            }
          }
          this.properties = res;
          this.parsePropertyInfo();
        },
        parsePropertyInfo(){
          let res =[];
          let range = [];
          if (this.propertyInfo.hasOwnProperty("schema:domainIncludes") && _.isPlainObject(this.propertyInfo["schema:domainIncludes"])) {
            res.push(this.propertyInfo["schema:domainIncludes"]["@id"]);
          }
          else if(this.propertyInfo.hasOwnProperty("schema:domainIncludes") && _.isArray(this.propertyInfo["schema:domainIncludes"])){
            for (var i = 0; i < this.propertyInfo["schema:domainIncludes"].length; i++) {
              res.push(this.propertyInfo["schema:domainIncludes"][i]["@id"]);
            }
          }
          if (this.propertyInfo.hasOwnProperty("schema:rangeIncludes") && _.isPlainObject(this.propertyInfo["schema:rangeIncludes"])) {
            range.push(this.propertyInfo["schema:rangeIncludes"]["@id"]);
          }
          else if(this.propertyInfo.hasOwnProperty("schema:rangeIncludes") && _.isArray(this.propertyInfo["schema:rangeIncludes"])){
            for (var i = 0; i < this.propertyInfo["schema:rangeIncludes"].length; i++) {
              range.push(this.propertyInfo["schema:domainIncludes"][i]["@id"]);
            }
          }
          this.usedOnTheseTypes = res;
          this.rangeIncludes = range;
        }
			},
			mounted:function(){
        let context = {{Context}}
         if ( context ) {
           // console.log('Context YOUR OWN  ',context);
           this.query = context.query;
           this.reqFile()
         }
         if (context.hasOwnProperty('namespace')) {
           this.namespace = context.namespace;
         }

			},
      created:function(){
          let context = {{Context}}
          if (context.hasOwnProperty('URL')) {
            this.userURL = context.URL;
          }
      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
