{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="viewer" class="container" style="min-height: 70vh;">
  <div class="row" style="margin-top:40px;">
    <div class="col-lg-2">
      <template v-if="availableClasses">
        <ul class="list-group">
          <li class="list-group-item mainBackDark text-light text-center">
            Schemas
          </li>
          <li class="list-group-item">
            <select @change='handleChange' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Filter by...</option>
              <option v-for="letter in alphabet" :value="letter" v-text="letter"></option>
            </select>
          </li>
          <li class="list-group-item text-light mainBackDark twoEM text-center" v-if='filter' v-text='filter'>

          </li>
          <li class="list-group-item" v-if='filter'>
            <!-- <a :href="'/viewer/'+item" v-text='item' v-bind:class="{'active': query === item}"></a> -->
            <!-- <a href="#" @click='handleFilter(item)' v-text='item' v-bind:class="{'active': query === item}"></a> -->
            <select @change='handleFilter' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected v-text='"Choose..."'></option>
              <option v-for="(item,i) in filterResults" :value="item['rdfs:label']" v-text="item['rdfs:label']"></option>
            </select>
          </li>
        </ul>
      </template>

      <!-- sideNav -->
      <template v-if="lineageArray.length">
        <ul class="list-group d-none d-sm-none d-md-block" style="margin-top:100px; position: fixed; top: 40vh; box-shadow: 1px 5px 20px #8a8a8a;">
          <li class="list-group-item mainBackLight text-light text-center">
            Page Navigation
          </li>
          <li class="list-group-item text-center noPadding" >
            <a class="nav-link" :href="'#'+schemaClass" v-text='schemaClass'></a>
          </li>
          <li class="list-group-item text-center noPadding" v-for="item in lineageArray.slice().reverse()">
            <a class="nav-link" :href="'#'+item['@id'].slice(7)" v-text="item['@id'].slice(7)"></a>
          </li>
        </ul>
      </template>
    </div>
    <div class="col-sm-10">
      <div class="jumbotron" v-if='schemaClass'>
        <h1 class="fourEM mainTextDark bold" v-if='schemaClass' :id='schemaClass' v-text='schemaClass'></h1>
        <template v-if="subclass && schemaClass">
          <span style="font-size: 1.2em;" v-for="item in lineageArray">
            <a class="mainTextLight font-weight-bold" :href="'/'+item['@id'].slice(7)" v-text='item["@id"].slice(7)'></a>
            &gt;
          </span>
          <a style="font-size: 1.2em;" :href="'/'+schemaClass" class="mainTextDark font-weight-bold" v-text="schemaClass"></a>
        </template>
        <template v-if="schemaClass">
          <p v-html="classInfo['rdfs:comment']"></p>
        </template>
      </div>
      <h1 class="fourEM mainTextDark bold" v-if='property' v-text='property'></h1>
      <table class="table table-responsive" v-if="properties.length" style="margin-bottom: 40px">
      <thead class="mainBackDark text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in properties">
          <td>
            <a class="font-weight-bold" :href='"/"+getTitle(item)' v-html=getTitle(item)></a></td>
          <td>
            <a style="display: block;" v-for="(type,i) in getType(item)" :href="'/'+type" v-html='type'></a>
          </td>
          <td v-html=getDescription(item)></td>
        </tr>
      </tbody>
    </table>
    <template v-if="!properties.length && !userURL">
      <div class="text-center mainBackDark text-light padding20" style="margin-bottom: 40px">
        <i class="fas fa-exclamation-circle mainTextLight"></i>
        This schema has no properties of it's own
      </div>
    </template>

    <span v-if="subclass" v-for="(parent,i) in parentDisplayResults">
      <h1 :id='parent["className"]' class="fourEM mainTextLight" v-html='parent["className"]'></h1>
      <table class="table table-responsive" style="margin-bottom: 40px">
      <thead class="mainBackLight text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in parent['props']">
          <td>
            <a class="font-weight-bold" :href='"/"+getTitle(item)' v-html=getTitle(item)></a></td>
          <td>
            <a style="display: block;" v-for="(type,i) in getType(item)" :href="'/'+type" v-html='type'></a>
          </td>
          <td v-html=getDescription(item)></td>
        </tr>
      </tbody>
    </span>


    <template v-if='property'>
      <ul class="list-group" style="max-width: 50vw;">
        <li class="list-group-item bg-dark text-light">
          Used on these types
        </li>
        <li v-if="!propertyInfo['schema:domainIncludes']['@id']" class="list-group-item" v-for="(item,i) in propertyInfo['schema:domainIncludes']">
          <a :href="'/'+item['@id'].slice(7)" v-text="item['@id'].slice(7)"></a>
        </li>
        <li v-else class="list-group-item" >
          <a :href="'/'+propertyInfo['schema:domainIncludes']['@id']" v-text="propertyInfo['schema:domainIncludes']['@id'].slice(7)"></a>
        </li>
      </ul>
    </template>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/1.0.0/jsonld.min.js"></script> -->
<script src="./static/js/lodash.js"></script>
<script src="./static/js/networkx.js"></script>
<script>
var app = new Vue({
      el: '#viewer',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          filter:'',
          dataSetURL : 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/Dataset.jsonld',
          graph: [],
          query:'',
          schemaClass:'',
          properties:[],
          parentProperties: [],
          property:'',
          propertyInfo:{},
          classes:[],
          subclass: '',
          classInfo:{},
          availableClasses:[],
          filterResults:[],
          lineageArray:[],
          displayResults:[],
          parentDisplayResults:[],
          additionalPaths:[],
          userURL:''
				}
			},
			methods:{
        getClassLineage(classInfo){
          let subclass ='';
          this.getAvailableClasses();
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isObject(classInfo["rdfs:subClassOf"])) {
            subclass = classInfo["rdfs:subClassOf"]['@id'];
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i]['@id'] === subclass) {
                this.lineageArray.unshift(this.availableClasses[i])
                this.getClassLineage(this.availableClasses[i])
              }
            }
          }
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isArray(classInfo["rdfs:subClassOf"])) {
          }

        },
        returnSubclass(className){
          let classInfo = this.returnClass(className);
          let subclass = '';
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && !_.isArray(classInfo["rdfs:subClassOf"])) {
              subclass = classInfo["rdfs:subClassOf"]['@id'].slice(7);
              return subclass;
          }else{
            return false;
          }
        },
        getParentData(){
          for (var i = 0; i < this.lineageArray.length; i++) {
            let parent = this.returnClass(this.lineageArray[i]);
            let props = this.returnProps(this.lineageArray[i]);
            this.shapeData(parent,props);
          }
        },
        shapeData(parent,props){
          let obj = {
            'className' : parent["rdfs:label"],
            'props' : props
          }
          this.parentDisplayResults.unshift(obj);
        },
        returnClass(classInfo){
          if (_.isObject(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo["rdfs:label"].toLowerCase()) {
                return this.graph[i];
              }
            }
          }

          if (_.isString(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo.toLowerCase()) {
                return this.graph[i];
              }
            }
          }

        },
        returnProps(classInfo){
          let properties = [];

            for (var i = 0; i < this.graph.length; i++) {

              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                if ( _.isArray(this.graph[i]['schema:domainIncludes']) ) {
                  for (var x = 0; x < this.graph[i]['schema:domainIncludes'].length; x++) {
                    if (this.graph[i]["schema:domainIncludes"][x]['@id'].toLowerCase() === 'schema:'+classInfo["rdfs:label"].toLowerCase() || this.graph[i]["schema:domainIncludes"][x]['@id'].toLowerCase() === classInfo["rdfs:label"].toLowerCase()) {
                      properties.push(this.graph[i]);
                    }
                  }
                }else if( _.isObject(this.graph[i]['schema:domainIncludes']) ){
                  if (this.graph[i]["schema:domainIncludes"]['@id'].toLowerCase() === 'schema:'+classInfo["rdfs:label"].toLowerCase() || this.graph[i]["schema:domainIncludes"]['@id'].toLowerCase() === classInfo["rdfs:label"].toLowerCase() ) {
                    properties.push(this.graph[i]);
                  }
                }
                properties = _.sortBy(properties, [user => user['rdfs:label']], ['asc']);
              }

            }
            return properties;
        },
        handleFilter(e){
          if (e.target.value !== 'Choose...') {
            window.location.href = "/"+e.target.value;
          }
        },
        findDisplaySchema(){
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class"){
              window.location.href = "/"+this.graph[i]["rdfs:label"];
            }
          }
        },
        determinePath(){
          if(this.userURL){
            this.findDisplaySchema()
          }
          if (this.getClass()) {
            console.log('PATH: CLASS')
            this.property='';
            this.getClassProperties()
          }else if (!this.getClass()){
            console.log('PATH: PROPERTY')
            this.getPropertyInfo()
          }
        },
        getTitle: function(data){
          if (data.hasOwnProperty('rdfs:label')) {
            if (_.isObject(data['rdfs:label'])) {
              if (data['rdfs:label'].hasOwnProperty('@value')) {
                return data['rdfs:label']['@value']
              }else{
                return data['rdfs:label'];
              }
            }else if (_.isString(data['rdfs:label'])) {
              return data["rdfs:label"];
            }
          }else{
            return 'no property name available'
          }
        },
        getType: function(data){
          let types=[];
          if (data.hasOwnProperty("schema:rangeIncludes")) {
            if (_.isArray(data["schema:rangeIncludes"])) {
              for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
                types.push(data['schema:rangeIncludes'][i]['@id'].slice(7));
              }
            }else if(_.isObject(data["schema:rangeIncludes"])){
              types.push(data['schema:rangeIncludes']['@id'].slice(7));
            }
          }
          return types;
        },
        getDescription: function(data){
          if (data.hasOwnProperty("rdfs:comment")) {
            return data["rdfs:comment"];
          }else{
            return 'no description available'
          }
        },
        reqFile: function(){
          let url = '';
          if (this.userURL) {
            url = this.userURL;
          }
          else{
            url = './static/misc/schema.jsonld';
          }
          console.log('using ', url)
          axios.get(url).then(res=>{
            this.graph = res.data['@graph']
            this.determinePath()
            this.getAvailableClasses()
          }).catch(err=>{
            throw err;
          })
        },
        getClassProperties(){
          this.properties = [];
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                this.extractPropertyInfo(this.graph[i]);
              }
            }
            this.getParentProperties();
        },
        getParentProperties(){
          this.parentProperties = [];
          if (this.subclass) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                this.extractParentPropertyInfo(this.graph[i])
              }
            }
          }
        },
        extractPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              if (data["schema:domainIncludes"][i]['@id'].toLowerCase() === 'schema:'+this.query || data["schema:domainIncludes"][i]['@id'].toLowerCase() === this.query) {
                this.properties.push(data);
              }
            }
          }else if( _.isObject(data['schema:domainIncludes']) ){
            if (data["schema:domainIncludes"]['@id'].toLowerCase() === 'schema:'+this.query || data["schema:domainIncludes"]['@id'].toLowerCase() === this.query ) {
              this.properties.push(data);
            }
          }
          this.properties = _.sortBy(this.properties, [user => user['rdfs:label']], ['asc']);
        },
        extractParentPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              if (data["schema:domainIncludes"][i]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"][i]['@id'].toLowerCase() === this.subclass.toLowerCase()) {
                this.parentProperties.push(data);
              }
            }
          }else if( _.isObject(data['schema:domainIncludes']) ){
            if (data["schema:domainIncludes"]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"]['@id'].toLowerCase() === this.subclass.toLowerCase() ) {
              this.parentProperties.push(data);
            }
          }
          this.parentProperties = _.sortBy(this.parentProperties, [user => user['rdfs:label']], ['asc']);
        },
        getClass(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query) {
              this.schemaClass = this.graph[i]["rdfs:label"];
              this.classInfo= this.graph[i];
              this.getClassLineage(this.classInfo)
              this.getParentData();
              this.getSubclass(this.graph[i]);
            }
          }
          if (this.schemaClass) {
            return true;
          }else{
            return false;
          }
        },
        getAvailableClasses(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
              results.push(this.graph[i]);
            }
          }
          this.availableClasses = results.sort();
        },
        handleChange: function(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.availableClasses;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word["rdfs:label"][0] === target);
              this.filterResults =  _.sortBy(results, [user => user['rdfs:label']], ['asc']);
          }
        },
        getSubclass(data){
          if (data.hasOwnProperty("rdfs:subClassOf") && !_.isArray(data["rdfs:subClassOf"])) {
              this.subclass = data["rdfs:subClassOf"]['@id'].slice(7);
          }
        },
        getPropertyInfo(){
          let results =[];
          for (var i = 0; i < this.graph.length; i++) {
            //check if label is obj or array
            if (this.graph[i].hasOwnProperty("rdfs:label") && this.graph[i]["rdfs:label"].toString().toLowerCase() === this.query.toLowerCase()) {
              this.property = this.graph[i]["rdfs:label"];
              this.propertyInfo = this.graph[i];
              results.push(this.graph[i])
            }
          }
          this.properties = results;
        }
			},
			mounted:function(){
        let context = {{Context}}
         if ( context.Content ) {
           console.log('Context  ',context);
           this.query = context.Query.toLowerCase();
         }

			},
      created:function(){
          let context = {{Context}}
          if (context.hasOwnProperty('URL')) {
            this.userURL = context.URL;
          }
          this.reqFile()
      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
