{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="cont-app" class="jumbotron mb-0 bg-light d-flex align-items-center justify-content-center" style="min-height:80vh;">
    <div id="dashTippyParent">
      <h4 class="text-muted"><span v-text="query"></span>'s contributions</h4>
      <div class="mt-3 mainTextDark">
        <div class="numberCircle mainBackDark" v-text="dashboardTotal"></div> Registered Schemas
      </div>
      <div v-for="item in dashboard" class="row m-1">
        <div class="col-sm-5 p-1 mainBackDark d-flex align-items-center justify-content-left">
          <a target="_blank" :href="'/'+item.namespace+'/'" v-text="item.namespace" class="d-inline m-2 text-light"></a>
        </div>
        <div class="col-sm-7 p-1 bg-dark actions d-flex align-items-center justify-content-around">
          <div>
            <a target="_blank" :href="item.url" :title="item.url" >
              <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'source URL'">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-code fa-stack-1x text-light"></i>
              </span>
            </a>
          </div>
          <div>
            <a :href="'/view/'+item.namespace+'/'">
              <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'Visualize'">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-eye fa-stack-1x text-light"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-3 mainTextLight">
        <div class="numberCircle mainBackLight" v-text="datasetsTotal"></div> Registered Metadata
      </div>
      <div v-for="item in publicDatasets" class="row m-1">
        <div class="col-sm-5 p-1 mainBackLight d-flex align-items-center justify-content-left">
          <a target="_blank" :href="'/api/dataset/'+item._id" v-text="item.name" class="d-inline m-2 text-light"></a>
        </div>
        <div class="col-sm-7 p-1 bg-dark actions d-flex align-items-center justify-content-around">
          <div>
            <a :href="'/dataset/'+item._id">
              <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'View Dataset'">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-eye fa-stack-1x text-light"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
\<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
var app = new Vue({
      el: '#cont-app',
			data: function(){
				return {
          user:{},
          dashboard:[],
          dashboardTotal:0,
          privateDatasets:[],
          publicDatasets:[],
          datasetsTotal:0,
          selectedItem:{},
          slugInput:'',
          availableSlug: false,
          invalidChars : false,
          meta:{}
				}
			},
      watch:{

      },
			methods:{
        getAll(q){
          console.log("GETTING ALL")
          let self= this;
          axios.get('/api/registry?user='+q).then(res=>{
            // console.log("SCHEMAS",res.data)
            self.dashboard = res.data.hits;
            self.dashboardTotal = res.data.total;
          }).catch(err=>{
            throw err;
          });
          // DATASETS PUBLIC
          axios.get('/api/dataset?&user='+q).then(res=>{
            // console.log("PUBLIC",res.data)
            self.publicDatasets = self.publicDatasets.concat(res.data.hits);
            self.datasetsTotal += res.data.total;
          }).catch(err=>{
            throw err;
          });
        },
			},
			mounted:function(){
        tippy( '#dashTippyParent', {
          target:'.tip',
          placement:'top',
          maxWidth:'200px',
          content: 'loading',
          animation: 'fade',
          theme:'light',
          onShow(instance) {
            let info = instance.reference.dataset.tippyInfo;
            instance.setContent("<div class='text-muted m-0 text-center wraptext'>"+info+"</div>")
          }});

			},
      created:function(){
        var self = this;
        // this.checkLoggedUser()
        let context = {{Context}}
         if ( context.Query ) {
           self.query = context.Query;
           self.getAll(self.query)
         }
      }
		});

</script>
</script>
{% include "footer.html" %}
{% endblock %}
