{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
  .metaCont{
    max-height: 500px;
    overflow-y: scroll;
  }
</style>
<section id="dashboard">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div  class="container" style="min-height: 100vh;padding-top:80px;">
    <h1 class="text-muted caps">My Dashboard</h1>
    <div class="dashboard">
      <div class="row mb-5">
        <!-- uSER BOX -->
        <div class="col-sm-2 p-0 userInfo bg-secondary">
          <div class="pRelative">
            <img v-if="user.avatar_url" :src="user.avatar_url" width="100%" alt="logo" style="z-index:1"/>
            <img v-else id='navPhoto' width="100%" alt="logo" style="z-index:1" src='/static/img/default.png' alt='user photo'>
            <div class="clip bg-secondary pAbsolute" style="z-index:2"></div>
          </div>
          <div class="text-light p-3 text-center">
            <template v-if="user && user.name">
              <p class="text-light mt-4 lighter"  v-text="user.name" v-text="user.name"></p>
            </template>
            <a class="text-light link"  target="_blank" :href="'http://www.github.com/'+user.login">
              <i class="fab fa-github"></i> <span v-text="user.login"></span>
            </a>
          </div>
        </div>
        <!-- RESULTS -->
        <div class="col-sm-10" id="dashTippyParent">
          <div class="mt-3 mainTextDark">
            <div class="numberCircle mainBackDark" v-text="dashboardTotal"></div> Registered Schema Namespaces
          </div>
          <div class="metaCont" v-if="dashboard && dashboard.length">
            <div v-for="item in dashboard" class="row m-1">
              <div class="col-sm-8 p-1 mainBackDark d-flex align-items-center justify-content-between">
                <a target="_blank" :href="'/view/'+item.namespace+'/'" v-text="item.namespace" class="d-inline m-2 text-light"></a>
              </div>
              <div class="col-sm-4 p-1 bg-dark actions d-flex align-items-center justify-content-around">
                <div>
                  <a target="_blank" :href="item.url" :title="item.url" >
                    <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'source URL'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-code fa-stack-1x text-light"></i>
                    </span>
                  </a>
                </div>
                <div>
                  <a :href="'/view/'+item.namespace+'/'">
                    <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'Visualize'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-eye fa-stack-1x text-light"></i>
                    </span>
                  </a>
                </div>
                <div>
                  <span class="fa-stack fa-1x pointer tip" @click="updateSelected('schema',item.namespace)" :data-tippy-info="'Update Schema'">
                    <i class="fas fa-circle text-muted fa-stack-2x"></i>
                    <i class="fas fa-sync-alt fa-stack-1x text-light"></i>
                  </span>
                </div>
                <div>
                  <span class="fa-stack fa-1x pointer tip" @click="deleteSelected('schema',item.namespace)" :data-tippy-info="'Delete'">
                    <i class="fas fa-circle text-muted fa-stack-2x"></i>
                    <i class="fas fa-trash fa-stack-1x text-light"></i>
                  </span>
                </div>
              </div>

            </div>
          </div>


          <div class="mt-3 mainTextLight">
            <div class="numberCircle mainBackLight" v-text="datasetsTotal"></div> Registered Datasets
          </div>
          <div class="metaCont">
            <template v-if="privateDatasets && privateDatasets.length">
              <div v-for="item in privateDatasets" class="row m-1">
                <div class="col-sm-12 col-md-8 p-1 mainBackLight d-flex align-items-center justify-content-between">
                  <a :href="'/dataset/'+item._id" class="d-block m-2 text-light" :title="item.name">
                    <small v-text="trunc(item.name)"></small>
                  </a>
                  <small class="text-light">
                    <span v-html="formatDate(item['_meta'])"></span>
                  </small>
                </div>
                <div class="col-sm-12 col-md-4 p-1 bg-dark actions d-flex align-items-center justify-content-around">
                  <div>
                    <a :href="'/dataset/'+item._id">
                      <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'View Dataset'">
                        <i class="fas fa-circle text-muted fa-stack-2x"></i>
                        <i class="fas fa-eye fa-stack-1x text-light"></i>
                      </span>
                    </a>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="edit(item._id)" :data-tippy-info="'Quick Edit'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-bolt fa-stack-1x text-light"></i>
                    </span>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="handlePrivacy(item,'private')" :data-tippy-info="'Item is PRIVATE - Edit Privacy'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-lock fa-stack-1x text-warning"></i>
                    </span>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="deleteSelected('metadata',item._id)" :data-tippy-info="'Delete'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-trash fa-stack-1x text-light"></i>
                    </span>
                  </div>
                </div>
              </div>
            </template>
            <template v-if="publicDatasets && publicDatasets.length">
              <div v-for="item in publicDatasets" class="row m-1">
                <div class="col-sm-12 col-md-8 p-1 mainBackLight d-flex align-items-center justify-content-between">
                  <a :href="'/dataset/'+item._id" class="m-2 text-light d-block" :title="item.name">
                    <small v-text="trunc(item.name)"></small>
                  </a>
                  <small class="text-light">
                    <span v-html="formatDate(item['_meta'])"></span>
                  </small>
                </div>
                <div class="col-sm-12 col-md-4 p-1 bg-dark actions d-flex align-items-center justify-content-around">
                  <div>
                    <a :href="'/dataset/'+item._id">
                      <span class="fa-stack fa-1x pointer tip" :data-tippy-info="'View Dataset'">
                        <i class="fas fa-circle text-muted fa-stack-2x"></i>
                        <i class="fas fa-eye fa-stack-1x text-light"></i>
                      </span>
                    </a>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="edit(item._id)" :data-tippy-info="'Quick Edit'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-bolt fa-stack-1x text-light"></i>
                    </span>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="handlePrivacy(item,'public')" :data-tippy-info="'Item is PUBLIC - Edit Privacy'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-lock-open fa-stack-1x text-light"></i>
                    </span>
                  </div>
                  <div>
                    <span class="fa-stack fa-1x pointer tip" @click="deleteSelected('metadata',item._id)" :data-tippy-info="'Delete'">
                      <i class="fas fa-circle text-muted fa-stack-2x"></i>
                      <i class="fas fa-trash fa-stack-1x text-light"></i>
                    </span>
                  </div>
                </div>
              </div>
            </template>
          </div>
          <template v-if="publicDatasets || privateDatasets">
            <div class="alert alert-secondary mt-3">
              <small>
                Want to edit a registered dataset? Learn how <a target="_blank" href="/faq#edit-dataset">HERE</a>
              </small>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/notify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
$.notify.addStyle('success', {
  html: "<div><span data-notify-text/></div>",
  classes: {
    base: {
      "white-space": "nowrap",
      "background-color": "#28a745",
      "padding": "5px",
      "color":'white',
    }
  }
});
var app = new Vue({
      el: '#dashboard',
			data: function(){
				return {
          user:{},
          dashboard:[],
          dashboardTotal:0,
          privateDatasets:[],
          publicDatasets:[],
          datasetsTotal:0,
          selectedItem:{},
          slugInput:'',
          availableSlug: false,
          invalidChars : false,
          meta:{},
          loading: false
				}
			},
      watch:{
        slugInput: function(newInput, oldInput){
          var self = this;
          self.slugInput = self.slugInput.toLowerCase();
          var re = /^[a-zA-Z0-9_.-]*$/;
          if (!re.test(newInput) ) {
            self.invalidChars = true;
          }else{
            self.invalidChars = false;
          }

          if (newInput && !self.invalidChars) {
            axios.get(`/api/registry/`+self.slugInput).then(function (response) {
              if (response.data.url) {
                self.availableSlug= false;
              }
            }).catch(error => {
              self.availableSlug= true;
              throw error;
            });
          }
        },
      },
			methods:{
        edit(id){
          var self = this;
          axios.get('/api/dataset/'+id).then(res=>{
            if (res.data) {
              self.meta = res.data
              let list ={}
              let notAllowed=['@context','@type','includedInDataCatalog','_id','_meta']
              for(key in self.meta){
                if (!notAllowed.includes(key)) {
                  list[key] = key
                }
              }

              Swal.fire({
                title: `Quick Edit`,
                text:"Which field would you like to edit?",
                input: 'select',
                footer:"<small><b class='text-info'>Note:</b> You can only quick edit existing fields. If you wish to add more fields import this metadata via a guide and add any fields necessary. <br /><b class='text-danger'>Important:</b> Making changes will change privacy to default: <b>PUBLIC</b>. You can change privacy settings again when you are done. Changing the <code>identifier</code> field will result in creating a new entry.</small>",
                inputOptions: list,
                inputPlaceholder: 'Select a field to edit',
                showCancelButton: true,
                confirmButtonColor:"{{color_main}}",
                cancelButtonColor:"{{color_sec}}",
                confirmButtonText: 'Edit',
                inputValidator: (value) => {
                  return new Promise((resolve) => {
                    if (!value) {
                      resolve('You must select something first')
                    }else{
                      resolve()
                    }
                  })
                }
              }).then((keyname) => {
                if (keyname.value) {
                  let iValue =''

                  if (typeof self.meta[keyname.value] === 'string' ||  typeof self.meta[keyname.value] === 'number' ||  typeof self.meta[keyname.value] === 'boolean') {
                    iValue = self.meta[keyname.value]
                  }else{
                    iValue = JSON.stringify(self.meta[keyname.value],null,2)
                  }

                  Swal.fire({
                    title: "Edit: "+keyname.value,
                    input: 'textarea',
                    footer:`<small>Make sure to close all: {},[] and quotes</small>`,
                    confirmButtonColor:"{{color_main}}",
                    cancelButtonColor:"{{color_sec}}",
                    animation:false,
                    customClass:'scale-in-center',
                    inputPlaceholder: self.meta[keyname.value],
                    inputValue: iValue,
                    inputAttributes: {
                      'aria-label': keyname.value,
                      'rows':15
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Save',
                    inputValidator: (value) => {
                      return new Promise((resolve) => {
                        if (value === self.meta[keyname.value]) {
                          resolve("You haven't changed anything yet")
                        }else{
                          resolve()
                        }
                      })
                    }
                  }).then((newdata) => {
                    if (newdata.value) {

                      if (newdata.value[0]==="{" || newdata.value[0]==="[") {
                        Vue.set(self.meta,keyname.value,JSON.parse(newdata.value) )
                      }else{
                        Vue.set(self.meta,keyname.value,newdata.value)
                      }

                      Swal.showLoading();
                      let parts = self.meta['@type'].split(":");
                      let namespace = parts[0]
                      let prefix = parts[0]
                      let className = parts[1]
                      // let url = '/api/dataset?schema='+namespace+'::'+prefix+':'+className;
                      let url = '/api/dataset/'+self.meta['_id']
                      // if (self.meta && self.meta['_meta']['guide']) {
                      //   url = url+"&guide="+self.meta['_meta']['guide']
                      // }
                      axios.put(url,self.meta).then(res=>{
                        Swal.hideLoading();
                        if (res.data.success) {
                          $.notify("Field Updated",{ globalPosition: 'right', style:'success', showDuration: 40, });
                          Swal.fire({
                            title: 'Make other changes?',
                            confirmButtonColor:"{{color_main}}",
                            cancelButtonColor:"{{color_sec}}",
                            animation:false,
                            showCancelButton: true,
                            customClass:'scale-in-center',
                            confirmButtonText: 'Yes',
                            cancelButtonText: 'No',
                          }).then((r) => {
                            if (r.value) {
                              self.edit(id)
                            }else{
                              location.reload(true);
                            }
                          })
                        }
                      }).catch(err=>{
                        // console.log('err',err.response.data)
                        let culprit = "<h6>"+err.response.data.error+"</h6>"
                        if (err.response.data.hasOwnProperty('path')) {
                          if (err.response.data.path.length) {
                            culprit += "<h5>Culprit <i class='fas fa-arrow-right'></i> <b class='text-danger'>"+err.response.data.path+"</b></h5>"
                          }
                        }
                        if (err.response.data.parent && err.response.data.parent.path){
                          if (true) {
                            culprit += "<h5>Also check <i class='fas fa-arrow-right'6</i> <b class='text-danger'>"+err.response.data.parent.path+"</b></h5>"
                          }
                          if (err.response.data.parent && err.response.data.parent.reason) {
                            culprit += "<div class='alert alert-warning'><small>"+err.response.data.parent.reason+"</small></div>"
                          }
                        }
                        if (err.response.data.hasOwnProperty('validator_value') && err.response.data.validator_value.length){
                          culprit += "<div class='alert alert-info'><small> Hint: "+err.response.data.validator_value+"</small></div>"
                        }
                        Swal.fire({
                          type: 'error',
                          position: 'top center',
                          title: 'Oh no! It failed because: ',
                          html: culprit,
                          footer:'<small>Validation Error</small>'
                        });
                        throw err;
                      })

                    }
                  })
                }
              })

            }
          }).catch(err=>{
            throw err;
            Swal.fire(
              'Oh, no!',
              "Can't edit at this time",
              'error'
            );
          });
        },
        updateSelected(type,namespace){
          var self = this;

          options = {
            "Refresh URL":"Refresh URL",
            "Change URL":"Change URL"
          }

          Swal.fire({
            title: "What would like to do?",
            html: "<p>Do you want to <b class='text-danger'>change the url</b> of the schema OR just <b class='text-danger'>refresh</b> the content?</p>",
            footer:"<small>Tip: If you wanna test that there is no breaking changes first, try visualizing it on the Schema Playground!</small>",
            input: 'select',
            inputOptions: options,
            showCancelButton: true,
            confirmButtonColor:"{{color_main}}",
            cancelButtonColor:"{{color_sec}}",
            animation:false,
            customClass:'scale-in-center',
            confirmButtonText: 'Go'
          }).then((result) => {

            let ns = namespace == 'bioschemas' ? '?ns=bioschemas' : '';

            if (result.value == "Refresh URL") {
              // same url
              self.loading = true;
              axios.put("/api/registry/"+namespace + ns).then(res=>{
                if (res.data.result == 'updated') {
                  Swal.fire(
                    'Boom! Done!',
                    'schema: '+namespace+' updated!',
                    'success'
                  );
                  self.loading = false;
                }else if (res.data.result == 'noop') {
                  Swal.fire(
                    'Nothing new here',
                    'schema: '+namespace+' is already on its latest version',
                    'success'
                  );
                  self.loading = false;
                }else{
                  Swal.fire(
                    'Done!',
                    res.data.result,
                    'info'
                  );
                  self.loading = false;
                }
              }).catch(err=>{
                Swal.fire(
                  'Oh, no!',
                  'We had trouble updating: '+namespace,
                  'error'
                );
              });

            }else if(result.value == "Change URL"){
              // new url
              Swal.fire({
                title: "What's the new URL?",
                text:"Make sure it's the RAW data link! (if hosted on GitHub)",
                input: 'text',
                inputAttributes: {
                  autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Go',
                allowOutsideClick: () => !Swal.isLoading()
              }).then((result) => {
                if (result.value) {

                  let newurl = encodeURI(result.value);

                  data={
                    'url': newurl
                  }
                  self.loading = true;
                  axios.put("/api/registry/" + namespace  + ns, data).then(res=>{
                    if (res.data.result) {
                      Swal.fire(
                        'Ta-dah!',
                        'Status: '+res.data.result,
                        'success'
                      );
                      self.loading = false;
                    }
                  }).catch(err=>{
                    Swal.fire(
                      'Oh, no!',
                      'We had trouble updating: '+namespace,
                      'error'
                    );
                    self.loading = false;
                  });

                }
              })


            }
          })


        },
        deleteSelected(type,identifier){
          var self = this;
          let index = '/api/registry/';
          if (type === 'metadata') {
            index = '/api/dataset/'
          }
          Swal.fire({
            title: '<h4>Are you sure you want to delete this item?</h4>',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonColor:"{{color_main}}",
            cancelButtonColor:"{{color_sec}}",
            animation:false,
            customClass:'scale-in-center',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {

            if (result.value) {
              axios.delete(index+identifier).then(res=>{
                if (res.status) {
                  switch (res.status) {
                    case 200:
                      //reload with no cache
                      location.reload(true);
                      break;
                      case 401:
                        v
                        self.getAll();
                        break;
                        case 403:
                          Swal.fire(
                            'Oh, no!',
                            'You do not have permission to delete this item',
                            'error'
                          );
                          self.getAll();
                          break;
                          case 404:
                            Swal.fire(
                              'Oh, no!',
                              'This item does not seem to exist',
                              'error'
                            );
                            self.getAll();
                            break;
                    default:
                      Swal.fire(
                        'Oh no!',
                        'something went wrong',
                        'error'
                      );
                  }
                }


              }).catch(err=>{
                throw err;
                Swal.fire(
                  'Oh no!',
                  'something went wrong',
                  'error'
                );
              });

            }
          });
        },
        getAll(){
          let self= this;
          Vue.set(self.dashboard,[])
          if (this.user.login) {
            //SCHEMA NAMESPACES
            self.loading = true;
            axios.get('/api/registry?user='+self.user.login+"&meta=true").then(res=>{
              // console.log("SCHEMAS",res.data)
              self.dashboard = res.data.hits;
              self.dashboardTotal = res.data.total;
              self.loading = false;
            }).catch(err=>{
              self.loading = false;
              throw err;
            });
            self.loading = true;
            // DATASETS PUBLIC
            axios.get('/api/dataset?&user='+self.user.login+"&meta=true").then(res=>{
              // console.log("PUBLIC",res.data)
              self.publicDatasets = self.publicDatasets.concat(res.data.hits);
              self.datasetsTotal += res.data.total;
              self.loading = false;
            }).catch(err=>{
              self.loading = false;
              throw err;
            });
            self.loading = true;
            // DATASETS PRIVATE
            axios.get('/api/dataset?private=true&user='+self.user.login+"&meta=true").then(res=>{
              // console.log("PRIVATE",res.data)
              self.privateDatasets = self.privateDatasets.concat(res.data.hits);
              self.datasetsTotal += res.data.total;
              self.loading = false;
            }).catch(err=>{
              self.loading = false;
              throw err;
            });
          }
        },
        handlePrivacy(item,privacyStatus){
          var self = this;
          var title = () => privacyStatus === 'private' ? '<h4>Make this item PUBLIC?</h4>' :'<h4>Make this item PRIVATE?</h4>'
          Swal.fire({
            title: title(),
            footer: "<small>You can change the privacy settings anytime.</small>",
            showCancelButton: true,
            confirmButtonColor:"{{color_main}}",
            cancelButtonColor:"{{color_sec}}",
            animation:false,
            customClass:'scale-in-center',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
          }).then((result) => {
            if (result.value) {
              let data = item;
              let parts = data['@type'].split(":");
              let namespace = parts[0]
              let prefix = parts[0]
              let className = parts[1]
              // let url = '/api/dataset?schema='+namespace+'::'+prefix+':'+className;
              let url = '/api/dataset/'+item['_id'];
              if (privacyStatus === 'private') {
                item['_meta']['private'] = false;
                // url = url+'&private=false'
              }else {
                // url = url+'&private=true'
                item['_meta']['private'] = true;
              }
              axios.put(url,data).then(res=>{
                //reload with no cache
                setTimeout(function(){ location.reload(true); }, 1000);
              }).catch(err=>{
                throw err;
              })
            }
          });
        },
        checkLoggedUser(){
          var self = this;
          axios.get('/user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
              self.getAll();
            }
          }).catch(err=>{
            throw err;
          });
        },
        trunc(item){
          if (item.length >100) {
            return item.substring(0,100)+'...';
          }else {
            return item
          }
        },
        formatDate(meta){
          let date =""
          if (meta.hasOwnProperty('last_updated')) {
            date = meta['last_updated']
            return '<i class="far fa-clock"></i> last updated '+moment(date).format('MMM Do YYYY, h:mm a');
          }
          return 'No recent updates'
        }
			},
			mounted:function(){
        tippy( '#dashTippyParent', {
          target:'.tip',
          placement:'top',
          maxWidth:'200px',
          content: 'loading',
          animation: 'fade',
          theme:'light',
          onShow(instance) {
            let info = instance.reference.dataset.tippyInfo;
            instance.setContent("<div class='text-muted m-0 text-center wraptext'>"+info+"</div>")
          }});

			},
      created:function(){
        this.checkLoggedUser()
      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
