{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>


</style>

<section id="editor" class="container" style="min-height: 70vh;padding-top:60px;">
  <div>
    <div class="jumbotron animatedBack text-center mt-5 text-light">
      <h1>Schema Editor</h1>
      <small @click.prevent='help()' class="pointer">What's this <i class="fas fa-question" ></i></small>
    </div>
    <div v-if=loading class="loader">
      <h1 class="mainTextLight"><i class="fas fa-cog"></i> Loading...</h1>
    </div>
    <div class="text-center p-3 mb-2 text-success jumbotron message " v-if="editFrom">
      <h5>You have chosen to start a new schema based on this schema: <b class="mainTextDark" v-text='editFrom'></b></h5>
    </div>
    <div class="jumbotron p-r" :class="[ myContextFields.length ? 'border-done' : '']">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">1</div>
      <h2 class="text-muted text-center">Choose a namespace</h2>

      <p class="text-center text-muted">(lowercase a-z, web url safe characters only)<p>
      <form v-if="!myContextFields.length" @submit.prevent="addToContext" class="form-group text-center form-row w-50 m-auto">
        <div class="col-sm-12 col-md-12">
          <input id="contNamespace"  autocomplete="true" type="text" v-model='inputNamespace' class="form-control m-auto text-center" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-danger']" id="schemaName1" aria-describedby="nameHelp" placeholder="Enter namespace here">
        </div>
        <!-- <div class="col-sm-12 col-md-2">
          <h1>:</h1>
        </div>
        <div class="col-sm-12 col-md-5">
          <input id="contUrl" autocomplete="true" type="url" v-model='inputUrl' class="form-control m-auto" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-muted']" id="schemaName1" aria-describedby="urlHelp" placeholder="Enter URL here">
          <small class="pointer mainTextLight badge badge-light mr-1" @click="inputUrl='https://discovery.biothings.io/'">use discovery</small>
          <small class="pointer mainTextDark badge badge-light mr-1" @click="inputUrl='https://data.cvisb.org/schema/'">use cvisb</small>
        </div> -->
        <div class="col-sm-12 text-center alert-light message p-3 mt-3">
          <p id="nameHelp" class="form-text m-3  bold" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-danger']" v-text='namespaceCheck'><p>
          <p class="text-center text-muted">
            <span>https://discovery.biothings.io/</span><span v-text='inputNamespace' :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-danger']"></span>
          </p>
          <button :disabled="namespaceCheck !== 'Available'" :disabled="!myContextFields" type="submit" class="btn" :class="[ namespaceCheck === 'Available' ? 'btn-success' : 'btn-danger']" @click.prevent="addToContext">Add <i class="fas fa-plus"></i></button>
        </div>
      </form>
      <div v-if="myContextFields.length" class="col-sm-6 m-auto text-center text-success mt-2 alert alert-success text-success">
        <span class="d-block">@Context:</span>
          <template v-for="item in myContextFields">
            <span class="d-block" v-text="item"></span>
          </template>
      </div>
    </div>
    <div class="jumbotron p-r text-center text-muted" >
      <div class="numberCircle mainBackLight text-light sectionHeader p-a ">2</div>
      <h2 class="text-muted text-center">Add a new class</h2>
      <small>
        Add only new properties not existent in the parent classes
      </small>
      <div class="p-2 mb-3 text-center">
        <button class="btn btn-success text-light" @click.prevent="addClass">Add Class <i class="fas fa-plus"></i></button>
      </div>
      <div class="text-center">
        <template v-for="(item,index) in myClasses">
          <class-box key="index" :clss="item" :myclass="true"></class-box>
        </template>
      </div>
    </div>
    <div class="jumbotron d-flex flex-wrap align-items-start p-r">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">3</div>
      <div style="flex:1; min-width:100%;" class="text-center text-muted">
        <h2 class="text-muted text-center">Choose parent properties to re-use</h2>
        <small>
          All parent properties are inherited but choose only the ones you wish to include and use in your schema.
        </small>
      </div>
      <template v-for="(item,index) in clses">
        <class-box key="index" :clss="item"></class-box>
      </template>
    </div>
    <div class="jumbotron text-center p-r">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">4</div>
      <h2 class="text-muted text-center">Your Schema</h2>
      <small class="text-muted d-block">Click here to see latest changes to your schema</small>
      <button class="btn themeButton pulse text-light mt-2" @click.prevent="generateResult">Update</button>
      <div v-show="valid" class="swing-in-left-fwd ">
        <pre >
          <code class="p-5 border-success" id="resultCode" @click="selectText('resultCode')">
          </code>
        </pre>
      </div>
    </div>
    <div class="jumbotron p-r text-center text-muted" :class="[ myContextFields.length ? 'border-done' : '']">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">5</div>
      <h2 class="text-muted text-center">Hosting & Registration</h2>
      <p class="w-50 m-auto">
        Your base schema is done! Feel free to modify it further to fit your specific needs. Make sure to host your schema using your preferred web service.
      </p>
      <p class="w-50 m-auto">
        Once hosted come back and try our viewer to visualize your schema and register to share it with the community!
      </p>
    </div>
  </div>

</section>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="./static/js/lodash.js"></script>
<script src="./static/js/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

const store = new Vuex.Store({
  state: {
    'finalschema':{
      '@context':{
      },
      '@graph':[]
    },
    'schema':{
      'type':Object
    },
    'userClasses':[],
    'userContextFields':[],
  },
  strict: true,
  mutations: {
    saveSchema(state,payload){
      // console.log('saving..')
      state.schema = payload['schema'];
      state.finalschema['@context']=payload['schema']['@context'];
    },
    savePreset(state,payload){
      // console.log('saving..')
      // state.finalschema=payload['schema'];
      Vue.set( state, 'finalschema', payload['schema'])
      console.log('saved preset',state.finalschema)
    },
    saveNamespace(state,payload){
      state.namespace = payload['namespace'];
    },
    saveContextField(state,payload){
      let newField ={};
      newField[payload['namespace']]= payload['url'];
      state.userContextFields.unshift(newField);
      state.finalschema['@context'] = {...state.finalschema['@context'],...newField};
      $.notify(payload['namespace']+" added",{ globalPosition: 'right',className:'success', showDuration: 200, });
    },
    saveClass(state,payload){
      let clss = payload['clss'];
      if (state.schema['@graph']) {
        state.finalschema['@graph'].unshift(clss);
        state.userClasses.unshift(clss);
        Swal.fire({
          type: 'success',
          position: 'center',
          title: 'Class created',
          html: "Proceed to Step 3 to choose which parent classes you want to re-use."
        });
      }
    },
    removeClass(state,payload){
      let clss = payload['clss'];
      if (state.finalschema['@graph']) {
        state.finalschema['@graph']= _.difference(state.finalschema['@graph'], [clss]);;
        state.userClasses= _.difference(state.userClasses, [clss]);;
      }
    },
    saveProperty(state,payload){
      let prop = payload['prop'];
      if (state.finalschema['@graph']) {
        state.finalschema['@graph'].push(prop);
      }
    },
    keepProperty(state,payload){
      let prop = payload['prop'];
      let clss = payload['clss'];

      if (clss.hasOwnProperty('$validation')) {
        let target= clss['$validation']['properties']
        let arr= prop['@id'].split(':');
        let checkThisPropName = arr[arr.length-1];
        console.log('checkThisPropName',checkThisPropName)
        if (clss['$validation']['properties'].hasOwnProperty(checkThisPropName)) {
          Vue.delete(target, prop['rdfs:label']);
          $.notify(checkThisPropName+" removed",{ globalPosition: 'right',className:'info', showDuration: 200, });
        }else{
          let $validationInfo = {};
          $validationInfo['description'] =prop['rdfs:comment'];
          switch (checkThisPropName) {
            case 'keywords':
              $validationInfo['type'] = 'array';
              $validationInfo['items'] = {'type':'string'};
              break;
            case 'url':
              $validationInfo['type'] = 'string';
              $validationInfo['format'] = 'uri';
              break;
            case 'dateModified'|| 'datePublished':
              $validationInfo['oneOf'] = [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "string",
                                "format": "date"
                            }
                        ];
              break;
              case 'temporalCoverage':
                $validationInfo['oneOf'] = [
                              {
                                  "type": "string",
                                  "format": "date-time"
                              },
                              {
                                  "type": "string",
                                  "format": "uri"
                              },
                              {
                                  "type": "string"
                              }
                          ];
                break;
            default:
              $validationInfo['type'] = 'string';
          }

          let fieldname = prop['rdfs:label']
          Vue.set( target, fieldname, $validationInfo)
          $.notify(checkThisPropName+" added",{ globalPosition: 'right',className:'success', showDuration: 200, });

        }

      }
    },
    handleRequiredProp(state,payload){
      let prop = payload['propname'];
      let clss = payload['clss'];
      // console.log('received',prop,clss)

      if (clss && clss.hasOwnProperty('$validation')) {
        // console.log('checking',clss['$validation']['required'])
        if (clss['$validation']['required'].includes(prop)) {
          for (var i = 0; i < clss['$validation']['required'].length; i++) {
            if (clss['$validation']['required'][i] === prop) {
              // console.log('found',clss['$validation']['required'])
              clss['$validation']['required'].splice(i,1);
              $.notify(prop+" not required",{ globalPosition: 'right',className:'info', showDuration: 200, });
            }
          }
        }else{
          // console.log('not found',clss['$validation']['required'])
          clss['$validation']['required'].unshift(prop)
          $.notify(prop+" required",{ globalPosition: 'right',className:'success', showDuration: 200, });
        }
      }
    },
    removeProperty(state,payload){
      prop = payload['prop'];
      if (state.finalschema['@graph']) {
        for (var i = 0; i < state.finalschema['@graph'].length; i++) {
          if(state.finalschema['@graph'][i].hasOwnProperty('@type') && state.finalschema['@graph'][i]['@type'] === "rdf:Property"){
            let propObj = state.finalschema['@graph'][i];
            if (state.finalschema['@graph'][i]['rdfs:label']===prop['rdfs:label']) {
              state.finalschema['@graph'].splice(i, 1)
              $.notify(prop['rdfs:label']+" removed",{ globalPosition: 'right',className:'info', showDuration: 200, });
            }
          }
        }
      }
    }
  },
  getters:{
    // exposed as store.getters.nameOfGetter
    getClassList:state=>{
      return state.clssList
    },
    getAllClassList:state=>{
      let list=[];
      for (var i = 0; i < state.schema['@graph'].length; i++) {
        if (state.schema['@graph'][i].hasOwnProperty('@type') && state.schema['@graph'][i]['@type'] === 'rdfs:Class') {
          list.push(state.schema['@graph'][i]['@id']);
        }
      }
      for (var i = 0; i < state.finalschema['@graph'].length; i++) {
        if (state.finalschema['@graph'][i].hasOwnProperty('@type') && state.finalschema['@graph'][i]['@type'] === 'rdfs:Class') {
          list.push(state.finalschema['@graph'][i]['@id']);
        }
      }
      return list
    },
    getSchema:state=>{
      return state.schema
    },
    getFinalSchema:state=>{
      return state.finalschema
    },
    getUserClasses:state=>{
      return state.userClasses
    },
    getUserContextFields:state=>{
      return state.userContextFields
    },
    getPropsFor: (state) => (name,myclass) => {
      let schema={};
      if (myclass===true) {
        schema = state.finalschema
      }else{
        schema = state.schema
      }
      let props = []
      for (var i = 0; i < schema['@graph'].length; i++) {
        if(schema['@graph'][i].hasOwnProperty('schema:domainIncludes') ){
          let propObj = schema['@graph'][i];
          if ( _.isString(propObj['schema:domainIncludes']) ) {
            if (propObj["schema:domainIncludes"].includes(name)) {
              props.push(propObj);
            }
          }
          else if ( _.isArray(propObj['schema:domainIncludes']) ) {
            for (var j = 0; j < propObj['schema:domainIncludes'].length; j++) {
              if (propObj["schema:domainIncludes"][j]['@id'].includes(name)) {
                props.push(propObj);
              }
            }
          }else if( _.isPlainObject(propObj['schema:domainIncludes']) ){
            if (propObj["schema:domainIncludes"]['@id'].includes(name)) {
              props.push(propObj);
            }
          }

        }
      }
      return props
  },
  getSelectedPropsFor: (state) => (name,myclass) => {

    let schema={};
    if (myclass===true) {
      schema = state.finalschema
      for (var i = 0; i < schema['@graph'].length; i++) {
        if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
          let propObj = schema['@graph'][i];
          if (propObj['@id'].includes(name)) {
            return schema['@graph'][i]['$validation']['properties']
          }
        }
      }
    }
  }
  },
  actions:{

  }
});

Vue.component('keep-button', {
  props: ['item'],
  data: function(){
    return{
      clicked:false
    }
  },
  mounted:function(){
  },
  template: `<button :title="'Keep '+item['rdfs:label']" @click.prevent="keepProp(item)" class="btn smallButton keepButton text-light" :class="[ clicked ? 'bg-success' : '']" >
              <i v-if="!clicked" class="fas fa-plus" ></i>
              <i v-if="clicked" class="fas fa-star" ></i>
             </button>`,
  methods: {
    keepProp(prop){
      let self= this;
      let list = store.getters.getUserClasses
      if (list.length<1) {
        Swal(
            'You must create a class first',
            'All parent properties are inherited by default,but after creating a class choose which ones you will actually use in your schema',
            'error'
          );
      }
      if (list && list.length === 1) {

        var payload={};
        payload['prop'] = prop;
        payload['clss']=list[0];
        store.commit('keepProperty',payload)
        self.clicked= !self.clicked;

      }else if(list && list.length > 1){

        let listOptions={};
        for (var i = 0; i < list.length; i++) {
          listOptions[list[i]['@id']]= list[i]['@id']
        }

        Swal.mixin({
          input: 'text',
          confirmButtonText: 'OK',
          showCancelButton: true,
          progressSteps: ['1']
        }).queue([
          {
            title: "Which class will use this property?",
            input: 'select',
            inputOptions: listOptions,
            html: 'Select class'
          },
        ]).then((result) => {
          let c ={};
          console.log(result.value[0],list)
          if (result.value) {
            for (var i = 0; i < list.length; i++) {
              if (list[i]['@id'] === result.value[0] ) {
                c = list[i]
              }
            }
            var payload={};
            payload['prop'] = prop;
            payload['clss']=c;
            console.log('KEEP',payload)
            store.commit('keepProperty',payload)
            self.clicked= !self.clicked;

          }
        })
      }
    },
  }
});

Vue.component('description', {
  props: ['content'],
  data: function(){
    return{
      full:true ,
      text:''
    }
  },
  watch:{
    full:function(n,o){
      if (n) {
        this.text = this.content
      }else{
        if (this.content) {
          this.text = this.content.substring(0, 40);
        }
      }
    }
  },
  mounted:function(){
    this.full = false;
  },
  template: `<small class="pointer d-inline" v-on:click="clicked">
              <span v-text="text"></span>
              <i v-if="!full && text.length>39" class="far fa-plus-square mainTextDark pointer"></i>
              <i v-if="full && text.length>39" class="far fa-minus-square mainTextLight pointer"></i>
            </small>`,
  methods: {
    clicked: function() {
      this.full=!this.full
    }
  }
});


Vue.component('class-box', {
  data: function(){
    return{
      showAll:false,
      myList:[],
      isHidden:true,
      searchInput:"",
      searchRes:[],
      propCount:null
    }
  },
  props: ['clss','myclass'],
  methods:{
      deleteClass(){
        var payload={};
        payload['clss'] = clss;
        store.commit('removeClass',payload)
      },
      handleRequired(propname,clss){
        let payload={};
        payload['clss']=clss;
        payload['propname']=propname;
        store.commit('handleRequiredProp',payload)
      },
      toggleHide(){
        this.isHidden = ! this.isHidden
      },
      getName(classInfo){
        if (classInfo && classInfo.hasOwnProperty('@id')) {
          if (_.isPlainObject(classInfo['@id'])){
            return classInfo['@id']['@value']
          }else if (_.isString(classInfo['@id'])){
            return classInfo['@id']
          }
        }
      },
      addPropsToClass:function(){
        var self = this;

        Swal.mixin({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        progressSteps: ['1', '2','3',]
      }).queue([
        {
          title: "Choose a name for your property",
          html: 'input name must be camel cased <b class="text-danger">eg. myProperty </b>',
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (value.match(/^[a-z]+(?:[A-Z][a-z]+)*$/)) {
                resolve()
              } else {
                resolve('property names must be camelCased')
              }
            })
          }
        },
        {
          title: "What is this property's expected type(s)?",
          html: 'input name(s) must be Pascal cased <b class="text-danger">eg. schema:MyClass </b>. Multiple types separated by commas.'
        },
        {
          title: "Describe this property",
          html: 'write a description about this property',
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (!value.length<10) {
                resolve()
              } else {
                resolve('Comment is too short. 10 characters minimum.')
              }
            })
          }
        },
      ]).then((result) => {
        if (result.value) {
          this.handleUserPropInput(result.value);
        }
      })
    },
    handleUserPropInput: function(value, oldValue){
        var self = this;
        let context= store.getters.getUserContextFields;
        let prefix = '';
        for (key in context[0]) {
          prefix = key;
        }
        var skeleton={
          "@id": prefix+':'+value[0],
          "@type": "rdf:Property",
          "rdfs:comment": value[2],
          "rdfs:label": value[0],
          "schema:domainIncludes": {
              "@id": self.clss['@id']
          },
        };
        //check multiple types
        var arr = value[1].split(",");
        if (arr.length>1) {
          let types=[]
          for (var i = 0; i < arr.length; i++) {
            types.push({'@id':arr[i]})
          }
          skeleton['schema:rangeIncludes'] = types;
        }else{
          let type = {
            "@id": value[1]
          };
          skeleton['schema:rangeIncludes'] = type;
        }

        // push to store
        var payload = {};
        payload["prop"] = skeleton;
        store.commit('saveProperty',payload);
    },
    removeProp(prop){
      var payload={};
      payload['prop'] = prop;
      store.commit('removeProperty',payload)
    },
    getType: function(data){
      let types=[];
      if (data.hasOwnProperty("schema:rangeIncludes")) {
        if (_.isString(data["schema:rangeIncludes"])) {
          let type = data['schema:rangeIncludes'].split(':');
          let res={'schema':type[0],'name':type[1]};
          types.push(res);
        }
        else if (_.isArray(data["schema:rangeIncludes"])) {
          for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
            let type = data['schema:rangeIncludes'][i]['@id'].split(':');
            let res={'schema':type[0],'name':type[1]};
            types.push(res);
          }
        }else if(_.isObject(data["schema:rangeIncludes"])){
          let type = data['schema:rangeIncludes']['@id'].split(':');
          let res={'schema':type[0],'name':type[1]};
          types.push(res);
        }
      }
      return types;
    },
    getSubclass: function(data){
      let subclasses=[];
      if (data.hasOwnProperty("rdfs:subClassOf")) {
        if (_.isString(data["rdfs:subClassOf"])) {
          let cl = data['rdfs:subClassOf']
          subclasses.push(cl);
        }
        else if (_.isArray(data["rdfs:subClassOf"])) {
          for (var i = 0; i < data['rdfs:subClassOf'].length; i++) {
            let cl = data['rdfs:subClassOf'][i]['@id']
            subclasses.push(cl);
          }
        }else if(_.isObject(data["rdfs:subClassOf"])){
          let cl = data['rdfs:subClassOf']['@id']
          subclasses.push(cl);
        }
      }else{
        subclasses.push('This class has no subclass');
      }
      return subclasses;
    },
  },
  mounted: function(){
    // if (this.myclass) {
    //   this.isHidden = false;
    // }
    tippy('#'+this.clss['rdfs:label'], {
      content: "<div class='alert alert-info m-0'>"+this.clss['rdfs:comment']+"</div>" || "<div class='alert alert-warning m-0'>No Description Available</div>",
      placement: 'bottom'
    })
  },
  watch:{
    searchInput:function(val,oldval){
      let self= this;
      if (val) {
      let myObjects = store.getters.getPropsFor(self.clss['rdfs:label'],self.myclass);
       self.searchRes = _.filter(myObjects, function(item) {
         if (_.isPlainObject(item['rdfs:label'])) {
           return item['rdfs:label']['@value'].toLowerCase().includes(val);
         }else if(_.isString(item['rdfs:label'])){
           return item['rdfs:label'].toLowerCase().includes(val);
         }
       });
      }else{
        self.searchRes=[]
      }

    }
  },
  computed: {
    className:function(){
      return this.clss['rdfs:label'];
    },
    properties:function(){
      let self = this;
      let myObjects =  store.getters.getPropsFor(self.clss['rdfs:label'],self.myclass);
      self.propCount= myObjects.length;
      if (!self.showAll) {
        return _.sortBy(myObjects, 'rdfs:label').slice(0, 10);
      }else{
        return _.sortBy(myObjects, 'rdfs:label');
      }
    },
    selectedProperties:{
      get(){
        if (this.myclass) {
          return store.getters.getSelectedPropsFor(this.clss['rdfs:label'],true);
        }
      }
    }
  },
  template:
  `<div class="clsContainer p-3 bg-light m-1" style="flex:1" :class="[ !isHidden ? '' : 'msgOpen']">
    <div class="row" >
      <div class="clsNameContainer col-sm-12">
        <div class='text-center'>
          <h2 @click.prevent='toggleHide' class="mainTextDark d-inline pointer bold unselectable"  style="outline:none;">
           <span v-text="getName(clss)"></span>
          </h2>
          <i class="fas fa-info-circle text-info unselectable" :id="clss['rdfs:label']" style="outline:none;"></i>
          <span class="badge text-light" :class="[ propCount>0 ? 'mainBackLight' : 'bg-secondary']" v-text="propCount"></span>
          <br />
          <small class="text-muted">
            <span v-if="clss['rdfs:subClassOf']">Subclass of:</span>
            <template v-for="item in getSubclass(clss)">
              <small class="bold mainTextDark mr-2" v-text='item'></small>
            </template>
          </small>
          <div class="text-center" v-if='myclass'>
              <a role='button' class="btn smallButton bg-success text-light" @click.prevent="addPropsToClass">Add New Property <i class="fas fa-plus"></i></a>
              <!--<a role="button" class="btn smallButton bg-danger text-light" @click.prevent="deleteClass" title="DELETE">
                Delete <i class="fas fa-times" ></i>
              </a>-->
          </div>
        </div>
      </div>
      <div v-show='!isHidden' class="propContainer  text-muted col-sm-12">
        <div>
          <div class="input-group mb-2 w-50 m-auto">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="text" class="form-control" v-model="searchInput" class="form-control" placeholder="search">
          </div>
          <div>
            <table class="w-100 table table-sm table-responsive-sm table-hover" v-if="searchRes.length">
              <template v-if="myclass">
                <col width="">
                <col width="">
                <col width="">
                <col width="40%">
                <col width="">
              </template>
              <template v-if="!myclass">
                <col width="">
                <col width="">
                <col width="40%">
                <col width="">
              </template>
              <thead class="bg-success text-light">
                <th class="text-center">
                  <small v-if="!myclass">Keep</small>
                  <small v-if="myclass">Remove</small>
                </th>
                <th v-if="myclass">
                  <small>Required</small>
                </th>
                <th>
                  <small>Name</small>
                </th>
                <th>
                  <small>Comment</small>
                </th>
                <th>
                  <small>Type</small>
                </th>
              </thead>
              <tbody>
                <template v-for="(item,index) in searchRes">
                  <tr :key='index'>
                    <td v-if="!myclass" class="text-center">
                      <keep-button :item='item'></keep-button>
                    </td>
                    <td v-if="myclass" class="text-center">
                      <button :title="'Remove '+item['rdfs:label']" @click.prevent="removeProp(item)" class="btn smallButton bg-danger text-light"><i class="fas fa-minus" ></i></button>
                    </td>
                    <td v-if="myclass">
                      <div class="d-inline mr-3">
                        <input @click="handleRequired(item['rdfs:label'],clss)" class="" type="checkbox" value="" :id="item['rdfs:label']">
                      </div>
                    </td>
                    <td  >
                      <small class="bold" v-text='getName(item)'></small>
                    </td>
                    <td class="p-2">
                      <description :content='item["rdfs:comment"]'></description>
                    </td>
                    <td >
                      <template v-for="(type,i) in getType(item)">
                        <div class="pillType">
                          <span v-text="type.schema"></span>
                          <span v-text="type.name"></span>
                        </div>
                        <!--<small class="d-inline" v-html='type'></small>
                        <span v-if="i !== getType(item).length-1">, </span> -->
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <small class="bold">
          Properties of <span class="mainTextLight" v-text="clss['rdfs:label']"></span>
        </small>
        <table class="w-100 table table-sm table-responsive-sm table-hover">
          <template v-if="myclass">
            <col width="">
            <col width="">
            <col width="">
            <col width="40%">
            <col width="">
          </template>
          <template v-if="!myclass">
            <col width="">
            <col width="">
            <col width="40%">
            <col width="">
          </template>
          <thead class="mainBackLight text-light">
            <th class="text-center">
              <small v-if="!myclass">Keep</small>
              <small v-if="myclass">Remove</small>
            </th>
            <th v-if="myclass">
              <small>Required</small>
            </th>
            <th>
              <small>Name</small>
            </th>
            <th>
              <small>Comment</small>
            </th>
            <th>
              <small>Type</small>
            </th>
          </thead>
          <tbody>
            <template v-for="(item,index) in properties">
              <tr :key='index'>
                <td v-if="!myclass" class="text-center">
                  <keep-button :item='item'></keep-button>
                </td>
                <td v-if="myclass" class="text-center">
                  <button :title="'Remove '+item['rdfs:label']" @click.prevent="removeProp(item)" class="btn smallButton bg-danger text-light"><i class="fas fa-minus" ></i></button>
                </td>
                <td v-if="myclass">
                  <div class="d-inline mr-3">
                    <input @click="handleRequired(item['rdfs:label'],clss)" class="" type="checkbox" value="" :id="item['rdfs:label']">
                  </div>
                </td>
                <td  >
                  <small class="bold" v-text='getName(item)'></small>
                </td>
                <td class="p-2">
                  <description :content='item["rdfs:comment"]'></description>
                </td>
                <td >
                  <template v-for="(type,i) in getType(item)">
                    <div class="pillType">
                      <span v-text="type.schema"></span>
                      <span v-text="type.name"></span>
                    </div>
                  </template>
                </td>
              </tr>
            </template>
          <template v-if="!showAll && propCount !== properties.length">
              <tr class="text-center">
                <td colspan='4' class='text-center'>
                  <a role="button" class="btn smallButton mainBackLight text-light" @click.prevent="showAll= !showAll">Show All (<span v-text='propCount-properties.length'></span> more)</a>
                </td>
              </tr>
            </template>
            <template v-if="showAll">
              <tr class="text-center">
                <td colspan='4' class='text-center'>
                  <a role="button" class="btn smallButton mainBackLight text-light" @click.prevent="showAll= !showAll">Show Less</a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div v-if="!properties.length" class='alert alert-secondary text-center text-muted w-100'>
          <small v-if='!myclass'>This class has no properties of its own</small>
          <small v-if='myclass'>New properties not found in parents will be listed here</small>
        </div>
        <div v-if="myclass">
          <small class="bold">
            Selected Inherited Properties
          </small>
          <table class="col-sm-12 col-md-12 m-auto table table-sm table-muted table-responsive-sm table-hover">
            <col width="">
            <col width="">
            <col width="40%">
            <thead class='mainBackDark text-light'>
              <th>
                <small>Required</small>
              </th>
              <th>
                <small>Inherited Property</small>
              </th>
              <th>
                <small>Description</small>
              </th>
            </thead>
            <tbody>
              <template v-for="(item,index) in selectedProperties">
                <tr class='text-left'>
                <td class='text-center'>
                  <input @click="handleRequired(index,clss)" class="" type="checkbox" :id="index">
                </td>
                <td class='text-center'>
                  <span class="mainTextDark" v-text="index"></span>
                </td>
                <td>
                  <description :content='item.description'></description>
                </td>
                </tr>
              </template>
            </tbody>
          </table>
          <div v-if="selectedProperties && !selectedProperties.length" class='alert alert-secondary text-center text-muted w-100'>
            <small>Selected inherited properties in step 3 will be listed here</small>
          </div>
        </div>
      </div>
    </div>
  </div>`
});

var app = new Vue({
      el: '#editor',
      store: store,
			data: function(){
				return {
          loading: false,
          valid: false,
          code: null,
          url:'',
          handleUserClassInput:[],
          editFrom:'',
          inputNamespace:'',
          inputUrl:'https://discovery.biothings.io/',
          namespaceCheck:'Start typing to check availability',
          availableNamespace:false
				}
			},
      computed:{
        clses:function(){
          var schema= store.getters.getSchema;
          let clssList=[];
          if (schema && schema['@graph']) {
            for (var i = 0; i < schema['@graph'].length; i++) {
              if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
                clssList.push(schema['@graph'][i])
              }
            }
          }
          return _.difference(clssList, this.myClasses)
        },
        myClasses:{
          get(){
            return store.getters.getUserClasses
          }
        },
        myContextFields:{
          get(){
            return store.getters.getUserContextFields
          }
        }
      },
      watch:{
        inputNamespace:function(value,oldvalue){
          let self=this;
          var re = /^[a-zA-Z0-9_.-]*$/;
          if (!re.test(value) ) {
            $.notify(value+" contains invalid characters",{ globalPosition: 'right',className:'error', showDuration: 100, });
          }

          if (value.length) {
            axios.get(`/api/registry/`+value).then(function (response) {
              if (response.data.url) {
                self.namespaceCheck ='Not Available';
                self.availableNamespace=false;
              }
            }).catch(error => {
              self.namespaceCheck ='Available';
              self.availableNamespace=true;
              throw error;
            });
          }else{
            self.namespaceCheck ='Start typing to check availability';
            self.availableNamespace=false;
          }
        },
        handleUserClassInput: function(value, oldValue){
          var self = this;
          let context= store.getters.getUserContextFields;
          let prefix = '';
          for (key in context[0]) {
            prefix = key;
          }
            var skeleton={
              "@id": prefix+":"+value[0],
              "@type": "rdfs:Class",
              "rdfs:comment": value[2],
              "rdfs:label": value[0],
              "rdfs:subClassOf": {
                  "@id": value[1]
              },
              "$validation":{
               "$schema": "http://json-schema.org/draft-07/schema#",
               "title": value[0],
               "description": value[2],
               "type": "object",
               "properties": {
               },
               "required": []
            }
            };
            // push to store
            var payload = {};
            payload["clss"] = skeleton;
            store.commit('saveClass',payload);

        }
      },
			methods:{
        addToContext(){
          var self = this;
          if (self.inputUrl && self.inputNamespace) {
            var payload={};
            payload['namespace'] = self.inputNamespace;
            payload['url'] = self.inputUrl;
            store.commit('saveContextField',payload)
            self.inputNamespace='';
            // self.inputUrl='';
            Swal.fire({
              type: 'success',
              toast: true,
              position: 'top',
              timer:2500,
              showConfirmButton:false,
              title: 'Context Saved',
            });
          }else{
            Swal(
                'No Input',
                'You must enter a namespace and url first',
                'error'
              );
          }
        },
        handleSubmit(){
          var self = this;
          if (self.url) {
            axios.get(self.url).then(res=>{
              // console.log(res.data)
            }).catch(err=>{
              throw err;
            });
          }
        },
        selectText(containerid) {
          window.getSelection().selectAllChildren( document.getElementById( containerid ) );
        },
        loadingOn(){
          var self = this;
          self.loading = true;
        },
        loadingOff(){
          var self = this;
          self.loading = false;
        },
        help(){
          Swal.mixin({
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            progressSteps: ['i', '1','2','3','4','5']
          }).queue([
            {
              title: "Schema Editor",
              html: "<p>With this tool you will be able to extend an existing schema to define your new schema.</p><p>It's as easy as picking the things you want to re-use and enter only any new information.</p>",
            },
            {
              title: "Step 1: Namespace",
              html: "<p>The namespace will be used for both extending the prefixes in the classes and properties definitions but also as a namespace for your landing page should you register it here. We will check that your namespace is available, it's simple just enter a name that represents your schema or organization.</p>"
            },
            {
              title: "Step 2: Add A New Class",
              html: "<p>Here you will define your new class with the class from the schema you selected as a starting point as it's subclass.</p><p>Any new properties not present in any other schema class should be added here. Just click the <b class='text-info'>Add New Property</b> button and follow the instructions.</p>"
            },
            {
              title: "Step 3: Parent Classes",
              html: "<p>Here you will see the classes in the schema you selected and all of their properties.</p><p>It's important to understand that all properties are inherited by default but you should only represent in your schema the properties you will actually re-use and require.</p><p>Just click the <b class='text-info'>+</b> button and that property will be added to your new class. To mark it as required, simply check the <b>required</b> checkbox.</p>"
            },
            {
              title: "Step 4: Schema",
              html: "<p>Finally here you can see how your schema is coming along.</p><p>When you are satisfied with the result simply copy and paste that into your project repo and use our viewer to visualize and register your schema.</p>"
            },
            {
              title: "Step 4: Hosting",
              html: "<p>You now have a schema based on your starting point. Feel free to add more custom validation fields and modify to your own needs.</p><p>Host your schema on your preferred service and come back to try out our viewer and register so others can see your schema.</p>"
            },
          ]);
        },
        generateResult(){
          var self = this;
          let schema = store.getters.getFinalSchema;
          if (schema) {
            self.valid= true;
            self.code = JSON.stringify(schema, null, 2);
            document.getElementById("resultCode").textContent= self.code;
          }else{
            self.valid = false;
          }
        },
        addClass:function(){
          var self = this;
          let userContext= store.getters.getUserContextFields
          if (userContext.length) {

            var list = store.getters.getAllClassList
            let objList={}
            for (var i = 0; i < list.length; i++) {
              objList[list[i]]=list[i]
            }

            Swal.mixin({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            progressSteps: ['1', '2','3']
          }).queue([
            {
              title: "Choose a name for your class",
              html: 'input name must be Pascal cased <b class="text-danger">eg. MyClass </b>',
              inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (value.match(/^[A-Z][a-z]+(?:[A-Z][a-z]+)*$/)) {
                    resolve()
                  } else {
                    resolve('class names must be PascalCased')
                  }
                })
              }
            },
            {
              title: "What is this class' subclass?",
              input: 'select',
              inputOptions: objList,
              html: 'input name must be Pascal cased <b class="text-danger">eg. Thing </b>'
            },
            {
              title: "Write a comment about this class",
              html: 'write a short summary about this class',
              inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (!value.length<10) {
                    resolve()
                  } else {
                    resolve('Comment is too short. 10 characters minimum.')
                  }
                })
              }
            },
          ]).then((result) => {
            if (result.value) {
              this.handleUserClassInput= result.value;
            }
          });
          }else{
            Swal(
                'You must set a namespace first',
                'Do not change or delete the namespace once created',
                'error'
              );
          }

        },
        testPreset(url){
          axios.get(url).then(res=>{
            let schema = JSON.stringify(res.data)
            var payload = {};
            payload["schema"] = JSON.parse(schema);
            store.commit('savePreset',payload);
          }).catch(err=>{
            throw err;
          })
        }
			},
			mounted:function(){
        var self = this;
        var schema = localStorage.getItem('datasetData');
        if (schema) {
          var payload = {};
          payload["schema"] = JSON.parse(schema);
          store.commit('saveSchema',payload);
        }else{
          Swal({
            title: 'No Schema Selected',
            imageUrl: "./static/img/dde-logo-o.svg",
            imageHeight: 100,
            imageAlt: 'Warning',
            html:
              '<p>You have not selected a schema to start with.</p> ' +
              '<p>Search the <a href="/registry">Registry</a> for a schema to start from.</p>',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
          });
        }
        this.editFrom = localStorage.getItem('editFrom');

        // tippy('#contNamespace', {
        //   content: 'The namespace will be used'
        // })
        // tippy('#contUrl', {
        //   content: 'No Description Available'
        // })


			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
