{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<main id="faq-app" class="bg-light" style="min-height: 100vh;">
  <div class="jumbotron bg-light text-center pt-5" style="margin-top: 40px;">
    <h1 class="logoText">FAQ</h1>
    <small class="text-muted">
      Jump To:
      <template v-for="section in faq">
        <a class="badge badge-secondary mr-2" v-text='section.sectionName' :href='"#"+section.sectionName'></a>
      </template>
    </small>
  </div>
  <div class="jumbotron container">
    <template v-for="section in faq">
      <h6 class="text-dark my-1" v-text='section.sectionName'></h6>
      <template v-for="item in section.questions">
        <div>
          <a :href="'#'+item.anchor"><span v-text='item.question'></span> <i class="fas fa-chevron-right"></i></a>
        </div>
      </template>
    </template>
  </div>
  <div class="container p-0" style="margin-bottom:10vh;">
    <template v-for="section in faq">
      <div class="card">
        <h4 class="text-light card-header pt-5 pb-5 grad" v-text='section.sectionName' :id='section.sectionName'></h4>
        <div class="card-body">
          <ul class="list-group card-text">
            <template v-for="item in section.questions">
              <li class="list-group-item">
                <div class="mainTextDark bold" :id="item.anchor" :value="window.location+item.anchor">
                  <span v-text="item.question"></span> <a :href="'#'+item.anchor" data-tipy="Copy link" class="secondary-content" @click="copyClipboard(window.location.href+'#'+item.anchor)"><i class="fas fa-link"></i></a>
                </div>
                <div class="text-muted p-2" v-html="item.answer"></div>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </template>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#faq-app',
        data: function(){
          return {
            faq:[
                {
                  'sectionName': 'General',
                  'questions':[
                    {
                      'anchor':'what-is-dde',
                      'question':'What is the Data Discovery Engine?',
                      'answer':`<p>
                                The Data Discovery Engine is a website that provides guidance for researchers on how to make their data discoverable and reusable, and bring the practical benefits of data sharing to researcher’s own research projects, as well as the research community as a whole.
                              </p>
                              <p class="text-center">
                                <img class="w-100" src="/static/img/diagram.png" alt="Project Diagram"/>
                              </p>
                              <p class="alert alert-secondary">
                                  <small>
                                  Through it's three main components the Data Discovery Engine can support: the extension and reusability of schemas, structured metadata tools that utilize those schemas and making the resulting metadata accessible through our API and Data Portals supported. 
                                  </small>
                                </p>`
                    },
                    {
                      'anchor':'what-is-schema',
                      'question':'What is a schema?',
                      'answer':`<p>
                                  Schemas can be thought of as a set of 'types', each associated with a set of properties that further define that type. The types are arranged in a hierarchy and each type inherits the properties of all its parents.
                                </p>
                                <p class="alert alert-info">
                                  An example of a type's hierarchy can be seen here: <a href='https://schema.org/Thing' target="_blank">Thing</a> > <a href='https://schema.org/Person' target="_blank">Person</a> > <a href='https://schema.org/Patient' target="_blank">Patient</a>
                                </p>
                                <p class="text-center">
                                  <img class="m-2 w-75" src="/static/img/schemagraph.png" alt="schema"/>
                                </p>
                                <p>
                                  We use <a href="https://schema.org/" target="_blank">Schema.org</a>'s schemas as the base vocabulary due to it's very generic nature. From that collection of schemas you can easily find a starting point, extend that schema and define more specific schemas related to your reserach.
                                </p>
                                <p>
                                  All registered schemas are also available via our <a href="/registry">registry</a>. Feel free to browse it for existing examples.
                                </p>`
                    },
                    {
                      'anchor':'dashboard',
                      'question':'How do I access my dashboard?',
                      'answer':`<p>
                                  Your user <a href="/dashboard">dashboard</a> is place where you can easily manage and quickly access your registered schemas and registered metadata. To view your dashboard you must log in using a valid <a href='https://github.com/' target="_blank">GitHub</a> account then click on your user image on the menu.
                                </p>
                                <p class="alert alert-info text-center">
                                  <img class="m-2 w-75" src="/static/img/dashhelp.png" alt="dashboard"/><br />
                                  <small>Options include: view, quick edit, make private/public, and delete.</small>
                                </p>`
                    },
                    {
                      'anchor':'delete-item',
                      'question':'How do I delete a registered schema or dataset?',
                      'answer':`<p>
                                  Your user <a href="/dashboard">dashboard</a> is the place to do that. If you are the user that registered that item you will see it listed in your dashboard.
                                </p>
                                <p class="alert alert-danger text-center">
                                  <img class="m-2 w-75" src="/static/img/deletehelp.png" alt="dashboard"/><br />
                                  <small>Click on the <i class="fas fa-trash"></i> icon and it will be deleted. Warning: This action cannot be reverted!</small>
                                </p>`
                    },

                  ]
                },
                {
                  'sectionName': 'Schema Playground',
                  'questions':[
                    {
                      'anchor':'what-is-schema-playground',
                      'question':'What is the Schema Playground?',
                      'answer':`<p>
                                  The <a href="/schema-playground">Schema Playground</a> is a place where you can find a large number of existing bio-medical and general purpose schemas.
                                  It is also a place where you can extend an existing schema to create your own, visualize and register* it to share with the community.
                                  <ul>
                                    <li>
                                      <i class="text-danger">If you DON'T have a schema</i> > Search for existing schemas to re-use or extend an existing one.
                                    </li>
                                    <li>
                                      <i class="text-success">If you DO have a schema</i> > Visualize your schema and register it so others can re-use it and in turn helping our efforts to make data re-usable.
                                    </li>
                                  </ul>
                                </p>
                                <p class="alert alert-secondary">
                                  <small>
                                  <i class="fas fa-asterisk"></i> You will need a valid <a href='https://github.com/' target="_blank">GitHub</a> account or an approved organization account to register new schemas. Sign up for one, it's easy and free!
                                  </small>
                                </p>`
                    },
                    {
                      'anchor':'choosing-schema',
                      'question':'How do I choose a schema to author my own?',
                      'answer':`<p>
                                  Our <a href="/schema-playground">Schema Playground</a> features <b>common starting points</b> (Dataset, Protocols, etc) and also a <a href="/registry">registry</a> of classes from reputable sources to help you decide the right starting point.
                                </p>
                                <p>
                                  You can browse existing schemas from the community and <a href="https://schema.org/" target="_blank">Schema.org</a> schemas in our <a href="/registry">registry</a>.
                                </p>`
                    },
                    {
                      'anchor':'how-to-use-editor',
                      'question':'How do I use the schema editor?',
                      'answer':`<p class="text-center">
                                <img class="m-2 w-75" src="/static/img/editor.png" alt="editor"/>
                              </p>
                            <p>
                              Once you find a Class you wish to extend, you will be asked to choose a unique namespace that hasn't been registered before.  This will be the prefix attached to each new definition you provide.
                              Since you are extending a Class, you will be asked to create a new Class that is more specific to your needs but follows the same hierarchy as its parent Class.  Once that is done, you can begin picking
                              the properties from its parents that you want to use to define your metadata and finally add any new properties (8) not included with a proper unique name. 
                            </p>
                            <p>
                              Once you are happy with your schema definition you have an option to download (5) your work or if you logged in with GitHub, you may choose to use the built-in
                              GitHub tool to save your work directly to an existing or new public repository. Your saved work can then be visualized and registered via our Schema Playground, and you can easily manage your contributions 
                              via your own user dashboard.
                            </p>
                              <ol class="text-left">
                                <li>
                                  Log-in status.
                                </li>
                                <li>
                                  Preview your work.
                                </li>
                                <li>
                                  Download your work.
                                </li>
                                <li>
                                  Save to GitHub directly* Requires GitHub login and permission.
                                </li>
                                <li>
                                  Add a new property to your class.
                                </li>
                                <li>
                                  The extended Class you created.
                                </li>
                                <li>
                                  Parent properties available to choose from.
                                </li>
                                <li>
                                  Show/Hide all properties of this class.
                                </li>
                              </ol>`
                    },
                    {
                      'anchor':'register-namespace',
                      'question':'What is a namespace and how do I register a custom namespace for my schema?',
                      'answer':`<p>
                                  During the process of extending an existing schema via the <a href="/schema-playground">Schema Playground</a>
                                  you are asked to choose a short name for new Class/property definitions. This name is also used to suggest the namespace registered with us when you visualize then register your schema.
                                  The namespace will be the new homepage for your schema. E.g. <span class="text-info">http://discovery.biothings.io/view/<b>&lt;namespace&gt;</b></span>.
                                </p>
                                <p class="alert alert-secondary">
                                  <small>Your namespace must be unique and it can only contain lower-case web-safe characters.</small>
                                </p>`
                    },
                    {
                      'anchor':'schema-registration',
                      'question':'How do I register my schema?',
                      'answer':`<p>
                                  After you log in the registration option will be available to you when you view your schema using it's url in the <a href="/schema-playground">Schema Playground</a>. Registration is simple and it only requires you to choose a <a href="#namespace">namespace</a>
                                </p>
                                <p class="alert alert-secondary">
                                  <small>
                                  <i class="fas fa-asterisk"></i> You will need a valid <a href='https://github.com/' target="_blank">GitHub</a> account or an approved organization account to register new schemas. Sign up for one, it's easy and free!
                                  </small>
                                </p>`
                    },
                    {
                      'anchor':'why-register',
                      'question':'Why should I register my schema?',
                      'answer':`<ul class="text-muted text-left">
                                  <li>
                                    <i class="fas fa-check"></i> Share your work with other members of the community. Your schema definition could be helpful to many others in the community as a starting point for their reserach.
                                  </li>
                                  <li>
                                    <i class="fas fa-check"></i> By registering a schema derived from an existing schema you are helping to maintain the <a href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR</a> (Findable, Accessible, Interoperable, Reusable) principles by making data more <b>Reusable</b>.
                                  </li>
                                  <li>
                                    <i class="fas fa-check"></i> It's easy to register your schema! If everything looks good here all you have to do is choose a namespace for your schema's homepage.
                                  </li>
                                  <li>
                                    <i class="fas fa-check"></i> You'll be able to easily share your schema and visualize it in a way that it's easy to understand.
                                  </li>
                                </ul>`
                    },
                  ]
                },
                {
                  'sectionName': 'Discovery Guide',
                  'questions':[
                    {
                      'anchor':'what-is-a-guide',
                      'question':"What is a guide?",
                      'answer':`<p class="text-center">
                                  <img class="m-2 w-75" src="/static/img/guides.png" alt="editor"/>
                                </p>
                                <p>
                                  Guides allow you to contribute metadata to particular Data Portal. The generated metadata will be structured to that Data Portal's schema meaning that your metadata will be able to be integrated into that Data Portal.
                                </p>
                                <p>
                                  Each Data Portal provides a guide based on a schema and that guide is dynamically generated based on that particular schema's validation rules to ensure that your input is valid and your contribution is ready to be integrated into that Portal.
                                </p>
                                `
                    },
                    {
                      'anchor':'how-to-use-guide',
                      'question':"How do I use the discovery guide?",
                      'answer':`<p class="text-center">
                                  <img class="m-2 w-75" src="/static/img/metadata.png" alt="metadata"/><br />
                                  <p>
                                    Select the portal you wish to contribute based on your interests and click on it's Add Dataset Metadata button. You will be taken to a form that will guide you through required and recommended fields by that portal.
                                  </p>
                                  <p>
                                    It's really easy and fast! Here's a quick introduction to the layout:
                                  </p>
                                    <ol class="text-left">
                                      <li>
                                        (Login Status, Start Over, Preview Progress, Import Metadata, Bulk Registration, Issue Details)
                                      </li>
                                      <li>
                                        Current category.
                                      </li>
                                      <li>
                                        Change display settings.
                                      </li>
                                      <li>
                                        Clear/Complete (if viewing one item at a time) option.
                                      </li>
                                      <li>
                                        Track progress across categories.
                                      </li>
                                      <li>
                                        Issue details for that field.
                                      </li>
                                      <li>
                                        Continue to next page. (Available when requirements are met)
                                      </li>
                                    </ol>
                               </p>`
                    },
                    {
                      'anchor':'access-contributions',
                      'question':"How do I access my contributions?",
                      'answer':`<p>
                                  After successfully contributing an item whether it is a schema or metadata you will be able to manage it via your <a href="/dashboard">dashboard</a>. To view your dashboard you must log in using a valid <a href='https://github.com/' target="_blank">GitHub</a> account or approved organization.
                                </p>
                                <p>
                                  You can manage your registered schemas and metadata on your dashboard and each provides their own set of options. Take a look below: 
                                </p>
                                <p class="alert alert-info text-center">
                                  <img class="m-2 w-75" src="/static/img/metahelp.png" alt="metadata-dashboard"/><br />
                                  <small>From your dashboard you can view, update and delete any registered item.</small>
                                </p>
                                <p class="alert alert-info text-center">
                                  <img class="m-2 w-75" src="/static/img/dashhelp.png" alt="dashboard"/><br />
                                  <small>Options include: view, quick edit, make private/public, and delete.</small>
                                </p>`
                    },
                    {
                      'anchor':'edit-privacy',
                      'question':'How do I make my dataset private/public?',
                      'answer':`<p>
                                  All new entries are set to <b>PUBLIC</b> as default. You can change this anytime in your <a href="/dashboard">dashboard</a>.  Note: Making any changes to the metadata will revert its status to PUBLIC but you can change the setting once your are done.
                                </p>
                                <p class="alert alert-info text-center">
                                  <img class="m-2 w-75" src="/static/img/privacy.png" alt="dashboard"/><br />
                                  <small>Simply click on the <b>Edit Privacy</b> button and confirm the new status.</small>
                                </p>`
                    },
                    {
                      'anchor':'edit-metadata',
                      'question':'How do I edit registered metadata?',
                      'answer':`<p>
                                  Each metadata entry is generated via a guide, so to properly edit an already registered item you will need to load it back into it's guide.
                                </p>
                                <p>
                                  Choose the guide you previously used and choose <b>Import Metadata</b> from the guide menu and choose the item you want to edit. All available matching fields will be populated with your data. Note: If you change the <b>identifier</b> field it will result in creating a new registry item.
                                </p>
                                <p class="text-danger">
                                  Note: Making any changes to the data will revert its privacy status to PUBLIC but you can change the setting once your are done in your dashboard.
                                </p>
                                <p class="alert alert-info text-center">
                                  <img class="m-2 w-75" src="/static/img/editmeta.png" alt="dashboard"/><br />
                                  <small>Click on the <b>Load Existing Data</b> edit existing data.</small>
                                </p>`
                    },
                  ]
                }
              ]
          }
        },
        methods:{
          copyClipboard(link){
            navigator.clipboard.writeText(link).then(function() {
              Swal.fire({type:'success',
                toast:true,
                title: 'Link Copied',
                showConfirmButton:false,
                timer:1000})
            }, function(err) {
              console.error('Async: Could not copy text: ', err);
            });
          }
        }
    });
</script>
{% endraw %}
{% include "footer.html" %}
{% endblock %}
