{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
    .flowchart{
        min-height: 90vh;
    }
    .resTable{
        max-height: 80vh;
        overflow: scroll;
    }
    .filterBox{
        max-height: 300px;
        overflow-y: scroll;
    }
    #flow_chart{
        width: 100%;
        height: 500px;
    }
</style>
<div id="flowchart" class="flowchart d-flex justify-content-center align-items-center">
    <div v-if=loading class="loader">
        <img src="/static/img/ripple.svg"/>
    </div>
    <div class="row m-0 w-100 mt-5">
        <div class="mt-3 col-sm-12">
            <flowchart class="col-sm-12 col-md-8 m-auto border"></flowchart>
        </div>
        <div class="col-sm-12">
            <form class="row m-0">
                <div class="col-sm-12 bg-dark p-3 mt-5 text-light">
                    <h3 class="text-center">Check data portal compatibility with schema.org structured metadata</h3>
                    <input type="text" class="form-control w-50 m-auto" placeholder="Search by name" v-model="query">
                    <div>
                        <p class="text-center text-muted">
                            <small>Eg. <i class="pointer" @click="query='zenodo'">Zenodo</i></small>
                        </p>
                    </div>
                </div>

                <div class="col-sm-12 p-0">
                    <div class="row m-0">
                        <div class="col-sm-12 col-md-3 row m-0 alert-dark pt-3">
                            <div class="form-group col-sm-12">
                                <label for="recc">Categories (<b v-text="categories.length"></b>)</label>
                                <div class="filterBox alert-secondary">
                                    <template v-for="cat in categories">
                                        <div @click="activateCategory(cat)" class="pointer badge d-block w-100 mb-1 text-left" :class="[cat.active? 'alert-success jello':'bg-light']">
                                            <span v-text="cat.name"></span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="recc">Recommended By (<b v-text="recommended.length"></b>)</label>
                                <div class="filterBox alert-secondary">
                                    <template v-for="(item,i) in recommended">
                                        <div @click="activateRecommended(item)" class="pointer badge d-block w-100 mb-1 text-left" :class="[item.active? 'alert-info jello':'bg-light']">
                                            <span v-text="item.name"></span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-check p-2">
                                    <input class="slider mr-2" type="checkbox" name='login' id="login" v-model="with_login">
                                    <label class="form-check-label" for="login">
                                        Requires Login
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-check p-2">
                                    <input class="slider mr-2" type="checkbox" name='schema_compliant' id="schema_compliant" v-model="schema_compliant">
                                    <label class="form-check-label" for="schema_compliant">
                                        Schema.org Compliant
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="col-sm-12">
                                <small class="text-danger">(<b v-text="results.length"></b> results)</small>
                                <div class="resTable context">
                                    <ul class="list-group">
                                        <template v-for="r in results">
                                            <result :r="r"></result>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="/static/js/lodash.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.1/cytoscape.min.js"
  integrity="sha256-oYPiLQ2sL4jlYuCJE3rDZFD0OUy8t1fL6U0wIWyqUf8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script>
const store = new Vuex.Store({
  state: {
    data: [],
    data_reset: [],
    query:'',
    filters:{
        'requiresLogin': false,
        'schema_compliant': false,
        'categories':[],
        'recommended': []
    }
  },
  strict: true,
  mutations: {
    saveData(state,payload){
      data = payload['data']

      let cat_f = new Set()
      let rec_f = new Set()

      data.forEach(d =>{
        let categories = new Array()
        d.category.forEach(c =>{
            if(c !== null){
                cat_f.add(c)
                categories.push(c)
            }
        });
        d.category = categories;
      });

      [...cat_f].forEach(o=>state.filters.categories.push({name: o, active: false}))

      data.forEach(d =>{
        let recommended = new Array()
        d.recommender.forEach(r =>{
            if(r !== null){
                rec_f.add(r)
                recommended.push(r)
            }
        });
        d.recommender = recommended;
      });

      [...rec_f].forEach(o=>state.filters.recommended.push({name: o, active: false}))

      state.data = data
      state.data_reset = data

    //   console.log('data', state.data)
    },
    saveQuery(state,payload){
      state.query = payload['q']
    },
    updateResults(state) {
        let res = []
        //check for filters
        cats = new Set()
        state.filters.categories.forEach(c =>{
            if(c.active){
                cats.add(c.name)
            }
        });
        category_filters = [...cats]

        rec = new Set()
        state.filters.recommended.forEach(c =>{
            if(c.active){
                rec.add(c.name)
            }
        });
        rec_filters = [...rec]

        state.data = state.data_reset

        if(state.query){
            for(i=0; i < state.data.length; i++){
            let item = state.data[i];
            let add = false;
            //query match
            if(item['name'].toLowerCase().includes(state.query.toLowerCase()) ){
                add = true
            }else{
                add = false
            }
            
            if(add){
                res.push(item)
            }
        }
        }else{
            res = state.data
        }


        let filtered_res = []

        for(i=0; i < res.length; i++){
            let item = res[i];
            let add = true;
            //apply filters
            if(category_filters.length){
                add = category_filters.every(elem => item.category.includes(elem));
            }

            if(rec_filters.length){
                add = rec_filters.every(elem => item.recommender.includes(elem));
            }

            if(add){
                add = state.filters['requiresLogin'] ? item.requiresLogin === true ? true : false : true
            }

            if(add){
                add = state.filters['schema_compliant'] ? item.schemaorgCompliant === true ? true : false : true
            }
            
            if(add){
                filtered_res.push(item)
            }
        }

        state.data = filtered_res
    },
    resetData(state){
        state.data = state.data_reset
    },
    toggleLoginFilter(state){
        state.filters['requiresLogin'] = !state.filters['requiresLogin']
    },
    toggleCompliant(state){
        state.filters['schema_compliant'] = !state.filters['schema_compliant']
    },
    activateCategory(state, payload){
        let cat_name = payload['category']['name']
        state.filters.categories.forEach(c =>{
            if(cat_name == c.name){
                c.active = !c.active
            }
        });
    },
    activateRecommended(state, payload){
        let rec_name = payload['recommended']['name']
        state.filters.recommended.forEach(c =>{
            if(rec_name == c.name){
                c.active = !c.active
            }
        });
    }
  },
  getters:{
    getData:state=>{
        return state.data
    },
    getQuery:state=>{
        return state.query
    },
    getCategories: state=>{
        return state.filters.categories
    },
    getRecommended: state=>{
        return state.filters.recommended
    },
    getFilters: state=>{
        return state.filters
    }
  },
  actions:{
    
  }
});

Vue.component('flowchart', {
    data: function(){
      return{
        cyto_data:[],
        cy: null
      }
    },
    methods:{
      drawGraph() {
        var self = this;

        var cy = window.cy = cytoscape({
          container: document.getElementById('flow_chart'),
          boxSelectionEnabled: false,
          autounselectify: true,
          layout: {
            name: 'dagre',
            padding: 5
          },
          style: [
            {
              selector: 'node',
              style: {
                'label': 'data(name)',
                'shape': 'data(type)',
                'text-valign': 'center',
                'text-halign': 'center',
                'height': '100px',
                'padding': 10,
                "text-wrap": "wrap",
                "text-max-width": function(ele){
                    return ele.data.hasOwnProperty('mw') ? ele.data['mw'] : 200 
                },
                'background-image': 'data(image)',
                'background-image-opacity': 1,
                'background-width': '100%',
                'background-height': 'data(nsize)',
                'border-width': 0,
                'width': '100px',
                'border-color': 'white',
                'height': 'data(nsize)',
                'width': 'data(nsize)',
                'background-color': 'data(color)',
                'font-size': 'data(size)',
                'border-color': 'black',
                'border-opacity': '1',
                "text-background-opacity": .5,
                "text-background-color": "white"
              }
            },
            {
              selector: 'edge',
              style: {
                'label': 'data(name)',
                'line-color': 'data(color)',
                'width': 7,
                'opacity': 0.7,
                'target-arrow-shape': 'triangle',
                'target-arrow-color': 'data(color)',
                'curve-style': 'bezier'
              }
            },
          ],
          elements: self.cyto_data
        });

        cy.zoomingEnabled( false );

      },
      makeGraph(){
        var self = this;

        let blue = "#057BFE"
        let green = "#28A745"
        let yellow = "#FFC007"
        let red = "#F54E5B"
        let gray = "#D5D8D9"

        let data = [
            { 
                group: 'nodes',          
                data: {
                id: 0, name:"I have data...", type: "diamond", color: yellow, size: '1.5em', mw: 600, image: false, nsize: 60
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 1, name:"Does a relevant domain-specific repository exist?", type: "ellipse", color: gray, size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 3, name:"Is your data within scope of a generalist repository?", type: "ellipse", color: gray, size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 5, name:"Can I self host the dataset?", type: "ellipse", color: gray, size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 6, name:"Does this repository expose schema.org compliant metadata?", type: "ellipse", color: gray, size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 7, name:"Register your metadata on that repository", type: "ellipse", color: 'lightblue', size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 8, name:"Update on DDE", type: "ellipse", color: gray, size: '1em', image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 9, name:"Contact NIH PO", type: "ellipse", color: 'lightblue', size: '1em',
                image: false, nsize: 40
                }
            },
            { 
                group: 'nodes',          
                data: {
                id: 10, name:"Register on Data Discovery Engine", type: "ellipse", color: 'white', size: '1em',
                image: '/static/img/dde-logo-o.png', nsize: 100
                }
            },
            {
                group: 'edges',
                data: {
                    source: 0,
                    target: 1,
                    name: '',
                    color: gray
                }
            },
            {
                group: 'edges',
                data: {
                    source: 1,
                    target: 3,
                    name: 'NO',
                    color: red
                }
            },
            {
                group: 'edges',
                data: {
                    source: 1,
                    target: 6,
                    name: 'YES',
                    color: green
                }
            },
            {
                group: 'edges',
                data: {
                    source: 3,
                    target: 5,
                    name: 'NO',
                    color: red
                }
            },
            {
                group: 'edges',
                data: {
                    source: 3,
                    target: 6,
                    name: 'YES',
                    color: green
                }
            },
            {
                group: 'edges',
                data: {
                    source: 5,
                    target: 10,
                    name: 'YES',
                    color: green
                }
            },
            {
                group: 'edges',
                data: {
                    source: 5,
                    target: 9,
                    name: 'NO',
                    color: red
                }
            },
            {
                group: 'edges',
                data: {
                    source: 6,
                    target: 7,
                    name: 'YES',
                    color: green
                }
            },
            {
                group: 'edges',
                data: {
                    source: 6,
                    target: 10,
                    name: 'NO',
                    color: red
                }
            },
            {
                group: 'edges',
                data: {
                    source: 7,
                    target: 8,
                    name: 'Optional',
                    color: gray
                }
            },
        ]


        self.cyto_data = data

        self.drawGraph();
      }
    },
    mounted: function(){
      var self = this;
      self.makeGraph()
    },
    template:`<div id="flow_chart" class="bg-light rounded"></div>`
  });

Vue.component('result', {
    data: function(){
      return{
        expand: false,
      }
    },
    props: ['r'],
    mounted: function(){
        // this.expand = this.r['schemaorgCompliant'] ? false : true;
    },
    template:
    `<li class="list-group-item row m-0 d-flex justify-content-center align-items-stretch p-0">
        <div class="col-sm-3 d-flex justify-content-center align-items-center text-light" :class="[r.schemaorgCompliant ? 'bg-success' : 'bg-danger']">
            <div class="text-center">
                <h6 v-text="r.schemaorgCompliant?'Schema.org compliant':'Not Schema.org compliant'"></h6>
                <i class="far fa-2x" :class="[r.schemaorgCompliant ? 'fa-check-circle' : 'fa-times-circle']"></i> 
                <a class="d-block pointer alert alert-light mt-1 p-1" @click="expand=!expand" href="#">
                    <small>What does this mean?</small>
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h5>
                <span v-text="r.name"></span>
            </h5>
            <small class="d-block"><a class="mr-2" :href="r.url" target="_blank">Learn more</a></small>
            <small v-if="r.NIHFunded">Funding: <b class="text-info" v-text="r.NIHFunded"></b></small>
            <div>
                <small v-if="r.recommender && r.recommender.length">Recommended by: </small>
                <small class="text-muted mr-1" v-for="(item,i) in r.recommender" v-if="item !== null" v-text="i !== r.recommender.length-1 ? item+', ': item""></small>
            </div>
            <div>
                <a class="mr-2 tip" :data-tippy-info="'Last tested: '+r.dateTested" :href="r.test" target="_blank"><i class="fas fa-vial"></i> test</a>
            </div>
            <div>
                <small class="text-muted mr-1" v-for="c in r.category" v-if="c !== null" v-text="'#'+c"></small>
            </div>
            <small class="float-right">Access <i class="fas" :class="[!r.requiresLogin ? 'fa-lock-open text-success' : 'fa-lock text-warning']"></i></small>
        </div>
        <div v-if="expand" class="col-sm-12 alert m-0 rounded-0" :class="[r.schemaorgCompliant ? 'alert-success' : 'alert-danger']">
            <template v-if="r.schemaorgCompliant">
                <p class="m-1 text-success">
                    <b v-text="r.name"></b> is <a target="_blank" href="https://schema.org/" rel="nonreferrer">schema.org</a> compliant!
                </p>
                <div class="text-center">
                    <img class="w-50 m-auto" alt="compliant" src="/static/img/compliant.png">
                </div>
                <p class="m-1">
                    Your dataset is findable on:
                    <ul>
                        <li>
                            <a :href="'https://datasetsearch.research.google.com/search?query='+r.testUrl" target="_blank">Google Dataset Search</a>
                        </li>
                        <li>
                            <a href="https://figshare.com/" target="_blank">Figshare</a> (via <a href="https://discovery.biothings.io/niaid/" target="_blank">NIAID Data Portal</a>)
                        </li>
                        <li>
                            <a href="https://discovery.biothings.io/niaid/" target="_blank">NIAID Data Portal</a>
                        </li>
                        <li>
                            and more!
                        </li>
                    </ul>
                </p>
                <h3>That's great! ...but what does that mean?</h3>
                <p class="m-1">
                    Being <a target="_blank" href="https://schema.org/" rel="nonreferrer">schema.org</a> compliant means that computers can read and understand your content. 
                    This content is findable by search engines, it is interoperable meaning similar efforts can integrate and process your contributions, and it's based on a
                    established reusable standard so you are helping maintain and promote <a target="_blank" href="https://www.go-fair.org/fair-principles/">FAIR</a> data sharing best-practices.
                </p>
            </template>
            <template v-else>
                <p class="m-1 text-danger">
                    <b v-text="r.name"></b> is <b>NOT</b> <a target="_blank" href="https://schema.org/" rel="nonreferrer">schema.org</a> compliant.
                </p>
                <div class="text-center">
                    <img class="w-50 m-auto" alt="not compliant" src="/static/img/notcompliant.png">
                </div>
                <h3>OK...but so what?</h3>
                <p class="m-1">
                     Search engines have a limited understanding of what is being displayed on a web page. Even tho your metadata is displayed on a web page it does not mean it's reachable or understood by machines.
                </p>
                <p class="m-1">
                    By adding additional structured metadata search engines can understand your content and it's meaning and since its structure is based on a reusable standard it means that your metadata is interoperable
                    so similar efforts can take advantage of your findings. 
                </p>
                <h3>I need to make my dataset discoverable!</h3>
                <p class="m-1">
                    Data Discovery Engine provides a way to easily structure, host and submit metadata to various schema.org compliant repositories.
                </p>
                <p class="m-1">
                    <img width="150px" alt="go" src="/static/img/hand.png"> <a role="button" href="/best-practices" class="btn btn-warning">Register your dataset now</a>
                </p>
            </template>
        </div>
    </li>`
  });

var app_sch = new Vue({
    el: '#flowchart',
    data: function(){
        return {
            url: 'https://raw.githubusercontent.com/SuLab/dataset-repository-selector/main/dataset_repositories.json',
            loading: false,
        }
    },
    methods:{
        getData:function(){
            let self = this;
            self.loading = true;
            axios.get(self.url).then(res=>{
                store.commit('saveData', {'data': res.data})
                self.loading = false;
            }).catch(err=>{
                throw err;
                self.loading = false;
            });
        },
        activateCategory(cat){
            store.commit('activateCategory', {'category': cat})
            store.commit('updateResults')
        },
        activateRecommended(rec){
            store.commit('activateRecommended', {'recommended': rec})
            store.commit('updateResults')
        }
    },
    computed:{
        query:{
            get () {
                return store.state.query
            },
            set (v) {
                store.commit('saveQuery', {q: v})
            }
        },
        categories: function(){
            return store.getters.getCategories
        },
        recommended: function(){
            return store.getters.getRecommended
        },
        results:function(){
            return store.getters.getData
        },
        with_login:{
            get () {
                return store.state.filters['requiresLogin']
            },
            set (v) {
                store.commit('toggleLoginFilter')
                store.commit('updateResults')
            }
        },
        schema_compliant:{
            get () {
                return store.state.filters['schema_compliant']
            },
            set (v) {
                store.commit('toggleCompliant')
                store.commit('updateResults')
            }
        },
        filters: function(){
            return store.getters.getFilters
        }
    },
    watch:{
        query: function(q){
            q ? store.commit('updateResults') : store.commit('resetData')
        }
    },
    mounted:function(){
        this.getData();
        tippy( '#flowchart',{
          target:'.tip',
          content: 'Loading...',
          placement:'top',
          animation: 'fade',
          interactive: true,
          theme:'light',
          onShow(instance) {
            let info = instance.reference.dataset.tippyInfo;
            instance.setContent("<div class='text-info text-left m-0 p-1'>"+info+"</div>")
          }
        });
    }
});
</script>
{% include "footer.html" %}
{% endblock %}
