<!--Footer-->
<style>
.footer{
  position: static;
  bottom: 0;
}
</style>
<footer class="section bg-secondary text-light footer">
  <div class="container padding20">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">CD2H Data Discovery Engine</h5>
        <a class="d-block text-light" href="/">Home</a>
        <a class="d-block text-light" href="/guide">-Best Practices</a>
        <a class="d-block text-light" href="/schema-playground">-Schema Playground</a>
        <a class="d-block text-light" href="/schema-playground#registry">-Registry</a>
      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">Contact US</h5>
        <a class="d-block text-light" target="_blank" href="mailto:cd2h-metadata@googlegroups.com">Email</a>

      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">Contribute</h5>
        <a class="d-block text-light" target="_blank" href="https://github.com/data2health/rdp-portal"><i class="fab fa-github"></i> GitHub</a>

      </div>
    </div>
    <p class="rights text-light text-center" style="margin:0px;">
      <small>
        <span>©  </span><span class="copyright-year"><span id="year"></span></span><span> </span><span>All Rights Reserved.</span>
      </small>
    </p>
  </div>
</footer>
<script>
var currentTime = new Date()
var year = currentTime.getFullYear()
var myelement = document.getElementById("year");
    myelement.innerHTML= year;
</script>
