<!--Footer-->
<style>
</style>
<footer class="section bg-dark text-light footer">
  <div class="container padding20">
    <div class="d-flex justify-content-around flex-wrap align-items-start">
      <div class="p-2">
        <h6 class="text-light">{{site_name}}</h6>
        <a class="d-block text-light" href="/">Home</a>
        <a class="d-block text-light" href="/about">About</a>
        <a class="d-block text-light" href="/faq">FAQ</a>
        <a class="d-block text-light" href="/best-practices">Discovery Guide</a>
        <a class="d-block text-light" href="/schema-playground">Schema Playground</a>
      </div>
      <div class="p-2">
        <h6 class="text-light">Contact US</h6>
        <a class="d-block text-light" target="_blank" href="mailto:{{contact_email}}"><i class="fas fa-envelope"></i> Email</a>

      </div>
      <div class="p-2">
        <h6 class="text-light">Contribute</h6>
        <a class="d-block text-light" target="_blank" href="{{contact_repo}}"><i class="fab fa-github"></i> GitHub</a>

      </div>
    </div>
    <p class="rights text-light text-center" style="margin:0px;">
      <small>
        <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <span id="year"></span> Except where otherwise noted, content on this site is licensed under a <a class="text-light" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International license</a>.
      </small>
    </p>
  </div>
</footer>
<script>
var currentTime = new Date()
var year = currentTime.getFullYear()
var myelement = document.getElementById("year");
    myelement.innerHTML= year;
</script>
