{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="playground" class="container" style="min-height: 100vh;padding-top:60px;">
  <div class="bg-light text-center mt-5 p-5">
    <h1 class="logoText">DATASET DISCOVERY BEST PRACTICES</h1>
    <p class="text-muted">
      Make Your Data Discoverable
    </p>
    <a href="/dataset" class="">See All Metadata Available<i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="message text-center mb-5 ">
    <h1 class="m-3 logoText">Discovery Guide</h1>
    <div class="alert alert-light m-5 p-3">
      <p class="text-muted">
        This guide aims to boost the discovery of your data by guiding you through a simple process
        and providing you with the tools to make your data more <a data-tippy="Learn More About FAIR Principles" data-tippy-theme="light" class="mainTextLight bold" target="_blank" href="https://www.go-fair.org/fair-principles/">FAIR</a>.
      </p>
      <img class="w-75 m-5" src="/static/img/fair.png" alt="FAIR"/>
      <br />
      <p class="text-muted">
        To make data <b>reusable</b> first we need to make that data <b>findable</b> and <b>accessible</b>. Not only by humans but also by computers and search engines.
      </p>
      <p class="text-muted">
        Each search engine or <a href="/schema-playground">schemas</a> have their own required set of fields. Fulfilling those requirements will make your data more <b>findable</b>.
      </p>
      <p class="text-muted">
        Use our <a target="_blank" href="/faq#how-to-use-guide">guide</a> to optimise the findability of your dataset in a fast and easy way!
      </p>
    </div>
    <div class="jumbotron grad text-light text-center mb-5 mt-5">
      <img class="w-50" src="/static/img/discoverable-01.png" style="border-radius:20px;" alt="join us"/>
      <h1 class="m-3">Make Your Dataset Discoverable</h1>
      <a class="btn themeButton text-light" role="button" href="/guide">Start Here</a>
    </div>
  </div>

</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>


var app = new Vue({
      el: '#playground',
			data: function(){
				return {

				}
			},
      watch:{

      },
			methods:{

			},
			mounted:function(){
			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
