{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="guideintro" class="container-fluid" style="min-height: 100vh;padding-top:60px;">
  <div class="bg-light text-center mt-1 p-5">
    <h1 class="logoText">DATASET DISCOVERY BEST PRACTICES</h1>
    <p class="text-muted">
      Make Your Data Discoverable
    </p>
    <a href="/dataset">See Dataset Metadata Examples <i class="fas fa-chevron-right"></i></a>
    <br />
    <a href="/guides">Choose Guide <i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="text-center mb-5">
    <div class="row m-0">
      <div class="col-sm-12 col-md-4 align-items-stretch d-flex p-0">
        <div class="row m-0">
          <div class="col-sm-12 d-flex justify-content-center align-items-center alert-secondary  text-center py-4">
            <div>
              <span class="fa-stack fa-1x m-2">
                <i class="fas fa-circle fa-stack-2x mainTextLight"></i>
                <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
              </span>
              <h6 class="text-muted caps">
                Produce <a data-tippy="Learn More About FAIR Principles" data-tippy-theme="light" class="bold" target="_blank" href="https://www.go-fair.org/fair-principles/">FAIR</a> data<br /> right from the start.
              </h6>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-center align-items-center alert-secondary  text-center py-4">
            <div>
              <span class="fa-stack fa-1x m-2">
                <i class="fas fa-circle fa-stack-2x mainTextLight"></i>
                <i class="fas fa-list-ol fa-stack-1x fa-inverse"></i>
              </span>
              <h6 class="text-muted caps">
                Fast and easy to use <br />Step-by-step guide.
              </h6>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-center align-items-center alert-secondary text-center py-4">
            <div>
              <span class="fa-stack fa-1x m-2">
                <i class="fas fa-circle fa-stack-2x mainTextLight"></i>
                <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
              </span>
              <h6 class="text-muted caps">
                Customize discoverability<br /> by Data Portals.
              </h6>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-center align-items-center alert-secondary text-center py-4">
            <div>
              <span class="fa-stack fa-1x m-2">
                <i class="fas fa-circle fa-stack-2x mainTextLight"></i>
                <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
              </span>
              <h6 class="text-muted caps">
                Generate findable metadata<br /> by computers and humans.
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron rounded-0 col-sm-12 col-md-8 m-0 d-flex justify-content-center align-items-center discoveryIntroBack" style="background-color:#0b5570;">
        <div>
          <img src="/static/img/discoverable-01.png" alt="DISCOVERY" width="200"/>
          <h1 class="text-light">DISCOVERY GUIDE</h1>
          <h6 class="text-light text-center">Choose a guide</h6>
          <a role="button" class="btn btn-lg themeButton text-light m-2 px-3 py-3" href="/guides" rel="noreferrer">START HERE</a>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>


var app = new Vue({
      el: '#guideintro',
			data: function(){
				return {

				}
			},
      watch:{

      },
			methods:{

			},
			mounted:function(){
			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
