{% block content %}
<style>
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}
</style>
<header id="header">
  <title>{{site_name}}</title>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
      {% if site_name == "NIAID Data Portal" %}
        <img src="/static/img/niaid/icon.svg" width="50" height="50" alt="NIAID Data Portal">
      {% else%}
        <img src="/static/img/dde-logo-o.svg" width="30" height="30" alt="DDE" class="d-none d-md-inline">
        <i class="fas fa-home d-inline d-md-none mainTextDark"></i>
      {% endif %}
    </a>
    <a id="logo" class="navbar-brand caps logoText d-none d-md-inline logoFont" href="/">{{site_name}}</a>
    <button class="navbar-toggler alert-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav" id="user_link">
        <li class="nav-item d-inline d-md-none"><a class="nav-link h-link mainTextLight" href="/best-practices">Discovery Guide</a></li>
        <li class="nav-item dropdown d-none d-md-inline headTip" data-tippy-content="Create Discoverable Structure Metadata">
          <a class="nav-link dropdown-toggle mainTextLight" href="/best-practices" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Discovery Guide
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item mainTextLight" href="/best-practices">Get Started</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Quick Links:</a>
            <a class="dropdown-item" href="/guide"><img src="/static/img/dde-logo-o.svg" width="20" height="20" alt="CTSA" title="CTSA Portal"> Discovery Dataset Guide <i class="fas fa-chevron-right mainTextLight"></i></a>
            <a class="dropdown-item" href="/guide/outbreak/dataset"><img src="/static/img/outbreak.png" width="20" height="20" alt="Outbreak.info" title="Outbreak.info"> Outbreak.info Dataset Guide <i class="fas fa-chevron-right mainTextLight"></i></a>
            <a class="dropdown-item" href="/guide/niaid"><img src="/static/img/niaid/icon.svg" width="20" height="20" alt="NIAID" title="NIAID Data Portal"> NIAID Dataset Guide <i class="fas fa-chevron-right mainTextLight"></i></a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link h-link mainTextDark headTip" href="/schema-playground" data-tippy-content="Create and Visualize a Schema">Schema Playground</a></li>
        <li class="nav-item dropdown d-none d-md-inline headTip" data-tippy-content="Search Metadata/Schemas">
          <a class="nav-link dropdown-toggle" href="/registries" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Registry
          </a>
          <div class="dropdown-menu p-1" aria-labelledby="navbarDropdown" style="max-width:none;">
            <div class="d-flex flex-wrap">
              <div class="d-flex flex-column align-items-start">
                <p class="text-muted">
                  <small>Search registered dataset metadata</small>
                </p>
                <a class="mainTextLight text-left" href="/dataset">Dataset Registry <i class="fas fa-chevron-right"></i></a>
              </div>
              <hr />
              <div class="d-flex flex-column align-items-start">
                <p class="text-muted">
                  <small>Search registered schemas</small>
                </p>
                <a class="mainTextDark text-left" href="/registry">Schema Registry <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </li>
        <template v-if="userInfo && !userInfo.login">
          <li class='nav-item'><a class='nav-link' :href='"/login?next="+window.location.pathname'>Login</a></li>
        </template>
        <template v-if="userInfo && userInfo.login">
          <li class='nav-item'>
            <a class='nav-link pulse' id='navPhotoLink' href='/dashboard/'>
              <small v-text='userInfo.login'></small>
              <img v-if="!userInfo.avatar_url" id='navPhoto' class='userImage' src='/static/img/default.png' alt='user photo'>
              <img v-else id='navPhoto' class='userImage' :src='userInfo.avatar_url' alt='user photo'>
            </a>
          </li>
          <li class='nav-item'><a class='nav-link' :href='"/logout?next="+window.location.pathname'>Logout</a></li>
        </template>
      </ul>
    </div>
  </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#header',
			data: function(){
				return {
          userInfo:{}
				}
			},
      methods:{
        checkUser(){
          let self = this;
          axios.get('/user').then(res=>{
            self.userInfo = res.data;
          }).catch(err=>{
            throw err;
          });
        },
    },
    mounted:function(){
      var self = this;
      self.checkUser();
      tippy( '.headTip', {
        placement:'left',
        theme:'light',
        sticky: true,
        animation: 'fade'});
    }
  })
</script>
{% endblock %}
