{% block content %}
<style></style>
<header id="header">
<title>CD2H Data Discovery Engine</title>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/static/img/dde-logo-o.svg" width="30" height="30" alt="">
  </a>
  <a id="logo" class="navbar-brand mainFont caps logoText" href="/"><b>CD2H</b> Data Discovery Engine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" id="user_link">
      <li class="nav-item"><a class="nav-link h-link" href="/guide">Discovery Guide</a></li>
      <li class="nav-item"><a class="nav-link h-link" href="/schema-playground">Schema Playground</a></li>
      <template v-if="userInfo && !userInfo.login">
        <li class='nav-item'><a class='nav-link' href='./oauth'>Login</a></li>
      </template>
      <template v-if="userInfo && userInfo.login">
        <li class='nav-item'>
          <a class='nav-link pulse' id='navPhotoLink' href='/dashboard/'>
            <span v-text='userInfo.login'></span>
            <img id='navPhoto' class='userImage' :src='userInfo.avatar_url' alt='user photo'>
          </a>
        </li>
        <li class='nav-item'><a class='nav-link' :href='"./logout?next="+window.location.pathname'>Logout</a></li>
      </template>
    </ul>
  </div>
  </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#header',
			data: function(){
				return {
          userInfo:{}
				}
			},
      methods:{
        checkUser(){
          let self = this;
          axios.get('/user').then(res=>{
            self.userInfo = res.data;
          }).catch(err=>{
            throw err;
          });
        },
    },
    mounted:function(){
      var self = this;
      self.checkUser();
    }
  })
</script>
{% endblock %}
