{% block content %}
<style></style>
<header id="header">
<title>CD2H Data Discovery Engine</title>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/static/img/dde-logo-o.svg" width="30" height="30" alt="">
  </a>
  <a id="logo" class="navbar-brand mainFont caps" href="/"><b>CD2H</b> Data Discovery Engine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" id="user_link">
      <li class="nav-item"><a class="nav-link h-link" href="/guide">Discovery Guide</a></li>
      <li class="nav-item"><a class="nav-link h-link" href="/schema-playground">Schema Playground</a></li>
      <!-- <li class="nav-item"><a class="nav-link h-link" href="/registry">Registry</a></li>
      <li class="nav-item"><a class="nav-link h-link" href="/editor">Editor</a></li> -->
    </ul>
  </div>
  </nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>
var app = new Vue({
      el: '#header',
			data: function(){
				return {

				}
			},
      methods:{
        scrollFunction() {
          if ($(window).scrollTop() >= 20) {
            $(".navbar").addClass("compressed");
            $(".h-link").removeClass("text-light");
            $(".h-link").addClass("text-muted");
            $("#logo").addClass("logoText");
            $("#logo").removeClass("text-light");
            $("#navPhotoLink").addClass("text-light");
            $("#navPhotoLink").removeClass("text-muted");
          } else {
            $(".navbar").removeClass("compressed");
            $(".h-link").removeClass("text-muted");
            $(".h-link").addClass("text-light");
            $("#logo").addClass("text-light");
            $("#logo").removeClass("logoText");
          }
        }
    },
    mounted:function(){
      var self = this;
      window.onscroll = function() {self.scrollFunction()};
    }
  })
</script>
{% endblock %}
