<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta name="HandheldFriendly" content="True" />
		<meta property="og:locale" content="en_US" />
		<!-- METADATA -->
    <meta property="og:url" content="{{metadata_url}}">
    <meta property="og:site_name" content="{{metadata_url}}">
    <meta property="og:title" content="{{site_name}}" />
    <meta name="description" content="{{metadata_desc}}" />
    <meta property="og:image" content="{{metadata_featured_image}}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{metadata_desc}}">
    <meta property="fb:app_id" content="" />
    <meta name="twitter:title" content="{{site_name}}" />
    <meta name="twitter:image" content="{{metadata_featured_image}}" />
    <meta name="twitter:url" content="{{metadata_url}}" />
    <meta name="twitter:card" content="summary" />
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/{{static_image_folder}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/{{static_image_folder}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/{{static_image_folder}}/favicon-16x16.png">
    <link rel="manifest" href="/static/img/{{static_image_folder}}/site.webmanifest">
    <link rel="mask-icon" href="/static/img/{{static_image_folder}}/safari-pinned-tab.svg" color="#8824a3">
    <link rel="shortcut icon" href="/static/img/{{static_image_folder}}/favicon.ico">
    <meta name="msapplication-TileColor" content="{{metadata_main_color}}">
    <meta name="msapplication-config" content="/static/img/{{static_image_folder}}/browserconfig.xml">
    <meta name="theme-color" content="{{metadata_main_color}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link type="text/css" rel="stylesheet" href="/static/css/styles.css"/> -->
    {% if site_name == "CTSA Data Discovery Engine" %}
      <link type="text/css" rel="stylesheet" href="/static/css/styles.css"/>
    {% endif %}
    {% if site_name == "NIAID Data Portal" %}
      <link type="text/css" rel="stylesheet" href="/static/css/niaid/styles.css"/>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="bg-light">
      {% block content %}
      {% endblock %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      {% block extra_scripts %}
      {% endblock %}
  </body>
  <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
  <script>
  var app = new Vue({
      el: '#bodymain',
      mounted:function(){
        tippy( '#ontology', {
            target:'.checkinfo',
            content: 'Loading...',
            maxWidth:'200px',
            placement:'left',
            animation: 'fade',
            theme:'light',
            onShow(instance) {
              let info = instance.reference.dataset.tippyInfo;
              instance.setContent("<div class='text-muted m-0'>"+info+"</div>")
            }
          });
      }
    })
  </script>
</html>
