{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="registry" class="jumbotron mb-0" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div v-if="metadata && metadata.name" class="container">
    <div class="text-left" style="margin:auto;">
      <div class="grad text-light">
        <div class="lines p-5">
          <h1 class="text-center mt-5">
            <span v-text="metadata.name"></span>
          </h1>
          <small v-if="metadata && metadata.version"  class="text-muted d-block text-center" v-text="'Version '+metadata.version"></small>
          <small v-if="metadata && metadata.dateModified"  class="text-muted d-block text-center" v-text="'Date Modified '+metadata.dateModified"></small>
        </div>
      </div>
      <div class="grad p-1">
        <div class="bg-light p-4 text-center">
          <div v-if="metadata && metadata._meta.username" class="text-muted text-center m-0">
            <small>Registerd by <i class="fas fa-user"></i> <a :href="'/contributor/'+metadata._meta.username" v-text="metadata._meta.username"></a></small>
          </div>
          <div v-if="schemaLink" class="text-muted text-center m-0">
            <small>Learn more about the schema used for this metadata <a :href="schemaLink">here</a>.</small>
          </div>
          <div class="p-3 text-left">
            <p class="text-dark m-auto" v-html="metadata.description"></p>
          </div>
          <template v-for="(content,name) in viewMetadata" :key="name">
            <field-box :name="name" :content="content" isChild="false"></field-box>
          </template>
          <div class="d-flex flex-wrap mt-5 justify-content-center">
            <template v-for="item in metadata.keywords">
              <small class="text-muted m-1" ><i class="fas fa-tag"></i> <span v-text='item'></span></small>
            </template>
          </div>
          <hr />
          <a v-if="metadata.url" target="_blank" :href="metadata.url">Learn More</a>
        </div>
      </div>
      <div class="alert alert-secondary text-muted mt-5 ">
        <h5>Embed this structured dataset metadata on your website</h5>
        <h6>Embedding options:</h6>
        <div class="row">
          <div class="col-sm-12 col-md-6 p-3">
            <h6>Dynamic Embedding</h6>
            <p>
              <small>Leave it up to us! Just copy the following code and paste it anywhere before the closing <code>&lt;/body&gt;</code> tag on your website's code.</small>
            </p>
            <p class="text-info">
              <small>Changes to metadata will be applied automatically.</small>
            </p>
            <small class="d-block text-muted">
              <b>CLICK TO COPY</b>
            </small>
            <input id="myInput" @click="copyScript('myInput')" data-tippy="Learn More About FAIR Principles" data-tippy-theme="light" class="form-control p-2 w-75 m-auto pointer" v-model='scripttext' type="text"/>
          </div>
          <div class="col-sm-12 col-md-6 p-3">
            <h6>Hard Coded</h6>
            <p>
              <small>In your website's code anywhere before the closing <code>&lt;/body&gt;</code> tag, paste the code below.</small>
            </p>
            <p class="text-info">
              <small>Changes to metadata need to be updated manually.</small>
            </p>
            </p>
            <small class="d-block text-muted">
              <b>COPY THIS CODE:</b>
            </small>
            <button class="btn-secondary text-light btn m-auto" @click="getPreview()">View Code</button>
            <br />
            <small><a class="pointer" @click="download()">Download Code</a></small>
          </div>
        </div>
      </div>
    </div>
    <div v-if="metadata && !metadata.name" class="jumbotron text-center text-muted">
      <h2>Nothing to see here...</h2>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
  const store = new Vuex.Store({
    state: {
      'metadata':{},
      'viewMetadata':{}
    },
    strict: true,
    mutations: {
      saveMetadata (state,payload) {
        state.metadata = payload['metadata']
        // console.log(state.metadata)
        const ignore = ['_id','@type','@context','name','description','keywords']
        Object.keys(state.metadata)
        .forEach(function(v, i) {
            if(!ignore.includes(v)){
              Vue.set(state.viewMetadata,v,state.metadata[v])
            }
         });
        // console.log(state.viewMetadata);
      },
    },
    getters:{
      // exposed as store.getters.nameOfGetter
      getMetadata: state => {
        return state.metadata
      },
      getViewMetadata: state => {
        return state.viewMetadata
      },
    }
  });

  Vue.component('field-box', {
    data: function(){
      return{
        type: '',
        expandArray:false,
        perPage: 10,
        page: 1,
        pages: 1,
        startCap:0,
        endCap:20,
        groupPages: false,
        pageLimit: 20,
        startCapLimitReached: true,
        endCapLimitReached: false,
      }
    },
    props: ['name','content','isChild'],
    methods:{
      getType(content){
        var self = this;
        if (_.isPlainObject(content)) {
          self.type = 'object'
        }
        else if (_.isArray(content)) {
          self.type = 'array'
        }
        else if (_.isBoolean(content)) {
          self.type = 'boolean'
        }
        else if (_.isNumber(content)) {
          self.type = 'number'
        }
        else if (_.isString(content)) {
          self.type = 'string'
        }else {
          self.type = 'IDK'
        }
      },
      isUrl(txt){
        var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
          '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
          '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
          '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
          '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
          '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
        return pattern.test(txt);
      },
      calculatePages: function () {
        var self= this;
        self.pages = Math.ceil(self.content.length / self.perPage);

        if (self.pages > self.pageLimit) {
          self.groupPages =  true;
        }
      },
      previousGroup: function(){
        var self = this;

        if (!self.startCapLimitReached) {
          if (self.startCap-20 > 0) {
            self.page = self.startCap-20
            self.startCap = self.startCap-20
            self.endCap = self.endCap-20
            self.endCapLimitReached = false;
          }else {
            self.page = 1
            self.startCap = 0
            self.endCap = 20
            self.startCapLimitReached = true;
            self.endCapLimitReached = false;
          }
        }
      },
      nextGroup: function(){
        var self = this;

        if (!self.endCapLimitReached) {
          if (self.endCap+20 < self.pages) {
            self.page = self.startCap+20
            self.startCap = self.startCap+20
            self.endCap = self.endCap+20
            self.startCapLimitReached = false;
          }else {
            self.page = self.startCap+20
            self.startCap = self.startCap+20
            self.endCap = self.pages
            self.endCapLimitReached = true;
            self.startCapLimitReached = false;
          }
        }
      },
      prevPage: function () {
        var self= this;
        if (self.page > 1)
            self.page -= 1
      },
      nextPage: function () {
        var self= this;
        if (self.page < self.pages)
            self.page += 1
      },
    },
    mounted: function(){
      var self = this;
      self.getType(self.content)
      if (self.type == 'array') {
        self.calculatePages();
      }
    },
    computed: {
      arrayResults: function () {
          var start = (this.page - 1) * this.perPage,
              end = start + this.perPage;
          return this.content && this.content.slice(start, end);
      }
    },
    watch:{
    },
    template:
      `<div v-if="name !== '_meta'" class="m-0 rounded-0" :class="[isChild?'p-1 border-left':'p-1 border-bottom']">
      <!-- 🌈 Array 🌈 -->
      <template v-if="type == 'array'">
        <div class="row m-0">
          <div class="text-left">
            <small class="mainTextDark pointer" @click="expandArray=!expandArray">
              <span v-text="name"></span> (<span v-text="content.length"></span>) <i class="fas" :class="[expandArray?'fa-minus-square mainTextLight':'fa-plus-square']"></i>
            </small>
          </div>
          <div class="col-sm-12" v-if="expandArray">
            <div>
              <template v-if="content.length > perPage">
                <select class="form-control form-control-sm m-auto w-25" v-model="perPage" @change="calculatePages" id="perPage">
                    <option value="" disabled selected>Shown Per Page</option>
                    <option value="10">10 per page</option>
                    <option value="25">25 per page</option>
                    <option value="100">100 per page</option>
                </select>
                <div class="d-flex flex-wrap justify-content-center p-1 mt-2">
                  <div class="page-item rounded-0" :class="{ 'disabled': page <= 1 }">
                    <a class="page-link p-1" @click.prevent="prevPage()"><i class="fas fa-step-backward"></i></a>
                  </div>
                  <template v-if="groupPages">
                    <div class="page-item rounded-0" v-show="!startCapLimitReached">
                      <a href="#" class="page-link p-1" @click.prevent="previousGroup()">Previous 20</a>
                    </div>
                  </template>
                  <template v-for="n in pages">
                    <div v-if="n >= startCap && n <= endCap" class="page-item rounded-0" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }">
                      <a href="#" class="page-link p-1" @click.prevent="page = n" v-text="n"></a>
                    </div>
                  </template>
                  <template v-if="groupPages">
                    <div class="page-item rounded-0" v-show="!endCapLimitReached">
                      <a href="#" class="page-link p-1" @click.prevent="nextGroup()">Next 20</a>
                    </div>
                  </template>
                  <div class="page-item rounded-0" :class="{ 'disabled': page >= pages }">
                    <a class="page-link p-1" @click.prevent="nextPage()"><i class="fas fa-step-forward"></i></a>
                  </div>
                </div>
              </template>
            </div>
            <template v-for="item in arrayResults">
              <field-box class="m-1" name="" :content="item" isChild="true"></field-box>
            </template>
          </div>
        </div>
      </template>
        <!-- 🌈 String 🌈 -->
        <template v-if="type == 'string'">
          <div class="d-flex">
            <template v-if="isUrl(content)">
              <div class="text-left">
                <small class="mainTextDark">
                  <span v-text="name"></span> <i v-if="!name" class="fas fa-circle"></i> <span v-else>:</span>
                </small>
              </div>
              <div class="ml-1">
                <a :href="content" target="_blank" rel="nonreferrer">
                  <small><span v-text="content"></span> <i class="fas fa-external-link-alt"></i></small>
                </a>
              </div>
            </template>
            <template v-else> 
              <div class="d-flex">
                <small class="mainTextDark">
                  <span v-text="name?name+' :':''" class="mr-1"></span>
                </small>
              </div>
              <div class="d-flex">
                <a class="ml-1" v-if="isUrl(content)" v-text="content" :href="content" target="_blank" rel="nonreferrer"></a>
                <template v-else>
                  <small>
                    <i v-if="name == '@type' && content == 'Person' " class="fas fa-user text-muted"></i>
                    <i v-if="name == '@type' && content == 'Organization' " class="fas fa-building text-muted"></i>
                    <i v-if="name == '@type' && content == 'CreativeWork' " class="fas fa-lightbulb text-muted"></i>
                  </small> &nbsp;
                  <small class="text-muted text-left" v-html="content"></small>
                </template>
              </div>
            </template>
          </div>
        </template>
        <!-- 🌈 Object 🌈 -->
        <template v-if="type == 'object'">
          <div class="d-flex">
            <div class=" d-flex justify-content-start align-items-center">
              <small class="mainTextDark">
                <span v-text="name"></span> <i class="fas fa-chevron-circle-right mr-1"></i>
              </small>
            </div>
            <div>
              <template v-for="(value,key) in content">
                <field-box :name="key" :content="value" isChild="true"></field-box>
              </template>
            </div>
          </div>
        </template>
        <!-- 🌈 Boolean 🌈 -->
        <template v-if="type == 'boolean'">
          <div class="d-flex">
            <div class=" d-flex justify-content-start align-items-center">
              <small class="mainTextDark">
                <span v-text="name"></span> :&nbsp;
              </small>
            </div>
            <div>
              <small v-if="content === true"><i class="fas fa-check text-success"></i> <span v-text="content"></span></small>
              <small v-else><i class="fas fa-times text-danger"></i> <span v-text="content"></span></small>
            </div>
          </div>
        </template>
        <!-- 🌈 Number 🌈 -->
        <template v-if="type == 'number'">
          <div class="d-flex">
            <div class=" d-flex justify-content-start align-items-center">
              <small class="mainTextDark">
                <span v-text="name"></span> :&nbsp;
              </small>
            </div>
            <div>
              <small><span v-text="content"></span></small>
            </div>
          </div>
        </template>
      </div>`
  });

  var app = new Vue({
    el: '#registry',
  	data: function(){
  		return {
        query:'',
        loading:false,
        scripttext:'',
  	  }
    },
    methods:{
      generateScriptText(id){
        this.scripttext='<sc'+'ript src="'+window.location.origin+'/api/dataset/'+id+'.js"/></scr'+'ipt>'
      },
      copyScript(id){
        var copyText = document.getElementById(id);
        copyText.select();
        document.execCommand("Copy");
        Swal.fire({type:'success',
          toast:true,
          title: 'Copied',
          showConfirmButton:false,
          timer:1000})
      },
      getMetadata(id){
        var self = this;
        id = id.replace('/',"");
        self.generateScriptText(id);
        self.loading = true;
        axios.get('/api/dataset/'+id).then(res=>{
          self.loading = false;
          if (res.data) {
            let payload = {}
            payload['metadata']= res.data
            store.commit('saveMetadata',payload)
            self.createScript();
          }
        }).catch(err=>{
          self.loading = false;
          Swal.fire({
          icon: 'error',
          title: 'Page does not exist',
          html: "<a href='/dataset'>Go To Registry</a>",
          })
          throw err;
        });
      },
      createScript() {
        let scriptTag = document.createElement('script');
        var str = JSON.stringify(this.metadata, null, 2);
        scriptTag.setAttribute('type',"application/ld+json");
        scriptTag.text= str;
        document.body.appendChild(scriptTag);
        this.createCanonicalTag(this.metadata);
        if (this.metadata.name)
          document.title = 'CTSA DATA DISCOVERY ENGINE / '+this.metadata.name
        if (this.metadata.description)
          document.description = 'CTSA DATA DISCOVERY ENGINE / '+this.metadata.description
      },
      createCanonicalTag(meta){
        if (meta && meta.url) {
          let linkTag = document.createElement('link');
          linkTag.setAttribute('rel',"canonical");
          linkTag.setAttribute('href',meta.url);
          document.head.appendChild(linkTag);
        }
      },
      getPreview(){
        var self = this;
        let txt = '&lt;sc'+'ript type="application/ld+json" &gt;'+JSON.stringify(self.metadata,null,2)+'&lt;/scr'+'ipt&gt;'
        Swal.fire({
          position: 'center',
          confirmButtonColor:"{{color_main}}",
          cancelButtonColor:"{{color_sec}}",
          animation:false,
          customClass:'scale-in-center',
          html: `<h6 class="text-center mainTextDark">Copy this code</h6><div class="text-left previewBox">
                  <div>
                    <small>
<pre>
  `+txt+`
</pre>
                    </small>
                  </div>
                </div>`
        });
      },
      download() {
        var self = this;
        var a = document.createElement("a");
        var file = new Blob(['<sc'+'ript type="application/ld+json" >'+JSON.stringify(self.metadata,null,2)+'</scr'+'ipt>'], {type: 'text/plain'});
        a.href = URL.createObjectURL(file);
        a.download = 'meta-download';
        a.click();
      },
    },
    mounted:function(){
      var self = this;
      let context = {{Context}}
       if ( context.Query ) {
         self.query = context.Query;
         self.getMetadata(self.query)
       }
    },
    computed:{
      metadata:function(){
        return store.getters.getMetadata
      },
      viewMetadata:function(){
        return store.getters.getViewMetadata
      },
      schemaLink:function(){
        var self = this;
        if (self.metadata.hasOwnProperty('@type') && self.metadata['@type'].includes(':')) {
          let parts = self.metadata['@type'].split(':');
          return "/view/"+parts[0]+"/"+parts[1]
        }
        return false
      }
    }
  });
</script>
{% include "footer.html" %}
{% endblock %}
