{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
  .text-purple{
    color: #642d87;
  }
  .smallBadge{
    color: #fff !important;
    margin: 2px;
    padding: 3px 6px;
    border: 0;
    font-size: 9px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 3px;
    vertical-align: top;
    border: 1.5px solid #d3d3d3;
    white-space: nowrap!important;
    cursor: default;
    background-color: rgb(196, 27, 91);
  }
</style>
<div id="registry" class="jumbotron" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg" />
  </div>
  <div class="col-md-10 col-sm-12 m-auto p-0">
    <div class="">
      <h1 class="text-center logoText mb-1 mt-2">Dataset Registry</h1>
      <div>
        <form @submit.prevent="search(query)">
          <div class="row m-0 cBox actions bg-secondary">
            <div class="col-sm-10 p-2">
              <div class="">
                <input class="form-control col-12" id="search_query" type="text" v-model="query" name="query" placeholder="Search...">
              </div>
            </div>
            <div class="col-sm-2 p-2 bg-dark actions d-flex align-items-center justify-content-around">
              <span data-tippy="search" class="fa-stack fa-1x pointer unselectable tip" @click.prevent="search(query)">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-search fa-stack-1x text-light"></i>
              </span>
              <span data-tippy="reset" class="fa-stack fa-1x pointer unselectable" @click.prevent="window.location.href = window.location.pathname">
                <i class="fas fa-circle fa-stack-2x text-muted"></i>
                <i class="fas fa-undo fa-stack-1x text-light"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="alert-dark m-0 p-1">
        <template v-for="filter in all_filters['_meta.guide']" :key="filter.name">
          <span class="badge pointer m-1 fade-in" @click="toggleFilter(filter);" :class="[filter.active?'badge-info':'badge-secondary']">
            <img :src="filter.icon" width="20px" :alt="filter.name"/> <span v-text="filter.name" class="gaText"></span>
          </span>
        </template>
      </div>
      <!-- ONLY VISIBLE FOR N3C -->
      <div class="alert-dark m-0 p-1" v-if='window.location.href.includes("n3c")'>
        <template v-for="filter in all_filters['_n3c.status']" :key="filter.term">
          <span class="badge pointer m-1 fade-in" @click="toggleFilter(filter);" :class="[filter.active?'badge-info':'badge-secondary']">
            <i class="fas fa-circle" :class="filter.color"></i> <span v-text="filter.term"></span> (<span v-text="filter.count"></span>)
          </span>
        </template>
        <span class="text-muted">|</span>
        <template v-for="filter in all_filters['name']" :key="filter.name">
          <span class="badge pointer m-1 fade-in" @click="toggleFilter(filter);" :class="[filter.active?'badge-info':'badge-dark']" :title='filter.tip'>
            <a v-if="filter && filter.link" class="ml-1" :href="filter.link" target="_blank" title='Learn more'>
              <i  class="fas fa-info-circle text-primary"></i>
            </a>
            <i v-else class="fas fa-circle" :class="filter.color"></i>
            <span v-text="filter.name" class="gaText ml-3 mr-3"></span>
          </span>
        </template>
      </div>
      <div class="text-right d-none d-md-block">
        <label class="text-muted mr-2" for="exampleFormControlSelect1"><small>Order</small></label>
        <select class="form-control form-control-sm w-25 float-right" id="exampleFormControlSelect1" @change="search()" v-model="sortChange">
          <option>Choose one</option>
          <option value="A-Z">Alphabetically A-Z</option>
          <option value="Z-A">Alphabetically Z-A</option>
          <option value="recent">Recently Updated</option>
        </select>
      </div>
      <div v-if="total" class="mt-0 p-1 bg-secondary text-light text-center col-sm-12 col-md-3" v-text="total+' Results'">
      </div>
      <ul class="list-group context" style="border-top:solid 3px var(--main)" id="regTippyParent">
        <li class="list-group-item d-flex justify-content-center align-items-center text-muted p-1" style="background:#d0d0d0;">
          <small v-if="registry.length && query" v-text="'results for '+query">
          </small>
        </li>
        <template v-if="hits.length" v-for="item in hits">
          <registry-item :item='item' :key="item._id"></registry-item>
        </template>
        <li v-if="!hits.length" class="text-center text-muted list-group-item">
          <div class="jumbotron">
            <h4>Search for existing datasets</h4>
          </div>
        </li>
      </ul>
      <div class="bg-light">
        <div class="row">
          <nav class="m-auto ">
            <ul class="pagination m-2 flex-wrap p-2">
              <li class="page-item" :class="{ 'disabled': page <= 1 }">
                <a class="page-link" @click.prevent="prevPage(); search()"><i class="fas fa-step-backward"></i></a>
              </li>
              <li class="page-item" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }" v-for="n in pages" :key="n">
                <a href="#" class="page-link" @click.prevent="page = n; search()" v-text="n"></a>
              </li>
              <li class="page-item" :class="{ 'disabled': page >= pages }">
                <a class="page-link" @click.prevent="nextPage(); search()"><i class="fas fa-step-forward"></i></a>
              </li>
            </ul>
          </nav>
          <div class="col-sm-12 right-align form-group">
            <select class="perPage form-control form-control-sm w-50 m-auto" v-model="perPage" id="perPage">
              <option value="" disabled selected>Shown Per Page</option>
              <option value="10">10 per page</option>
              <option value="20">20 per page</option>
              <option value="50">50 per page</option>
              <option value="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/moment.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

  Vue.component('registry-item', {
    data: function() {
      return {
        options: false,
        isN3C: false,
        n3c_status:'',
        color: 'badge-light',
      }
    },
    props: ['item'],
    methods: {
      getSubclass(parents) {
        if (parents) {
          let sub = parents[0].split(', ');
          return sub[sub.length - 1]
        } else {
          return 'This class has no subclass'
        }
      },
      getPropTotal() {
        if (this.item.hasOwnProperty('properties')) {
          return this.item.properties.length
        } else {
          return '0'
        }
      },
      goTo(item) {
        var self = this;
        if (item) {
          gtag('event','click',{'event_category':'dataset_viewed','event_label':item._id,'event_value':1})
          window.location.href = '/dataset/' + item._id;
        } else {
          Swal.fire(
            'Oops!',
            'Action not available for this item',
          );
        }
      },
    },
    computed: {
      text: function() {
        if (this.item.description.length > 150) {
          return this.item.description.substring(0, 150) + "..."
        } else {
          return this.item.description
        }
      },
      imgIcon: function(){
        let self = this;
        let guide = Object.prototype.hasOwnProperty.call(self.item['_meta'], 'guide') ? self.item['_meta']['guide'] : '';
        switch (guide) {
          case '/guide/n3c/dataset':
            return '/static/img/N3Co.png'
          case '/guide/outbreak/dataset':
            return '/static/img/outbreak.png'
          case '/guide/niaid':
            return '/static/img/niaid/icon.svg'
          case '/guide':
            return '/static/img/dde-logo-o.svg'
          default:
            return '/static/img/dde-logo-o.svg'
        }
      },
      detailLink: function(){
        return '/dataset/'+this.item._id
      },
      last_updated: function(){
        if (this.item.hasOwnProperty('_ts') && this.item['_ts'].hasOwnProperty('last_updated')) {
          return moment(this.item['_ts']['last_updated']).format("MMM Do YYYY"); 
        }else{
          if (this.item.hasOwnProperty('_meta') && this.item['_meta'].hasOwnProperty('last_updated')) {
            return moment(this.item['_meta']['last_updated']).format("MMM Do YYYY"); 
          }else{
            return false
          }
        }
      },
    },
    mounted:function(){
      let self = this;
      if( Object.prototype.hasOwnProperty.call(self.item, '_n3c') && Object.keys(self.item['_n3c']).length){
          self.isN3C = true;
          self.n3c_status = Object.prototype.hasOwnProperty.call(self.item['_n3c'], 'status') ? self.item['_n3c']['status'] : 'Not Available';
          switch (self.n3c_status) {
            case "Done/Imported":
              self.color = 'badge-success'
              break;
            case "Done/Rejected":
              self.color = 'badge-danger'
              break;
            case "Ready for Import":
              self.color = 'badge-purple'
              break;
            case "In Review":
              self.color = 'badge-info'
              break;
            default:
              self.color = 'badge-secondary'
              break;
          }
        }
    },
    template: `<li class="list-group-item list-group-item-action p-0">
                <div class="row m-0">
                  <div class="col-sm-1 registry-item-background" :style="{backgroundImage: 'url(' + imgIcon + ')' }"></div>
                  <div class="col-sm-9 pointer" @click="goTo(item)">
                    <h5 class="mb-1 mainTextDark d-inline gaText">
                      <span v-text="item.name"></span> <span v-if="item && item.name.includes('PPRL')" class="ml-2 badge smallBadge">PPRL</span>
                    </h5>
                    <p v-if="item && item.description" class="text-muted">
                      <small v-html="text"></small>
                    </p>
                  </div>
                  <div class="col-sm-2">
                    <small class="text-muted" v-if="last_updated">
                      Last updated <b class="d-block" v-text="last_updated"></b>
                    </small>
                    <div v-if="isN3C" class="badge badge-pill text-light d-block mb-1" :class="color">
                      <span v-text="n3c_status"></span>
                    </div>
                  </div>
                </div>
              </li>`
  });

  var app = new Vue({
    el: '#registry',
    data: function() {
      return {
        perPage: 10,
        total: Number,
        registry_api_url: '/api/dataset/query?q=',
        loading: false,
        hits: [],
        query: '',
        page: 1,
        pages: 1,
        perPage: 10,
        sortChange: 'recent',
        highlighter: null,
        // key is the direct field to be filtered by
        //value is the final val set to ES
        all_filters:{
          '_meta.guide': [
            {'name':'N3C','value':'/guide/n3c/dataset','active':false,'icon':'/static/img/N3Co.png', type: '_meta.guide'},
            {'name':'Outbreak','value':'/guide/outbreak/dataset','active':false,'icon':'/static/img/icon-01.svg', type: '_meta.guide'},
            {'name':'NIAID','value':'/guide/niaid','active':false,'icon':'/static/img/niaid/icon.svg', type: '_meta.guide'},
            {'name':'CD2H','value':'/guide','active':false,'icon':'/static/img/dde-logo-o.svg', type: '_meta.guide'}
          ],
          'name':[
          {'name':'PPRL','value':'PPRL','active':false,'icon':'/static/img/N3Co.png', type: 'name', tip:'Privacy-Preserving Record Linkage', 
          link:"https://covid.cd2h.org/PPRL"},
          ]
        }
      }
    },
    methods: {
      mark: function(keyword){
        this.highlighter.unmark();
        this.highlighter.mark(keyword);
      },
      sendGAEvent(type, query){
        gtag('event','click',{'event_category':type,'event_label':query,'event_value':1})
      },
      getStatusTextColor(s){
        switch (s) {
            case "Done/Imported":
              return 'text-success'
            case "Done/Rejected":
              return 'text-danger'
            case "Ready for Import":
              return 'text-purple'
            case "In Review":
              return 'text-info'
            default:
              return 'text-dark'
          }
      },
      aggregate(field){
        let self = this;
        axios.get(`/api/dataset/query?aggs=${field}`)
        .then(response => {
          //a.term and a.count
          let res = response.data?.facets?.[field]?.terms || []
          let complete = res.map(item => {
            item.color = self.getStatusTextColor(item.term)
            item.active = false
            item.value = item.term
            item.name = item.term
            item.type = field
            return item
          })
          Vue.set(self.all_filters, field, complete)
          // console.log('%c AGGS', 'color:limegreen')
          // console.log('AGGS', self.all_filters)
        }).catch(err=>{
          throw err;
        });
      },
      toggleFilter(item){
        let self = this;
        self.all_filters[item.type].forEach( gf => {
          if (gf.value == item.value) {
            gf.active = !gf.active
          }
          if (gf.active) {
            self.sendGAEvent('dataset_portal_filter', item.value)
          }
        })
        this.buildURL();
        this.search();
      },
      buildURL(){
        // match url to search filters
        let url = new URL(window.location.href)
        let active_list = []
        let pprl_active = []

        url.searchParams.delete('guide');
        url.searchParams.delete('dataset_type');

        this.all_filters['_meta.guide'].forEach(item => {
          if (item.active) {
            active_list.push(item.value)
          }
        })

        this.all_filters['name'].forEach(item => {
          if (item.active) {
            pprl_active.push(item.value)
          }
        })

        if (active_list.length) {
          url = url+'?guide='+active_list.toString()
        }
        if (pprl_active.length) {
          if (active_list.length) {
            url = url+'&dataset_type='+pprl_active.toString();
          }else{
            url = url+'?dataset_type='+pprl_active.toString();
          }
        }
        window.history.pushState({"html":'content',"pageTitle":'DDE'},"", url);
      },
      getFilters(){
        let self = this;
        let filters ={}
        
        for (const key in self.all_filters) {
          filters[key] = []
          self.all_filters[key].forEach(item => {
            if (item.active) {
              filters[key].push('"'+item.value+'"');
            }
          })
        }
        return filters
      },
      search(){
        let self = this;
        let url = self.registry_api_url
        let query = self.query.trim() || "__all__";

        self.loading = true
        self.hits = []
        self.total = 0

        self.highlighter.unmark();
        //query analytics
        if (query !== "__all__") {
          self.sendGAEvent('dataset_search', query)
        }
        //look for existing active filters and 
        let filters = self.getFilters();
        //prep active filters found to be added
        let f_list = []
        Object.keys(filters ).forEach(field => {
          //if multiple possible values add OR
          let val = filters[field ].toString().includes(',') ? "(" + filters[field ].join(' OR ') + ")" : filters[field ]
          filters[field ] && filters[field ].length ? f_list.push( field  + ':' + val  ) : false;
        });
        //add AND condition if multiple filters
        let field_query = f_list.join(' AND ');

        //form correct query pattern
        if (field_query && query !== '__all__') {
          url += field_query + ' AND ' + query
        }
        else if (field_query && query == '__all__') {
          url += field_query
        }
        else if (!field_query && query == '__all__') {
          url += query
        }
        //pagination
        var config = {
            "params": {
                'size': self.perPage,
                'from': self.page == 1 ? self.page-1 : ((self.page-1) * self.perPage )  
            }
        }
        // sorting
        switch (self.sortChange) {
          case 'relevance':
            //default behavior
            break;
          case 'A-Z':
            url += '&sort=name.raw'
            break;
          case 'Z-A':
            url += '&sort=-name.raw'
            break;
          case 'recent':
            url += '&sort=_ts.last_updated'
            break;
          default:
            //no matching sort
            break;
        }

        axios.get(url, config).then(function(response) {
          self.hits = response.data.hits;
          console.log('%c Query executed', 'color:hotpink')
          console.log('%c '+ JSON.stringify({
            'q': query,
            'size': self.perPage,
            'from': self.page == 1 ? self.page-1 : ((self.page-1) * self.perPage ),
            'field_query': field_query,
            'sorting': self.sortChange
          }, null, 2), 'color:cyan')
          console.log('%c hits: '+response.data.total, 'color:limegreen')
          self.loading = false
          self.total = response.data.total;
          self.calculatePages();
        }).catch(err=>{
          self.loading = false;
          throw err;
        });
      },
      calculatePages: function () {
          this.pages = Math.ceil(this.total / this.perPage);
          if(this.page > this.pages){
            this.page = 1
          }
      },
      prevPage: function () {
          if (this.page > 1)
              this.page -= 1
      },
      nextPage: function () {
          if (this.page < this.pages)
              this.page += 1
      },
      checkURLQuery(){
        let self = this;
        let url_string = window.location.href
        let url = new URL(url_string);

        let q = url.searchParams.get("q");
        if (q) {
          this.query = q
        }
        this.searchForFilterAndToggle(url, 'guide', '_meta.guide');
        this.searchForFilterAndToggle(url, 'dataset_type', 'name');
      },
      searchForFilterAndToggle(url, param, filter_name){
        let self = this;
        let items = url.searchParams.get(param);
        let item_paths =[]

        if (items) {
          if (items.includes(',')) {
            items = items.split(',')
          }else {
            items = [items]
          }
          // console.log('items found',items)
          for (var i = 0; i < items.length; i++) {
            let item_url = items[i]
            item_paths.push(item_url)
          }
          if (item_paths.length) {
            item_paths.forEach(item => {
              let obj = {}
              obj.type = filter_name
              obj.value = item
              self.toggleFilter(obj)
            })
          }
        }
      }
    },
    mounted: function() {
      this.highlighter = new Mark(document.querySelector(".context"))
      this.checkURLQuery();
      this.search();
      this.aggregate('_n3c.status');
      window.onpopstate = ()=> {
        this.search();
      }
    },
    updated: function(){
      // Highlight matches in results
      this.mark(this.query);
    },
  })
</script>

{% include "footer.html" %}
{% endblock %}
