{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="registry" class="jumbotron mb-0" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div v-if="metadata && metadata.name" class="row">
    <div class="col-sm-12 col-md-10 col-lg-7 text-center" style="margin:auto;">
      <h1 class="text-center logoText mt-5">
        <span v-text="metadata.name"></span>
      </h1>
      <small v-if="metadata && metadata.version"  class="text-muted d-block text-center" v-text="'Version '+metadata.version"></small>
      <small v-if="metadata && metadata.dateModified"  class="text-muted d-block text-center" v-text="'Date Modified '+metadata.dateModified"></small>
      <div class="alert-secondary p-1 m-2">
        <div class="bg-light p-4 text-center">
          <p class="text-muted m-auto" v-html="metadata.description"></p>
          <div class="d-flex flex-wrap mt-5 justify-content-center">
            <template v-for="item in metadata.keywords">
              <small class="text-muted m-1" ><i class="fas fa-tag"></i> <span v-text='item'></span></small>
            </template>
          </div>
          <hr />
          <a v-if="metadata.url" target="_blank" :href="metadata.url">Learn More</a>
        </div>
      </div>
      <div class="alert alert-secondary text-muted mt-5 ">
        <h5>Embed this dataset on your website</h5>
        <h6>Embedding options:</h6>
        <div class="row">
          <div class="col-sm-12 col-md-6 p-3">
            <h6>Dynamic Embedding</h6>
            <p>
              <small>Leave it up to us! Just copy the following code and paste it immediately after the closing <code>&lt;/body&gt;</code> tag on your website's code.</small>
            </p>
            <p class="text-info">
              <small>Changes to metadata will be applied automatically.</small>
            </p>
            <small class="d-block text-muted">
              <b>CLICK TO COPY</b>
            </small>
            <input id="myInput" @click="copyScript('myInput')" data-tippy="Learn More About FAIR Principles" data-tippy-theme="light" class="form-control p-2 w-75 m-auto pointer" v-model='scripttext' type="text"/>
          </div>
          <div class="col-sm-12 col-md-6 p-3">
            <h6>Hard Coded</h6>
            <p>
              <small>In your website's code immediately after the closing <code>&lt;/body&gt;</code> tag, paste the code below.</small>
            </p>
            <p class="text-info">
              <small>Changes to metadata need to updated manually.</small>
            </p>
            </p>
            <small class="d-block text-muted">
              <b>COPY THIS CODE:</b>
            </small>
            <button class="btn-secondary text-light btn m-auto" @click="getPreview()">View Code</button>
            <br />
            <small><a class="pointer" @click="download()">Download Code</a></small>
          </div>
        </div>
      </div>
    </div>
    <div v-if="metadata && !metadata.name" class="jumbotron text-center text-muted">
      <h2>Nothing to see here...</h2>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
  const store = new Vuex.Store({
    state: {
      'metadata':{},
    },
    strict: true,
    mutations: {
      saveMetadata (state,payload) {
        state.metadata = payload['metadata']
      },
    },
    getters:{
      // exposed as store.getters.nameOfGetter
      getMetadata: state => {
        return state.metadata
      },
    }
  });

  var app = new Vue({
    el: '#registry',
  	data: function(){
  		return {
        query:'',
        loading:false,
        scripttext:''
  	  }
    },
    methods:{
      generateScriptText(id){
        this.scripttext='<sc'+'ript src="'+window.location.origin+'/api/dataset/'+id+'.js"/></scr'+'ipt>'
      },
      copyScript(id){
        var copyText = document.getElementById(id);
        copyText.select();
        document.execCommand("Copy");
        Swal.fire({type:'success',
          toast:true,
          title: 'Copied',
          showConfirmButton:false,
          timer:1000})
      },
      getMetadata(id){
        var self = this;
        id = id.replace('/',"");
        self.generateScriptText(id);
        self.loading = true;
        axios.get('/api/dataset/'+id).then(res=>{
          self.loading = false;
          if (res.data) {
            let payload = {}
            payload['metadata']= res.data
            store.commit('saveMetadata',payload)
            self.createScript();
          }
        }).catch(err=>{
          self.loading = false;
          throw err;
        });
      },
      createScript() {
        let scriptTag = document.createElement('script');
        var str = JSON.stringify(this.metadata, null, 2);
        scriptTag.setAttribute('type',"application/ld+json");
        scriptTag.text= str;
        document.body.appendChild(scriptTag);
        this.createCanonicalTag(this.metadata);
        if (this.metadata.name)
          document.title = 'CTSA DATA DISCOVERY ENGINE / '+this.metadata.name
        if (this.metadata.description)
          document.description = 'CTSA DATA DISCOVERY ENGINE / '+this.metadata.description
      },
      createCanonicalTag(meta){
        if (meta && meta.url) {
          let linkTag = document.createElement('link');
          linkTag.setAttribute('rel',"canonical");
          linkTag.setAttribute('href',meta.url);
          document.head.appendChild(linkTag);
        }
      },
      getPreview(){
        var self = this;
        let txt = '&lt;sc'+'ript type="application/ld+json" &gt;'+JSON.stringify(self.metadata,null,2)+'&lt;/scr'+'ipt&gt;'
        Swal.fire({
          position: 'center',
          confirmButtonColor:"{{color_main}}",
          cancelButtonColor:"{{color_sec}}",
          animation:false,
          customClass:'scale-in-center',
          html: `<h6 class="text-center mainTextDark">Copy this code</h6><div class="text-left previewBox">
                  <div>
                    <small>
                      <pre>
                        `+txt+`
                      </pre>
                    </small>
                  </div>
                </div>`
        });
      },
      download() {
        var self = this;
        var a = document.createElement("a");
        var file = new Blob(['<sc'+'ript type="application/ld+json" >'+JSON.stringify(self.metadata,null,2)+'</scr'+'ipt>'], {type: 'text/plain'});
        a.href = URL.createObjectURL(file);
        a.download = 'meta-download';
        a.click();
      },
    },
    mounted:function(){
      var self = this;
      let context = {{Context}}
       if ( context.Query ) {
         self.query = context.Query;
         self.getMetadata(self.query)
       }
    },
    computed:{
      metadata:function(){
        return store.getters.getMetadata
      }
    }
  });
</script>
{% include "footer.html" %}
{% endblock %}
