{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
  .registry-item-background{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D0D0D0;
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0% 100%);
  }
</style>
<div id="registry" class="jumbotron" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg" />
  </div>
  <div class="col-md-10 col-sm-12 m-auto p-0">
    <div class="">
      <h1 class="text-center logoText mb-1 mt-2">Dataset Registry</h1>
      <div>
        <form @submit.prevent="search(query)">
          <div class="row m-0 cBox actions bg-secondary">
            <div class="col-sm-10 p-2">
              <div class="">
                <input class="form-control col-12" id="search_query" type="text" v-model="query" name="query" placeholder="Search...">
              </div>
            </div>
            <div class="col-sm-2 p-2 bg-dark actions d-flex align-items-center justify-content-around">
              <span data-tippy="search" class="fa-stack fa-1x pointer unselectable tip" @click.prevent="search(query)">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-search fa-stack-1x text-light"></i>
              </span>
              <span data-tippy="reset" class="fa-stack fa-1x pointer unselectable" @click.prevent="query='';registry=[]">
                <i class="fas fa-circle fa-stack-2x text-muted"></i>
                <i class="fas fa-undo fa-stack-1x text-light"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="alert-dark m-0 p-1">
        <template v-for="filter in guide_filters">
          <span class="badge pointer m-1 fade-in" @click="toggleFilter(filter.value);" :class="[filter.active?'badge-info':'badge-secondary']" :key="filter.name">
            <img :src="filter.icon" width="20px" :alt="filter.name"/> <span v-text="filter.name"></span>
          </span>
        </template>
      </div>
      <div class="text-right d-none d-md-block">
        <label class="text-muted mr-2" for="exampleFormControlSelect1"><small>Order</small></label>
        <select class="form-control form-control-sm w-25 float-right" id="exampleFormControlSelect1" @change="sort()" v-model="sortType">
          <option>Choose one</option>
          <option value="A-Z">Alphabetically A-Z</option>
          <option value="Z-A">Alphabetically Z-A</option>
          <option value="recent">Recently Updated</option>
        </select>
      </div>
      <div class="mt-3 p-1 bg-secondary text-light text-center col-sm-12 col-md-3" v-text="registryTotal+' Results'">
      </div>
      <ul class="list-group context" style="border-top:solid 3px var(--main)" id="regTippyParent">
        <li class="list-group-item d-flex justify-content-center align-items-center text-muted p-1" style="background:#d0d0d0;">
          <small v-if="registry.length && query" v-text="'results for '+query">
          </small>
        </li>
        <template v-if="registry.length" v-for="(item,index) in results">
          <registry-item :item='item' :key="index"></registry-item>
        </template>
        <li v-if="!registry.length" class="text-center text-muted list-group-item">
          <div class="jumbotron">
            <h4>Search for existing datasets</h4>
          </div>
        </li>
      </ul>
      <div class="bg-light">
        <div class="row">
          <nav class="m-auto ">
            <ul class="pagination m-2 flex-wrap p-2">
              <li class="page-item" :class="{ 'disabled': page <= 1 }">
                <a class="page-link" @click.prevent="prevPage()"><i class="fas fa-step-backward"></i></a>
              </li>
              <li class="page-item" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }" v-for="n in pages">
                <a href="#" class="page-link" @click.prevent="onPage(n)" v-text="n"></a>
              </li>
              <li class="page-item" :class="{ 'disabled': page >= pages }">
                <a class="page-link" @click.prevent="nextPage()"><i class="fas fa-step-forward"></i></a>
              </li>
            </ul>
          </nav>
          <div class="col-sm-12 right-align form-group">
            <select class="perPage form-control form-control-sm w-50 m-auto" v-model="perPageChange" id="perPage">
              <option value="" disabled selected>Shown Per Page</option>
              <option value="20">20 per page</option>
              <option value="50">50 per page</option>
              <option value="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/moment.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
  const store = new Vuex.Store({
    state:{
      guide_filters:[],
      registry:[],
      registryTotal:0,
      loading:false,
      registryResults:[],
      perPage: 20,
      page:1,
      pages: 1,
      query:'',
      active_list:[]
    },
    strict: true,
    mutations:{
      saveGuideFilters(state, payload){
        state.guide_filters = payload['guide_filters'];
      },
      activate_filter(state, payload){
        let guide_list = payload['guide_list'];
        state.active_list = [];
        for (var i = 0; i < state.guide_filters.length; i++) {
          let filter = state.guide_filters[i]['value'];
          for (var g_i = 0; g_i < guide_list.length; g_i++) {
            let url_guide = guide_list[g_i];
            if (url_guide == filter) {
              state.guide_filters[i]['active'] = !state.guide_filters[i]['active'];
            }
          }
          if (state.guide_filters[i]['active']) {
            state.active_list.push(state.guide_filters[i]['value'])
          }
        }
        // match url to search filters
        var url = new URL(window.location.href)
        url.searchParams.delete('guide');
        if (state.active_list.length) {
          url = url+'?guide='+state.active_list.toString()
        }
        window.history.pushState({"html":'content',"pageTitle":'DDE'},"", url);
      },
      paginate_results(state) {
        var start = (state.page - 1) * state.perPage,
          end = start + state.perPage;
        let res = state.registry.slice(start, end);
        Vue.set(state, 'registryResults', res)
      },
      calculate_pages(state){
        let pages = Math.ceil(state.registry && state.registry.length / state.perPage);
        Vue.set(state, 'pages', pages)
        state.registryTotal = state.registry.length;
      },
      toggleLoading(state){
        state.loading = !state.loading
      },
      save_query(state, payload){
        state.query = payload['query']
      },
      save_per_page(state, payload){
        state.perPage = payload['per_page']
      },
      change_page(state, payload){
        state.page = payload['page']
      },
      prevPage(state) {
        if (state.page > 1)
          state.page -= 1
      },
      nextPage(state) {
        if (state.page < state.pages)
          state.page += 1
      },
      save_registry(state, payload){
        state.registry = payload['res']
      },
      filter_registry(state){
        let guide_paths = state.active_list;
        state.registry = _.filter(state.registry, function(item) {
          if (item.hasOwnProperty('_meta') && item['_meta']['guide']) {
            let item_path = item['_meta']['guide'];
            if (guide_paths.includes(item_path)) {
              return item
            }
          }
        });
      },
      sort(state, payload){
        let type = payload['type']
        let copy = [...state.registry];
        let res = []
        switch (type) {
          case 'recent':
             res = _.sortBy(copy,'._meta.last_updated').reverse();
            break;
          case 'A-Z':
            res = _.sortBy(copy, [function(o) { return o.name; }]);
            break;
          case 'Z-A':
            res = _.sortBy(copy, [function(o) { return o.name; }]).reverse();
            break;
          default:
            res = state.registry
            break;
        }
        Vue.set(state, 'registry', res);
      },
    },
    actions:{
      search_and_paginate({commit, dispatch, state}){

        let query = state.query || "__all__";

        if (query) {
          var params = {
            "params": {
              "q": query,
              'meta': true
            }
          };
        }
        commit('toggleLoading');
        var context = document.querySelector(".context");
        var instance = new Mark(context);
        instance.unmark();
        axios.get('/api/dataset/query?size=1000', params).then(function(response) {
          let res = {'res': response.data.hits};
          commit('save_registry',res);
          if (state.active_list.length) {
            commit('filter_registry');
          }
          commit('paginate_results');
          commit('calculate_pages');
          commit('toggleLoading');

          $(document).ready(function() {
            var context = document.querySelector(".context");
            var instance = new Mark(context);
            instance.mark(query);
          });
        });
      },
      check_url_query({commit, state}){
        let url_string = window.location.href
        let url = new URL(url_string);

        let q = url.searchParams.get("q");
        if (q) {
          let payload = {'query':q};
          commit('save_query',payload);
        }

        let guides = url.searchParams.get("guide");
        let guide_paths =[]

        if (guides) {
          if (guides.includes(',')) {
            guides = guides.split(',')
          }else {
            guides = [guides]
          }
          // console.log('GUIDES FOUND',guides)
          for (var i = 0; i < guides.length; i++) {
            let guide_url = guides[i]
            guide_paths.push(guide_url)
          }
          if (guide_paths.length) {
            let payload = {'guide_list':guide_paths}
            commit('activate_filter',payload);
          }
        }
      }
    },
    getters:{
      get_guide_filters:state=>{
        return state.guide_filters
      },
      get_registry:state=>{
        return state.registry
      },
      get_registry_total:state=>{
        return state.registryTotal
      },
      get_loading:state=>{
        return state.loading
      },
      get_registry_results:state=>{
        return state.registryResults
      },
    }
  });

  Vue.component('registry-item', {
    data: function() {
      return {
        options: false
      }
    },
    props: ['item'],
    methods: {
      getSubclass(parents) {
        if (parents) {
          let sub = parents[0].split(', ');
          return sub[sub.length - 1]
        } else {
          return 'This class has no subclass'
        }
      },
      getPropTotal() {
        if (this.item.hasOwnProperty('properties')) {
          return this.item.properties.length
        } else {
          return '0'
        }
      },
      goTo(item) {
        var self = this;
        if (item) {
          window.location.href = '/dataset/' + item._id;
        } else {
          Swal.fire(
            'Oops!',
            'Action not available for this item',
          );
        }
      },
    },
    computed: {
      text: function() {
        if (this.item.description.length > 150) {
          return this.item.description.substring(0, 150) + "..."
        } else {
          return this.item.description
        }
      },
      imgIcon: function(){
        if (this.item.hasOwnProperty("@type") && this.item['@type'].includes('n3c')) {
          return '/static/img/N3Co.png'
        }
        else if (this.item.hasOwnProperty("@type") && this.item['@type'].includes('outbreak')) {
          return '/static/img/outbreak.png'
        }
        else if (this.item.hasOwnProperty("@type") && this.item['@type'].includes('niaid')) {
          return '/static/img/niaid/icon.svg'
        }
        else{
          return '/static/img/dde-logo-o.svg'
        }
      },
      detailLink: function(){
        return '/dataset/'+this.item._id
      },
      last_updated: function(){
        if (this.item.hasOwnProperty('_meta') && this.item['_meta'].hasOwnProperty('last_updated')) {
          return moment(this.item['_meta']['last_updated']).format("MMM Do YYYY"); 
        }else{
          return false
        }
      }
    },
    template: `<li class="list-group-item list-group-item-action p-0 pointer">
                <div class="row m-0">
                  <div class="col-sm-1 registry-item-background" :style="{backgroundImage: 'url(' + imgIcon + ')' }"></div>
                  <div class="col-sm-11" @click="goTo(item)">
                    <h5 class="mb-1 mainTextDark d-inline" v-text="item.name"></h5>
                    <small class="text-muted float-right" v-if="last_updated">
                      Last updated <span v-text="last_updated"></span>
                    </small>
                    <p v-if="item && item.description" class="text-muted">
                      <small v-html="text"></small>
                    </p>
                  </div>
                </div>
              </li>`
  });

  var app = new Vue({
    el: '#registry',
    data: function() {
      return {
        perPageChange:20,
        sortType: ''
      }
    },
    methods: {
      getQueryFilters() {
        var filters = [];
        var authorFilters = [];
        var finalFilters = {};
        this.tags.forEach(function(item) {
          if (item.active)
            filters.push(item.name);
        });
        if (filters.length > 0) {
          finalFilters['tags.name.raw'] = filters;
        }

        this.authors.forEach(function(item) {
          if (item.active) {
            authorFilters.push(item.name);
          }
        });
        if (authorFilters.length) {
          finalFilters['info.contact.name.raw'] = authorFilters;
        }

        return finalFilters;
      },
      search() {
        store.dispatch('search_and_paginate');
      },
      sort() {
        let payload = {'type': this.sortType}
        store.commit('sort',payload);
        store.commit('paginate_results');
        store.commit('calculate_pages');
      },
      prevPage() {
        store.commit('prevPage');
      },
      nextPage() {
        store.commit('nextPage');
      },
      toggleFilter(value){
        let self = this;
        let payload = {'guide_list':[value]}
        store.commit('activate_filter',payload);
        self.search();
      },
      onPage(n){
        let payload = {'page':[n]}
        store.commit('change_page',payload);
      }
    },
    mounted: function() {
      var self = this;
      let payload = {'guide_filters':
        [
        {'name':'N3C','value':'/guide/n3c/dataset','active':false,'icon':'/static/img/N3Co.png'},
        {'name':'Outbreak.info','value':'/guide/outbreak/dataset','active':false,'icon':'/static/img/icon-01.svg'},
        {'name':'NIAID','value':'/guide/niaid','active':false,'icon':'/static/img/niaid/icon.svg'},
        {'name':'CD2H','value':'/guide','active':false,'icon':'/static/img/dde-logo-o.svg'}]
      }
      store.commit('saveGuideFilters',payload);
      store.dispatch('check_url_query');
      // initial search
      self.search();
      self.sortType = "recent"
      self.sort();

      window.onpopstate = function() {
        store.dispatch('check_url_query');
        self.search();
      }

    },
    computed: {
      results: function(){
        return store.state.registryResults
      },
      guide_filters: function(){
        return store.getters.get_guide_filters
      },
      registry: function(){
        return store.getters.get_registry
      },
      registryTotal: function(){
        return store.getters.get_registry_total
      },
      loading: function(){
        return store.state.loading
      },
      query:{
        get () {
          return store.state.query
        },
        set (newValue) {
          var payload = {'query':newValue};
          store.commit('save_query',payload);
        }
      },
      pages: function(){
        return store.state.pages
      },
      page: function(){
        return store.state.page
      },
      perPage: function(){
        return store.state.perPage
      },
    },
    watch:{
      perPageChange:function(nv){
        var payload = {'per_page':nv};
        store.commit('save_per_page',payload);
        store.commit('calculate_pages');
      },
      page: function(np){
        let self = this;
        store.commit('paginate_results');
      },
    }
  })
</script>

{% include "footer.html" %}
{% endblock %}
