{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="guide" class="container pt-5" style="min-height:90vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div class="jumbotron bg-light text-center m-0">
    <h1 class="logoText">DISCOVERY GUIDE</h1>
    <p class="text-muted">
      Follow best practices to make your data more findable
    </p>
    <a href="/dataset">Browse registered datasets <i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="widget">
    <ul class="nav nav-tabs">
      <li class="nav-item" v-if="userInfo && userInfo.login">
        <span class="nav-link" :class="{ 'disabled text-success': userInfo }"><small>
          <i class="fas fa-user-check"></i> Logged in as <span v-text="userInfo.login"></span></small>
        </span>
      </li>
      <li class='nav-item' v-if="userInfo && !userInfo.login">
        <a class='nav-link active text-primary' href='./oauth'>
          <small><i class="fas fa-sign-in-alt"></i> Login</small>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' :class="{ 'disabled text-muted notallowed': !validation, 'bg-danger text-light pointer': validation }" @click="reset()">
          <small>
            <i class="fas fa-undo"></i> Start Over
          </small>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' :class="{ 'disabled text-muted notallowed': !validation, 'mainBackDark text-light pointer': validation }" @click='getPreview()'>
          <small>
            <i class="fas fa-code"></i> Preview
          </small>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' :class="{ 'disabled text-muted notallowed': !isComplete, 'bg-primary text-light pointer': isComplete }" @click="downnloadSchema()">
          <small>
            <i class="fas fa-file-download"></i> Download
          </small>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' :class="{ 'disabled text-muted notallowed': !isComplete, 'bg-success text-light pointer': isComplete }" @click="handleRegistration()">
          <small>
            <i class="fas fa-cloud-upload-alt"></i> Register
          </small>
        </a>
      </li>
      <li class='nav-item' v-if="totals && totals.left">
        <a class='nav-link disabled'>
          <small >
            (<span v-text='totals.left'></span>/<span v-text='totals.total'></span>)
          </small>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link text-muted pointer' @click.prevent="showHelp()">
          <small >
            <i class="fas fa-question-circle text-info"></i> Help!
          </small>
        </a>
      </li>
    </ul>
    <div v-if="userInfo && !userInfo.login">
      <div class="alert alert-light text-danger text-center p-5">
        <h5>You must be logged in to proceed</h5>
      </div>
    </div>
    <!-- LOGGED IN DASHBOARD -->
    <template v-if="userInfo && userInfo.login">
      <!-- FIRST STEP -->
      <div v-if="!validation" class="bg-light jumbotron whitefade text-center">
        <h5 class="text-muted">What type of dataset do you have?</h5>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
          <template v-for="item in presets">
            <div class="p-5 m-4 bg-light text-center message text-muted">
              <h4 v-text="item.name"></h4>
              <p >
                <small v-text="item.description"></small>
              </p>
              <buttom @click="sendRequest(item.url,item.name)" class="btn themeButton text-light pulse">Next</buttom>
            </div>
          </template>
        </div>
      </div>
      <!-- SECOND STEP -->
      <!-- AVAILABLE FIELDS -->
      <div v-if="validation" class="whitefade tippyContainer">
        <div class="p-1 message text-left mb-0" style="border-radius:5px">
          <template v-if="validation.properties" v-for="(prop,index) in validation.properties">
            <span class="badge m-1 badge-dark pointer badgeDesc" @click='selectProp(index)' v-if="prop && !prop.value">
              <small v-text='index'></small>
              <i class="fas fa-asterisk text-danger required pointer unselectable" v-if="isRequired(index)"></i>
            </span>
          </template>
        </div>
      </div>
      <!-- COMPLETED FIELDS -->
      <div class="p-1" v-if="totals && totals.left">
        <progress class="w-100"  :value="totals.complete" :max="totals.total"></progress>
      </div>
      <div v-if="validation" class="whitefade tippyContainer">
        <div class="alert alert-success text-left mb-0">
          <template v-if="validation.properties" v-for="(prop,index) in validation.properties">
            <span class="badge m-1 badge-success pointer" @click='selectProp(index)' v-if="prop && prop.value">
              <i class="fas fa-check-circle"></i> <small v-text='index'></small>
              <i class="fas fa-asterisk text-danger required pointer unselectable" v-if="isRequired(index)"></i>
            </span>
          </template>
        </div>
      </div>
      <!-- FIELD VIEW -->
      <div v-if="validation" class="text-center tippyContainer mb-5">
        <div class="p-4" id="masterForm">
          <template v-if="validation.properties" v-for="(prop,index) in validation.properties">
            <input-box v-if='prop && prop.selected' :name='index' :info="prop" :key='index'></input-box>
          </template>
        </div>
      </div>
      <!--  -->
      <div v-if="validation" class="p-1 text-muted">
        <small><i class="fas fa-asterisk text-danger unselectable"></i> = Field is required</small>
      </div>
    </template>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/notify.min.js"></script>
<script src="/static/js/parsley.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>
  const store = new Vuex.Store({
    state: {
      schema:Object,
      required:Array,
      validation:null,
      schemaName:'',
      output:{
      }
    },
    strict: true,
    mutations: {
      saveSchema(state,payload){
        state.schema = payload['schema'];
        console.log('schema saved',state.schema)
        state.output['@type'] = state.schema.label || state.schema.name
        state.output['@context'] = 'http://discovery.biothings.io/'
      },
      saveSchemaName(state,payload){
        state.schemaName = payload['name'];
      },
      reset(state){
        state.schema = {};
        state.validation = null;
      },
      markSelected(state,payload){
        let selection = payload['select'];
        for (key in state.schema.validation.properties) {
          if (key === selection) {
            Vue.set(state.schema.validation.properties[selection],'selected',true);
          }else{
            Vue.set(state.schema.validation.properties[key],'selected',false);
          }
        }
      },
      markCompleted(state,payload){
        let selection = payload['completed'];
        for (key in state.schema.validation.properties) {
          if (key === selection.name) {
            Vue.set(state.schema.validation.properties[selection.name],'value',selection.value);
          }
        }
      },
      clearValueOfProp(state,payload){
        let selection = payload['clear'];
        for (key in state.schema.validation.properties) {
          if (key === selection) {
            Vue.delete(state.schema.validation.properties[selection],'value');
            Vue.set(state.schema.validation.properties[selection],'selected',false);
            $.notify(selection+" was cleared",{ globalPosition: 'right',className:'success', showDuration: 40, });
          }
        }
      },
      removeArrayItemFrom(state,payload){
        let field = payload['from']; //name of prop
        let item = payload['item']; //full info
        let props = state.schema.validation.properties;

        if(typeof item === 'string'){
          for (var i = 0; i < props[field].value.length; i++){
            if (props[field].value[i] === item) {
              Vue.delete(props[field].value,i);
              $.notify(item+" removed",{ globalPosition: 'right',className:'success', showDuration: 40, });
            }
          }
        }else if (typeof item === 'object') {
          let res = _.reject(props[field].value,item)
          props[field].value=res
          $.notify("Item removed",{ globalPosition: 'right',className:'success', showDuration: 40, });
        }

      },
      addToArrayFrom(state,payload){
        let field = payload['from'];
        let item = payload['item'];
        //Initialize array
        if (!state.schema.validation.properties[field].value) {
          Vue.set(state.schema.validation.properties[field], 'value', [])
        }
        state.schema.validation.properties[field]['value'].push(item)
      },
      formPreview(state){
        let props = state.schema.validation.properties;
        Vue.set(state,'output',{})
        Vue.set(state.output,'@type',state.schema.label || state.schema.name)
        Vue.set(state.output,'@context','http://discovery.biothings.io/')
        for (key in props) {
          if (props[key].hasOwnProperty('value') && props[key]['value']) {
            if (_.isArray(props[key]['value']) && props[key]['value'].length === 1) {
              Vue.set(state.output,key,props[key].value[0])
            }else{
              Vue.set(state.output,key,props[key].value)
            }

          }
        }
      }
    },
    getters:{
      // exposed as store.getters.nameOfGetter
      getSchema: (state) => {
        return state.schema
      },
      getValidation: (state) => {
        if (state.schema.hasOwnProperty('validation')) {
          return state.schema.validation
        }else{
          return false;
        }
      },
      isRequired: (state) => (propname) =>{
        if (state.schema.validation.required.includes(propname)) {
          return true
        }else{
          return false
        }
      },
      getSchemaName: (state)=>{
        return state.schemaName
      },
      getValueOf: (state) => (propname) =>{
        return state.schema.validation.properties[propname].value
      },
      getTotals:(state) => {
        let completeCount = 0;
        if (state.schema.hasOwnProperty('validation')) {
          let totalprops = Object.keys(state.schema.validation.properties).length
          for (key in state.schema.validation.properties) {
            if (state.schema.validation.properties[key] && state.schema.validation.properties[key].value) {
              completeCount++;
            }
          }
          let left = totalprops - completeCount;
          if (left === 0) {
            state.complete = true
          }
          let res = {'left':left,'complete':completeCount,'total':totalprops}
          return res
        }

      },
      getPreview(state){
        return state.output
      },
      isComplete(state){
        let complete = false;
        if (state.schema && state.schema.hasOwnProperty('validation') && state.schema.validation.hasOwnProperty('required')) {
          let required = state.schema.validation['required']
          for (var i = 0; i < required.length; i++) {
            if (state.schema.validation.properties.hasOwnProperty(required[i]) && state.schema.validation.properties[required[i]].value) {
              complete = true
            }else{
              complete = false
              break;
            }
          }
        }
        return complete
      },
      getOutput(state){
        return state.output
      }
    },
    actions:{
      reset ({ commit }) {
        commit('reset')
      }
    }
  });

  // <!-- 🌈  CREATOR 🌈 -->
  // <template v-if="info.type=== 'object' && name === 'creator'">
  //   <div class="form-group p-2 row">
  //     <button class="btn mainBackDark text-light m-auto" @click="addPerson('creator')"><i class="fas fa-plus"></i> Add Creator</button>
  //   </div>
  //   <div class="col-sm-12 m-auto">
  //     <template v-for="(person,i) in userInput">
  //       <span :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical inputpreview" title="remove">
  //         <i class="fas fa-user"></i>
  //         <span v-text="person.name"></span>
  //         <span style="opacity:0;" class="d-inline" @click="removeItem(person.name)"> <i class="fas fa-times"></i></span>
  //       </span>
  //     </template>
  //   </div>
  //   <div class="alert alert-success m-3 w-75" v-show="userInput">
  //     <small><b>Saved Creators:</b> </small>
  //     <hr />
  //     <template v-for="(person,i) in userInput">
  //       <span :title="person.url"  class="text-success inputpreview mr-1" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i' >
  //         <i class="fas fa-user"></i>
  //         <span v-text="person.name"></span>
  //       </span>
  //       <small class="text-success" v-if="i !== userInput.length-1">, </small>
  //     </template>
  //   </div>
  // </template>
  // <!-- 🌈  PUBLISHER 🌈 -->
  // <template v-if="info.type=== 'object' && name === 'publisher'">
  //   <div class="form-group p-2 row">
  //     <button class="btn mainBackDark text-light m-auto" @click="addPerson('publisher')"><i class="fas fa-plus"></i> Add Publisher</button>
  //   </div>
  //   <div class="col-sm-12 m-auto">
  //     <template v-for="(person,i) in userInput">
  //       <span title="Delete"  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical inputpreview" title="remove" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
  //         <i class="fas fa-building"></i>
  //         <span v-text="person.name"></span>
  //         <span style="opacity:0;" class="d-inline" @click="removeItem(person.name)"> <i class="fas fa-times"></i></span>
  //       </span>
  //     </template>
  //   </div>
  //   <div class="alert alert-success m-3 w-75" v-show="userInput">
  //     <small><b>Saved Publishers:</b> </small>
  //     <hr />
  //     <template v-for="(person,i) in userInput">
  //       <span :title="person.url"  class="text-success inputpreview mr-1" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
  //         <i class="fas fa-building"></i>
  //         <span v-text="person.name"></span>
  //       </span>
  //       <small class="text-success" v-if="i !== userInput.length-1">, </small>
  //     </template>
  //   </div>
  // </template>
  // <!-- 🌈  CITATIONS 🌈 -->
  // <template v-if="info.type=== 'object' && name === 'citation'">
  //   <div class="form-group p-2 row">
  //     <button class="btn mainBackDark text-light m-auto" @click="addPerson('citation')"><i class="fas fa-plus"></i> Add Citation</button>
  //   </div>
  //   <div class="col-sm-12 m-auto">
  //     <template v-for="(person,i) in userInput">
  //       <span title="Delete"  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical inputpreview" title="remove" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
  //         <i class="fas fa-file-alt"></i>
  //         <span v-text="person.name"></span>
  //         <span style="opacity:0;" class="d-inline" @click="removeItem(person.name)"> <i class="fas fa-times"></i></span>
  //       </span>
  //     </template>
  //   </div>
  //   <div class="alert alert-success m-3 w-75" v-show="userInput">
  //     <small><b>Saved Citations:</b> </small>
  //     <hr />
  //     <template v-for="(person,i) in userInput">
  //       <span :title="person.url"  class="text-success inputpreview mr-1" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
  //         <i class="fas fa-file-alt"></i>
  //         <span v-text="person.name"></span>
  //       </span>
  //       <small class="text-success" v-if="i !== userInput.length-1">, </small>
  //     </template>
  //   </div>
  // </template>


  Vue.component('input-box', {
    data: function(){
      return{
        constFound:false,
        constObj:{},
        licenseThirdQuestion:false,
        userLicense:{
          'text':'',
          'url':'',
          'description':''
        }
      }
    },
    props: ['name','info'],
    methods:{
      markCompleted(propname){
        var self = this;

        var payload = {};
        payload["completed"] = {'name':propname,'value':self.userInput};
        store.commit('markCompleted',payload);
        //unselect after complete
        var payload = {};
        payload["select"] = '';
        store.commit('markSelected',payload);
      },
      clearFieldFor:function(propname){
        var payload = {};
        payload["clear"] = propname;
        store.commit('clearValueOfProp',payload);
      },
      addKeyword(){
        let self = this;
        let value = self.$refs.keywordInput.value;

        if (value.includes(',')) {
          let arr = value.split(',');
          for (var i = 0; i < arr.length; i++) {
            let val = arr[i].trim();
            var payload = {};
            payload["item"] = val;
            payload["from"] = self.name;
            store.commit('addToArrayFrom',payload);
            self.$refs.keywordInput.value = '';
          }
        }else{
          var payload = {};
          payload["item"] = value;
          payload["from"] = self.name;
          store.commit('addToArrayFrom',payload);
          self.$refs.keywordInput.value = '';
        }

      },
      removeItem(name){
        let self = this;
        var payload = {};
        payload["item"] = name;
        payload["from"] = self.name;
        store.commit('removeArrayItemFrom',payload);
      },
      addPerson(type){
        let self = this;
        switch (type) {
          case "citation":
            self.addCitationModal(type)
            break;
          default:
            self.addPersonModal(type)
        }

      },
      addPersonModal(type){
        let self = this;
        Swal.mixin({
          input: 'text',
          confirmButtonText: 'Next &rarr;',
          showCancelButton: true,
          animation:false,
          customClass:'scale-in-center',
          confirmButtonColor:'#5C3069',
          cancelButtonColor:'#006476',
          progressSteps: ['1', '2',]
        }).queue([
          {
            title: "Name*",
            text: "Enter the "+type+"'s full name",
            inputValidator: (value) => {
              if (!value) {
                return 'Name is a required field!'
              }
            }
          },
          {
            title: "URL",
            text: "Enter a URL for this "+type+"'s online profile (faculty page, GitHub page, Linkedin page, etc)",
            inputValidator: (value) => {
              return new Promise((resolve) => {
                function validURL(str) {
                  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
                  return !!pattern.test(str);
                }
                if (validURL(value)) {
                  resolve()
                } else {
                  resolve('Input must be a valid URL')
                }
              })
            }
          }

        ]).then((result) => {
          if (result.value) {
            let name='';
            let url ='';
            if (result.value[0]) {
              name = result.value[0]
            }
            if (result.value[1]) {
              url = result.value[1]
            }else{
              url = ''
            }
            if (name) {
              let person = {'name':name,'url':url};
              if (type === 'publisher') {
                person['@type'] = 'Organization'
              }
              if (type === 'creator' || type === 'contributor' ) {
                person['@type'] = 'Person'
              }
              let self = this;
              var payload = {};
              payload["item"] = person;
              payload["from"] = self.name;
              store.commit('addToArrayFrom',payload);
            }else{
              $.notify("A "+type+"'s name is required",{ globalPosition: 'right',className:'error', showDuration: 40, });
            }


          }
        })
      },
      addCitationModal(type){
        let self = this;
        Swal.mixin({
          input: 'text',
          confirmButtonText: 'Next &rarr;',
          showCancelButton: true,
          confirmButtonColor:'#5C3069',
          cancelButtonColor:'#006476',
          progressSteps: ['1', '2',]
        }).queue([
          {
            title: "Name*",
            text: "Enter the "+type+"'s title or name",
            inputValidator: (value) => {
              if (!value) {
                return 'Name is a required field!'
              }
            }
          },
          {
            title: "URL",
            text: "Enter a URL for this "+type+" (web page, GitHub page, Linkedin page, etc)",
            inputValidator: (value) => {
              return new Promise((resolve) => {
                function validURL(str) {
                  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
                  return !!pattern.test(str);
                }
                if (validURL(value)) {
                  resolve()
                } else {
                  resolve('Input must be a valid URL')
                }
              })
            }
          },
          {
            title: "Identifier",
            text: "Enter this "+type+"'s PubMed id here",
            inputValidator: (value) => {
              if (!value) {
                return 'You need to write something!'
              }
            }
          }

        ]).then((result) => {
          if (result.value) {
            let name='';
            let url ='';
            let ident = '';
            if (result.value[0]) {
              name = result.value[0]
            }
            if (result.value[1]) {
              url = result.value[1]
            }
            if (result.value[2]) {
              ident = result.value[2]
            }

            if (name) {
              let citation = {'name':name,'url':url,'identifier':ident};
              var payload = {};
              payload["item"] = citation;
              payload["from"] = self.name;
              store.commit('addToArrayFrom',payload);
            }else{
              $.notify("A "+type+"'s name is required",{ globalPosition: 'right',className:'error', showDuration: 40, });
            }


          }
        })
      },
      addItem(propName,propInfo){
        var self=this;
        let progressSteps =[]
        let questions =[]

        // Create questions
        for (key in propInfo.properties) {
          progressSteps.push(key)
          switch (key) {
            case 'size':
              questions.push({
                title: key,
                text: propInfo.properties[key].description,
                inputValidator: (value) => {
                  if (!value) {
                    return 'You should write something meanignful'
                  }else{
                    return new Promise((resolve) => {
                      function validInteger(str) {
                        var pattern = new RegExp('^[0-9]*$');
                        return !!pattern.test(str);
                      }
                      if (validInteger(value)) {
                        resolve()
                      } else {
                        resolve('Input must be an integer')
                      }
                    })
                  }
                }
              });
              break;
            case 'name':
              questions.push({
                title: key,
                text: propInfo.properties[key].description,
                inputValidator: (value) => {
                  if (!value) {
                    return 'Name is a required field'
                  }
                }
              });
              break;
            case 'url':
              questions.push({
                title: key,
                text: propInfo.properties[key].description,
                inputValidator: (value) => {
                  return new Promise((resolve) => {
                    function validURL(str) {
                      var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                        '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
                      return !!pattern.test(str);
                    }
                    if (validURL(value)) {
                      resolve()
                    } else {
                      resolve('Input must be a valid URL')
                    }
                  })
                }
              })
              break;
            default:
            questions.push({
              title: key,
              text: propInfo.properties[key].description,
              footer:`<small>If applicable: mutliple items must be separated by commmas</small>`,
              inputValidator: (value) => {
                if (!value) {
                  return 'You should write something meanignful'
                }
              }
            });
          }
        }

        let arr = [] //modal header steps
        for (var i = 0; i < progressSteps.length; i++) {
          arr.push(i+1)
        }

        Swal.mixin({
          input: 'text',
          confirmButtonText: 'Next &rarr;',
          showCancelButton: true,
          confirmButtonColor:'#5C3069',
          cancelButtonColor:'#006476',
          animation:false,
          customClass:'scale-in-center',
          progressSteps: arr
        }).queue(questions).then((result) => {
          if (result.value) {
            let obj = {}
            for (var i = 0; i < progressSteps.length; i++) {
              if (result.value[i].includes(",")) {
                let val = result.value[i].split(',');
                Vue.set(obj,progressSteps[i],val)
              }else{
                if (propInfo.properties[progressSteps[i]].hasOwnProperty('type') && propInfo.properties[progressSteps[i]]['type']==='integer') {
                  let val = parseInt(result.value[i]);
                  Vue.set(obj,progressSteps[i],val)
                }else{
                  let val = result.value[i];
                  Vue.set(obj,progressSteps[i],val)
                }
              }

            }
            var payload = {};
            payload["item"] = obj;
            payload["from"] = propName;
            store.commit('addToArrayFrom',payload);
          }
        })
      },
      checkForConstantKey(obj, keyname, parentkey) {
        var self=this;
        _.mapKeys(obj, function(value, key) {
          if (key === keyname) {
            self.constFound = true;
            Vue.set(self.constObj, parentkey, value)
          }
          if (typeof value === 'object') {
            self.checkForConstantKey(value,keyname,key)
          }
        });

      },
      getLicense(specialCase){
        let self = this;
        let question1 = this.$refs.license1.value;
        let question2 = this.$refs.license2.value;

        if (specialCase) {
          switch (specialCase) {
            case 'No':
              self.userLicense.description = 'No Rights Reserved';
              self.userLicense.url = 'https://creativecommons.org/share-your-work/public-domain/cc0/';
              self.userLicense.text = 'CC0';
              break;
            case "Yes":
              self.userLicense.description = 'Attribution 4.0 International';
              self.userLicense.url = 'http://creativecommons.org/licenses/by/4.0/';
              self.userLicense.text = 'CC BY 4.0';
              break;
            default:
              self.userLicense.description = "We had trouble with your input, please try this link:";
              self.userLicense.text = '';
              self.userLicense.url = 'https://creativecommons.org/choose/';
              self.thirdQuestion = false;
              break;
          }
        }else{
          switch (question1+'|'+question2) {
            case "Yes|Yes":
              // Special Case
              self.licenseThirdQuestion = true;
              let question3 = this.$refs['license3'].value;
              self.getLicense(question3);
              break;
            case "No|Yes":
              self.userLicense.description = 'Attribution-NoDerivatives 4.0 International';
              self.userLicense.url = 'http://creativecommons.org/licenses/by-nd/4.0/';
              self.userLicense.text = 'CC BY-ND 4.0';
              self.licenseThirdQuestion = false;
              break;
            case "Yes, as long as others share alike|Yes":
              self.userLicense.description = 'Attribution-ShareAlike 4.0 International';
              self.userLicense.url = 'http://creativecommons.org/licenses/by-sa/4.0/';
              self.userLicense.text = 'CC BY-SA 4.0';
              self.licenseThirdQuestion = false;
              break;
            case "Yes|No":
              self.userLicense.description = 'Attribution-NonCommercial 4.0 International';
              self.userLicense.url = 'http://creativecommons.org/licenses/by-nc/4.0/';
              self.userLicense.text = 'CC BY-NC 4.0';
              self.licenseThirdQuestion = false;
              break;
            case "No|No":
              self.userLicense.description = 'Attribution-NonCommercial-NoDerivatives 4.0 International';
              self.userLicense.text = 'CC BY-NC-ND 4.0';
              self.userLicense.url = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
              self.licenseThirdQuestion = false;
              break;
            case "Yes, as long as others share alike|No":
              self.userLicense.description = 'Attribution-NonCommercial-ShareAlike 4.0 International';
              self.userLicense.text = 'CC BY-NC-SA 4.0';
              self.userLicense.url = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
              self.licenseThirdQuestion = false;
              break;
            default:
              self.userLicense.description = "We had trouble with your input, please try this link:";
              self.userLicense.text = '';
              self.userLicense.url = 'https://creativecommons.org/choose/';
              self.licenseThirdQuestion = false;
              break;
          }
        }
      },
    },
    watch:{
      constObj:{
        handler(obj){
          var payload = {};
          payload["completed"] = {'name':this.name,'value':obj};
          store.commit('markCompleted',payload);
        },
        deep:true
      }
    },
    mounted: function(){
      var self = this

      self.checkForConstantKey(self.info,'const')

      tippy( '.save', {
        placement:'top',
        maxWidth:'200px',
        content: '<div class="text-success m-0" style="border-radius:none">Save & Close</div>',
        animation: 'fade',
        theme:'light'});

      tippy( '.required', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-danger m-0" style="border-radius:none">This field is required</div>',
        animation: 'fade',
        theme:'light'});

      tippy( '.delete', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-danger m-0" style="border-radius:none">Clear this field</div>',
        animation: 'fade',
        theme:'light'});

      tippy( '#masterForm', {
          target:'.inputpreview',
          content: 'Loading...',
          maxWidth:'200px',
          placement:'left',
          animation: 'fade',
          theme:'light',
          onShow(instance) {
            let info = instance.reference.dataset.tippyInfo;
            instance.setContent("<div class='text-muted m-0 text-left wraptext'><pre>"+info+"</pre></div>")
          }
        });
    },
    computed: {
      isRequired:function(){
        return store.getters.isRequired(this.name)
      },
      userInput: {
        get () {
          return this.$store.state.schema.validation.properties[this.name].value
        },
        set (newValue) {
          var payload = {};
          payload["completed"] = {'name':this.name,'value':newValue};
          store.commit('markCompleted',payload);
        }
      },
      datePreset:function(){
        if (this.$store.state.schema.validation.properties.hasOwnProperty('datePublished') && this.$store.state.schema.validation.properties['datePublished'].value) {
          return this.$store.state.schema.validation.properties['datePublished'].value
        }else if (this.$store.state.schema.validation.properties.hasOwnProperty('dateModified') && this.$store.state.schema.validation.properties['dateModified'].value) {
          return this.$store.state.schema.validation.properties['dateModified'].value
        }else{
          return false;
        }
      }
    },
    template:
    `<div class="m-2 inputbox" :id='name'>
      <div class="row">
        <div class="col-sm-12 text-center text-muted">
          <div class="w-50 m-auto">
            <small>
              <i class="fas fa-info-circle text-info unselectable mr-1"></i>
              <span v-text='info.description || "No description provided"'></span>
            </small>
          </div>
        </div>
        <div class="col-sm-1 left-arrow bg-secondary">

        </div>
        <div class="col-sm-9 p-2 inputmain text-left">
          <div class="row">
            <div class="col-sm-4 d-flex align-items-center justify-content-start">
              <small v-text="name" class="propDescription mainTextLight bold pointer mr-1"></small>
              <i class="fas fa-asterisk text-danger required pointer unselectable" v-if="isRequired"></i>
            </div>
            <div class="col-sm-8">
              <!--🌈🌈🌈 INPUT 🌈 🌈🌈 TYPES 🌈🌈🌈-->
              <template v-if="info && info.type === 'string'">
                <!-- 🌈 STRING 🌈 -->
                <template v-if="info && !info.format">
                  <template v-if="name === 'description'">
                    <textarea pattern=".{20,500}" rows="7" type="text" v-model="userInput" class="form-control form-control-sm" placeholder="enter text here"></textarea>
                  </template>
                  <template v-else>
                    <input :required="isRequired" type="text" v-model="userInput" class="form-control form-control-sm" placeholder="enter text here">
                  </template>
                </template>
                <!-- 🌈 URL 🌈 -->
                <template v-if="info && info.format === 'uri'">
                  <input type="url" data-parsley-type="url" v-model="userInput" class="form-control form-control-sm" placeholder="enter url here">
                </template>
              </template>
              <!-- 🌈 ENUM 🌈 -->
              <template v-if="info && info.enum" v-for="(item,i) in info.enum">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" :id="i" :value="item" @click='userInput=item' v-model="userInput">
                  <label class="form-check-label" :for="i" v-text='item'></label>
                </div>
              </template>
              <!-- 🌈 LICENSE 🌈 -->
              <template v-if="info.type=== 'object' && name === 'license'">
                <form id="licenseForm" class="p-1" v-if="!userInput">
                  <small class="text-muted">Allow commercial uses of your work?</small>
                  <select @change="getLicense()" ref="license1" class="form-control form-control-sm" id="ControlSelect1">
                    <option selected>Choose...</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Yes, as long as others share alike">Yes, as long as others share alike</option>
                  </select>
                  <small class="text-muted">Allow commercial uses of your work?</small>
                  <select @change="getLicense()" ref="license2" class="form-control form-control-sm" id="ControlSelect2" required="">
                    <option selected>Choose...</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <div v-show='licenseThirdQuestion'>
                    <small class="text-muted">Impose legal requirement for attribution?</small>
                    <select @change="getLicense()" ref="license3" class="form-control form-control-sm" id="ControlSelect3" required="">
                      <option selected>Choose...</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                </form>
                <template v-if="userLicense.text && !userInput">
                  <div class="alert alert-success text-center mt-3">
                    <h6 v-text="userLicense.text"></h6>
                    <p>
                      <small v-text="userLicense.description"></small>
                    </p>
                    <small>
                      <a :href="userLicense.url" target="_blank" v-text="'Learn More About '+userLicense.text"></a>
                    </small>
                  </div>
                </template>
                <template v-if="userInput && userInput.text">
                  <div class="alert alert-success text-center mt-3">
                    <small><b>License Chosen:</b> </small>
                    <h6 v-text="userInput.text"></h6>
                    <p>
                      <small v-text="userInput.description"></small>
                    </p>
                    <small>
                      <a :href="userInput.url" target="_blank" v-text="'Learn More About '+userInput.text"></a>
                    </small>
                    <hr />
                  </div>
                </template>
                <div class="text-center p-1" v-if="userLicense.text && !userInput">
                  <button class="btn btn-success" @click="userInput=userLicense">Use This License</button>
                </div>
              </template>
              <!-- 🌈 ONE OF 🌈 -->
              <template v-if="info.oneOf && name === 'datePublished' || name === 'dateModified'">
                <div v-if="datePreset && !userInput" class="p-2">
                  <small>Dates used:</small>
                  <small class="badge badge-info pointer m-1" v-text="'Click to use '+datePreset" @click="userInput=datePreset"></small>
                </div>
                <template v-for="(item,i) in info.oneOf">
                  <div>
                    <template v-if="item.format === 'date'">
                      <input type="date" v-model="userInput" class="form-control form-control-sm" :placeholder="'enter '+item.format">
                    </template>
                    <template v-if="item.type === 'string' && !item.format">
                      <input  type="text" v-model="userInput" class="form-control form-control-sm" :placeholder="'enter '+item.type">
                    </template>
                    <!-- 🔥🔥🔥🔥🔥 TODO: handle nested arrays of objects 🔥🔥🔥🔥🔥 -->
                  </div>
                </template>
              </template>
              <!-- 🌈  KEYWORDS 🌈 -->
              <template v-if="info.type=== 'array' && name === 'keywords'">
                <div class="form-group p-2 row">
                  <div class="col-sm-12 mb-2">
                    <form @submit.prevent="addKeyword">
                      <small class="text-muted">Enter single or multiple keywords separated by commas</small>
                      <input ref="keywordInput" autocomplete="off" type="text" class="form-control form-control-sm" placeholder="Enter text here">
                    </form>
                  </div>
                  <div class="col-sm-12 m-auto">
                    <template v-for="text in userInput">
                      <span title="Delete"  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical" title="remove">
                        <span v-html="text"></span>
                        <span style="opacity:0;" class="d-inline" @click.prevent="removeItem(text)"> <i class="fas fa-times"></i></span>
                      </span>
                    </template>
                  </div>
                  <div class="alert alert-success m-3 w-75" v-show="userInput">
                    <small><b>Saved Keywords:</b> </small>
                    <template v-for="(text,i) in userInput">
                      <small v-html="text"></small>
                      <small v-if="i !== userInput.length-1">, </small>
                    </template>
                  </div>
                </div>
              </template>

              <!-- 🌈  CONSTANT DATA CATALOG 🌈 -->
              <template v-if="info.type=== 'object' && name === 'includedInDataCatalog'">
                <div class="text-center">
                  <div class="text-center bold text-info" v-if="constFound">
                    <small class="bold m-auto">Fixed Value, No Action Needed</small>
                  </div>
                  <div class='alert alert-success m-auto w-75'>
                  <p v-for="(item,index) in userInput" class="m-0">
                    <small class="bold" v-text='index'></small>:<small v-text='item'></small>
                  </p>
                  </div>
                </div>
              </template>
              <!-- 🌈  CONTRIBUTORS 🌈 -->
              <template v-if="info.oneOf && name === 'contributor'">
                <div class="form-group p-2 row">
                  <button class="btn mainBackDark text-light m-auto" @click="addPerson('contributor')"><i class="fas fa-plus"></i> Add Contributor</button>
                </div>
                <div class="col-sm-12 m-auto">
                  <template v-for="(person,i) in userInput">
                    <span title="Delete"  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical inputpreview" title="remove" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
                      <i class="fas fa-user"></i>
                      <span v-text="person.name"></span>
                      <span style="opacity:0;" class="d-inline" @click="removeItem(person.name)"> <i class="fas fa-times"></i></span>
                    </span>
                  </template>
                </div>
                <div class="alert alert-success m-3 w-75" v-show="userInput">
                  <small><b>Saved Contributors:</b> </small>
                  <hr />
                  <template v-for="(person,i) in userInput">
                    <span :title="person.url"  class="text-success inputpreview mr-1" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'>
                      <i class="fas fa-user"></i>
                      <span v-text="person.name"></span>
                    </span>
                    <small class="text-success" v-if="i !== userInput.length-1">, </small>
                  </template>
                </div>
              </template>
              <!-- 🌈  OBJECT 🌈 -->
              <template v-if="info.type=== 'object' && name !== 'license' && name !== 'includedInDataCatalog' ">
                <div class="form-group p-2 row">
                  <button class="btn themeButton text-light m-auto" @click="addItem(name,info)" v-if="info.type=== 'object' && !userInput">
                    <i class="fas fa-plus"></i> <span v-text="'Add '+name"></span>
                  </button>
                </div>
                <div class="col-sm-12 m-auto">
                  <template v-for="(person,i) in userInput">
                    <span :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i'  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical inputpreview" title="remove">
                      <i class="fas fa-circle"></i>
                      <span v-text="name+' '+(i+1)"></span>
                      <span style="opacity:0;" class="d-inline" @click="removeItem(person)"> <i class="fas fa-times"></i></span>
                    </span>
                  </template>
                </div>
                <div class="alert alert-success m-3 w-75" v-show="userInput">
                  <small><b>Saved <span v-text="name"></span>:</b> </small>
                  <hr />
                  <template v-for="(person,i) in userInput">
                    <span :title="person.url"  class="text-success inputpreview mr-1" :data-tippy-info='JSON.stringify(person,null,2)' :data-tippy-id='i' >
                      <i class="fas fa-circle"></i>
                      <span v-text="name+' '+(i+1)"></span>
                    </span>
                    <small class="text-success" v-if="i !== userInput.length-1">, </small>
                  </template>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="col-sm-2 p-2 bg-dark actions d-flex align-items-center justify-content-around">
          <span class="fa-stack fa-1x pointer save" @click="markCompleted(name)" v-show="userInput">
            <i class="fas fa-circle text-muted back fa-stack-2x"></i>
            <i class="fas fa-check fa-stack-1x text-light"></i>
          </span>
          <span class="fa-stack fa-1x pointer delete" @click="clearFieldFor(name)" v-show="info && info.value">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-trash fa-stack-1x text-light"></i>
          </span>
        </div>
      </div>
    </div>`
  });




  var app = new Vue({
      el: '#guide',
      store: store,
			data: function(){
				return {
          userInfo:null,
          loading: false,
          presets:[
            {
              'name':'CTSADataset',
              'url':'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/CTSADataset.json',
              'description':'A schema describing Dataset from CTSA center'
            },
          ]
				}
			},
      computed:{
        validation:function(){
          return store.getters.getValidation
        },
        isComplete:function(){
          return store.getters.isComplete
        },
        totals:function(){
          return store.getters.getTotals
        }
      },
      watch:{
      },
			methods:{
        checkUser(){
          let self = this;
          self.loading = true;
          $.ajax({url: "/user", success: function(result){
              self.loading = false;
             self.userInfo = result;
          },
          cache: false});
        },
        getAndLoadSchema(url){
          var self = this;
          self.loading = true;
          axios.get(url).then(res=>{
            self.loading = false;
            var payload = {};
            payload["schema"] = res.data;
            store.commit('saveSchema',payload);

          }).catch(err=>{
            self.loading = false;
            $.notify("Failed to load schema",{ globalPosition: 'right',className:'error', showDuration: 40, });
            throw err;
          })
        },
        sendRequest(url,schemaName){
          let self = this;
          self.loading = true;
          axios.get("/api/view?url="+url).then(res=>{

            var payload = {};
            payload["name"] = schemaName;
            store.commit('saveSchemaName',payload);

            self.parseData(res.data)

            self.loading = false;
          }).catch(err=>{
            self.loading = false;
            throw err;
          })
        },
        parseData(data){

          let schemaName = store.getters.getSchemaName

          if (data.hits) {
            for (var i = 0; i < data.hits.length; i++) {
              if (data.hits[i].hasOwnProperty('name')) {
                if (data.hits[i].name.includes(schemaName)) {
                  var payload = {};
                  payload["schema"] = data.hits[i];
                  store.commit('saveSchema',payload);
                }
              }else if (data.hits[i].hasOwnProperty('label')) {
                if (data.hits[i].label.includes(schemaName)) {
                  var payload = {};
                  payload["schema"] = data.hits[i];
                  store.commit('saveSchema',payload);
                }
              }
            }
          }
        },
        reset(){
          if (this.validation) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              animation:false,
              customClass:'scale-in-center',
              showCancelButton: true,
              confirmButtonColor:'#5C3069',
              cancelButtonColor:'#006476',
              confirmButtonText: 'Yes, start over'
            }).then((result) => {
              if (result.value) {
                store.dispatch('reset')
              }
            });
          }
        },
        isRequired(propname){
          let req = store.getters.getValidation['required']
          if (req.includes(propname)) {
            return true
          }else{
            return false
          }
        },
        selectProp(propname){
          var payload = {};
          payload["select"] = propname;
          store.commit('markSelected',payload);
        },
        getPreview(){
          store.commit('formPreview');
          Swal.fire({
            position: 'center',
            confirmButtonColor:'#5C3069',
            cancelButtonColor:'#006476',
            animation:false,
            customClass:'scale-in-center',
            html: `<h6 class="text-center mainTextDark">Preview</h6><div class="text-left p-1 previewBox">
                    <small>
                      <pre>
                        `+JSON.stringify(store.getters.getPreview,null,2)+`
                      </pre>
                    </small>
                  </div>`
          });
        },
        handleRegistration(){
          var self = this;

          if (this.isComplete) {
            store.commit('formPreview');
            let output = store.getters.getOutput
            self.loading = true;

            Swal.fire({
              title: 'Register this dataset?',
              html:"<small>Are you all done? Click <b>Register Now</b> to proceed.</small>",
              footer:`<small class='text-danger'>You won't be able to edit anymore after it's been registered.</small>`,
              confirmButtonColor:'#5C3069',
              cancelButtonColor:'#006476',
              animation:false,
              customClass:'scale-in-center',
              showCancelButton: true,
              confirmButtonText: 'Register Now',
              showLoaderOnConfirm: true,
              onClose:function(){
                self.loading = false;
              },
              preConfirm: (input) => {
                axios.post('/api/dataset',output).then(res=>{
                  self.loading = false;
                  if (res.data.success) {
                    let timerInterval
                    Swal.fire({
                      type:'success',
                      title: 'Registration Successful',
                      html:
                        'Taking you to your dataset page in <strong></strong> seconds.',
                      timer: 3000,
                      onBeforeOpen: () => {
                        const content = Swal.getContent()
                        const $ = content.querySelector.bind(content)
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                          Swal.getContent().querySelector('strong')
                            .textContent = (Swal.getTimerLeft() / 1000)
                              .toFixed(0)
                        }, 100)
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                        store.dispatch('reset')
                        window.location.href='/dataset/'+res.data.id
                      }
                    })
                  }
                }).catch(err=>{
                  self.loading = false;
                  throw err;
                  Swal.fire({
                    type: 'error',
                    toast: true,
                    position: 'top center',
                    title: 'Registration Failed: ',
                    text: err
                  });
                })
              },
              allowOutsideClick: () => !Swal.isLoading(),

            });
            self.loading = true;
          }

        },
        downnloadSchema(){
          var self = this;
          if (this.isComplete){
            store.commit('formPreview');
            Swal.fire({
              title: 'Name your file',
              input: 'text',
              inputAttributes: {
                autocapitalize: 'off'
              },
              showCancelButton: true,
              confirmButtonText: 'Download JSON-LD',
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              if (result.value) {
                self.download(JSON.stringify(store.getters.getPreview,null,2), result.value+'.jsonld', 'text/plain')
              }
            })
          }

        },
        download(content, fileName, contentType) {
          var a = document.createElement("a");
          var file = new Blob([content], {type: contentType});
          a.href = URL.createObjectURL(file);
          a.download = fileName;
          a.click();
        },
        showHelp(){
          Swal.fire({
            title: 'Dataset Guide',
            html:`<p>
                    After selecting a starting point you will be able complete a series of fields. It's really easy and fast! Here's a quick introduction to the layout:
                  </p>
                  <small>
                    <ul class="text-left">
                      <li>
                        1. Log-in status
                      </li>
                      <li>
                        2. Start over from scratch
                      </li>
                      <li>
                        3. Preview your progress
                      </li>
                      <li>
                        4. Download your progress (Available after completing all required fields)
                      </li>
                      <li>
                        5. Register your dataset (Available after completing all required fields)
                      </li>
                      <li>
                        6. All fields availble to complete (* Required)
                      </li>
                      <li>
                        7. Progress bar
                      </li>
                      <li>
                        8. Complete fields
                      </li>
                      <li>
                        9. Current field clicked
                      </li>
                      <li>
                        10. Actions: Save & Close and Clear Field
                      </li>
                    </ul>
                  </small>`,
            footer:'',
            width:'52em',
            confirmButtonColor:'#5C3069',
            cancelButtonColor:'#006476',
            confirmButtonText:"Ready!",
            imageUrl: '/static/img/metadata.png',
            imageAlt: 'Dataset Editor'
          })
        }
			},
			mounted:function(){
        this.checkUser();
			}
		});


</script>
{% include "footer.html" %}
{% endblock %}
