{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="registry" class="jumbotron" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-7" style="margin:auto;">
      <h1 class="text-center logoText mb-5 mt-5">METADATA REGISTRY</h1>
      <div class="p-3">
        <form @submit.prevent="search(query)">
          <div class="form-group form-row">
            <input class="form-control col-6" id="search_query" type="text" v-model="query" name="query" placeholder="Search Registry" >
            <button class="col btn ml-2 themeButton text-light pulse" type="button" @click.prevent="search(query)">Search</button>
            <button class="col btn ml-2 btn-secondary fill" type="button" @click.prevent="query='';registry=[]">Reset</button>
          </div>
        </form>
      </div>
      <div class="resultsTab mt-3 p-1 bg-secondary text-light" v-text="registryTotal+' Results'">

      </div>
      <ul class="list-group context" style="border-top:solid 3px var(--main)" id="regTippyParent">
        <li class="list-group-item d-flex justify-content-center align-items-center text-muted p-1" style="background:#d0d0d0;">
          <small v-if="registry.length && query" v-text="'results for '+query">
          </small>
        </li>
        <template v-if="registry.length" v-for="(item,index) in registryResults">
          <registry-item :item='item' :key="index"></registry-item>
        </template>
        <li v-if="!registry.length" class="text-center text-muted list-group-item">
          <div class="jumbotron">
            <h4>Search for existing schemas</h4>
            <h5>For example:</h5>
            <a href="#" class="badge mainBackLight text-light mr-1" @click.prevent='search("Thing")'>Thing</a>
            <a href="#" class="badge mainBackLight text-light mr-1" @click.prevent='search("CreativeWork")'>CreativeWork</a>
            <a href="#" class="badge mainBackLight text-light mr-1" @click.prevent='search("Dataset")'>Dataset</a>
          </div>
        </li>
      </ul>
      <div class="bg-light">
        <div class="row">
          <nav class="m-auto ">
            <ul class="pagination m-2 flex-wrap p-2">
              <li class="page-item" :class="{ 'disabled': page <= 1 }">
                <a class="page-link" @click.prevent="prevPage()">&lt;</a>
              </li>
              <li class="page-item" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }" v-for="n in pages">
                <a href="#" class="page-link" @click.prevent="page = n" v-text="n"></a>
              </li>
              <li class="page-item" :class="{ 'disabled': page >= pages }">
                <a class="page-link" @click.prevent="nextPage()">&gt;</a>
              </li>
            </ul>
          </nav>
          <div class="col-sm-12 right-align form-group">
            <select class="perPage form-control form-control-sm w-50 m-auto" v-model="perPage" @change="calculatePages" id="perPage">
                <option value="" disabled selected>Shown Per Page</option>
                <option value="20">20 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

Vue.component('registry-item', {
  data: function(){
    return{
      options:true
    }
  },
  props: ['item'],
  methods:{
    saveDataAndRedirect(item){
      var self = this;
      if (item) {
        window.location.href = '/metadata/'+item._id;
      }else{
          Swal.fire(
            'Oops!',
            'Action not available for this item',
          );
      }
    },
    getSubclass(parents){
      if (parents) {
        let sub = parents[0].split(', ');
        return sub[sub.length-1]
      }else{
        return 'This class has no subclass'
      }
    },
    getPropTotal(){
      if (this.item.hasOwnProperty('properties')) {
        return this.item.properties.length
      }else{
        return '0'
      }
    }
  },
  watch:{
  },
  mounted: function(){
    tippy('#'+this.item.name, {
      interactive:'true',
      content: "<div class='text-muted m-0 text-left'><pre>"+JSON.stringify(this.item,null,2)+"</pre></div>" || "<div class='alert alert-warning m-0'>No Description Available</div>",
    })
  },
  template: `<li class="list-group-item list-group-item-action p-0">
    <div class="d-flex">
      <div class="flex-grow-1 p-2">
        <div class="w-100">
          <h5 class="mb-1 mainTextDark d-inline" v-text="item.name"></h5>
          <small v-if="item && item.version" class="text-muted" v-text="'Version '+item.version"></small>
          <small><i :id="item.name" class="fas fa-search-plus text-info"></i></small>
          <p v-if="item && item.description" class="text-muted">
            <small v-html="item.description"></small>
          </p>
        </div>
      </div>
      <div v-if='options' class="p-1 bg-dark d-flex align-items-center justify-content-around flip-in-ver-left">
        <div>
          <span class="fa-stack fa-1x pointer tip mr-2 ml-2" @click.prevent="saveDataAndRedirect(item)" :data-tippy-info="'View'">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-eye fa-stack-1x text-light"></i>
          </span>
        </div>
      </div>
    </div>
  </li>`
});

var app = new Vue({
      el: '#registry',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          input:'',
          linkPrefix:'./',
          data: null,
          user:{},
          testURL:'',
          registry:[],
          registryTotal:'0',
          sort:'Search Relevance',
          query:'',
          page: 1,
          pages: 1,
          perPage: 20,
          loading:false,
				}
			},
      methods:{

        searchByUser(username){
          var self = this;

          $('#searching').show();

          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.unmark();

          axios.get('/api/query?q=_meta.username:'+username+'&size=100').then(function (response) {
            self.registry = response.data.hits;
            self.registryTotal = response.data.total;
            $( document ).ready(function() {
              self.mark(username);
            });
            if (self.registryTotal) {
              self.calculatePages();
            }
            $('#searching').hide();
          });
        },
        mark: function(kw){
          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.mark(kw);
        },
        getQueryFilters: function(){
            var filters = [];
            var authorFilters = [];
            var finalFilters = {};
            this.tags.forEach(function(item){
              if (item.active)
                  filters.push(item.name);
              });
            if (filters.length > 0){
              finalFilters['tags.name.raw'] = filters;
            }

            this.authors.forEach(function(item){
              if (item.active){
                authorFilters.push(item.name);
              }
              });
            if (authorFilters.length){
              finalFilters['info.contact.name.raw'] = authorFilters;
            }

            return finalFilters;
        },
        search(query){
          var self = this;

          query = query || "__all__";

          if (query) {
              var params = {
                  "params": {
                    "q": query,
                    // 'fields': 'info,_meta,paths.path, paths.pathitem.get.summary,paths.pathitem.post.summary,paths.pathitem.delete.summary,paths.pathitem.patch.summary,paths.pathitem.put.summary,paths.pathitem.head.summary,paths.pathitem.put.summary,options.pathitem.head.summary,paths.pathitem.put.summary,paths.pathitem.trace.summary, tags,openapi,swagger,'
                  }
              };
            }
            // var filters = this.getQueryFilters();
            // if (filters)
            //     params["params"]["filters"] = filters;

            self.loading = true;

            var context = document.querySelector(".context");
            var instance = new Mark(context);
            instance.unmark();
            //clear registry to fix mixing results info
            self.registry = [];
            axios.get('/api/metadata?size=1000', params).then(function (response) {
              self.registry = response.data.hits;
              self.registryTotal = response.data.total;
              // mark results, doc must be loaded
              $( document ).ready(function() {
                self.mark(self.query);
              });
              if (self.registryTotal) {
                self.calculatePages();
              }
              self.loading = false;
            });
        },
        calculatePages: function () {
          var self= this;
          self.pages = Math.ceil(self.registry && self.registry.length / self.perPage);
        },
        prevPage: function () {
          var self= this;
          if (self.page > 1)
              self.page -= 1
        },
        nextPage: function () {
          var self= this;
          if (self.page < self.pages)
              self.page += 1
        },
        sortResults(e){
          this.sort = e.target.value;
        },
        checkLoggedUser(){
          var self = this;
          axios.get('./user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
            }
          }).catch(err=>{
            throw err;
          });
        },
    },
    mounted:function(){
      var self = this;
      self.checkLoggedUser();
      self.search();
      tippy( '#regTippyParent', {
        target:'.tip',
        placement:'top',
        maxWidth:'200px',
        content: 'loading',
        animation: 'fade',
        theme:'light',
        onShow(instance) {
          let info = instance.reference.dataset.tippyInfo;
          instance.setContent("<div class='text-muted m-0 text-center wraptext'>"+info+"</div>")
        }});
    },
    computed: {
                registryResults: function () {
                    var start = (this.page - 1) * this.perPage,
                        end = start + this.perPage;
                    return this.registry && this.registry.slice(start, end);
                }
            },
  })

  // Smooth Scroll-To

  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) {
              return false;
            } else {
              $target.attr('tabindex','-1');
              $target.focus();
            };
          });
        }
      }
    });
</script>

{% include "footer.html" %}
{% endblock %}
