{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="playground" class="container" style="padding-top:60px;">
  <div class="bg-light text-center mt-5">
    <h1 class="logoText">SCHEMA PLAYGROUND</h1>
		<p class="text-muted">
      Create, Visualize and Register Your Own Schema
    </p>
    <p class="text-center">
      <a href="/registry">Go To Registry <i class="fas fa-chevron-right"></i></a>
    </p>
  </div>
  <div class="jumbotron alert-secondary col-sm-12 m-0">
    <div class="container d-flex justify-content-center align-content-center">
      <div class="pt-2 pb-2 text-center">
        <h1 class="mainTextDark text-center">GET STARTED</h1>
        <h4 class="text-muted text-center">What would you like to do?</h4>
        <a role="button" class="btn themeButton text-light m-2 px-3 py-3 btn-lg" href="#visualize" rel="noreferrer"><i class="fas fa-eye"></i> Visualize Schema</a>
        <a role="button" class="btn themeButton text-light m-2 px-3 py-3 btn-lg" href="#create" rel="noreferrer"><i class="fas fa-code-branch"></i> Create Schema</a>
        <a role="button" class="btn themeButton text-light m-2 px-3 py-3 btn-lg" href="/registry" rel="noreferrer">Search Registry</a>
      </div>
    </div>
  </div>
  <div class="jumbotron bg-light row m-0 d-flex justify-content-center align-items-center" id="schemas" style="min-height:40vh;">
    <div class="col-sm-12 pt-5 pb-5">
      <h1 class="text-center text-muted caps mb-4 mt-4">Power of Schemas</h1>
      <div class="w-100">
        <div class="row m-0">
          <!-- card -->
          <div class="col-sm-12 col-md-4 p-2">
            <img src="/static/img/sp1-01.svg" alt="Planning" />
            <h4 class="text-center mainTextDark caps">
              Planning
            </h4>
            <div class="mt-3">
              <p class="text-muted">
                Organize and structure your data right from the start in a way that not only humans but computers can understand. A schema is a blueprint that graphically depicts the structure of your data.
              </p>
            </div>
          </div>
          <!-- card -->
          <div class="col-sm-12 col-md-4 p-2">
            <img src="/static/img/sp2-01.svg" alt="Hierachy" />
            <h4 class="text-center mainTextDark caps">
              Hierachy
            </h4>
            <div class="mt-3">
              <p class="text-muted">
                Schemas follow a hierarchical structure each with properties inherited to all children. For example:
                <ul class="text-muted">
                  <li>
                    <i>A <a href="https://schema.org/Person" target="_blank">Person</a> has a property of <a href="https://schema.org/birthDate" target="_blank">birthDate</a></i>
                  </li>
                  <li>
                    <i><a href="https://schema.org/Thing" target="_blank">Thing</a> &gt; <a href="https://schema.org/CreativeWork" target="_blank">CreativeWork</a> &gt; <a href="https://schema.org/Dataset" target="_blank">Dataset</a></i>
                  </li>
                </ul>
              </p>
            </div>
          </div>
          <!-- card -->
          <div class="col-sm-12 col-md-4 p-2">
            <img src="/static/img/sp3-01.svg" alt="Reusability" />
            <h4 class="text-center mainTextDark caps">
              Interoperability
            </h4>
            <div class="mt-3">
              <p class="text-muted">
                Schemas allow for data to be completely understood by different interfaces and let computers access, exchange, integrate data in a uniform manner.<br />
                <small>- Learn about <a data-tippy="Learn More About FAIR Principles" data-tippy-theme="light" target="_blank" href="https://www.go-fair.org/fair-principles/">FAIR</a> principles.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-12 mb-4 p-2 alert-secondary shareBack" id="visualize">
      <div class="text-center alert  m-0" >
        <h4 class="text-muted mt-5 caps">If you have a schema</h4>
        <div class="row">
          <div class="col-sm-6 d-flex justify-content-center align-items-center" style="min-height:30vh;">
            <div>
              <span class="fa-stack fa-2x m-2">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-eye fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="text-muted caps">
                <b class="mainTextDark">Visualize</b> your schema<br /> and browse it with ease
              </h4>
            </div>
          </div>
          <div class="col-sm-6 d-flex justify-content-center align-items-center" style="min-height:30vh;">
            <div>
              <span class="fa-stack fa-2x m-2">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-check fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="text-muted caps">
                <b class="mainTextDark">Register</b> your schema<br /> and share it with the community
              </h4>
            </div>
          </div>
        </div>
        <div class="alert p-2 d-flex justify-content-center align-items-center" style="background:#85558c;">
          <div class="w-100 pt-3 pb-3">
            <h4 class="mb-3 mt-3 text-light">Visualize <i class="fas fa-arrow-right mainTextLight"></i> Register Your Schema</h4>
            <form id="linkForm" class="col-sm-6 m-auto">
              <div class="input-group mb-3 shadow rounded">
                <input type="text" class="form-control" v-model="input" id="urlform" autocomplete="" required ref="my_input" aria-label="Paste your link here"  placeholder="Paste your link here" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button :disabled="!input.length" :class="{heartbeat:input.length}" @click.prevent="getFormValues()" id="button-addon2" class="btn btn-info" type="submit">Go</button>
                </div>
              </div>
              <div v-if=loading class="loader">
                <img src="./static/img/ripple.svg"/>
              </div>
              {% if site_name == "Data Discovery Engine" %}
                <small class="text-light">Examples:</small>
                <small class="badge badge-dark pointer mr-1"
                @click="input = 'https://raw.githubusercontent.com/data2health/schemas/biothings/biothings/biothings_curie_kevin.jsonld'">
                  BioLink Schema
                </small>
                <small class="badge badge-dark pointer mr-1"
                @click="input = 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/CTSADataset.json'">
                  CTSA Dataset Schema
                </small>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 p-2 mb-4 alert-secondary extendBack" id="create">
      <div class="text-center alert">
        <h4 class="text-muted mt-5 caps">If you <b class="text-dark">don't</b> have a schema</h4>
        <div>
          <div class="row">
            <div class="col-sm-6 m-auto d-flex justify-content-center align-items-center" style="min-height:30vh;">
              <div>
                <span class="fa-stack fa-2x m-2">
                  <i class="fas fa-circle fa-stack-2x text-dark"></i>
                  <i class="fas fa-code-branch fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="text-muted caps">
                  <b class="mainTextDark">Extend</b> a schema<br /> specific to your needs
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="alert p-2 mt-3" style="background:#85558c;">
          <div class="row m-0">
            <div class="col-sm-12 col-md-5">
              <h4 class="text-light caps mt-3 mb-3">
                Common starting points:
              </h4>
              <div class="d-flex align-items-center justify-content-around">
                <template v-for='item in startingPoints'>
                  <preset-box :preset='item'></preset-box>
                </template>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 d-flex justify-content-center align-items-center">
              <h4 class="text-light caps pt-3 pb-3">
                OR
              </h4>
            </div>
            <div class="col-sm-12 col-md-5">
              <h4 class="text-light caps mt-3 mb-3">
                Search for starting point:
              </h4>
              <div class="message text-center text-muted p-4">
                <h5 class="text-muted">Search for a Class</h5>
                <a role="button" class="btn themeButton text-light m-3" href="/registry">To Registry</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

Vue.component('preset-box', {
  props: ['preset'],
  template: `<div class="message text-center text-muted p-4">
              <h4 class="m-1">
              <span v-text='preset.name'></span></h4>
              <small><span v-text='preset.description'></span></small>
              <br />
              <a role="button" @click='handleClick(preset.name,preset.url)' class="btn themeButton text-light pulse m-1" href="#"><i class="fas fa-code-branch"></i> Extend</a>
            </div>`,
  methods: {
    handleClick(name,url){
			var self = this;
      console.log(self.item)
			axios.get('/api/registry/'+self.preset.namespace+'/'+self.preset.prefix+':'+self.preset.name).then(res=>{
				let obj = JSON.stringify(res.data)
				localStorage.setItem('EditorData',obj);
				localStorage.setItem('EditorStartingPoint',self.preset.prefix+':'+self.preset.name);
				window.location.href ='/editor'
			}).catch(err=>{
				throw err;
			})
    }
  }
});

var app = new Vue({
      el: '#playground',
			data: function(){
				return {
          input: '',
          suggestedURL:'',
          slug:'',
          number:'',
          choice:'',
          loading:false,
          startingPoints:{{starting_points}}
				}
			},
      watch:{
        input: function(value, oldValue){
          if (value.includes('blob') || value.includes('github.com')) {
            this.suggestedURL = value.replace('blob/', '')
            .replace('github.com', 'raw.githubusercontent.com')
            .replace('www.github.com', 'raw.githubusercontent.com');;

            Swal({
              title: 'Link Converted',
              imageUrl: "./static/img/dde-logo-o.svg",
              imageHeight: 100,
              imageAlt: 'Warning',
              animation:false,
              customClass:'scale-in-center',
              html:
                '<p>We noticed that was not a raw data link. We have converted it to: </p> ' +
                '<p><a target="_blank" href="'+this.suggestedURL+'">'+this.suggestedURL+'</a></p>' +
                '<p>Proceed with this link?</p>',
              showCancelButton: true,
              confirmButtonColor:"{{color_main}}",
              cancelButtonColor:"{{color_sec}}",
              confirmButtonText: 'Yes, use this link!'
            }).then((result) => {
              if (result.value) {
                this.input = this.suggestedURL;
              }
            });
          }
        }
      },
			methods:{
        handleChoice(choice){
          var self = this;
          if (choice === 'visualize') {
            Swal.fire({
              title: 'Visualize a schema',
              text:'Paste your link here:',
              input: 'text',
              inputAttributes: {
                autocapitalize: 'off',
              },
              showCancelButton: true,
              confirmButtonText: 'Go',
              showLoaderOnConfirm: true,
              preConfirm: (value) => {
                if (value.includes('blob') || value.includes('github.com')) {
                  self.suggestedURL = value.replace('blob/', '')
                  .replace('github.com', 'raw.githubusercontent.com')
                  .replace('www.github.com', 'raw.githubusercontent.com');;

                  Swal({
                    title: 'Link Converted',
                    imageAlt: 'Warning',
                    animation:false,
                    customClass:'scale-in-center',
                    html:
                      '<p>We noticed that was not a raw data link. We have converted it to: </p> ' +
                      '<p><a target="_blank" href="'+self.suggestedURL+'">'+self.suggestedURL+'</a></p>' +
                      '<p>Proceed with this link?</p>',
                    showCancelButton: true,
                    confirmButtonColor:"{{color_main}}",
                    cancelButtonColor:"{{color_sec}}",
                    confirmButtonText: 'Yes, use this link!'
                  }).then((result) => {
                    if (result.value) {
                      return result.value
                    }
                  });
                }
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              if (result.value) {
                self.input = result.value
                this.sendRequest()
              }
            })
          }else{
            window.location.href = "./registry"
          }
        },
        getFormValues () {
          this.input = this.$refs.my_input.value;
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        assignTempName(hits){
          let self = this;
          if (hits.length) {
            if (hits[0].hasOwnProperty('namespace')) {
              self.slug = hits[0]['namespace'];
            }else if (hits[0].hasOwnProperty('name')) {
              self.slug = hits[0]['name'].split(':')[0];
            }
            else{
              self.slug = 'temp'
            }
            self.makeURLandRedirect();
          }else{
            Swal(
              'Error parsing schema',
              "No classes found",
              'error'
            );
          }
        },
        sendRequest(){
          let self = this;
          self.loading = true;
          axios.get("/api/view?url="+self.input).then(res=>{
            console.log(res.data)
            self.data = res.data;
            self.loading = false;
            localStorage.setItem('user-schema-classes',JSON.stringify(self.data));
            localStorage.setItem('user-schema-url',self.input);
            self.assignTempName(res.data.hits);
          }).catch(err=>{
            self.loading = false;
            self.loading = false;
            // console.log('err',err.response.data)
            let culprit = "<h6>"+err.response.data.error+"</h6>"
            if (err.response.data && err.response.data.path) {
              culprit += "<h5>Culprit <i class='fas fa-arrow-right'></i> <b class='text-danger'>"+err.response.data.path+"</b></h5>"
            }
            if (err.response.data.parent && err.response.data.parent.path){
              if (true) {
                culprit += "<h5>Under <i class='fas fa-arrow-right'6</i> <b class='text-danger'>"+err.response.data.parent.path+"</b></h5>"
              }
              if (err.response.data.parent && err.response.data.parent.reason) {
                culprit += "<div class='alert alert-warning'><small>"+err.response.data.parent.reason+"</small></div>"
              }
            }
            if (err.response.data.hasOwnProperty('validator_value') && err.response.data.validator_value.length){
              culprit += "<div class='alert alert-info'><small> Hint: "+err.response.data.validator_value+"</small></div>"
            }
            Swal.fire({
              type: 'error',
              position: 'top center',
              title: 'Failed because: ',
              html: culprit,
            });
            throw err;
          })
        },
        makeURLandRedirect(){
          this.number = Math.floor(Math.random()*90000) + 10000;
          this.setLastViewed();
          window.location.href = "./view/"+this.slug+this.number+"/";
        },
        setLastViewed(){
          let temp = this.slug+this.number;
          sessionStorage.clear();
          sessionStorage.setItem(temp,localStorage.getItem('user-schema-classes'));
          sessionStorage.setItem(temp+'-url',localStorage.getItem('user-schema-url'));
        }
			},
			mounted:function(){
			}
		});

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

</script>
{% include "footer.html" %}
{% endblock %}
