{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<div id="playground" class="container" style="min-height: 70vh;padding-top:60px;">
  <div class="jumbotron animatedBack text-center mt-5">
    <h1 class="text-light">SCHEMA PLAYGROUND</h1>
  </div>
  <div v-if="!choice" class="row mb-4">
    <div class="col-sm-12 p-5 bg-light text-center text-muted">
      <h1>DO YOU HAVE A SCHEMA?</h1>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <buttom @click.prevent="choice='have'" class="btn no-br col-sm-12 col-md-6 text-center p-5 btn-light text-muted">
          <h1 class="mainTextDark bold">Yes</h1>
          <p>Visualize your schema and register it</p>
        </buttom>
        <buttom @click.prevent="choice='dont'" class="btn no-br col-sm-12 col-md-6 text-center p-5 btn-light text-muted">
          <h1 class="mainTextLight bold">No</h1>
          <p>Search existing schemas to start your own</p>
        </buttom>
      </div>
    </div>
  </div>
  <div v-if="choice" class="">
    <buttom @click.prevent="choice=''" class="btn w-100 text-center p-4 btn-danger text-light">
      Back
    </buttom>
  </div>
  <div v-if="choice === 'have'" class="jumbotron text-muted text-center">
    <h1>VISUALIZE &amp; REGISTER YOUR SCHEMA</h1>
    <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
      <div class="form-group">
        <label for="urlform">Paste your URL here:</label>
        <input style="margin:auto;" data-parsley-trigger="change" v-model="input" id="urlform" autocomplete="" required ref="my_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
        <button :disabled="!input.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
      </div>
      <div v-if=loading class="loader">
        <img src="./static/img/ripple.svg"/>
      </div>
      <small class="text-muted">Examples:</small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/data2health/schemas/biothings/biothings/biothings_curie.jsonld'">
        <i class="fas fa-question-circle" data-tippy="BioThings Schema"></i> BioThings Schema
      </small>
      <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/CTSADataset.json'">
        <i class="fas fa-question-circle" data-tippy="CTSA Schema"></i> CTSA Dataset Schema
      </small>
      <!-- <small class="badge badge-pill badge-secondary pointer mr-1"
      @click="input = 'https://schema.org/Dataset.jsonld'">
        <i class="fas fa-question-circle" data-tippy="Dataset Schema"></i> Schema.org Dataset Schema
      </small> -->
    </form>
  </div>
  <div v-if="choice === 'dont'" class="jumbotron text-muted text-center">
    <h1>COMMON STARTING POINTS</h1>
    <div class="row">
      <template v-for='item in presets'>
        <preset-box :preset='item'></preset-box>
      </template>
    </div>
    <hr />
    <div class="p-5">
      <h4>
        Don't see the right starting point?
      </h4>
      <h1 cla>SEARCH FOR EXISTING SCHEMAS</h1>
      <p>
        The registry includes schemas from the community and <a target="_blank" href="https://schema.org/">Schema.org</a> core schemas.
      </p>
      <a role="button" class="btn themeButton text-light pulse" href="/registry">Go To Registry</a>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="./static/js/parsley.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

Vue.component('preset-box', {
  props: ['preset'],
  data: function(){
    return{

    }
  },
  mounted:function(){

  },
  template: `<div class="bg-light text-center p-5 col-sm-6 col-md-3">
              <h4 class="m-1">
              <i v-if="preset.name === 'Cvisb:Dataset'" class="far fa-calendar"></i>
              <i v-if="preset.name === 'Cvisb:Experiment'" class="fas fa-flask"></i>
              <i v-if="preset.name === 'Cvisb:Sample'" class="fas fa-vial"></i>
              <i v-if="preset.name === 'Cvisb:Patient'" class="fas fa-id-card"></i>
              <span v-text='preset.name'></span></h4>
              <small><span v-text='preset.description'></span></small>
              <br />
              <a role="button" @click='handleClick(preset.name,preset.url)' class="btn themeButton text-light pulse m-1" href="#">Go</a>
            </div>`,
  methods: {
    handleClick(name,url){
        axios.get('/api/proxy?url='+url).then(res=> {
          if (res.data) {
            let obj = JSON.stringify(res.data)
            localStorage.setItem('datasetData',obj);
            localStorage.setItem('editFrom',name);
            window.location.href = '/editor';
          }
        });
    }
  }
});

var app = new Vue({
      el: '#playground',
			data: function(){
				return {
          input: '',
          suggestedURL:'',
          slug:'',
          choice:'',
          loading:false,
          presets:[
            {
              'url':'https://raw.githubusercontent.com/data2health/schemas/master/cvisb/cvisb_dataset.json',
              'name':'Cvisb:Dataset',
              'description':'A schema describing Dataset in the Center for Viral Systems Biology'
            },
            {
              'url':'https://raw.githubusercontent.com/data2health/schemas/master/cvisb/cvisb_experiment.json',
              'name':'Cvisb:Experiment',
              'description':'A schema describing a Systems Serology Experiment in the Center for Viral Systems Biology '
            },
            {
              'url':'https://raw.githubusercontent.com/data2health/schemas/master/cvisb/cvisb_patient.json',
              'name':'Cvisb:Patient',
              'description':'A schema describing a Patient/Person in the Center for Viral Systems Biology experiments '
            },
            {
              'url':'https://raw.githubusercontent.com/data2health/schemas/master/cvisb/cvisb_sample.json',
              'name':'Cvisb:Sample',
              'description':'A schema describing a derived sample from a primary source in the Center for Viral Systems Biology '
            }
          ]
				}
			},
      watch:{
        input: function(value, oldValue){
          if (value.includes('blob') || value.includes('github.com')) {
            this.suggestedURL = value.replace('blob/', '')
            .replace('github.com', 'raw.githubusercontent.com')
            .replace('www.github.com', 'raw.githubusercontent.com');;

            Swal({
              title: 'Link Converted',
              imageUrl: "./static/img/dde-logo-o.svg",
              imageHeight: 100,
              imageAlt: 'Warning',
              html:
                '<p>We noticed that was not a raw data link. We have converted it to: </p> ' +
                '<p><a target="_blank" href="'+this.suggestedURL+'">'+this.suggestedURL+'</a></p>' +
                '<p>Proceed with this link?</p>',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, use this link!'
            }).then((result) => {
              if (result.value) {
                this.input = this.suggestedURL;
              }
            });
          }
        }
      },
			methods:{
        getFormValues () {
          this.input = this.$refs.my_input.value;
          this.$refs.my_input.value = '';
          this.sendRequest()
        },
        assignTempName(hits){
          let self = this;
          if (hits.length) {
            if (hits[0].hasOwnProperty('namespace')) {
              self.slug = hits[0]['namespace'];
            }else if (hits[0].hasOwnProperty('name')) {
              self.slug = hits[0]['name'].split(':')[0];
            }
            else{
              self.slug = 'temp'
            }
            self.makeURLandRedirect();
          }else{
            Swal(
              'Error parsing schema',
              "No classes found",
              'error'
            );
          }
        },
        sendRequest(){
          let self = this;
          self.loading = true;
          axios.get("/api/view?url="+self.input).then(res=>{
            console.log(res.data)
            self.data = res.data;
            self.loading = false;
            localStorage.setItem('user-schema-classes',JSON.stringify(self.data));
            localStorage.setItem('user-schema-url',self.input);
            self.assignTempName(res.data.hits);
          }).catch(err=>{
            self.loading = false;
            // Swal(
            //   'Something went wrong.',
            //   'Make sure your GitHub link links directly to your data page or raw data',
            //   'error'
            // );
            throw err;
          })
        },
        makeURLandRedirect(){
          let number = Math.floor(Math.random()*90000) + 10000;
          window.location.href = "./"+this.slug+number+"/";
        },
			},
			mounted:function(){
        $('#linkForm').parsley();
			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
