{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="registry" class="jumbotron" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div class="container">

    <div class="">
      <h1 class="text-center logoText mb-1 mt-5">Schema Registry</h1>
      <div class="alert alert-secondary p-1 rounded">
        <div class="">
          <small class="bold text-muted">SHORTCUTS</small>
          <template v-for="item in shortcuts">
            <div class="pillType d-inline pointer m-1" @click.prevent="window.location.href='/view/'+item.registered_namespace+'/'" :data-tippy="'Visualize Classes in '+item.name" data-tippy-theme="light">
              <span class="mainBackDark">Visualize <i class="fas fa-eye"></i></span>
              <span v-text="item.name"></span>
            </div>
          </template>
          <template v-for='item in startingPoints'>
            <preset-box :preset='item'></preset-box>
          </template>
        </div>
      </div>
      <div v-if="compareItems.length" class="d-flex justify-content-around align-items-center p-1 alert grad mt-2">
        <template v-for="item in compareItems">
          <div :key="item.label" class="flip-in-ver-left badge badge-light" :style="'border: 3px solid'+item.color">
            <span v-text="item.name"></span>
          </div>
        </template>
        <div>
          <button :disabled="compareItems.length > 1?false:true" @click="compareAll()" v-if="compareItems.length" class="btn btn-lg btn-success">Compare</button>
        </div>
      </div>
      <div class="mt-4">
        <form @submit.prevent="search(query)">
          <div class="row m-0 cBox actions bg-secondary rounded">
            <div class="col-sm-10 p-2">
              <div class="d-flex align-item-center">
                <div v-show="registryTotal && registry.length">
                  <small class="text-light px-2" v-text="registryTotal+' Results'"></small>
                </div>
                <input class="form-control col-10" id="search_query" type="text" v-model="query" name="query" placeholder="Search..." >
              </div>
            </div>
            <div class="col-sm-2 p-2 bg-dark actions d-flex align-items-center justify-content-around">
              <span class="fa-stack fa-1x pointer search unselectable tip" @click.prevent="search(query)">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-search fa-stack-1x text-light"></i>
              </span>
              <span class="fa-stack fa-1x pointer reset unselectable" @click.prevent="window.location.reload()">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>
                <i class="fas fa-undo fa-stack-1x text-light"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex align-item-center justify-content-between px-3 text-muted">
        <small>Compare (Max 4)</small>
        <small>Details</small>
        <small>View/Extend</small>
      </div>
      <ul class="list-group context" id="regTippyParent">
        <template v-if="registry.length" v-for="(item,index) in registryResults">
          <registry-item :item='item' :key="index"></registry-item>
        </template>
        <li v-if="!registry.length" class="text-center text-muted list-group-item">
          {% if site_name == "CTSA Data Discovery Engine" %}
            <div class="jumbotron">
              <h4>Search for schema classes</h4>
              <h5>For example:</h5>
              <a href="#" class="text-muted mr-1" @click.prevent='search("Thing")'>Thing <i class="fas fa-chevron-right"></i></a>
              <a href="#" class="text-muted mr-1" @click.prevent='search("CreativeWork")'>CreativeWork <i class="fas fa-chevron-right"></i></a>
              <a href="#" class="text-muted mr-1" @click.prevent='search("Dataset")'>Dataset <i class="fas fa-chevron-right"></i></a>
            </div>
          {% endif %}
        </li>
      </ul>
      <div class="bg-light">
        <div class="row">
          <nav class="m-auto ">
            <ul class="pagination m-2 flex-wrap p-2">
              <li class="page-item" :class="{ 'disabled': page <= 1 }">
                <a class="page-link" @click.prevent="prevPage()"><i class="fas fa-step-backward"></i></a>
              </li>
              <li class="page-item" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }" v-for="n in pages">
                <a href="#" class="page-link" @click.prevent="page = n" v-text="n"></a>
              </li>
              <li class="page-item" :class="{ 'disabled': page >= pages }">
                <a class="page-link" @click.prevent="nextPage()"><i class="fas fa-step-forward"></i></a>
              </li>
            </ul>
          </nav>
          <div class="col-sm-12 right-align form-group">
            <select class="perPage form-control form-control-sm w-50 m-auto" v-model="perPage" @change="calculatePages" id="perPage">
                <option value="" disabled selected>Shown Per Page</option>
                <option value="20">20 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- compareResults -->
  <div id="compareResults" class="modal">
    <!-- Modal content -->

    <div class="modal-content">
      <div>
        <span id="closeBtn" class="close">&times;</span>
      </div>
      <div>
        <h5 class="text-center logoText">Compare Schemas</h5>
        <span class="text-center d-block">
          <small class="text-info mr-2"><i class="fas fa-circle"></i> SIMILARITIES (To One or More)</small>
          <small class="text-dark mr-2"><i class="fas fa-circle"></i> UNIQUE</small>
          <small class="text-danger mr-2"><i class="fas fa-dot-circle"></i> Schema.org Defined</small>
        </span>
      </div>
      <div class="d-flex justify-content-center align-items-start">
        <template v-for="(item,i) in results">
          <comparison-item :item="item" :key="i"></comparison-item>
        </template>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/notify.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

const store = new Vuex.Store({
  state: {
    'maxComparisons':4,
    'maxReached': false,
    'compareItems': [],
    'compareResults':[]
  },
  strict: true,
  mutations: {
    addItem(state,payload){
      let item = payload['item'];
      let dupCheck = false;

      if (state.compareItems.length !== state.maxComparisons) {
        if (!state.compareItems.length) {
          state.compareItems.push(item);
        }else{
          for (var i = 0; i < state.compareItems.length; i++) {
            if (state.compareItems[i]['name'] == item['name']){
              dupCheck = true;
            }
          }
          if (!dupCheck) {
            state.compareItems.push(item);
          }else{
            $.notify("Duplicate item ignored",{ globalPosition: 'right',className:'error', showDuration: 40, });
          }
        }
      }
      if (state.compareItems.length == state.maxComparisons) {
        $.notify("Max items reached",{ globalPosition: 'right',className:'warning', showDuration: 40, });
        state.maxReached = true;
      }
    },
    removeItem(state,payload){
      let item = payload['item'];
      for (var i = 0; i < state.compareItems.length; i++) {
        if (state.compareItems[i]['name'] == item['name']) {
          state.compareItems.pop(item);
          console.log('removed item',state.compareItems);
          return true;
        }
      }
      $.notify("Failed to remove "+item['name']+", Try again.",{ globalPosition: 'right',className:'warning', showDuration: 40, });

    },
    reset(state){
      Vue.set(state,'compareItems',[])
    },
    compareAll(state){
      function compare(main,other){
        if (main.hasOwnProperty('properties')) {
          for (var i = 0; i < main.properties.length; i++) {
            let propName =  main.properties[i]['label'];
            // console.log('%c current PROP from MAIN '+propName,'color:yellow')
            // look for prop in others
            for (var o = 0; o < other.length; o++) {
              // console.log('%c current OTHER '+other[o].label,'color:orange')
              if (other[o].hasOwnProperty('properties')) {
                // iter other props
                for (var op = 0; op < other[o].properties.length; op++) {
                  // console.log('%c PROP from OTHER '+other[o].properties[op]['label'],'color:pink')
                  if (other[o].properties[op]['label'] == propName) {
                    // console.log('%c MATCH FOUND','color:limegreen');
                    // console.log(other[o].properties[op]['label'],propName)
                    // console.log('setting foundInAll to ', main.properties[i].label)
                    Vue.set(main.properties[i],'foundInAll',true);
                  }
                }
              }
            }
          }
        }
        let done = other.concat([main]);
        return done;
      }

      for (var i = 0; i < state.compareItems.length; i++) {
        let copy = [...state.compareItems];
        let main = copy[i];
        other = copy.splice(i,1);
        // console.log("%c *** "+main.label,'color:hotpink')
        // console.log("OTHER ",copy)
        let result = compare(main,copy);
        // console.log('RES', result)
        Vue.set(state,'compareResults', result);
        // show modal
        var modal = document.getElementById("compareResults");
        modal.style.display = "block";
        var span = document.getElementById("closeBtn");
        span.onclick = function() {
          modal.style.display = "none";
        }
      }
    }
  },
  getters:{
    // exposed as store.getters.nameOfGetter
    getMaxReached: state => {
      return state.maxReached
    },
    getCompareItems: state =>{
      return state.compareItems
    },
    getResults: state =>{
      return state.compareResults
    }
  },
  actions: {
    // resetComparisonItems (context) {
    //   context.commit('toggleShowAll')
    // }
  }
});

Vue.component('comparison-item', {
  data: function(){
    return {
      unique:[],
      incommon:[],
      ownprops:[]
    }
  },
  props: ['item'],
  mounted:function(){
    this.parseProps();
    tippy( '#compareResults', {
      target:'.tip',
      placement:'right',
      content: 'loading',
      interactive: true,
      animation: 'fade',
      theme:'light',
      onShow(instance) {
        let info = instance.reference.dataset.tippyInfo;
        instance.setContent("<div style='background:white;'>"+info+"</div>")
      }});
  },
  methods: {
    parseProps(){
      let self = this;
      let set = [];
      let set_uniq = [];
      if (self.item.hasOwnProperty('properties')) {
        // console.log("all props", JSON.stringify(self.item.properties,null,2))
        for (var i = 0; i < self.item.properties.length; i++) {
          if (self.item.properties[i].hasOwnProperty('foundInAll')) {
            set.push(self.item.properties[i])
          }else {
            set_uniq.push(self.item.properties[i])
          }
          if (self.item.properties[i]['domain'].includes(self.item.name)) {
            self.ownprops.push(self.item.properties[i])
          }
        }
        self.unique = _.uniqBy(set_uniq, function (e) {
                          return e.label;
                        });
        self.incommon = _.uniqBy(set, function (e) {
                          return e.label;
                        });
      }
    },
    isOwnProp(prop){
      let self = this;
      if (prop['domain'].includes(self.item.name)) {
        return true
      }
      return false;
    }
  },
  template: `<div class="p-1 m-1">
              <h5 class="badge badge-light" :style="'border: 3px solid'+item.color" v-text="item.name"></h5>
              <p class='mainTextDark'>
              <small>Properties: </small>
              <small><span v-text="ownprops.length+' own'"></span> (<i class="fas fa-star fa-xs text-info"></i>)</small> |
              <small v-text="incommon.length+unique.length-ownprops.length+' inherited'"></small>
              </p>
              <button class="btn btn-info btn-sm w-100 rounded-0" type="button" data-toggle="collapse" data-target="#incommon" aria-expanded="false" aria-controls="incommon">
                <span v-text="'Compare Similarities ('+incommon.length+')'"></span>
              </button>
              <div v-if="incommon.length" class="collapse" id="incommon">
                <div v-for="prop in incommon" class="text-info">
                  <i class="fas fa-xs fa-dot-circle text-danger" v-if='prop.curie.includes("schema:")'></i>
                  <i class="fas fa-star fa-xs text-info" v-if='isOwnProp(prop)'></i>
                  <small v-text="prop.label" class='tip pointer compare-prop' :data-tippy-info="prop.description"></small>
                </div>
              </div>
              <div v-else class="text-warning p-1">NO SIMILARITIES</div>
              <button class="btn btn-dark btn-sm w-100 rounded-0" type="button" data-toggle="collapse" data-target="#unique" aria-expanded="false" aria-controls="unique">
                <span v-text="'Compare Unique Properties ('+unique.length+')'"></span>
              </button>
              <div v-if="unique.length" class="collapse" id="unique">
                <div v-for="prop in unique"">
                  <i class="fas fa-xs fa-dot-circle text-danger" v-if='prop.curie.includes("schema:")'></i>
                  <i class="fas fa-star fa-xs text-info" v-if='isOwnProp(prop)'></i>
                  <small v-text="prop.label" class="tip pointer compare-prop" :data-tippy-info="prop.description"></small>
                </div>
              </div>
            </div>`,
});

Vue.component('preset-box', {
  props: ['preset'],
  template: `<div class="pillType d-inline pointer m-1"  @click.prevent="handleClick()" data-tippy="Create a new schema from this starting point" data-tippy-theme="light">
              <span class="mainBackLight">Extend <i class="fas fa-code-branch"></i></span>
              <span v-text="preset.name"></span>
            </div>`,
  methods: {
    handleClick(){
			var self = this;
			axios.get('/api/registry/'+self.preset.namespace+'/'+self.preset.prefix+':'+self.preset.name).then(res=>{
				let obj = JSON.stringify(res.data)
				localStorage.setItem('EditorData',obj);
				localStorage.setItem('EditorStartingPoint',self.preset.prefix+':'+self.preset.name);
				window.location.href ='/editor'
			}).catch(err=>{
				throw err;
			})
    }
  }
});

Vue.component('registry-item', {
  data: function(){
    return{
      options:false,
      expand: false,
      picked: false,
      adding:false
    }
  },
  props: ['item'],
  methods:{
    saveDataAndRedirect(item,goesToEditor){
      var self = this;
      // console.log("ITEM",item)
      if (goesToEditor) {
        // console.log("TO EDITOR")
        if (item && item.namespace && item.label && item.prefix) {
          let obj = JSON.stringify(item)
          localStorage.setItem('EditorData',obj);
          localStorage.setItem('EditorStartingPoint',item.prefix+':'+item.label);
          window.location.href = goesToEditor;
        }else{
          Swal.fire(
            'Oops!',
            'Action not available for this item',
          );
        }
      }else{
        // console.log("TO VIEWER")
        if (item && item.namespace && item.label) {
          window.location.href = '/view/'+item.namespace+'/'+item.label;
        }else{
            Swal.fire(
              'Oops!',
              'Action not available for this item',
            );
        }
      }
    },
    getSubclass(parents){
      if (parents) {
        let sub = parents[0].split(', ');
        return sub[sub.length-1]
      }else{
        return 'This class has no subclass'
      }
    },
    handlePick(){
      var self = this;
      // self.picked = !self.picked;
    },
    getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
    getFullInfo(item){
      //add param v for verbose definition including all parents
      var self = this;
      self.adding = true;
      axios.get('/api/registry/'+item.namespace +'/'+item.name+'?v').then(res=>{
        let allProps = [];
        for (var i = 0; i < res.data['hits'].length; i++) {
          // keep item form but combine all props from parents and add
          let current = res.data['hits'][i];
          if (current.hasOwnProperty('properties')) {
            allProps = allProps.concat(current['properties'])
          }
        }
        // console.log('All props for '+item.label+" are "+allProps.length)
        let sorted = _.sortBy(allProps, [function(o) { return o.label; }]);
        Vue.set(item,'properties',sorted)
        Vue.set(item,'color',self.getRandomColor())
        let payload ={}
        payload['item'] = item;
        store.commit('addItem',payload);

        self.adding = false;

      }).catch(err=>{
        self.adding = false;
        $.notify("Could not add item "+item.name,{ globalPosition: 'right',className:'error', showDuration: 40, });
        throw err;
      });

    }
  },
  computed:{
    imgLink: function(){
      switch (this.item['namespace']) {
        case 'schema':
          return "/static/img/schema.png";
          break;
        case 'niaid':
          return "/static/img/niaid/icon.svg";
          break;
        case 'outbreak':
          return "/static/img/outbreak.png";
          break;
        case 'bts':
          return "/static/img/biothings-logo-xs.png";
          break;
        case 'google':
          return "/static/img/google.png";
          break;
        case 'ctsa':
          return "/static/img/dde-logo-o.svg";
          break;
        default:
          return "/static/img/dde-logo-o.svg";
      }
    },
    propTotal(){
      if (this.item.hasOwnProperty('properties')) {
        return this.item.properties.length
      }else{
        return 0
      }
    },
    maxReached(){
      return store.getters.getMaxReached
    }
  },
  watch:{
    picked: function(picked){
      let self = this;
      let payload ={}
      payload['item'] = self.item;
      if (picked) {
        self.getFullInfo(self.item)
      }else {
        store.commit('removeItem',payload);
      }
    }
  },
  mounted: function(){
    tippy('#'+this.item.label, {
      theme:'light',
      interactive: true,
      content: "<div class='text-left text-muted'>"+JSON.stringify(this.item.description,null,2)+"</div>" || "<div class='m-0'>No Description Available</div>",
    })
  },
  template: `<li class="list-group-item p-0">
    <div class="d-flex">
      <div class="p-4 d-flex align-items-center">
        <input v-model="picked" @change="handlePick" class="form-control tip m-auto" :data-tippy-info="maxReached?'Max Comparison Items Reached':'Compare This Item'" type="checkbox"/>
        <i v-if="adding" class="fas fa-spinner fa-pulse text-info ml-2"></i>
      </div>
      <div class="flex-grow-1 d-flex align-items-center">
        <div class="d-inline mr-1">
          <div class="d-inline mr-1" >
            <img :src="imgLink" width="30" title="From" alt="img">
          </div>
          <h6 class="mb-1 mainTextDark d-inline">
             </span> <span v-text="item.label"></span> <small><i :id="item.label" class="fas fa-info-circle text-info"></i></small>
          </h6>
          <ul v-if="expand" class="mainTextLight">
            <li v-for="prop in item.properties" :key="prop.label">
              <small v-text="prop.label"></small>
            </li>
          </ul>
        </div>
        <p class="d-inline m-0 text-muted">
          <small class="pointer" @click="expand=!expand">
            <span :class="[propTotal>0?'text-primary':'text-muted']"><span v-text="propTotal"></span> Properties</span>
            <i v-show="propTotal" class="fas" :class="[!expand?'fa-plus-square':'fa-minus-square']"></i>
          </small>
           |
          <small><i class="fas fa-home"></i>: </small>
          <small class="text-muted">
            <a v-text="item.namespace" :href="'/view/'+item.namespace"></a>
          </small>
           |
          <small>Subclass of:</small>
          <small class="mb-1" v-text="getSubclass(item.parent_classes)"></small>
        </p>
      </div>
      <div class="p-1 bg-dark d-flex align-items-center justify-content-around flip-in-ver-left">
        <div>
          <span class="fa-stack fa-1x pointer tip mr-2 ml-2" @click.prevent="saveDataAndRedirect(item)" :data-tippy-info="'Visualize '+item.label">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-eye fa-stack-1x text-light"></i>
          </span>
        </div>
        <div>
          <span class="fa-stack fa-1x pointer tip mr-2 ml-2" @click.prevent="saveDataAndRedirect(item,'editor')" :data-tippy-info="'Extend '+item.label">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-code-branch fa-stack-1x text-light"></i>
          </span>
        </div>
      </div>
    </div>
  </li>`
});

var app = new Vue({
      el: '#registry',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          input:'',
          linkPrefix:'./',
          data: null,
          user:{},
          testURL:'',
          registry:[],
          registryTotal:'0',
          sort:'Search Relevance',
          query:'',
          page: 1,
          pages: 1,
          perPage: 20,
          loading:false,
          startingPoints:{{starting_points}},
          shortcuts:{{registry_shortcuts}}
				}
			},
      methods:{

        searchByUser(username){
          var self = this;

          $('#searching').show();

          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.unmark();

          axios.get('/api/query?q=_meta.username:'+username+'&size=100').then(function (response) {
            self.registry = response.data.hits;
            self.registryTotal = response.data.total;
            $( document ).ready(function() {
              self.mark(username);
            });
            if (self.registryTotal) {
              self.calculatePages();
            }
            $('#searching').hide();
          });
        },
        mark: function(kw){
          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.mark(kw);
        },
        getQueryFilters: function(){
            var filters = [];
            var authorFilters = [];
            var finalFilters = {};
            this.tags.forEach(function(item){
              if (item.active)
                  filters.push(item.name);
              });
            if (filters.length > 0){
              finalFilters['tags.name.raw'] = filters;
            }

            this.authors.forEach(function(item){
              if (item.active){
                authorFilters.push(item.name);
              }
              });
            if (authorFilters.length){
              finalFilters['info.contact.name.raw'] = authorFilters;
            }

            return finalFilters;
        },
        search(query){
          var self = this;

          query = query || "__all__";

          if (query) {
              var params = {
                  "params": {
                    "q": query,
                    // 'fields': 'info,_meta,paths.path, paths.pathitem.get.summary,paths.pathitem.post.summary,paths.pathitem.delete.summary,paths.pathitem.patch.summary,paths.pathitem.put.summary,paths.pathitem.head.summary,paths.pathitem.put.summary,options.pathitem.head.summary,paths.pathitem.put.summary,paths.pathitem.trace.summary, tags,openapi,swagger,'
                  }
              };
            }
            // var filters = this.getQueryFilters();
            // if (filters)
            //     params["params"]["filters"] = filters;

            self.loading = true;

            var context = document.querySelector(".context");
            var instance = new Mark(context);
            instance.unmark();
            //clear registry to fix mixing results info
            self.registry = [];
            axios.get('/api/query?size=1000', params).then(function (response) {
              // console.log('%c SEARCH..','color:hotpink')
              // console.log(response.data)
              self.registry = response.data.hits;
              self.registryTotal = response.data.total.value;
              // mark results, doc must be loaded
              $( document ).ready(function() {
                self.mark(self.query);
              });
              self.calculatePages();
              self.loading = false;
            });
        },
        calculatePages: function () {
          var self= this;
          self.pages = Math.ceil(self.registry && self.registry.length / self.perPage);
        },
        prevPage: function () {
          var self= this;
          if (self.page > 1)
              self.page -= 1
        },
        nextPage: function () {
          var self= this;
          if (self.page < self.pages)
              self.page += 1
        },
        sortResults(e){
          this.sort = e.target.value;
        },
        checkLoggedUser(){
          var self = this;
          axios.get('./user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
            }
          }).catch(err=>{
            throw err;
          });
        },
        compareAll(){
          store.commit('compareAll')
        }
    },
    mounted:function(){
      var self = this;
      self.checkLoggedUser();
      self.search();
      tippy( '.search', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-muted m-0" style="border-radius:none">Search</div>',
        animation: 'fade',
        theme:'light'});
        tippy( '.reset', {
          maxWidth:'200px',
          placement:'top',
          content: '<div class="text-muted m-0" style="border-radius:none">Reset</div>',
          animation: 'fade',
          theme:'light'});
          tippy( '.reset', {
            maxWidth:'200px',
            placement:'top',
            content: '<div class="text-muted m-0" style="border-radius:none">Reset</div>',
            animation: 'fade',
            theme:'light'});
      tippy( '#regTippyParent', {
        target:'.tip',
        placement:'top',
        maxWidth:'200px',
        content: 'loading',
        interactive: true,
        animation: 'fade',
        theme:'light',
        onShow(instance) {
          let info = instance.reference.dataset.tippyInfo;
          instance.setContent("<div class='text-muted m-0 text-center wraptext'>"+info+"</div>")
        }});
    },
    computed: {
      registryResults: function () {
          var start = (this.page - 1) * this.perPage,
              end = start + this.perPage;
          return this.registry && this.registry.slice(start, end);
      },
      compareItems: function(){
        return store.getters.getCompareItems
      },
      results: function(){
        return store.getters.getResults
      },
    },
  })

  // Smooth Scroll-To

  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) {
              return false;
            } else {
              $target.attr('tabindex','-1');
              $target.focus();
            };
          });
        }
      }
    });
</script>

{% include "footer.html" %}
{% endblock %}
