{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="registry" class="jumbotron" style="min-height:80vh;">
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <div class="container">

    <div class="">
      <h1 class="text-center logoText mb-1 mt-2">Schema Registry</h1>
      <div class="alert alert-secondary p-1 rounded">
        <div class="">
          <small class="bold text-muted">SHORTCUTS</small>
          <template v-for="item in shortcuts">
            <div class="pillType d-inline pointer m-1" @click.prevent="window.location.href='/view/'+item.registered_namespace+'/'" :data-tippy="'Visualize Classes in '+item.name" data-tippy-theme="light">
              <span class="mainBackDark">Visualize <i class="fas fa-eye"></i></span>
              <span v-text="item.name"></span>
            </div>
          </template>
          <template v-for='item in startingPoints'>
            <preset-box :preset='item'></preset-box>
          </template>
        </div>
      </div>
      <!-- <div v-if="compareItems.length" class="d-flex justify-content-around align-items-center p-1 alert grad mt-2">
        <template v-for="item in compareItems">
          <div :key="item.label" class="flip-in-ver-left badge badge-light" :style="'border: 3px solid'+item.color">
            <span v-text="item.name"></span>
          </div>
        </template>
        <div>
          <button :disabled="compareItems.length > 1?false:true" @click="compareAll()" v-if="compareItems.length" class="btn btn-success mr-1">Complete</button>
          <button :disabled="compareItems.length > 1?false:true" @click="compareUsed()" v-if="compareItems.length" class="btn btn-success mr-1">Used Only</button>
        </div>
      </div> -->
      <div class="mt-4">
        <form @submit.prevent="search(query)">
          <div class="row m-0 cBox actions bg-secondary rounded">
            <div class="col-sm-9 p-2">
              <div class="d-flex align-item-center">
                <div>
                  <small class="text-light px-2" v-text="registryTotal+' Results'"></small>
                </div>
                <input class="form-control col-10" id="search_query" type="text" v-model="query" name="query" placeholder="Search..." >
              </div>
            </div>
            <div class="col-sm-3 p-2 bg-dark actions d-flex align-items-center justify-content-around">
              <span class="fa-stack fa-1x pointer search unselectable tip" @click.prevent="search(query)">
                <i class="fas fa-circle text-muted fa-stack-2x"></i>
                <i class="fas fa-search fa-stack-1x text-light"></i>
              </span>
              <span class="fa-stack fa-1x pointer reset unselectable" @click.prevent="window.location.reload()">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>
                <i class="fas fa-undo fa-stack-1x text-light"></i>
              </span>
              <span class="fa-stack fa-1x pointer unselectable compare" @click="openModal()">
                <i class="fas fa-circle fa-stack-2x mainTextDark"></i>
                <i class="fas fa-not-equal fa-stack-1x text-light"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex align-item-center justify-content-between px-3 text-muted">
        <small>Compare (Max 4)</small>
        <small>Details | <span class="badge badge-success mr-1 bold">V</span> validation available</small>
        <small>View/Extend</small>
      </div>
      <ul class="list-group context" id="regTippyParent">
        <template v-if="registry.length" v-for="(item,index) in registryResults">
          <registry-item :item='item' :key="index"></registry-item>
        </template>
        <li v-if="!registry.length" class="text-center text-muted list-group-item">
          {% if site_name == "CTSA Data Discovery Engine" %}
            <div class="jumbotron">
              <h4>Search for schema classes</h4>
              <h5>For example:</h5>
              <a href="#" class="text-muted mr-1" @click.prevent='search("Thing")'>Thing <i class="fas fa-chevron-right"></i></a>
              <a href="#" class="text-muted mr-1" @click.prevent='search("CreativeWork")'>CreativeWork <i class="fas fa-chevron-right"></i></a>
              <a href="#" class="text-muted mr-1" @click.prevent='search("Dataset")'>Dataset <i class="fas fa-chevron-right"></i></a>
            </div>
          {% endif %}
        </li>
      </ul>
      <div class="bg-light">
        <div class="row">
          <nav class="m-auto ">
            <ul class="pagination m-2 flex-wrap p-2">
              <li class="page-item" :class="{ 'disabled': page <= 1 }">
                <a class="page-link" @click.prevent="prevPage()"><i class="fas fa-step-backward"></i></a>
              </li>
              <li class="page-item" :class="{ 'active': page == n, 'bg-primary': page == n, 'white-text': page == n  }" v-for="n in pages">
                <a href="#" class="page-link" @click.prevent="page = n" v-text="n"></a>
              </li>
              <li class="page-item" :class="{ 'disabled': page >= pages }">
                <a class="page-link" @click.prevent="nextPage()"><i class="fas fa-step-forward"></i></a>
              </li>
            </ul>
          </nav>
          <div class="col-sm-12 right-align form-group">
            <select class="perPage form-control form-control-sm w-50 m-auto" v-model="perPage" @change="calculatePages" id="perPage">
                <option value="" disabled selected>Shown Per Page</option>
                <option value="20">20 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- compareResults -->
  <div id="compareResults" class="modal" style="z-index: 1000;">
    <!-- Modal content -->
    <div class="modal-content">
      <div>
        <span id="closeBtn" class="close">&times;</span>
      </div>
      <div>
        <h5 class="text-center logoText">Compare Schemas</h5>
      </div>
      <div class="d-flex justify-content-center p-2" v-if="compareItems.length > 1">
        <div class="w-50 border-right p-1 text-muted text-center">
          <h6 class="mainTextLight">
            Compare All Properties (Extended and Inherited)
          </h6>
          <small class="d-block"><i class="fas fa-dot-circle text-danger"></i> Inherited from Schema.org</small>
          <small class="d-block"><i class="fas fa-circle text-info"></i> Extended Definition</small>
          <button @click="compareAll()" class="btn mainBackLight text-light m-auto">
            <i class="fas fa-list-ul "></i> Compare All
          </button>
        </div>
        <div class="w-50 border-left p-1 text-muted text-center">
          <h6 class="mainTextDark">
            Compare Used Properties By Schema (If Specified)
          </h6>
          <small class="d-block">Only properties used as specified in validation</small>
          <small v-if="!compareUsedAvailable" class="text-danger d-block">Not available: One or more of these items do no specify used properties. ( <span class="badge badge-success">V</span> )</small>
          <small v-else class="d-block">(embedded JSON-schema validation)</small>
          <button :disabled="!compareUsedAvailable" @click="compareUsed()" class="btn mainBackDark text-light m-auto">
            <i class="fas fa-tasks"></i> Compare Used
          </button>
        </div>
      </div>
      <p v-else class="text-center text-muted alert alert-light p-2 mt-2">
        <i class="fas fa-exclamation-circle text-danger"></i> Please select at least 2 items to compare. <br>Select any items to compare ALL properties or items with  validation available ( <small class="badge badge-success">V</small> )
        to compare USED properties only.
      </p>
      <div>
        <small class="text-muted">
          <b v-text="results.length"></b> properties were compared
        </small>
      </div>
      <div id="example-table"></div>
      <div v-if="compareItems.length > 1" class="p-1 alert-secondary text-center">
        <a id="downloadCSV" href="#" class="text-muted">
          <small><i class="fas fa-file-download"></i> Download CSV</small>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="/static/js/vuex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="/static/js/notify.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<link href="/static/css/tabulator.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/tabulator.js"></script>
<script>

$.notify.addStyle('success', {
    html: "<div><span data-notify-text/></div>",
    classes: {
      base: {
        "white-space": "nowrap",
        "background-color": "#28a745",
        "padding": "5px",
        "color":'white',
      }
    }
  });
  $.notify.addStyle('danger', {
    html: "<div class='bg-danger text-light p-1'><span data-notify-text/></div>",
    classes: {
      base: {
        "white-space": "nowrap",
        "background-color": "#dc3545",
        "padding": "5px",
        "color":'white',
      }
    }
  });
  $.notify.addStyle('warning', {
    html: "<div class='bg-danger text-light p-1'><span data-notify-text/></div>",
    classes: {
      base: {
        "white-space": "nowrap",
        "background-color": "#ffc107",
        "padding": "5px",
        "color":'white',
      }
    }
  });
  $.notify.addStyle('info', {
    html: "<div class='bg-danger text-light p-1'><span data-notify-text/></div>",
    classes: {
      base: {
        "white-space": "nowrap",
        "background-color": "#17a2b8",
        "padding": "5px",
        "color":'white',
      }
    }
  });

const store = new Vuex.Store({
  state: {
    'maxComparisons':4,
    'maxReached': false,
    'compareItems': [],
    'compareResults':[],
    'compareUsedAvailable': true
  },
  strict: true,
  mutations: {
    resetItems(state,payload){
      state.compareItems = [];
      $.notify("Cleared",{ globalPosition: 'right', showDuration: 40, style:"success"});
    },
    addItem(state,payload){
      let item = payload['item'];
      let dupCheck = false;

      if (state.compareItems.length !== state.maxComparisons) {
        if (!state.compareItems.length) {
          state.compareItems.push(item);
        }else{
          for (var i = 0; i < state.compareItems.length; i++) {
            if (state.compareItems[i]['name'] == item['name']){
              dupCheck = true;
            }
          }
          if (!dupCheck) {
            if (!item.hasOwnProperty('validation')) {
              state.compareUsedAvailable = false;
            }
            state.compareItems.push(item);
          }else{
            $.notify("Duplicate item ignored",{ globalPosition: 'right', showDuration: 40, style:"danger"});
          }
        }
      }
      if (state.compareItems.length == state.maxComparisons) {
        $.notify("Max items reached",{ globalPosition: 'right',style:"warning", showDuration: 40, });
        state.maxReached = true;
      }
    },
    removeItem(state,payload){
      let item = payload['item'];
      _.remove(state.compareItems, function(n) {
        return n['name'] == item['name'];
      });
    },
    reset(state){
      Vue.set(state,'compareItems',[])
    },
    compareAll(state){
      let finalResutls = [];

      function compare(main,other){
        if (main.hasOwnProperty('properties')) {
          for (var i = 0; i < main.properties.length; i++) {
            let propName =  main.properties[i]['curie'];
            let propLabel =  main.properties[i]['label'];
            if (propName.includes('schema:')) {
              propLabel = '<i class="fas fa-dot-circle text-danger"></i> '+main.properties[i]['label']
            }else{
              propLabel = '<span><i class="fas fa-circle text-info"></i> '+main.properties[i]['curie']+'</span>'
            }
            // look for prop in others
            let tableRow = {'Property': propLabel}
            tableRow[main['name']] = true;

            for (var o = 0; o < other.length; o++) {
              if (other[o].hasOwnProperty('properties')) {
                // iter other props
                //set to false by default but will change to true if match found
                tableRow[other[o]['name']] = false;
                for (var op = 0; op < other[o].properties.length; op++) {
                  // console.log('%c PROP from OTHER '+other[o].properties[op]['label'],'color:pink')               
                  if (other[o].properties[op]['curie'] == propName) {
                    tableRow[other[o]['name']] = true;                   
                  }
                }
                
              }
            }
            //stringify to check prop obj duplication
            var index = finalResutls.findIndex(x => x.Property== propLabel)
            // here you can check specific property for an object whether it exist in your array or not
            if (index === -1){
              finalResutls.push(tableRow)
            }
            
          }
        }
      }

      //column formatting for table
      let cols = [
        {title:'Property', field:'Property', sorter:"string", formatter:'html'}
      ]

      for (let i = 0; i < state.compareItems.length; i++) {
        let copy = [...state.compareItems];
        let main = copy[i];
        other = copy.splice(i,1);
        //compare pulled item against others
        compare(main,copy);
        //create one formatting def per item compared
        cols.push({title:main['name'], field:main['name'], sorter:"boolean", hozAlign:"center", formatter:"tickCross"},) 
      }

      // console.log('RES', finalResutls)
      Vue.set(state,'compareResults', finalResutls);       
      // show modal
      var modal = document.getElementById("compareResults");
      modal.style.display = "block";
      var span = document.getElementById("closeBtn");
      span.onclick = function() {
        modal.style.display = "none";
      }
      //show table
      var table = new Tabulator("#example-table", {
        height:500, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data:state.compareResults, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        columns: cols,
      });

      let elements = document.querySelectorAll(".tabulator-col");
      for (var i = 0; i < elements.length; i++) {
        elements[i].style.backgroundColor = "#4a7d8f";
        elements[i].style.color = "white";
      }

      var dl = document.getElementById("downloadCSV");
      dl.onclick = function() {
        table.download("csv", "schema_comparison_complete.csv");
      }

    },
    compareUsed(state){
      let finalResutls = [];

      function compare(main,other){
        if (main.hasOwnProperty('validation')) {
          let props = main.validation.properties;
          for (const prop in props) {
            let propName =  prop
            let propLabel =  prop
            
            let tableRow = {'Property': propLabel}
            if (main.validation.required.includes(prop)) {
              //mark required todo
            }
            tableRow[main['name']] = true;

            for (var o = 0; o < other.length; o++) {
              if (other[o].hasOwnProperty('validation')) {
                let other_props = other[o].validation.properties;
                tableRow[other[o]['name']] = false;
                for (const other_prop in other_props) {
                  if (other_prop == propName) {
                    tableRow[other[o]['name']] = true;                   
                  }
                }
              }
              else if (other[o].hasOwnProperty('properties')) {
                // $.notify(other[o]['name']+" does not specify props used, using ALL",{ globalPosition: 'right',style:"info", showDuration: 40, });
                // iter other props
                //set to false by default but will change to true if match found
                tableRow[other[o]['name']] = false;
                for (var op = 0; op < other[o].properties.length; op++) {
                  //check label not name jsonschema does not have prefixes
                  if (other[o].properties[op]['label'] == propName) {
                    tableRow[other[o]['name']] = true;                   
                  }
                }
                
              }
            }
            //stringify to check prop obj duplication
            //stringify to check prop obj duplication
            var index = finalResutls.findIndex(x => x.Property== propLabel)
            // here you can check specific property for an object whether it exist in your array or not
            if (index === -1){
              finalResutls.push(tableRow)
            }

          }

        }else if (main.hasOwnProperty('properties')) {
          $.notify(main['name']+" does not specify props used, using ALL",{ globalPosition: 'right',style:"info", showDuration: 40, });
          for (var i = 0; i < main.properties.length; i++) {
            let propName =  main.properties[i]['curie'];
            let propLabel =  main.properties[i]['label'];
            if (propName.includes('schema:')) {
              propLabel = '<i class="fas fa-dot-circle text-danger"></i> '+main.properties[i]['label']
            }else{
              propLabel = '<span><i class="fas fa-circle text-info"></i> '+main.properties[i]['curie']+'</span>'
            }
            // look for prop in others
            let tableRow = {'Property': propLabel}
            tableRow[main['name']] = true;

            for (var o = 0; o < other.length; o++) {
              if (other[o].hasOwnProperty('properties')) {
                // iter other props
                //set to false by default but will change to true if match found
                tableRow[other[o]['name']] = false;
                for (var op = 0; op < other[o].properties.length; op++) {
                  // console.log('%c PROP from OTHER '+other[o].properties[op]['label'],'color:pink')               
                  if (other[o].properties[op]['curie'] == propName) {
                    tableRow[other[o]['name']] = true;                   
                  }
                }
                
              }
            }
            //stringify to check prop obj duplication
            var index = finalResutls.findIndex(x => x.Property== propLabel)
            // here you can check specific property for an object whether it exist in your array or not
            if (index === -1){
              finalResutls.push(tableRow)
            }
          }
        }
      }

      //column formatting for table
      let cols = [
        {title:'Property', field:'Property', sorter:"string", formatter:'html'}
      ]

      for (let i = 0; i < state.compareItems.length; i++) {
        let copy = [...state.compareItems];
        let main = copy[i];
        other = copy.splice(i,1);
        //compare pulled item against others
        compare(main,copy);
        //create one formatting def per item compared
        cols.push({title:main['name'], field:main['name'], sorter:"boolean", hozAlign:"center", formatter:"tickCross"},) 
      }

      // console.log('RES', finalResutls)
      Vue.set(state,'compareResults', finalResutls);       
      // show modal
      var modal = document.getElementById("compareResults");
      modal.style.display = "block";
      var span = document.getElementById("closeBtn");
      span.onclick = function() {
        modal.style.display = "none";
      }
      //show table
      var table = new Tabulator("#example-table", {
        height:500, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data:state.compareResults, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        columns: cols,
      });

      let elements = document.querySelectorAll(".tabulator-col");
      for (var i = 0; i < elements.length; i++) {
        elements[i].style.backgroundColor = "#63296b";
        elements[i].style.color = "white";
      }

      var dl = document.getElementById("downloadCSV");
      dl.onclick = function() {
        table.download("csv", "schema_comparison_used.csv");
      }

      }
  },
  getters:{
    // exposed as store.getters.nameOfGetter
    getMaxReached: state => {
      return state.maxReached
    },
    getCompareItems: state =>{
      return state.compareItems
    },
    getResults: state =>{
      return state.compareResults
    },
    getCompareUsedAvailable: state =>{
      return state.compareUsedAvailable
    }
  },
  actions:{
    
  }
});


Vue.component('preset-box', {
  props: ['preset'],
  template: `<div class="pillType d-inline pointer m-1"  @click.prevent="handleClick()" data-tippy="Create a new schema from this starting point" data-tippy-theme="light">
              <span class="mainBackLight">Extend <i class="fas fa-code-branch"></i></span>
              <span v-text="preset.name"></span>
            </div>`,
  methods: {
    handleClick(){
			var self = this;
			axios.get('/api/registry/'+self.preset.namespace+'/'+self.preset.prefix+':'+self.preset.name).then(res=>{
				let obj = JSON.stringify(res.data)
				localStorage.setItem('EditorData',obj);
				localStorage.setItem('EditorStartingPoint',self.preset.prefix+':'+self.preset.name);
				window.location.href ='/editor'
			}).catch(err=>{
				throw err;
			})
    }
  }
});

Vue.component('registry-item', {
  data: function(){
    return{
      options:false,
      expand: false,
      picked: false,
      adding:false
    }
  },
  props: ['item'],
  methods:{
    saveDataAndRedirect(item,goesToEditor){
      var self = this;
      // console.log("ITEM",item)
      if (goesToEditor) {
        // console.log("TO EDITOR")
        if (item && item.namespace && item.label && item.prefix) {
          let obj = JSON.stringify(item)
          localStorage.setItem('EditorData',obj);
          localStorage.setItem('EditorStartingPoint',item.prefix+':'+item.label);
          window.location.href = goesToEditor;
        }else{
          Swal.fire(
            'Oops!',
            'Action not available for this item',
          );
        }
      }else{
        // console.log("TO VIEWER")
        if (item && item.namespace && item.label) {
          window.location.href = '/view/'+item.namespace+'/'+item.label;
        }else{
            Swal.fire(
              'Oops!',
              'Action not available for this item',
            );
        }
      }
    },
    getSubclass(parents){
      if (parents) {
        let sub = parents[0].split(', ');
        return sub[sub.length-1]
      }else{
        return 'This class has no subclass'
      }
    },
    handlePick(){
      var self = this;
      // self.picked = !self.picked;
    },
    getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
    getFullInfo(item){
      //add param v for verbose definition including all parents
      var self = this;
      self.adding = true;
      axios.get('/api/registry/'+item.namespace +'/'+item.name+'?v').then(res=>{
        let allProps = [];
        for (var i = 0; i < res.data['hits'].length; i++) {
          // keep item form but combine all props from parents and add
          let current = res.data['hits'][i];
          if (current.hasOwnProperty('properties')) {
            allProps = allProps.concat(current['properties'])
          }
        }
        // console.log('All props for '+item.label+" are "+allProps.length)
        let sorted = _.sortBy(allProps, [function(o) { return o.label; }]);
        Vue.set(item,'properties',sorted)
        Vue.set(item,'color',self.getRandomColor())
        let payload ={}
        payload['item'] = item;
        store.commit('addItem',payload);

        self.adding = false;

      }).catch(err=>{
        self.adding = false;
        $.notify("Could not add item "+item.name,{ globalPosition: 'right',style:"danger", showDuration: 40, });
        throw err;
      });

    }
  },
  computed:{
    imgLink: function(){
      switch (this.item['namespace']) {
        case 'schema':
          return "/static/img/schema.png";
          break;
        case 'niaid':
          return "/static/img/niaid/icon.svg";
          break;
        case 'outbreak':
          return "/static/img/outbreak.png";
          break;
        case 'bts':
          return "/static/img/biothings-logo-xs.png";
          break;
        case 'google':
          return "/static/img/google.png";
          break;
        case 'ctsa':
          return "/static/img/dde-logo-o.svg";
          break;
        case 'n3c':
          return "/static/img/N3Co.png";
          break;
        default:
          return "/static/img/dde-logo-o.svg";
      }
    },
    propTotal(){
      if (this.item.hasOwnProperty('properties')) {
        return this.item.properties.length
      }else{
        return 0
      }
    },
    maxReached(){
      return store.getters.getMaxReached
    }
  },
  watch:{
    picked: function(picked){
      let self = this;
      let payload ={}
      payload['item'] = self.item;
      if (picked) {
        self.getFullInfo(self.item)
      }else {
        store.commit('removeItem',payload);
      }
    }
  },
  mounted: function(){
    tippy('#'+this.item.label, {
      theme:'light',
      interactive: true,
      content: "<div class='text-left text-muted'>"+JSON.stringify(this.item.description,null,2)+"</div>" || "<div class='m-0'>No Description Available</div>",
    })
  },
  template: `<li class="list-group-item p-0">
    <div class="d-flex flex-wrap">
      <div class="p-4 d-none d-md-inline">
        <input v-model="picked" @change="handlePick" class="tip m-auto" :data-tippy-info="maxReached?'Max Comparison Items Reached':'Compare This Item'" type="checkbox"/>
        <i v-if="adding" class="fas fa-spinner fa-pulse text-info ml-2"></i>
      </div>
      <div class="flex-grow-1 d-flex align-items-center">
        <div class="d-inline mr-1">
          <div class="mr-1 d-none d-md-inline">
            <img :src="imgLink" width="30" title="From" alt="img">
          </div>
          <h6 class="m-1 mainTextDark d-inline">
            </span> <span v-text="item.label"></span> <small><i :id="item.label" class="fas fa-info-circle text-info"></i></small>
          </h6>
          <ul v-if="expand" class="mainTextLight">
            <li v-for="prop in item.properties" :key="prop.label">
              <small v-text="prop.label"></small>
            </li>
          </ul>
        </div>
        <p class="m-0 text-muted d-none d-md-inline">
          <small class="pointer" @click="expand=!expand">
            <span :class="[propTotal>0?'text-primary':'text-muted']"><span v-text="propTotal"></span> Properties</span>
            <i v-show="propTotal" class="fas" :class="[!expand?'fa-plus-square':'fa-minus-square']"></i>
          </small>
           |
          <small><i class="fas fa-home"></i>: </small>
          <small class="text-muted">
            <a v-text="item.namespace" :href="'/view/'+item.namespace"></a>
          </small>
           |
          <small>Subclass of:</small>
          <small class="mb-1" v-text="getSubclass(item.parent_classes)"></small>
          <small v-if="item && item.validation" class="badge badge-success mr-1">V</small>
        </p>
      </div>
      <div class="p-1 bg-dark d-flex align-items-center justify-content-around">
        <div>
          <span class="fa-stack fa-1x pointer tip mr-2 ml-2" @click.prevent="saveDataAndRedirect(item)" :data-tippy-info="'Visualize '+item.label">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-eye fa-stack-1x text-light"></i>
          </span>
        </div>
        <div>
          <span class="fa-stack fa-1x pointer tip mr-2 ml-2" @click.prevent="saveDataAndRedirect(item,'editor')" :data-tippy-info="'Extend '+item.label">
            <i class="fas fa-circle text-muted fa-stack-2x"></i>
            <i class="fas fa-code-branch fa-stack-1x text-light"></i>
          </span>
        </div>
      </div>
    </div>
  </li>`
});

var app = new Vue({
      el: '#registry',
			data: function(){
				return {
          alphabet : ['ALL','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          input:'',
          linkPrefix:'./',
          data: null,
          user:{},
          testURL:'',
          registry:[],
          registryTotal:'0',
          sort:'Search Relevance',
          query:'',
          page: 1,
          pages: 1,
          perPage: 20,
          loading:false,
          startingPoints:{{starting_points}},
          shortcuts:{{registry_shortcuts}}
				}
			},
      methods:{
        searchByUser(username){
          var self = this;

          $('#searching').show();

          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.unmark();

          axios.get('/api/query?q=_meta.username:'+username+'&size=100').then(function (response) {
            self.registry = response.data.hits;
            self.registryTotal = response.data.total;
            $( document ).ready(function() {
              self.mark(username);
            });
            if (self.registryTotal) {
              self.calculatePages();
            }
            $('#searching').hide();
          });
        },
        mark: function(kw){
          var context = document.querySelector(".context");
          var instance = new Mark(context);
          instance.mark(kw);
        },
        getQueryFilters: function(){
            var filters = [];
            var authorFilters = [];
            var finalFilters = {};
            this.tags.forEach(function(item){
              if (item.active)
                  filters.push(item.name);
              });
            if (filters.length > 0){
              finalFilters['tags.name.raw'] = filters;
            }

            this.authors.forEach(function(item){
              if (item.active){
                authorFilters.push(item.name);
              }
              });
            if (authorFilters.length){
              finalFilters['info.contact.name.raw'] = authorFilters;
            }

            return finalFilters;
        },
        search(query){
          var self = this;

          query = query || "__all__";

          if (query) {
              var params = {
                  "params": {
                    "q": query,
                  }
              };
            }

            self.loading = true;

            var context = document.querySelector(".context");
            var instance = new Mark(context);
            instance.unmark();
            //clear registry to fix mixing results info
            self.registry = [];
            axios.get('/api/registry/query?size=1000', params).then(function (response){
              // console.log('%c SEARCH..','color:hotpink')
              // console.log(response.data)
              self.registry = response.data.hits; 
              if (response.data.total.hasOwnProperty('value')) {
                self.registryTotal = response.data.total.value;
              }else{
                self.registryTotal = response.data.total;
              }
              // mark results, doc must be loaded
              $( document ).ready(function() {
                self.mark(self.query);
              });
              self.calculatePages();
              self.loading = false;
            });
        },
        calculatePages: function () {
          var self= this;
          self.pages = Math.ceil(self.registry && self.registry.length / self.perPage);
        },
        prevPage: function () {
          var self= this;
          if (self.page > 1)
              self.page -= 1
        },
        nextPage: function () {
          var self= this;
          if (self.page < self.pages)
              self.page += 1
        },
        sortResults(e){
          this.sort = e.target.value;
        },
        checkLoggedUser(){
          var self = this;
          axios.get('./user').then(res=>{
            if (res.data.login) {
              self.user = res.data;
            }
          }).catch(err=>{
            throw err;
          });
        },
        compareAll(){
          store.commit('compareAll')
        },
        compareUsed(){
          store.commit('compareUsed')
        },
        resetItems(){
          store.commit('resetItems')
        },
        openModal(){
          var self = this;
          var modal = document.getElementById("compareResults");
          modal.style.display = "block";
          var span = document.getElementById("closeBtn");
          span.onclick = function() {
            modal.style.display = "none";
          }
          if (self.compareItems.length > 1) {
            store.commit('compareAll')
          }
        }
    },
    mounted:function(){
      var self = this;
      self.checkLoggedUser();
      self.search();
      tippy( '.search', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-muted m-0" style="border-radius:none">Search</div>',
        animation: 'fade',
        theme:'light'});
      tippy( '.compare', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-muted m-0" style="border-radius:none">Compare Schemas</div>',
        animation: 'fade',
        theme:'light'});
      tippy( '.reset', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-muted m-0" style="border-radius:none">Reset</div>',
        animation: 'fade',
        theme:'light'});
      tippy( '.reset', {
        maxWidth:'200px',
        placement:'top',
        content: '<div class="text-muted m-0" style="border-radius:none">Reset</div>',
        animation: 'fade',
        theme:'light'});
      tippy( '#regTippyParent', {
        target:'.tip',
        placement:'top',
        maxWidth:'200px',
        content: 'loading',
        interactive: true,
        animation: 'fade',
        theme:'light',
        onShow(instance) {
          let info = instance.reference.dataset.tippyInfo;
          instance.setContent("<div class='text-muted m-0 text-center wraptext'>"+info+"</div>")
        }});

    tippy( '#compareResults', {
      target:'.tip',
      placement:'right',
      content: 'loading',
      interactive: true,
      animation: 'fade',
      theme:'light',
      onShow(instance) {
        let info = instance.reference.dataset.tippyInfo;
        instance.setContent("<div style='background:white;'>"+info+"</div>")
      }});
    },
    computed: {
      registryResults: function () {
          var start = (this.page - 1) * this.perPage,
              end = start + this.perPage;
          return this.registry && this.registry.slice(start, end);
      },
      compareItems: function(){
        return store.getters.getCompareItems
      },
      results: function(){
        return store.getters.getResults
      },
      compareUsedAvailable: function(){
        return store.getters.getCompareUsedAvailable
      },
    },
  })

  // Smooth Scroll-To

  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) {
              return false;
            } else {
              $target.attr('tabindex','-1');
              $target.focus();
            };
          });
        }
      }
    });
</script>

{% include "footer.html" %}
{% endblock %}
