{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>


</style>
<div id="viewer" class="container pt-5">
  <!-- Registration -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <template v-if="userInfo">
            <h1 class="logoText">Registration</h1>
            <div class="form-group">
              <small class="text-muted">Choose a namespace</small>
              <input class="form-control w-50 m-auto" type="text" v-model='nameInput'/>
            </div>
            <template v-if="available && nameInput.length">
              <small class="text-success bold"><i class="fas fa-check"></i> AVAILABLE</small>
            </template>
            <template v-if="!available && nameInput.length">
              <small class="text-danger bold"><i class="fas fa-times"></i> NOT AVAILABLE</small>
            </template>
            <template v-if="invalidChars">
              <br />
              <small class="text-warning bold"><i class="fas fa-times"></i> INVALID CHARACTERS</small>
            </template>
            <p class="m-2" :class="[available ? 'mainTextDark' : 'text-danger']">
              discovery.biothings.io/<span class="bold" v-text='nameInput'></span>
            </p>
            <template v-if='available && !invalidChars'>
              <button class="btn btn-success" @click='handleRegistration()' v-text="'Register '+nameInput"></button>
            </template>
          </template>
          <template v-else>
            <div class="alert alert-warning">
              <h4>You must be logged in to register this schema</h4>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <!-- Loader -->
  <div v-if=loading class="loader">
    <img src="/static/img/ripple.svg"/>
  </div>
  <!-- HOMEPAGE MODE -->
  <div class="jumbotron" v-if="!query">
    <div class="engineBox w-50 m-auto p-2" v-if='!namespaceRegistered'>
      <div class="bg-light p-3 text-center clickBAck">
        <h3 class="mainTextDark">Register Your Schema</h3>
        <button role="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Click Here</button>
      </div>
    </div>
    <div class="text-center p-5">
      <h1 style="font-size:3em" class="logoText" v-if='namespaceRegistered' v-text='namespace'></h1>
    </div>
    <div class="row">
      <form class="col-sm-12">
        <a class="bold mainTextDark pointer m-2 toggleLink" style="float:right" @click='flipView()'>Toggle View <i class="fas fa-retweet"></i></a>
        <div class="input-group mb-2 col-sm-12 col-md-4">
          <div class="input-group-prepend">
            <div class="input-group-text bg-info text-light"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" v-model='searchQuery' class="form-control" id="inlineFormInputGroup" placeholder="Search...">
        </div>
        <div class="row w-100">
          <div class="col-sm-12 col-md-6 p-4">
            <ul >
              <li v-if="searchResults.length" class="mainTextDark bold" style="list-style:none;">
                Classes
              </li>
              <li v-for='item in searchResults' >
                <a :href='"./"+item["label"]' v-text='item["label"]'></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 p-4">
            <ul >
              <li v-if="searchResultsProps.length" class="mainTextLight bold" style="list-style:none;">
                Properties
              </li>
              <li v-for='item in searchResultsProps'>
                <a :href='"./"+item["label"]' v-text='item["label"]'></a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="flipcard">
      <div class="face front">
        <!-- alpabetical view -->
        <div id="alpabetical-order" class="text-left p-4 bg-light overflow-x-scroll">
          <h1 class="logoText">Alphabetical</h1>
          <div v-show='developerMode' id="canvasTest"></div>
          <ul class="pagination overflow-x-scroll">
            <li class="page-link" v-for="(item,i) in classesGroupByLetter">
              <a :href="'#'+item.group" v-text="item.group"></a>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action" v-for="(item,i) in classesGroupByLetter">
              <h1 :id="item.group" class="mainTextLight" v-text="item.group "></h1>
              <ul>
                <li v-for="def in item.children">
                  <a class="goLink" :href="'./'+def" v-text="def"></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="face back">
        <!--hierarchical view -->
        <div id="hierarchical" class="text-left p-4 bg-light overflow-x-scroll">
          <h1 class="logoText">Hierarchical</h1>
          <ul class="pagination">
            <li v-for="n in [0,1,2,3,4,5,6,7,8,9,10]" class="d-inline hierarchicalSwatch" :class="'bg-'+n" >
            </li>
          </ul>
          <ul class="tree">
            <li>
              <a class="text-0 goLink" :href="'./'+rootNode" v-text="rootNode" ></a>
              <ul>
                <li v-for="item in getNeighbors(rootNode)">
                  <a class="text-1 goLink" :href="'./'+item" v-text="item"></a>
                  <ul>
                    <li v-for="item2 in getNeighbors(item)">
                      <a class="text-2 goLink" :href="'./'+item2" v-text="item2"></a>
                      <ul>
                        <li v-for="item3 in getNeighbors(item2)">
                          <a class="text-3 goLink" :href="'./'+item3" v-text="item3"></a>
                          <ul>
                            <li v-for="item4 in getNeighbors(item3)">
                              <a class="text-4 goLink" :href="'./'+item4" v-text="item4"></a>
                              <ul>
                                <li v-for="item5 in getNeighbors(item4)">
                                  <a class="text-5 goLink" :href="'./'+item5" v-text="item5"></a>
                                  <ul>
                                    <li v-for="item6 in getNeighbors(item5)">
                                      <a class="text-6 goLink" :href="'./'+item6" v-text="item6"></a>
                                      <ul>
                                        <li v-for="item7 in getNeighbors(item6)">
                                          <a class="text-7 goLink" :href="'./'+item7" v-text="item7"></a>
                                          <ul>
                                            <li v-for="item8 in getNeighbors(item7)">
                                              <a class="text-8 goLink" :href="'./'+item8" v-text="item8"></a>
                                              <ul>
                                                <li v-for="item9 in getNeighbors(item8)">
                                                  <a class="text-9 goLink" :href="'./'+item9" v-text="item9"></a>
                                                  <ul>
                                                    <li v-for="item10 in getNeighbors(item9)">
                                                      <a class="text-10 goLink" :href="'./'+item10" v-text="item10"></a>
                                                    </li>
                                                  </ul>
                                                </li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- QUERY MODE -->
  <div class="jumbotron" v-if="query">

    <div>
      <ul class="nav nav-justified">
        <li class="nav-item">
          <a class="nav-link mainTextDark" :href="RemoveLastDirectoryPartOf(window.location.href)"><i class="fas fa-chevron-left"></i> Back</a>
        </li>
        <li v-if='!validationView' class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mainTextDark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jump To</a>
          <div class="dropdown-menu">
            <template v-if='topClass'>
              <a class="nav-link mainTextDark" v-for="item in topClassParents" :href="'#'+item">
                <span v-text="item"></span>
              </a>
            </template>
            <a class="nav-link pointer mainTextDark" href="#bottom" >
               More...
            </a>
          </div>
        </li>
        <li v-if='validationView' class="nav-item dropdown">

        </li>
        <li class="nav-item ">
          <a @click='changeView' class="btn text-light" :class="[validationView?'btn-info':'mainBackDark']">
            <span v-if="!validationView">
              <i class="fas fa-star"></i> Show Used Properties Only
            </span>
            <span v-if="validationView">
             <i class="fas fa-stream"></i> Show All Inherited Properties
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="d-none">
      <buttom @click='makeQueryGraph' class="btn btn-success text-light" >graph</buttom>
      <div id="canvas" class="d-none d-sm-none d-md-block"></div>
    </div>
    <!-- CLASSES FOR QUERY -->
    <!-- <a v-if="!showGraph" @click="toggleGraph" class="d-none d-sm-none d-md-block mainTextDark bold float-right pointer" ><i class="fas fa-draw-polygon"></i> View Graph</a> -->
    <clss-box :parent="false" :clss='topClass' :userSchema='userSchema'></clss-box>
    <template  v-if='topClass && userSchemaParents' v-for='parent in userSchemaParents'>
      <clss-box v-show='!validationView' :parent="true" :clss='parent' :userSchema='userSchema'></clss-box>
    </template>
  </div>

</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://d3js.org/d3.v3.js"></script>
<script src="/static/js/networkx.js"></script>
<script src="/static/js/notify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsonld@1.0.0/dist/jsonld.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>


  const store = new Vuex.Store({
    state: {
      'validationView':true,
      'userSchema':Object,
      'userSchemaProps':Array,
      'queryClass':Object
    },
    strict: true,
    mutations: {
      toggleView (state) {
        state.validationView = !state.validationView
      },
      saveSchema(state,payload){
        state.userSchema = payload['schema'];
        console.log('saved schema 🦄 ...',state.userSchema)
      },
      saveProps(state,payload){
        state.userSchemaProps = payload['props'];
        console.log('saving props 🛍 ...',state.userSchemaProps)
      },
      saveQueryClass(state,payload){
        state.queryClass = payload['topclass'];
        console.log('saved Query Class 🌎...',state.queryClass)
      },
    },
    getters:{
      // exposed as store.getters.nameOfGetter
      getViewMode: state => {
        return state.validationView
      },
      getDomainOfProp: (state) => (propname) => {

      },
      handleLink: (state) => (name) =>{
        let prefix='';
        let cName ='';
        let link =''
        if (name.includes(':')) {
          prefix = name.split(':')[0];
          cName = name.split(':')[1];
        }else{
          cName = name;
        }
        // console.log('handling Link...',prefix,cName)
        for (var x = 0; x < state.userSchema.hits.length; x++) {
         if (state.userSchema.hits[x].label.includes(cName)) {
           if (prefix && prefix === 'schema') {
             link = '/schema/'+cName
           }else{
             link = "./"+cName
           }
           return link;
         }else{
           link = state.userSchema.context[prefix]+cName
         }
        }
        return link

      },
      removeDomainsNotIncluded: (state) => (domains) =>{
        let res = []
        if (domains) {
          for (var i = 0; i < domains.length; i++) {
            for (var x = 0; x < state.userSchema.hits.length; x++) {
              if (domains[i].includes(state.userSchema.hits[x].label)) {
                if (!res.includes(domains[i])) {
                  res.push(domains[i])
                }
              }
            }
          }
        }
        return res
      }
    }
  });

  Vue.component('property-box', {
    data: function(){
      return{

      }
    },
    props: ['name','fullinfo','required'],
    methods:{
      findDomainOf(propname){
        var self = this;
        for (var i = 0; i < self.allProps.length; i++) {
          if (self.allProps[i].label === propname) {
            if (self.allProps[i].domain) {
              // return self.allProps[i].domain
              return store.getters.removeDomainsNotIncluded(self.allProps[i].domain);
            }else{
              return ['No Match Found']
            }
          }
        }
      },
      getName(string){
        let res ='';
        if (string.includes('http')) {
          let arr =  string.split('/');
          res = arr[arr.length-1];
        }else if (string.includes(':')) {
          let arr =  string.split(':');
          res = arr[arr.length-1];
        }else{
          res = string
        }
        return res
      },
      isRequired(propname){
        if (this.required) {
          for (var i = 0; i < this.required.length; i++) {
            if (this.required[i]===propname) {
              return true;
            }
          }
          return false;
        }else{
          return false;
        }
      },
      getLink(clssName){
        let link = [store.getters.handleLink(clssName)];
        return link;
      }
    },
    watch:{
    },
    mounted: function(){
      var self = this;
      tippy('#'+self.name, {
        content: "<div class='mainBackDark text-light'><h3>"+self.name+"</h3><pre class='alert alert-info m-0 text-left wraptext'>"+JSON.stringify(self.fullinfo,null,2)+"</pre></div>",
        placement: 'left',
        trigger:'click'
      })
    },
    computed: {
      validationView () {
        return this.$store.state.validationView
      },
      allProps(){
        return this.$store.state.userSchemaProps
      }
    },
    template:
    `<div>
      <small v-if='name' :id='name' class='text-primary pointer float-right ml-2 unselectable'><i class="fas fa-code"></i></small>
      <template v-if='name'>
        <small class='badge badge-required float-right unselectable' v-if="isRequired(name)">Required</small>
        <a class='bold d-inline' v-text='name' :href='"/"+name'></a>
        <small class="text-muted">from </small>
        <template v-for='item in findDomainOf(name)'>
          <template v-for="link in getLink(item)">
            <a class='d-inline' :href='link' :target="link[0] !== '.'?'_blank':'_self'">
              <small >
                <span v-html='item'></span>
              </small>
              <i v-if="link[0] !== '.'" class="fas small fa-external-link-alt"></i>
            </a>
          </template>
        </template>
      </template>
      <small class="text-muted" v-if="fullinfo.description">
        <p v-text="fullinfo.description || 'No Description Provided'"></p>
      </small>
      <template v-if="fullinfo.type">
        <div class="pillType d-inline">
          <span v-text="'type'"></span>
          <span v-text="fullinfo.type"></span>
        </div>
      </template>
      <template v-if="fullinfo.format">
        <div class="pillType d-inline">
          <span class="mainBackDark" v-text="'format'"></span>
          <span v-text="fullinfo.format"></span>
        </div>
      </template>
      <template v-if="fullinfo['$ref']">
        <div class="pillType d-inline">
          <span class="mainBackLight" v-text="'$ref'"></span>
          <span v-text="fullinfo['$ref']"></span>
        </div>
      </template>
      <template v-if="fullinfo.enum">
        <div class="dropdown dropright">
          <button class="btn smallButton btn-info text-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enum
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div v-for="item in fullinfo.enum" class="dropdown-item" v-text='item'></div>
          </div>
        </div>
      </template>
      <template v-if="fullinfo['const']">
        <div class="pillType d-inline">
          <span style='background:#17a2b8' v-text="'const'"></span>
          <span v-text="fullinfo['const']"></span>
        </div>
      </template>
      <template v-if="fullinfo.items">
        <div class="dropdown">
          <button class="btn smallButton btn-info text-light btn-sm dropdown-toggle m-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Items
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div v-for="(item,index) in fullinfo.items" class="dropdown-item">
              <div class="pillType d-inline">
                <span class="mainBackLight" v-text="index"></span>
                <span v-text="item"></span>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-if="fullinfo.oneOf">
        <hr />
        <h6 class="text-muted">Value can be either...</h6>
        <div class="row">
          <template v-for='(item,index) in fullinfo.oneOf'>
            <property-box class='p-1 col-md-5 col-sm-12 text-center' :fullinfo="item"></property-box>
            <div class="col-md-2 col-sm-12 text-center mainTextLight" v-if="index !== fullinfo.oneOf.length-1"><h4>OR</h4></div>
          </template>
        </div>
      </template>
      <template v-if='fullinfo.properties'>
        <hr />
        <h6 class="text-muted">Properties used:</h6>
        <property-box v-for="(prop,index) in fullinfo.properties" style='background:#dcf2f7' class="alert propbox" :name='index' :fullinfo="prop" :required='fullinfo.required'></property-box>
      </template>
    </div>`
  });

  Vue.component('validation-box', {
    data: function(){
      return{
        userSchema:[],
        textColor:'',
        backColor:'',
      }
    },
    props: ['validation'],
    methods:{

    },
    watch:{
    },
    mounted: function(){
      var self = this;
      if (self.parent) {
        self.textColor = 'mainTextLight'
        self.backColor = 'mainBackLight'
      }else{
        self.textColor = 'mainTextDark'
        self.backColor = 'mainBackDark'
      }
    },
    computed: {
      validationView () {
          return this.$store.state.validationView
        },
      topclass(){
        return this.$store.state.queryClass
      }
    },
    template:
    `<div class="alert alert-dark">
      <h5 class="mainTextDark" v-if='validation.properties' v-text="'Properties used by '+topclass.label"> </h5>
      <ul v-for="(prop,index) in validation.properties">
        <property-box class="alert propbox" :name='index' :fullinfo="prop" :required='validation.required'></property-box>
      </ul>
    </div>`
  });

  Vue.component('clss-box', {
    data: function(){
      return{
        userSchema:[],
        textColor:'',
        backColor:'',
        expand:false,
        properties:[],
      }
    },
    props: ['clss','userSchema','parent','validationView'],
    methods:{
      getPaths(classInfo){
        // console.log('getting all possible paths...')
        var self = this;
        let res = [];
        for (var i = 0; i < classInfo["parent_classes"].length; i++) {
          if (classInfo["parent_classes"][i]) {
            let parents =classInfo["parent_classes"][i].split(', ');
            parents.push(classInfo.label)
            res.push(parents)
          }
        }
        return res;
      },
      getPropertiesFor(classInfo){
        var self = this;
        console.log('getting props for ', classInfo.name);
        if (classInfo.hasOwnProperty('properties') && classInfo['properties'].length>0) {
          return classInfo['properties'];
          console.log('returning ', classInfo['properties']);
        }else{
          return ['This class has no properties of its own']
        }
      },
      getType: function(data){
        let types=[];
        if (data.hasOwnProperty("schema:rangeIncludes")) {
          if (_.isString(data["schema:rangeIncludes"])) {
            let type = data['schema:rangeIncludes'].split(':');
            type = type[type.length-1];
            types.push(type);
          }
          else if (_.isArray(data["schema:rangeIncludes"])) {
            for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
              let type = data['schema:rangeIncludes'][i]['@id'].split(':');
              type = type[type.length-1];
              types.push(type);
            }
          }else if(_.isObject(data["schema:rangeIncludes"])){
            let type = data['schema:rangeIncludes']['@id'].split(':');
            type = type[type.length-1];
            types.push(type);
          }
        }
        return types;
      },
      getName(string){
        let res ='';
        if (string.includes('http')) {
          let arr =  string.split('/');
          res = arr[arr.length-1];
        }else if (string.includes(':')) {
          let arr =  string.split(':');
          res = arr[arr.length-1];
        }else{
          res = string
        }
        return res
      },
    },
    watch:{

    },
    mounted: function(){
      var self = this;

      if (self.validationView && !self.parent) {
        self.expand = true;
      }
      if (self.parent) {
        self.textColor = 'mainTextLight'
        self.backColor = 'mainBackLight'
      }else{
        self.textColor = 'mainTextDark'
        self.backColor = 'mainBackDark'
      }
    },
    computed: {
      validationView () {
        return this.$store.state.validationView
      }
    },
    template:
    `<div class="jumbotron message">
      <div>
        <h1 class="bold" :class='textColor' v-if='clss.label' :id='clss.label' v-text='clss.label'></h1>
        <template v-if='clss.label && clss.parent_classes'>
          <ul style="list-style:none;">
            <li v-for="path in getPaths(clss)">
              <span v-for="(item,index) in path">
                <a :class="[ index !== path.length-1 ? 'text-muted' : textColor]" class="font-weight-bold small" :href="'./'+getName(item)" v-text="getName(item)"></a>
                <span v-if="index !== path.length-1">&nbsp;<i class="fas fa-caret-right" :class='textColor'></i>&nbsp;</span>
              </span>
            </li>
          </ul>
        </template>
        <p v-html="clss['description'] || 'No Description Provided'" class="padding20 description" :class='textColor'></p>
        <div v-if='clss.properties && !validationView'>
          <div class="resultsTabFull mt-3 p-3 text-light" :class='backColor'>
            <h5 class='d-inline'><span v-text='clss.label+" has "'></span>
              <span class='badge badge-light' :class='textColor'>
                <span v-if='clss && clss.properties' v-text='clss.properties.length+" properties"'>

                </span>
                <span v-else>

                </span>
              </span>
            </h5>
            <button v-if='clss && clss.properties.length' @click='expand=!expand' style='border:2px solid white;' class='btn text-light ml-5' :class='backColor' v-text="expand?'Hide All':'Show All'"></button>
          </div>
          <table v-show='expand' class="table mb-2" :class='parent?"table-striped-sec":"table-striped-main"'>
            <tbody>
              <tr v-if='clss && clss.properties' v-for="(item,i) in clss.properties">
                <td >
                  <a class="font-weight-bold" :href='"./"+item.label'>
                    <span v-html='item.label'></span>
                  </a>
                  <p>
                    <small class='text-muted' v-html='item.description || "No description provided"'></small>
                  </p>
                </td>
                <td>
                  <small class="mainTextDark bold">Expected Type: </small>
                  <template v-for="(type,i) in item.range">
                    <a :href="'/'+getName(type)">
                      <small >
                        <span v-html='type'></span>
                      </small>
                    </a>
                    <span v-if="i !== item.range.length-1">, </span>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if='validationView && clss.validation'>
          <validation-box :validation='clss.validation'></validation-box>
        </div>
    </div>`
  });




  var app = new Vue({
      el: '#viewer',
      store: store,
			data: function(){
				return {
          // set to true to see step notifications
          developerMode:false,
          //  NEW VIEWER DATA
          userSchema: [],
          userSchemaURL: '',
          userSchemaAllProps:[],
          userSchemaAllClasses:[],
          parentList:[],
          userInfo:{},
          userSchemaParents:[],
          query:'',
          namespace:'',
          namespaceRegistered:false,
          classesGroupByLetter:[],
          nxG:null,
          rootNode:null,
          edgeGraph:[],
          searchQuery:'',
          searchResults:[],
          searchResultsProps:[],
          filterLetters:[],
          topProp:{},
          filter:'',
          loading:false,
          topClassParents:[],
          available:false,
          nameInput:'',
          invalidChars:false
				}
			},
      computed:{
        validationView () {
          return this.$store.state.validationView
        },
        topClass () {
          return this.$store.state.queryClass
        },
        schemaFilters(){
          let letters = [];
          let self = this;
          if (self.userSchema) {
            for (var i = 0; i < self.userSchema['hits'].length; i++) {
              let q = self.userSchema['hits'][i]["label"][0];
              if ( !letters.includes(q) ) {
                letters.push( q );
              }
            }
          }
          return letters.sort();
          console.log('FILTERS COMPUTED',letters)
        }
      },
      watch:{
        searchQuery:function(newQ,oldQ) {
          if (newQ.length) {
            let result = _.filter(this.userSchema.hits, function(o) {
                if (o['label'].toLowerCase().includes(newQ.toLowerCase())) {
                  return o;
                }
            });
            let resultProps = _.filter(this.userSchemaAllProps, function(o) {
                if (o['label'].toLowerCase().includes(newQ.toLowerCase())) {
                  return o;
                }
            });

            this.searchResults = result;
            this.searchResultsProps = resultProps;

          }else{
            this.searchResults = [];
            this.searchResultsProps = [];
          }
        },
        topClass:{
          handler:function(klass,oldklass){
            var self = this;
            let res = [];
            if (klass.hasOwnProperty('parent_classes')) {
              for (var i = 0; i < klass["parent_classes"].length; i++) {
                if (klass["parent_classes"][i]) {
                  let parents =klass["parent_classes"][i].split(', ');
                  for (var x = 0; x < parents.length; x++) {
                    let name = self.getName(parents[x]);
                    res.push(name)
                  }
                }
              }
              if (res.length) {
                self.topClassParents = res;
              }else{
                self.topClassParents = []
              }
            }
          },
          deep:true
        },
        nameInput:function(namespace,oldnamespace){
          var self = this;
          var re = /^[a-zA-Z0-9_.-]*$/;
          if (!re.test(namespace) ) {
            self.invalidChars = true;
          }else{
            self.invalidChars = false;
          }

          if (namespace && !self.invalidChars) {
            axios.head(`/api/registry/`+namespace).then(function (res) {
              console.log('Registration Check ', res)
              self.available= false;
            }).catch(err=>{
              self.available= true;
              throw err;
            });
          }
        }
      },
			methods:{
        checkUser(){
          let self = this;
          $.ajax({url: "/user", success: function(result){
             self.userInfo = result;
          },
          cache: false});
        },
        checkIfNamespaceIsRegistered(namespace){
          let self = this;
          console.log('Checking Namespace..',namespace)
          axios.get(`/api/registry/`+namespace).then(function (res) {
            console.log('Registration Check ', res)
            if (res.data) {
              let url = res.data.url;
              if (url || res.data) {
                self.namespaceRegistered = true;
                self.loadSchema(namespace,url);
                console.log('%c REGISTERED...'+namespace,'color: green')
                if (self.developerMode ) {
                  $.notify(namespace+" is registered",{ globalPosition: 'right',className:'info', showDuration: 40, });
                }
              }else{
                Swal.fire(
                  'This namespace is registered but..',
                  'No URL was found',
                  'error'
                );
              }
            }
          }).catch(err=>{
            if (self.developerMode ) {
              $.notify(namespace+" is NOT registered",{ globalPosition: 'right',className:'error', showDuration: 40, });
            }
            self.loadSchema();
            throw err;
          });
        },
        loadSchema(namespace,url){
          let self = this;
          if (namespace && self.namespaceRegistered) {
            if (self.developerMode ) {
              $.notify("REGITERED SCHEMA LOADED",{ globalPosition: 'right',className:'success', showDuration: 40, });
            }
            axios.get("/api/registry/"+namespace).then(res=>{
              console.log('%c GET REGISTERED SCHEMA RES...','color:purple')
              console.log(res.data)
              self.data = res.data;
              self.loading = false;
              this.userSchema = res.data
              this.userSchemaURL = url

              if (self.developerMode ) {
                $.notify("REGISTERED SCHEMA LOADED",{ globalPosition: 'right',className:'success', showDuration: 40, });
              }

              var payload = {};
              payload["schema"] = res.data;
              store.commit('saveSchema',payload);

              console.log('userSchema',this.userSchema)
              this.orderAlphabetically();

              if (self.query) {
                self.handleQuery();
              }

            }).catch(err=>{
              self.loading = false;
              throw err;
            })
          }else if(!namespace){
            console.log('LOADING SCHEMA FROM LOCALSTORAGE')
            this.userSchema = JSON.parse(localStorage.getItem('user-schema-classes'));
            this.userSchemaURL = localStorage.getItem('user-schema-url');

            var payload = {};
            payload["schema"] = JSON.parse(localStorage.getItem('user-schema-classes'));
            store.commit('saveSchema',payload);

            if (self.developerMode ) {
              $.notify("LOCALSTORAGE SCHEMA LOADED",{ globalPosition: 'right',className:'success', showDuration: 40, });
            }
            console.log('userSchema',this.userSchema)
            this.orderAlphabetically();

            if (self.query) {
              self.handleQuery();
            }
          }
        },
        orderAlphabetically(){
          var self = this;
          let res =[];
          for (var i = 0; i < self.userSchema['hits'].length; i++) {
            //only order classses not refenced
            if (!self.userSchema['hits'][i]['ref']) {
              res.push(self.userSchema['hits'][i]['label']);
            }
          }

          let data = res.reduce((r, e) => {
            let group = e[0];
            if(!r[group]) r[group] = {group, children: [e]}
            else r[group].children.push(e);
            return r;
          }, {});

          res = Object.values(data)
          self.classesGroupByLetter= _.orderBy(res, ['group'], ['asc']);
          self.makeHierarchyTree();
          self.getAllProps();
        },
        flipView(){
          if ($('.flipcard').hasClass("flipped")) {
            $('.flipcard').removeClass('flipped');
          } else {
            $('.flipcard').addClass('flipped');
          }
        },
        makeHierarchyTree(){
          var self = this;
          // if (!self.query) {
            self.nxG = new jsnx.DiGraph();
            if (self.userSchema['hits'].length > 1) {
              for (var i = 0; i < self.userSchema['hits'].length; i++) {
                // console.log('CLASS: ',i,self.userSchema['hits'][i]["label"])
                self.addNode(self.userSchema['hits'][i]["label"]);
                if (self.userSchema['hits'][i].hasOwnProperty('parent_classes')) {
                  let parents = self.userSchema['hits'][i]["parent_classes"][0];
                  if (parents) {
                    let parentList = parents.split(", ");
                    // console.log('parent list', parentList)
                    let parentName = self.getName(parentList[parentList.length-1])
                    // console.log('LINKING...', parentName,self.userSchema['hits'][i]["label"])
                    self.addNode(parentName);
                    self.addEdge(parentName,self.userSchema['hits'][i]["label"]);
                  }
                }
              }
            }
            let topoRes = jsnx.topologicalSort(self.nxG);
            console.log('ROOT NODE IS...', topoRes[0])
            let rootNode = '';
            // if (topoRes.includes('Thing')) {
            //   rootNode ='Thing';
            // }else{
            //   rootNode = topoRes[0];
            // }
            rootNode = topoRes[0];

            self.rootNode= rootNode;

            // if (self.developerMode) {
            //   jsnx.draw(self.nxG, {
            //     element: '#canvasTest',
            //     weighted: true,
            //     edgeStyle: {
            //         'stroke-width': 10,
            //         'fill': '#b4b4b4'
            //     },
            //     layoutAttr: {
            //         charge: -800,
            //         linkDistance: 100
            //     },
            //     height:300,
            //     labelStyle: {fill: '#5C3069'},
            //     withLabels: true,
            //     nodeLabels: 'label',
            //     nodeStyle: {
            //         'stroke': '#8feddc',
            //         'fill': '#84dcdf',
            //         'cursor': 'pointer',
            //         'nodeShape':'s'
            //     }
            //   });
            // }
          // }
        },
        getName(string){
          let res ='';
          if (string.includes('http')) {
            let arr =  string.split('/');
            res = arr[arr.length-1];
          }else if (string.includes(':')) {
            let arr =  string.split(':');
            res = arr[arr.length-1];
          }else{
            res = string
          }
          return res
        },
        addEdge(class1,class2){
          this.nxG.addEdge(class1,class2);
          let node = [class2,class1];
          this.edgeGraph.push(node);
        },
        addNode(className){
          this.nxG.addNode(className,{'label':className});
        },
        getNeighbors(node){
          if (node) {
            let neighbors = this.nxG.neighbors(node);
            // console.log('neighbors', neighbors)
            return neighbors;
          }
        },
        getAllProps(){
          let res = [];
          let self = this;
          for (var i = 0; i < self.userSchema['hits'].length; i++) {
            if (self.userSchema['hits'][i].hasOwnProperty('properties') && self.userSchema['hits'][i]['properties'].length>0) {
              res = res.concat(self.userSchema['hits'][i]['properties']);
            }
          }
          self.userSchemaAllProps = res;
          // console.log('ALL Props', self.userSchemaAllProps)

          var payload = {};
          payload["props"] = res;
          store.commit('saveProps',payload);
        },
        handleQuery(){
          var self = this;
          if (self.developerMode ) {
            $.notify(self.query+" is the query",{ globalPosition: 'right',className:'warning', showDuration: 40, });
          }
          // Attempt to find Class first
          let clss = self.findClass(self.query);
          if (clss) {
            // self.topClass = clss;
            self.getParentsOf(clss);
            // console.log('>>>>TOP CLASS', clss)
            var payload = {};
            payload["topclass"] = clss;
            store.commit('saveQueryClass',payload);

            if (self.developerMode ) {
              $.notify("CLASS MODE: "+clss.label,{ globalPosition: 'right',className:'warning', showDuration: 40, });
            }
          }else if (self.findProp(self.query)) {
            let prop = self.findProp(self.query);
            self.topProp = prop;
            console.log('FOUND PROP', prop.label)
            if (self.developerMode ) {
              $.notify("PROPERTY MODE: "+prop.label,{ globalPosition: 'right',className:'warning', showDuration: 40, });
            }
          }else{
            if (self.developerMode ) {
              $.notify("NO QUERY MATCH",{ globalPosition: 'right',className:'error', showDuration: 40, });
            }
          }

        },
        findClass(query){
          let self = this;
          console.log('Looking in schema for CLASS: ',query)
          for (var i = 0; i < self.userSchema['hits'].length; i++) {
            if (self.userSchema['hits'][i]["label"] === query ) {
              return self.userSchema['hits'][i];
            }
          }
          return false;
        },
        findProp(query){
          let self = this;
          console.log('Looking in schema for PROP: ',query)
          for (var i = 0; i < self.userSchemaAllProps.length; i++) {
            if (self.userSchemaAllProps[i]["label"] === query ) {
              return self.userSchemaAllProps[i];
            }
          }
          return false;
        },
        RemoveLastDirectoryPartOf(the_url){
          var the_arr = the_url.split('/');
          the_arr.pop();
          return( the_arr.join('/')+'/' );
        },
        handleFilter(e){
          if (e.target.value !== 'Choose...') {
            window.location.href = "./"+e.target.value;
          }
        },
        handleChange(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.userSchema;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word["name"].split(":")[1][0] === target);
              this.filterResults =  _.sortBy(results, [clss => clss['name'].split(":")[1]], ['asc']);
          }
        },
        getUniqueContent(paths){
          var finalArr = [];
          let mergedpaths =[]
          for (var i = 0; i < paths.length; i++) {
            mergedpaths = mergedpaths.concat(paths[i])
          }

          function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
          }

          finalArr =  mergedpaths.filter( onlyUnique );
          // console.log('Unique Arr Elements ',finalArr)
          return finalArr;
        },
        getParentsOf(classInfo){
          var self = this;
          let res = [];
          if (classInfo.hasOwnProperty('parent_classes')) {
            for (var i = 0; i < classInfo["parent_classes"].length; i++) {
              if (classInfo["parent_classes"][i]) {
                let parents =classInfo["parent_classes"][i].split(', ');
                res.push(parents)
              }
            }
            // console.log('ALL PATHS',res)
            self.topClassParents = self.getUniqueContent(res).reverse();
            // console.log('TOP CLASS PARENTS...',self.topClassParents)
            self.getParentsInfo(self.topClassParents)
          }
          return res;
        },
        getParentsInfo(list){
          // console.log('Getting Parent Class Data...')
          var self= this;
          let res = [];
          for (var i = 0; i < list.length; i++) {
            for (var x = 0; x < self.userSchema['hits'].length; x++) {
              let parentName = self.getName(list[i]);
              if (self.userSchema['hits'][x].label === parentName) {
                // console.log("GOT PARENT FULL INFO...",self.userSchema['hits'][x].label,parentName)
                res.push(self.userSchema['hits'][x])
              }
            }
          }
          self.userSchemaParents = res;
          console.log('ALL PARENTS INFO', self.userSchemaParents)
        },
        changeView(){
          store.commit('toggleView')
        },
        drawGraph(g,container){
          jsnx.draw(g,{
            element: container,
            weighted: true,
            edgeStyle: {
                'stroke-width': 10,
                'fill': '#b4b4b4'
            },
            layoutAttr: {
                charge: -800,
                linkDistance: 100
            },
            height:300,
            optBind:true,
            labelStyle: {fill: '#5C3069'},
            withLabels: true,
            nodeLabels: 'label',
            nodeStyle: {
                'stroke': '#8feddc',
                'fill': '#84dcdf',
                'cursor': 'pointer',
                'nodeShape':'s'
            }
          });
        },
        makeQueryGraph(){
          let self = this;
          let arr = [];
          self.makeHierarchyTree();

          // for (var i = 0; i < self.topClass["parent_classes"].length; i++) {
          //   arr = arr.concat(self.topClass["parent_classes"][i].split(', '))
          // }
          // arr = arr.concat([self.schemaClass]);
          //
          // console.log('arr',arr)
          //
          // if (arr.length) {
          //   for (var i = 0; i < arr.length; i++) {
          //     if (arr[i-1]) {
          //       smallG.addNode(arr[i]);
          //       smallG.addEdge(arr[i],arr[i-1]);
          //     }
          //   }
          // }else{
          //   smallG.addNode(this.classInfo["name"],{'label':this.classInfo["name"]});
          // }

          // # draw path in red
          //   path = nx.shortest_path(G,source=14,target=16)
          //   path_edges = zip(path,path[1:])
          //   nx.draw_networkx_nodes(G,pos,nodelist=path,node_color='r')
          //   nx.draw_networkx_edges(G,pos,edgelist=path_edges,edge_color='r',width=10)
          //   plt.axis('equal')
          //   plt.show()
          let x = jsnx.allPairsShortestPath(self.nxG);
          console.log("ALL PATHS",x['_stringValues'])
          x = x.get(self.rootNode).get(self.query)

          // let x = self.nxG.hasEdge(self.rootNode,self.query);
          console.log("SHORTEST PATH",x)
          self.drawGraph(self.nxG, '#canvas');
          // jsnx.draw(self.nxG,{element:'#canvas',nodelist:x,nodeStyle:{'fill': '#e02563',},})
        },
        handleRegistration(){
          var self = this;
          let data= {
            "namespace": self.nameInput,
            "url": self.userSchemaURL
          }
          console.log('registering...',data)
          axios.post('/api/registry',data).then(res=>{
            console.log('POST response ',res.data)
            if (res.data.url) {

              Swal.fire({
                type: 'success',
                toast: true,
                position: 'bottom',
                title: 'Registration Successful',
                html: "Data can now be accessed on <a href='/"+self.nameInput+"/'>"+window.location.origin+"/"+self.nameInput+"/"+"</a>"
              });
              self.registered = true;

            }else if (res.data.url){
              Swal.fire({
                type: 'error',
                toast: true,
                position: 'top',
                title: 'Registration Failed',
                text: res.data.error
              });
            }

          }).catch(err=>{

            Swal.fire({
              type: 'error',
              toast: true,
              position: 'top center',
              title: 'Registration Failed',
              text: err,
              showConfirmButton: false,
              timer: 2000
            });

            throw err;
          });
        },

			},
			mounted:function(){
        let context = {{Context}}
        let self= this;
         if ( context ) {
           self.query = context.query;
           self.namespace = context.namespace;
           self.nameInput = context.namespace;
           console.log('namespace', self.namespace)
           console.log('query', self.query)
           self.checkIfNamespaceIsRegistered(self.namespace);
         }
        //
        self.checkUser();

			}
		});


</script>
{% include "footer.html" %}
{% endblock %}
