:root {
    --main: #006476;
    --sec:#5C3069;
}

/* BOOTSTRAP OVERRRIDE */
.form-control {
  box-shadow: inset 0 0 10px grey !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* BOOTSTRAP OVERRRIDE */

pre code {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  padding: 20px;
  overflow: scroll;
  text-align: left;
  max-height: 40vh;
  box-shadow: inset 0 0 10px grey;
}

.loader{
  position: fixed;
  z-index: 100;
  top: calc(50% - 100px) !important;
  left: calc(50% - 100px) !important;
}

.caps{
  text-transform: uppercase;
}

@font-face {
    font-family: mainFont;
    src: url('../misc/Josefin.ttf');
}

h1, h2, h3, h4, h4{
  font-family: mainFont !important;
}

#keywords span.badge:hover{
  background: #FF6A66;
  box-shadow: 0 2px 10px grey;
}

.pointer{
  cursor: pointer;
}

.userImage{
  border: 2px solid white;
  width: 30px;
  border-radius: 50px;
  transition: 1s border;
}

.userButton{
  background: var(--main) !important;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--sec);
  padding-left: 3px;
  padding-right: 3px;
}

.margin20{
  margin:20px !important;
}

.mainFont{
  font-family: mainFont !important;
}

.noPadding{
  padding: 0px !important;
}

.twoEM{
  font-size: 2em !important;
}

.bold{
  font-weight: 900 !important;
}

.fourEM{
  font-size: 4em !important;
}

.padding20{
  padding:20px !important;
}

.mainBackDark{
  background: var(--main) !important;
}

.themeButton{
  border: 1px white solid !important;
  background: var(--main) !important;
}

.themeButton:hover{
  border: 1px white solid !important;
  background: var(--sec) !important;
}

.mainBackLight{
  background: var(--sec) !important;
}

.mainTextDark{
   color: var(--main) !important;
}

.mainTextLight{
   color: var(--sec) !important;
}

.highlight{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0084+0,ff0084+100&0.72+0,0+100 */
background: -moz-linear-gradient(top, rgba(255,0,132,0.72) 0%, rgba(255,0,132,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,0,132,0.72) 0%,rgba(255,0,132,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,0,132,0.72) 0%,rgba(255,0,132,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ff0084', endColorstr='#00ff0084',GradientType=0 ); /* IE6-9 */
}

.whiteBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edf0f7+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #edf0f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#edf0f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#edf0f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf0f7',GradientType=0 ); /* IE6-9 */
}

.gradientVertical{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/var(--main)+0,fc506d+100 */
  background: var(--main); /* Old browsers */
  background: -moz-linear-gradient(top, var(--main) 0%, var(--sec) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, var(--main) 0%,var(--sec) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--main) 0%,var(--sec) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--main), endColorstr=var(--sec),GradientType=0 ); /* IE6-9 */
}

.gradientHorizontal{
background: var(--main); /* Old browsers */
background: -moz-linear-gradient(left, var(--main) 0%, var(--sec) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, var(--main) 0%,var(--sec) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, var(--main) 0%,var(--sec) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--main), endColorstr=var(--sec),GradientType=1 ); /* IE6-9 */
}

.animatedBack{
  background: linear-gradient(270deg, var(--main), var(--sec));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.flipcard {
    perspective: 800;
    -moz-perspective: 800;
    -webkit-perspective: 800;
    margin: 1em auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.flipcard:hover {
    box-shadow: 0 0 10px grey;
}
.flipcard.flipped {
    transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
}
.flipcard .face {
    text-align: center;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.flipcard .front {
    color: white;
    display: block;
}
.flipcard.flipped .front {
    display:none;
}
.flipcard .back {
    color: black;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    display:none;
}
.flipcard.flipped .back {
    display:block;
}

.numberCircle {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
    margin-bottom: 20px;
}

.badge{
  padding: .5em !important;
}

#sideCode{
  margin: 5px !important;
  height:100%;
  max-height: 1200px;
  line-height: 1.5em;
}

.renderjson a              { text-decoration: none;}
.renderjson .disclosure    { color: #d596ec; font-size: 150%; text-shadow: 1px 1px 1px black;}
.renderjson .syntax        { color: lightyellow; }
.renderjson .string        { color: white; text-shadow: 1px 1px 1px black;}
.renderjson .number        { color: lightblue; }
.renderjson .boolean       { color:  #96ecdc}
.renderjson .key           { color:  #96ecdc; text-shadow: 1px 1px 1px black; font-weight: bold;}
.renderjson .keyword       { color:  #d596ec}
.renderjson .object.syntax { color:  lightyellow}
.renderjson .array.syntax  { color:  #96ecdc}

/* BUTTONS */

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  color: white !important;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: var(--danger);
}

.pulse {
  --color: var(--main);
  --hover: var(--main);
}

.close {
  --color: #ff7f82;
  --hover: var(--danger);
}

.raise {
  --color: #ffa260;
  --hover: gray;
}

.up {
  --color: var(--light);
  --hover: var(--main);
}

.slide {
  --color: white;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

.text3D {
color: #fff !important;
font-size: 2em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}
.link:hover{
  text-decoration: none !important;
}
.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}
.inner-wrapper {
  position: relative;
  display: inline-block;
}
/* hover styles */
.hover-1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--light);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-1:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.itemHover {
  position: relative;
  float: left;
  width: 350px;
  height: 210px;
  overflow: visible;
  margin: 20px;
  display: block;
  background-color: #000;
  text-decoration: none;
}

.itemHover div {
  position: relative;
  z-index: 1;
  width: 358px;
  height: 218px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;

  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);

  -webkit-transform: translate(-4px, -4px);
  -moz-transform: translate(-4px, -4px);
  -ms-transform: translate(-4px, -4px);
  -o-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);

  -webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s,
    -webkit-box-shadow 0.2s;
  -moz-transition: width 0.2s, height 0.2s, -moz-transform 0.2s, box-shadow 0.2s;
  transition: width 0.2s, height 0.2s, transform 0.2s, box-shadow 0.2s;
}
.itemHover div:before {
  content: "";
  display: block;
  width: 600px;
  height: 400px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 1;
  background: var(--sec);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#e6000000",
      endColorstr="#00000000",
      GradientType=1
    ); /* IE6-9 */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.itemHover:hover div:before {
  opacity: 0.7;
}

.itemHover:hover div {
  width: 366px;
  height: 226px;

  -webkit-box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);

  -webkit-transform: translate(-8px, -8px);
  -moz-transform: translate(-8px, -8px);
  -ms-transform: translate(-8px, -8px);
  -o-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
}

.itemHover:active div {
  width: 358px;
  height: 218px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(-4px, -4px);
  -moz-transform: translate(-4px, -4px);
  -ms-transform: translate(-4px, -4px);
  -o-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);
}

.itemHover span {
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 20;
  padding: 15px 20px;
  bottom: 0px;
  left: 0;
}

.itemHover span h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.itemHover:hover span h3 {
}
.itemHover span p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.itemHover:hover span p {
  opacity: 1;
  max-height: 200px;
}

.hero{
  background-image: url('../img/back.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

g.nodes g.node:last-child circle{
  fill: #ec9ff0 !important;
}

g.nodes g.node:last-child text{
  font-size: 1.5em !important;
}

.node-name{
  margin:0;
}

.navigation{
  opacity: .7;
  /* margin-top:100px; */
  position: fixed;
  /* top: 40vh; */
  bottom: 40px;
  box-shadow: 0px 0px 0px #4b4b4b;
  z-index:100;
  transition: all .5s;
}

.navigation:hover{
  box-shadow: 1px 5px 20px #4b4b4b;
  opacity: 1;
}

.navigation li:hover a{
  color: var(--sec);
}

.description{
  background: #d7d7d7;
  border-radius: 10px;
}

.fa-external-link-alt{
  font-size: small !important;
}

.small{
  font-size: small;
}
.table thead th{
  vertical-align: middle;
}


.text-0{
  color: #02c4e7;
  font-weight: 900;
}
.text-1{
  color: #0193ad;
  font-weight: 900;
}
.text-2{
  color: #006476;
  font-weight: 900;
}
.text-3{
  color: #003f4a;
  font-weight: 900;
}
.text-4{
  color: #001d22;
  font-weight: 900;
}
.text-5{
  color: #011013;
  font-weight: 900;
}
.text-6{
  color: #230528;
  font-weight: 900;
}
.text-7{
  color: #53185b;
  font-weight: 900;
}
.text-8{
  color: #722e7c;
  font-weight: 900;
}
.text-9{
  color: #9a4ba6;
  font-weight: 900;
}
.text-10{
  color: #c06acd;
  font-weight: 900;
}

.bg-0{
  background: #02c4e7;
}
.bg-1{
  background: #0193ad;
}
.bg-2{
  background: #006476;
}
.bg-3{
  background: #003f4a;
}
.bg-4{
  background: #001d22;
}
.bg-5{
  background: #011013;
}
.bg-6{
  background: #230528;
}
.bg-7{
  background: #53185b;
}
.bg-8{
  background: #722e7c;
}
.bg-9{
  background: #9a4ba6;
}
.bg-10{
  background: #c06acd;
}

.table-striped-main tbody tr:nth-of-type(odd){
  background-color: rgba(81, 187, 187, 0.2);
}

.table-striped-main tbody tr:nth-of-type(even){
  background-color: rgba(187, 187, 187, 0.1);
}

.table-striped-sec tbody tr:nth-of-type(odd){
  background-color: rgba(169, 82, 187, 0.1);
}

.table-striped-sec tbody tr:nth-of-type(even){
  background-color: rgba(187, 187, 187, 0.1);
}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   }
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);
   }
