@import "./base.css";

.route-active {
  font-weight: bold;
}

.anchor {
  opacity: 0;
}
.anchorParent:hover > .anchor {
  opacity: 1;
}

.flowchart {
  min-height: 90vh;
}
.resTable {
  max-height: 80vh;
  overflow: scroll;
}
.filterBox {
  max-height: 300px;
  overflow-y: scroll;
}
#flow_chart {
  width: 100%;
  height: 500px;
}
.text-purple {
  color: #642d87;
}
.smallBadge {
  color: #fff !important;
  margin: 2px;
  padding: 3px 6px;
  border: 0;
  font-size: 9px;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 3px;
  vertical-align: top;
  border: 1.5px solid #d3d3d3;
  white-space: nowrap !important;
  cursor: default;
  background-color: rgb(196, 27, 91);
}
