@import "./base.css";

.route-active {
  font-weight: bold;
}

.anchor {
  opacity: 0;
}
.anchorParent:hover > .anchor {
  opacity: 1;
}

.flowchart {
  min-height: 90vh;
}
.resTable {
  max-height: 80vh;
  overflow: scroll;
}
.filterBox {
  max-height: 300px;
  overflow-y: scroll;
}
#flow_chart {
  width: 100%;
  height: 500px;
}
.text-purple {
  color: #642d87;
}
.smallBadge {
  color: #fff !important;
  margin: 2px;
  padding: 3px 6px;
  border: 0;
  font-size: 9px;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 3px;
  vertical-align: top;
  border: 1.5px solid #d3d3d3;
  white-space: nowrap !important;
  cursor: default;
  background-color: rgb(196, 27, 91);
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "Please wait...";
}
.stripedList li:nth-child(even) {
  background-color: rgb(243, 243, 243);
}
.drag-el {
  color: white;
  transition: all 0.3s;
  outline: none !important;
  padding: 10px !important;
}
.drag-el:hover {
  cursor: grab;
}
.v-container {
  position: relative;
  transform-style: preserve-3d;
}
.drop-zone {
  background-color: honeydew;
  border: grey dotted 2px;
  max-height: 200px;
  overflow: scroll;
}
.drop-zone[drop-active="true"] {
  background-color: #d2ff8f;
  border: #caff37 dotted 2px;
}
#classGraph {
  width: 100%;
  height: 400px;
}
.renderjson a {
  text-decoration: none;
  text-shadow: none !important;
}
.renderjson .disclosure {
  color: rgb(0, 182, 192);
  font-size: 150%;
  text-shadow: none !important;
}
.renderjson .syntax {
  color: grey;
  text-shadow: none !important;
}
.renderjson .string {
  color: rgb(87, 87, 87);
  text-shadow: none !important;
}
.renderjson .number {
  color: rgb(148, 52, 200);
  text-shadow: none !important;
}
.renderjson .boolean {
  color: rgb(227, 44, 160);
  text-shadow: none !important;
}
.renderjson .key {
  color: rgb(92, 33, 115);
  text-shadow: none !important;
}
.renderjson .keyword {
  color: rgb(32, 84, 161);
  text-shadow: none !important;
}
.renderjson .object.syntax {
  color: lightseagreen;
  text-shadow: none !important;
}
.renderjson .array.syntax {
  color: rgb(223, 88, 55);
  text-shadow: none !important;
}
