{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
.clsContainer{
  min-width: 45%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #bbbbbb;
  transition: .5s all;
  background: #eceaea !important;
  position: relative;
}

.clsContainer:hover{
  background: white !important;
  box-shadow: 2px 2px 1px #bbbbbb;
  cursor: default;
}

.clsNameContainer{
  display: flex;
  word-break: break-all;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.clsNameContainer div{
  flex: 1;
}

#schemaName1{
  text-align: center !important;
}

#schemaName1:focus{
  background: white !important;
}

.keepButton{
  background: #6c757d;
  transition: .5s all;
}

.keepButton:hover{
  background: #28a745;
}

.border-done{
  border-left: 7px solid var(--success);
}

.p-r{
  position: relative;
  border-left: 5px solid var(--sec);
}

.p-a{
  position: absolute;
}

.sectionHeader{
  top: 45%;
  left:-13px;
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}



</style>
<section id="editor" class="container" style="min-height: 70vh;padding-top:60px;">
  <div>
    <div class="jumbotron animatedBack text-center mt-5">
      <h1 class="text-light">Schema Editor</h1>
    </div>
    <div v-if=loading class="loader">
      <h1 class="mainTextLight"><i class="fas fa-cog"></i> Loading...</h1>
    </div>
    <div class="jumbotron p-r" :class="[ myContextFields.length ? 'border-done' : '']">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">1</div>
      <h2 class="text-muted text-center">Define a context <b class="mainTextDark">namespace:url</b> key-value pair</h2>
      <form v-if="!myContextFields.length" @submit.prevent="addToContext" class="form-group text-center form-row w-50 m-auto">
        <div class="col-sm-12 col-md-5">
          <input autocomplete="true" type="text" v-model='inputNamespace' class="form-control m-auto" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-danger']" id="schemaName1" aria-describedby="nameHelp" placeholder="Enter namespace here">
        </div>
        <div class="col-sm-12 col-md-2">
          <h1>:</h1>
        </div>
        <div class="col-sm-12 col-md-5">
          <input autocomplete="true" type="url" v-model='inputUrl' class="form-control m-auto" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-muted']" id="schemaName1" aria-describedby="urlHelp" placeholder="Enter URL here">
        </div>
        <div class="col-sm-12 text-center">
          <small id="nameHelp" class="form-text m-3 bold" :class="[ namespaceCheck === 'Available' ? 'text-success' : 'text-danger']" v-text='namespaceCheck'></small>
          <button :disabled="!myContextFields" type="submit" class="btn btn-success" @click.prevent="addToContext">Add <i class="fas fa-plus"></i></button>
        </div>
      </form>
      <div v-if="myContextFields.length" class="col-sm-6 m-auto text-center text-success mt-2 alert alert-light">
        <span class="d-block">@Context:</span>
          <template v-for="item in myContextFields">
            <span class="d-block" v-text="item"></span>
          </template>
      </div>
    </div>
    <div class="jumbotron p-r" >
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">2</div>
      <h2 class="text-muted text-center">Define a new class and properties for your schema</h2>
      <div class="p-2 mb-3 text-center">
        <button class="btn btn-success text-light" @click.prevent="addClass">Add Class <i class="fas fa-plus"></i></button>
      </div>
      <div class="text-center">
        <template v-for="(item,index) in myClasses">
          <class-box key="index" :clss="item" :myclass="true"></class-box>
        </template>
      </div>
    </div>
    <div class="jumbotron d-flex flex-wrap align-items-start p-r">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">3</div>
      <div style="flex:1; min-width:100%;">
        <h2 class="text-muted text-center">Choose which parent class properties you want to resuse</h2>
      </div>
      <template v-for="(item,index) in clses">
        <class-box key="index" :clss="item"></class-box>
      </template>
    </div>
    <div class="jumbotron text-center p-r">
      <div class="numberCircle mainBackLight text-light sectionHeader p-a">4</div>
      <h2 class="text-muted text-center">Generate Code</h2>
      <small class="text-muted d-block">Click here to see latest changes</small>
      <button class="btn themeButton pulse text-light" @click.prevent="generateResult">Get Your Code</button>
      <div v-show="valid" class="swing-in-left-fwd ">
        <pre >
          <code class="p-5 border-success" id="resultCode" @click="selectText('resultCode')">
          </code>
        </pre>
      </div>
    </div>

  </div>

</section>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="./static/js/lodash.js"></script>
<script src="./static/js/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script>

const store = new Vuex.Store({
  state: {
    'finalschema':{
      '@context':{
      },
      '@graph':[]
    },
    // can access directly but not mutate using this.$store.state.count
    'schema':{
      'type':Object
    },
    'userClasses':[],
    'userContextFields':[],
  },
  strict: true,
  mutations: {
    saveSchema(state,payload){
      console.log('saving..')
      state.schema = payload['schema'];
      state.finalschema['@context']=payload['schema']['@context'];
      //move all classes to user schema
      for (var i = 0; i < state.schema['@graph'].length; i++) {
        if (state.schema['@graph'][i].hasOwnProperty('@type') && state.schema['@graph'][i]['@type'] === "rdfs:Class") {
          state.finalschema['@graph'].push(state.schema['@graph'][i]);
        }
      }
    },
    saveNamespace(state,payload){
      state.namespace = payload['namespace'];
    },
    saveContextField(state,payload){
      let newField ={};
      newField[payload['namespace']]= payload['url'];
      state.userContextFields.unshift(newField);
      state.finalschema['@context'] = {...state.finalschema['@context'],...newField};
      $.notify(payload['namespace']+" added",{ globalPosition: 'right',className:'success', showDuration: 200, });
      console.log('saved..',state.finalschema['@context'])
    },
    saveClass(state,payload){
      let clss = payload['clss'];
      if (state.schema['@graph']) {
        state.finalschema['@graph'].unshift(clss);
        state.userClasses.unshift(clss);
      }
    },
    removeClass(state,payload){
      let clss = payload['clss'];
      if (state.finalschema['@graph']) {
        state.finalschema['@graph']= _.difference(state.finalschema['@graph'], [clss]);;
        state.userClasses= _.difference(state.userClasses, [clss]);;
      }
    },
    saveProperty(state,payload){
      let prop = payload['prop'];
      if (state.finalschema['@graph']) {
        state.finalschema['@graph'].push(prop);
      }
    },
    keepProperty(state,payload){
      let prop = payload['prop'];
      let clss = payload['clss'];

      if (clss.hasOwnProperty('validation')) {
        let target= clss['validation']['properties']
        if (clss['validation']['properties'].hasOwnProperty(prop['rdfs:label'])) {
          Vue.delete(target, prop['rdfs:label']);
          $.notify(prop['rdfs:label']+" removed",{ globalPosition: 'right',className:'info', showDuration: 200, });
        }else{
          //TO DO: infer type based on propname but use string as default for now
          let value = {'description':prop['rdfs:comment'],'type':'string'}
          let fieldname = prop['rdfs:label']
          Vue.set( target, fieldname, value)
          $.notify(prop['rdfs:label']+" added",{ globalPosition: 'right',className:'success', showDuration: 200, });

        }

      }
    },
    handleRequiredProp(state,payload){
      let prop = payload['propname'];
      let clss = payload['clss'];
      console.log('received',prop,clss)

      if (clss && clss.hasOwnProperty('validation')) {
        console.log('checking',clss['validation']['required'])
        if (clss['validation']['required'].includes(prop)) {
          for (var i = 0; i < clss['validation']['required'].length; i++) {
            if (clss['validation']['required'][i] === prop) {
              console.log('found',clss['validation']['required'])
              clss['validation']['required'].splice(i,1);
              $.notify(prop+" not required",{ globalPosition: 'right',className:'info', showDuration: 200, });
            }
          }
        }else{
          console.log('not found',clss['validation']['required'])
          clss['validation']['required'].unshift(prop)
          $.notify(prop+" required",{ globalPosition: 'right',className:'success', showDuration: 200, });
        }
      }
    },
    removeProperty(state,payload){
      prop = payload['prop'];
      if (state.finalschema['@graph']) {
        for (var i = 0; i < state.finalschema['@graph'].length; i++) {
          if(state.finalschema['@graph'][i].hasOwnProperty('@type') && state.finalschema['@graph'][i]['@type'] === "rdf:Property"){
            let propObj = state.finalschema['@graph'][i];
            if (state.finalschema['@graph'][i]['rdfs:label']===prop['rdfs:label']) {
              state.finalschema['@graph'].splice(i, 1)
              $.notify(prop['rdfs:label']+" removed",{ globalPosition: 'right',className:'info', showDuration: 200, });
            }
          }
        }
      }
    }
  },
  getters:{
    // exposed as store.getters.nameOfGetter
    getClassList:state=>{
      return state.clssList
    },
    getSchema:state=>{
      return state.schema
    },
    getFinalSchema:state=>{
      return state.finalschema
    },
    getUserClasses:state=>{
      return state.userClasses
    },
    getUserContextFields:state=>{
      return state.userContextFields
    },
    getPropsFor: (state) => (name,myclass) => {
      let schema={};
      if (myclass===true) {
        schema = state.finalschema
      }else{
        schema = state.schema
      }
      let props = []
      for (var i = 0; i < schema['@graph'].length; i++) {
        if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdf:Property"){
          let propObj = schema['@graph'][i];
          if ( _.isString(propObj['schema:domainIncludes']) ) {
            if (propObj["schema:domainIncludes"].includes(name)) {
              props.push(propObj);
            }
          }
          else if ( _.isArray(propObj['schema:domainIncludes']) ) {
            for (var j = 0; j < propObj['schema:domainIncludes'].length; j++) {
              if (propObj["schema:domainIncludes"][j]['@id'].includes(name)) {
                props.push(propObj);
              }
            }
          }else if( _.isPlainObject(propObj['schema:domainIncludes']) ){
            if (propObj["schema:domainIncludes"]['@id'].includes(name)) {
              props.push(propObj);
            }
          }

        }
      }
      return props
  },
  getSelectedPropsFor: (state) => (name,myclass) => {

    let schema={};
    if (myclass===true) {
      schema = state.finalschema
      for (var i = 0; i < schema['@graph'].length; i++) {
        if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
          let propObj = schema['@graph'][i];
          if (propObj['@id'].includes(name)) {
            return schema['@graph'][i]['validation']['properties']
          }
        }
      }
    }
  }
  },
  actions:{

  }
});

Vue.component('keep-button', {
  props: ['item'],
  data: function(){
    return{
      clicked:false
    }
  },
  watch:{
  },
  mounted:function(){
  },
  template: `<button :title="'Keep '+item['rdfs:label']" @click.prevent="keepProp(item)" class="btn smallButton keepButton text-light" :class="[ clicked ? 'bg-success' : '']" >
              <i v-if="!clicked" class="fas fa-check" ></i>
              <i v-if="clicked" class="fas fa-star" ></i>
             </button>`,
  methods: {
    keepProp(prop){
      let self= this;
      let list = store.getters.getUserClasses
      if (list.length<1) {
        Swal(
            'You must create a class first',
            'All parent properties are inherited by default,but after creating a class choose which ones you will actually use in your schema',
            'error'
          );
      }
      if (list && list.length === 1) {

        var payload={};
        payload['prop'] = prop;
        payload['clss']=list[0];
        store.commit('keepProperty',payload)
        self.clicked= !self.clicked;

      }else if(list && list.length > 1){

        let listOptions={};
        for (var i = 0; i < list.length; i++) {
          listOptions[list[i]['@id']]= list[i]
        }

        Swal.mixin({
          input: 'text',
          confirmButtonText: 'OK',
          showCancelButton: true,
          progressSteps: ['1']
        }).queue([
          {
            title: "Which class will use this property?",
            input: 'select',
            inputOptions: listOptions,
            html: 'Select class'
          },
        ]).then((result) => {
          if (result.value) {

            var payload={};
            payload['prop'] = prop;
            payload['clss']=result.value;
            store.commit('keepProperty',payload)
            self.clicked= !self.clicked;

          }
        })
      }
    },
  }
});

Vue.component('description', {
  props: ['content'],
  data: function(){
    return{
      full:true ,
      text:''
    }
  },
  watch:{
    full:function(n,o){
      if (n) {
        this.text = this.content
      }else{
        if (this.content) {
          this.text = this.content.substring(0, 40);
        }
      }
    }
  },
  mounted:function(){
    this.full = false;
  },
  template: `<small class="pointer d-inline" v-on:click="clicked">
              <span v-text="text"></span>
              <i v-if="!full && text.length>39" class="far fa-plus-square mainTextDark pointer"></i>
              <i v-if="full && text.length>39" class="far fa-minus-square mainTextLight pointer"></i>
            </small>`,
  methods: {
    clicked: function() {
      this.full=!this.full
    }
  }
});


Vue.component('class-box', {
  data: function(){
    return{
      showAll:true,
      myList:[],
      isHidden:true,
    }
  },
  props: ['clss','myclass'],
  methods:{
      deleteClass(){
        var payload={};
        payload['clss'] = clss;
        store.commit('removeClass',payload)
      },
      handleRequired(propname,clss){
        console.log(propname,clss)
        let payload={};
        payload['clss']=clss;
        payload['propname']=propname;
        store.commit('handleRequiredProp',payload)
      },
      toggleHide(){
        this.isHidden = ! this.isHidden
      },
      getName(classInfo){
        if (classInfo && classInfo.hasOwnProperty('rdfs:label')) {
          if (_.isPlainObject(classInfo['rdfs:label'])){
            return classInfo['rdfs:label']['@value']
          }else if (_.isString(classInfo['rdfs:label'])){
            return classInfo['rdfs:label']
          }
        }
      },
      addPropsToClass:function(){
        var self = this;
        var schema= store.getters.getSchema;
        let list={};
        if (schema && schema['@graph']) {
          for (var i = 0; i < schema['@graph'].length; i++) {
            if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
              list[schema['@graph'][i]['@id']]= schema['@graph'][i]['@id']
            }
          }
        }

        Swal.mixin({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        progressSteps: ['1', '2','3',]
      }).queue([
        {
          title: "Choose a name for your property",
          html: 'input name must be camel cased <b class="text-danger">eg. myProperty </b>',
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (value.match(/^[a-z]+(?:[A-Z][a-z]+)*$/)) {
                resolve()
              } else {
                resolve('class names must be PascalCased')
              }
            })
          }
        },
        {
          title: "What is this property's expected type?",
          input: 'select',
          inputOptions: list,
          html: 'input name(s) must be Pascal cased <b class="text-danger">eg. MyClass </b>'
        },
        {
          title: "Describe this property",
          html: 'write a short summary about this class',
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (!value.length<10) {
                resolve()
              } else {
                resolve('Comment is too short. 10 characters minimum.')
              }
            })
          }
        },
      ]).then((result) => {
        if (result.value) {
          this.handleUserPropInput(result.value);
        }
      })
    },
    handleUserPropInput: function(value, oldValue){
        var self = this;
        let context= store.getters.getUserContextFields;
        let prefix = '';
        for (key in context[0]) {
          prefix = key;
        }
        var skeleton={
          "@id": prefix+':'+value[0],
          "@type": "rdf:Property",
          "rdfs:comment": value[2],
          "rdfs:label": value[0],
          "schema:domainIncludes": {
              "@id": self.clss['@id']
          },
          "schema:rangeIncludes": {
              "@id": "schema:"+value[1]
          }
        };
        // push to store
        var payload = {};
        payload["prop"] = skeleton;
        store.commit('saveProperty',payload);
    },
    removeProp(prop){
      var payload={};
      payload['prop'] = prop;
      store.commit('removeProperty',payload)
    },
    getType: function(data){
      let types=[];
      if (data.hasOwnProperty("schema:rangeIncludes")) {
        if (_.isString(data["schema:rangeIncludes"])) {
          let type = data['schema:rangeIncludes'].split(':');
          type = type[type.length-1];
          types.push(type);
        }
        else if (_.isArray(data["schema:rangeIncludes"])) {
          for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
            let type = data['schema:rangeIncludes'][i]['@id'].split(':');
            type = type[type.length-1];
            types.push(type);
          }
        }else if(_.isObject(data["schema:rangeIncludes"])){
          let type = data['schema:rangeIncludes']['@id'].split(':');
          type = type[type.length-1];
          types.push(type);
        }
      }
      return types;
    },
    getSubclass: function(data){
      let subclasses=[];
      if (data.hasOwnProperty("rdfs:subClassOf")) {
        if (_.isString(data["rdfs:subClassOf"])) {
          let cl = data['rdfs:subClassOf']
          subclasses.push(cl);
        }
        else if (_.isArray(data["rdfs:subClassOf"])) {
          for (var i = 0; i < data['rdfs:subClassOf'].length; i++) {
            let cl = data['rdfs:subClassOf'][i]['@id']
            subclasses.push(cl);
          }
        }else if(_.isObject(data["rdfs:subClassOf"])){
          let cl = data['rdfs:subClassOf']['@id']
          subclasses.push(cl);
        }
      }else{
        subclasses.push('This class has no subclass');
      }
      return subclasses;
    },
  },
  // watch:{
  //   showAll: function(newVal, oldVal){
  //     if (newVal) {
  //       this.myList = this.properties;
  //     }else{
  //       this.myList = this.properties.slice(0,5);
  //     }
  //   }
  // },
  mounted: function(){
    this.showAll= false
    if (this.myclass) {
      this.isHidden = false;
    }
  },
  computed: {
    className:function(){
      return this.clss['rdfs:label'];
    },
    properties:function(){
      if (this.myclass) {
        return store.getters.getPropsFor(this.clss['rdfs:label'],true);
      }else{
        return store.getters.getPropsFor(this.clss['rdfs:label'],false);
      }
    },
    selectedProperties:{
      get(){
        if (this.myclass) {
          return store.getters.getSelectedPropsFor(this.clss['rdfs:label'],true);
        }
      }
    }
  },
  template:
  `<div class="clsContainer p-3 bg-light m-3" style="flex:1">
    <div class="row">
      <div class="clsNameContainer col-sm-12">
        <div class='text-center'>
          <h5 @click.prevent='toggleHide' class="mainTextDark d-inline pointer" v-text="clss['rdfs:label']" :title="clss['rdfs:comment']"></h5>
          <span class="badge text-light" :class="[ properties.length>0 ? 'mainBackLight' : 'bg-secondary']" v-text="properties.length"></span>
          <br />
          <small class="text-muted">
            <span v-if="clss['rdfs:subClassOf']">Subclass of:</span>
            <template v-for="item in getSubclass(clss)">
              <small class="bold mainTextDark mr-2" v-text='item'></small>
            </template>
          </small>
          <div class="text-center" v-if='myclass'>
              <a role='button' class="btn smallButton bg-success text-light" @click.prevent="addPropsToClass">Add Property <i class="fas fa-plus"></i></a>
              <!--<a role="button" class="btn smallButton bg-danger text-light" @click.prevent="deleteClass" title="DELETE">
                Delete <i class="fas fa-times" ></i>
              </a>-->
          </div>
        </div>
      </div>
      <div v-show='!isHidden' class="propContainer  text-muted col-sm-12">
        <small>
          Properties of <span v-text="clss['rdfs:label']"></span>
        </small>
        <table class="w-100 table table-sm table-responsive-sm table-striped" v-if="properties.length">
          <thead class="mainBackLight text-light">
            <th class="text-center">
              <small v-if="!myclass">Keep</small>
              <small v-if="myclass">Remove</small>
            </th>
            <th v-if="myclass">
              <small>Required</small>
            </th>
            <th>
              <small>Name</small>
            </th>
            <th>
              <small>Comment</small>
            </th>
            <th>
              <small>Expected Type</small>
            </th>
          </thead>
          <tbody>
            <template v-for="(item,index) in properties">
              <tr :key='index'>
                <td v-if="!myclass" class="text-center">
                  <keep-button :item='item'></keep-button>
                </td>
                <td v-if="myclass" class="text-center">
                  <button :title="'Remove '+item['rdfs:label']" @click.prevent="removeProp(item)" class="btn smallButton bg-danger text-light"><i class="fas fa-minus" ></i></button>
                </td>
                <td v-if="myclass">
                  <div class="d-inline mr-3">
                    <input @click="handleRequired(item['rdfs:label'],clss)" class="ios8-switch" type="checkbox" value="" :id="item['rdfs:label']">
                  </div>
                </td>
                <td  >
                  <small class="bold" v-text='getName(item)'></small>
                </td>
                <td class="p-2">
                  <description :content='item["rdfs:comment"]'></description>
                </td>
                <td >
                  <template v-for="(type,i) in getType(item)">
                    <small class="d-block" v-html='type'></small>
                  </template>
                </td>
              </tr>
            </template>
          <!--   <template v-if="!showAll && properties.length>5">
              <tr class="text-center">
                <td colspan='4' class='text-center'>
                  <a role="button" class="btn smallButton mainBackLight text-light" @click.prevent="showAll= !showAll">Show More (<span class="bold" v-text="properties.length-5"></span>)</a>
                </td>
              </tr>
            </template>
            <template v-if="showAll">
              <tr class="text-center">
                <td colspan='4' class='text-center'>
                  <a role="button" class="btn smallButton mainBackLight text-light" @click.prevent="showAll= !showAll">Show Less</a>
                </td>
              </tr>
            </template> -->
          </tbody>
        </table>
        <div v-else class="alert alert-secondary text-center">
          <small>This class has no properties of its own</small>
        </div>
        <div v-if="myclass">
          <table class="col-sm-12 col-md-6 m-auto table table-sm table-muted table-responsive-sm">
            <thead>
              <th>
                <small>Selected Inherited Properties</small>
              </th>
            </thead>
            <tbody>
              <template v-for="(item,index) in selectedProperties">
                <tr class='text-left'>
                  <div class="d-inline mr-3">
                    <input @click="handleRequired(index,clss)" class="ios8-switch" type="checkbox" :id="index">
                    <label class="form-check-label" :for="index">
                      Required
                    </label>
                  </div>
                  <span class="badge mainBackLight text-light" v-text="index"></span>: <description :content='item.description'></description>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>`
});

var app = new Vue({
      el: '#editor',
      store: store,
			data: function(){
				return {
          loading: false,
          valid: false,
          code: null,
          url:'',
          handleUserClassInput:[],
          editFrom:'',
          inputNamespace:'',
          inputUrl:'http://discovery.biothings.io/',
          namespaceCheck:'Start typing to check availability',
          availableNamespace:false
				}
			},
      computed:{
        clses:function(){
          var schema= store.getters.getSchema;
          let clssList=[];
          if (schema && schema['@graph']) {
            for (var i = 0; i < schema['@graph'].length; i++) {
              if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
                clssList.push(schema['@graph'][i])
              }
            }
          }
          return _.difference(clssList, this.myClasses)
        },
        myClasses:{
          get(){
            return store.getters.getUserClasses
          }
        },
        myContextFields:{
          get(){
            return store.getters.getUserContextFields
          }
        }
      },
      watch:{
        inputNamespace:function(value,oldvalue){
          let self=this;
          if (value.length) {
            axios.get(`/api/query?q=_meta.slug:`+value).then(function (response) {
              if (response.data.total) {
                self.namespaceCheck ='Not Available';
                self.availableNamespace=false;
              }else if(!response.data.total){
                self.namespaceCheck ='Available';
                self.availableNamespace=true;
              }
            }).catch(error => {
              throw error;
            });
          }else{
            self.namespaceCheck ='Start typing to check availability';
            self.availableNamespace=false;
          }
        },
        handleUserClassInput: function(value, oldValue){
          var self = this;
          let context= store.getters.getUserContextFields;
          let prefix = '';
          for (key in context[0]) {
            prefix = key;
          }
            var skeleton={
              "@id": prefix+":"+value[0],
              "@type": "rdfs:Class",
              "rdfs:comment": value[2],
              "rdfs:label": value[0],
              "rdfs:subClassOf": {
                  "@id": value[1]
              },
              "validation":{
               "$schema": "",
               "title": value[0],
               "description": value[2],
               "type": "object",
               "properties": {
               },
               "required": ["id"]
            }
            };
            // push to store
            var payload = {};
            payload["clss"] = skeleton;
            store.commit('saveClass',payload);

        }
      },
			methods:{
        addToContext(){
          var self = this;
          if (self.inputUrl && self.inputNamespace) {
            var payload={};
            payload['namespace'] = self.inputNamespace;
            payload['url'] = self.inputUrl;
            store.commit('saveContextField',payload)
            self.inputNamespace='';
            self.inputUrl='';
            Swal.fire({
              type: 'success',
              toast: true,
              position: 'top',
              timer:2500,
              showConfirmButton:false,
              title: 'Context Saved',
            });
          }else{
            Swal(
                'No Input',
                'You Must enter a namespace and url first',
                'error'
              );
          }
        },
        handleSubmit(){
          var self = this;
          if (self.url) {
            axios.get(self.url).then(res=>{
              console.log(res.data)
            }).catch(err=>{
              throw err;
            });
          }
        },
        selectText(containerid) {
          window.getSelection().selectAllChildren( document.getElementById( containerid ) );
        },
        loadingOn(){
          var self = this;
          self.loading = true;
        },
        loadingOff(){
          var self = this;
          self.loading = false;
        },
        generateResult(){
          var self = this;
          let schema = store.getters.getFinalSchema;
          if (schema) {
            self.valid= true;
            self.code = JSON.stringify(schema, null, 2);
            document.getElementById("resultCode").textContent= self.code;
          }else{
            self.valid = false;
          }
        },
        addClass:function(){
          var self = this;
          let userContext= store.getters.getUserContextFields
          if (userContext.length) {
            var schema= store.getters.getFinalSchema;
            let list={};
            if (schema && schema['@graph']) {
              for (var i = 0; i < schema['@graph'].length; i++) {
                if(schema['@graph'][i].hasOwnProperty('@type') && schema['@graph'][i]['@type'] === "rdfs:Class"){
                  list[schema['@graph'][i]['@id']]= schema['@graph'][i]['@id']
                }
              }
            }

            Swal.mixin({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            progressSteps: ['1', '2','3']
          }).queue([
            {
              title: "Choose a name for your class",
              html: 'input name must be Pascal cased <b class="text-danger">eg. MyClass </b>',
              inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (value.match(/^[A-Z][a-z]+(?:[A-Z][a-z]+)*$/)) {
                    resolve()
                  } else {
                    resolve('class names must be PascalCased')
                  }
                })
              }
            },
            {
              title: "What is this class' subclass?",
              input: 'select',
              inputOptions: list,
              html: 'input name must be Pascal cased <b class="text-danger">eg. Thing </b>'
            },
            {
              title: "Write a comment about this class",
              html: 'write a short summary about this class',
              inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (!value.length<10) {
                    resolve()
                  } else {
                    resolve('Comment is too short. 10 characters minimum.')
                  }
                })
              }
            },
          ]).then((result) => {
            if (result.value) {
              this.handleUserClassInput= result.value;
            }
          });
          }else{
            Swal(
                'You must set a namespace first',
                'Do not change or delete the namespace once created',
                'error'
              );
          }

        }
			},
			mounted:function(){
        var self = this;
        var schema = localStorage.getItem('datasetData');
        if (schema) {
          var payload = {};
          payload["schema"] = JSON.parse(schema);
          store.commit('saveSchema',payload);
        }
        localStorage.setItem('editFrom','CreativeWork');
        this.editFrom = localStorage.getItem('editFrom');

			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
