{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<main id="guide" style="min-height:70vh;">

  <div v-if=loading class="loader">
    <img src="./static/img/ripple.svg"/>
  </div>

  <div data-aos="fade-up" data-aos-anchor="#metadataForm" data-aos-delay="200" class="meterContainer d-none d-sm-none d-md-block" :class="{ 'bg-complete' : meterTotal >= totalQuestions}">
    <div class="meterTextBox">
      <small>Discovery<br /> Meter</small>
    </div>
    <div class="meterBox">
      <meter min="0" :max="totalQuestions" :low="totalQuestions/3" :high="totalQuestions*.75" :optimum="totalQuestions" :value="meterTotal">2 out of 10</meter>
    </div>
    <small class="text-danger bold d-block text-center" v-if='meterTotal > 0 && meterTotal < totalQuestions/3'>
      LOW
    </small>
    <small class="text-warning bold d-block text-center" v-if='meterTotal > totalQuestions/3 && meterTotal < totalQuestions*.75'>
      MEDIUM
    </small>
    <small class="text-success bold d-block text-center" v-if='meterTotal >= totalQuestions*.75'>
      HIGH
    </small>
    <template v-if="achievements.length">
      <div class="p-1 bg-muted trophyBox">
        <small class="text-muted caps d-block text-center">Trophies</small>
        <div class="m-1 d-inline zoomHalf" v-for="ach in achievements">
          <i class="fas fa-trophy text-warning" :title='ach'></i>
        </div>
      </div>
    </template>
  </div>

  <div class="meterContainerSmall d-none d-block d-md-none jello">
    <div class="meterSmall">
      <meter min="0" :max="totalQuestions" :low="totalQuestions/3" :high="totalQuestions*.75" :optimum="totalQuestions" :value="meterTotal">2 out of 10</meter>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron bg-light text-center" style="margin-top: 40px;">

      <div class="jumbotron animatedBack text-center mt-5">
        <h1 class="text-light">DISCOVERY GUIDE</h1>
      </div>

      <template>
        <div class="stepBox">
          <span>1</span>
          <div class="clipBox bold bold">
            Host your Dataset Metadata
          </div>
        </div>
        <div class="jumbotron text-muted">
          <!-- <div class="numberCircle mainBackLight">1</div> -->
          <!-- <h3>Host your Dataset Metadata</h3> -->
          <h3 class="col-sm-6" style="margin: 0 auto;">
            Some hosting options
          </h3>
          <hr />
          <div id="host" class="row" style="margin:0 auto;">
            <div class="col-sm-6 col-md-3 p-3">
              <a href="https://dataverse.org/" target="_blank">
                <img width="220px" src="https://dataverse.org/files/dataverseorg/files/dataverse_r_project.png" alt="Dataverse"/>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 p-3">
              <a href="https://zenodo.org/" target="_blank">
                <img width="220px" src="https://about.zenodo.org/static/img/logos/zenodo-gradient-square.svg" alt="Zenodo"/>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 p-3">
              <a href="https://figshare.com/" target="_blank">
              <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Figshare_logo.svg/1280px-Figshare_logo.svg.png" alt="FigShare"/></a>
            </div>
            <div class="col-sm-6 col-md-3 p-3">
              <h3 class="text-muted"><i class="fas fa-home"></i> Your own website</h3>
            </div>
          </div>
          <hr />
          <div class="text-muted">
            <h3 class="col-sm-6" style="margin: 0 auto;">
              Already hosted?
            </h3>
            <form id="linkForm" class="col-sm-6" style="margin: 0 auto;">
              <div class="form-group">
                <label for="urlform">Paste your URL here:</label>
                <input data-parsley-trigger="change" v-model="link" id="urlform" autocomplete="on" required ref="dataset_input" class="form-control" type="url" placeholder="Paste Link Here" required="">
                <button :disabled="!link.length" @click.prevent="getFormValues()" style="margin:10px;" class="btn themeButton text-light" type="submit">Submit</button>
              </div>
              <small class="badge badge-pill badge-secondary pointer"
              @click.prevent="link = 'https://figshare.com/articles/Should_we_treat_patients_with_only_one_set_of_positive_blood_cultures_for_extensively_drug-resistant_i_Acinetobacter_baumannii_i_the_same_as_multiple_sets_/5187139'">
                <i class="fas fa-question-circle"></i> FigShare Example
              </small>
              <small class="badge badge-pill badge-secondary pointer"
              @click.prevent="link = 'https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/XD1A6B'">
                <i class="fas fa-question-circle"></i> Dataverse Example
              </small>
            </form>
          </div>
        </div>

      </template>

      <template>
        <div class="stepBox" id="licenseChooser">
          <span>2</span>
          <div class="clipBox bold">
            License Chooser*
          </div>
        </div>
        <div class="jumbotron text-muted">
          <!-- <div class="numberCircle mainBackLight">2</div>
          <h3>License Chooser*</h3> -->
          <small>(*Required)</small>
          <p class="col-sm-6" style="margin: 0 auto;">
            This tool helps you determine which Creative Commons License is right for you in a couple of easy steps.
          </p>
          <hr />
          <form id="licenseForm" class="col-sm-6" style="margin: 0 auto;">
            <div class="form-group">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Allow commercial uses of your work
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, as well as make and distribute derivative works based on it.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      Yes, as long as others share alike
                    </td>
                    <td>
                      The licensor permits others to create and distribute derivative works, but only under the same or a compatible license.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, but not distribute derivative works based on it.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect1">Allow adaptations of your work to be shared? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp;achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
              <form  class="col-sm-6" style="margin: 0 auto;">
              <select data-parsley-trigger="change" @change="getLicense()" ref="license1" class="form-control form-control-sm" id="ControlSelect1" required="">
                <option selected>Choose...</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Yes, as long as others share alike">Yes, as long as others share alike</option>
              </select>
            </div>

            <div class="form-group">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Allow commercial uses of your work
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work, including for commercial purposes.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor permits others to copy, distribute, display, and perform the work for non-commercial purposes only.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect2">Allow commercial uses of your work? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp; achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
            <form  class="col-sm-6" style="margin: 0 auto;">
              <select data-parsley-trigger="change" @change="getLicense()" ref="license2" class="form-control form-control-sm" id="ControlSelect2" required="">
                <option selected>Choose...</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </form>
          </div>

          <template >
            <div class="form-group" id="thirdQuestionBlock" style="display: none;">
              <table v-if="licenseHelp" class="table table-sm table-striped table-secondary fade-in" style="font-size:.8em;">
                <thead>
                  <th colspan="2">
                    Impose legal requirement for attribution?
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">
                      Yes
                    </td>
                    <td>
                      The licensor permits others to share and adapt work but must give attribution. Choosing this often creates a barrier to data integration efforts in the community. Community norms are already quite effective at giving authors attribution.
                    </td>
                  </tr>
                  <tr>
                    <td class="align-middle">
                      No
                    </td>
                    <td>
                      The licensor effectively relinquishes all copyright and similar rights that he or she holds in a work and dedicating those rights to the public domain. Community norms are already quite effective at giving authors attribution regardless.
                    </td>
                  </tr>
                </tbody>
              </table>
              <label for="ControlSelect3">Impose legal requirement for attribution? <i class="fas fa-question-circle pointer" @click="licenseHelp = !licenseHelp; achievementPopup('Help Me!')" data-tippy="Show Help"></i></label>
              <form  class="col-sm-6" style="margin: 0 auto;">
                <select data-parsley-trigger="change" @change="getLicense()" ref="license3" class="form-control form-control-sm" id="ControlSelect3" required="">
                  <option selected>Choose...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </form>
            </div>
          </template>

          <div class="form-group row p-4 bg-light text-success text-center" v-if="licenseInfo">
            <i class="fas fa-check fa-3x text-success col-sm-12"></i>
            <br />
            <label for="license" class="col-sm-12 col-form-label col-form-label-sm">
              License Selected
            </label>
            <div class="col-sm-12">
              <input required="" disabled v-model="licenseAbbreviation" v-model="metadata.license" data-parsley-trigger="change" type="text" class="form-control form-control-sm text-center text-success" id="license" placeholder="Use License Chooser Tool">
            </div>
            <hr />
            <div class="m-auto">
              <a target="_blank" :href="licenseLink"><small>Learn more about this license</small></a>
            </div>
          </div>


          <!-- <template v-if="licenseInfo">
            <h4>License Selected:</h4>
            <div class="alert alert-success fade-in" role="alert" style="margin: 0 auto;">
              <h2 class="font-weight-bold" v-text="licenseAbbreviation"></h2>
              <span class="badge badge-success" v-text="typeLicense"></span>
              <hr />
              <a target="_blank" :href="licenseLink">Learn more about this license</a>
            </div>
          </template> -->

        </div>
      </template>

      <template>
        <div class="stepBox">
          <span>3</span>
          <div class="clipBox bold">
            Metadata
          </div>
        </div>
          <div class="flipcard">
            <div class="jumbotron text-muted face front">
              <button style="position:absolute; right: 10px; top:10px; transform: scale(.7);" class="btn btn-secondary" @click='flipView()'>Switch View</button>
              <p class="col-sm-6" style="margin: 0 auto;">
                Example:
              </p>
              <p>
                <a data-tippy="Click to fill form" href="#" class="badge badge-pill badge-secondary pointer mt-2 p-2" @click.prevent="loadExample('./static/misc/example.jsonld')"><i class="fas fa-question-circle"></i> Metadata Example</a>
              </p>
              <hr />
              <div class="d-flex mb-5 justify-content-center flex-wrap">
              <template v-for="item in categories">
                <category :name="item.name" :value="item.value"></category>
              </template>
              </div>
              <small>(*Required)</small>
              <p class="col-sm-6" style="margin: 0 auto;">
                Fill out or edit your metadata.
              </p>
              <div class="row">
              <form id="metadataForm" autocomplete="off" class="col-sm-12 col-md-12">
                <template v-for="(field,index) in fieldsInfo">
                  <metadata-field :key='index' :label="field.label" :inputvalidationtype="field.inputvalidationtype" :required="field.required" :helpmsg="field.helpmsg" :emptymessage="field.emptymessage" :requiredby="field.requiredby" :trophy="field.trophy" :fieldname="field.fieldname"></metadata-field>
                </template>
                <!-- <div class="form-group row">
                  <label for="license" class="col-sm-2 col-form-label col-form-label-sm">
                    License* <i class="fas fa-question-circle pointer" @click.prevent="scrollTo('licenseChooser')" data-tippy="Get help choosing the right license"></i>
                  </label>
                  <div class="col-sm-10">
                    <input required="" disabled v-model="licenseAbbreviation" v-model="metadata.license" data-parsley-trigger="change" type="text" class="form-control form-control-sm" id="license" placeholder="Use License Chooser Tool">
                  </div>
                </div> -->
                  <template >
                    <div class="text-muted mb-3 alert alert-secondary col-sm-7 m-auto">
                      <small>Other Fields Found:</small>
                      <span class="badge badge-secondary mr-1" v-for="field in otherFields" v-text="field"></span>
                    </div>
                  </template>
                  <div class="mt-3">
                    <input data-tippy="Validate and Submit" type="button" class="btn themeButton text-light pulse" @click.prevent='validate("metadataForm")' value="Submit">
                    <input data-tippy="Clear All Fields" type="button" class="btn btn-danger text-light" @click.prevent='clearForm()' value="Clear">
                  </div>
                </form>
                <!-- <div class="col-sm-12 col-md-6">
                  <pre :disabled='!editCodeMode' class="form-control margin20 text-left bg-secondary text-light padding20 context" id="sideCode"></pre>
                </div> -->
              </div>


            </div>
            <div class="jumbotron face back text-secondary">
              <button style="position:absolute; right: 10px; top:10px; transform: scale(.7);" class="btn text-secondary btn-light" @click='flipView()'>Switch View</button>
              <h2>Clean View</h2>
              <div class="form-group bg-secondary">
                <label for="progressCode">Dataset Metadata</label>
                <pre class="margin20 text-left font-weight-bold" style="height:50vh" id="progressCode"></pre>
              </div>
            </div>
          </div>
      </template>

      <template>
        <div class="stepBox">
          <span>4</span>
          <div class="clipBox bold">
            Code
          </div>
        </div>
        <div id="result" class="jumbotron text-muted">
          <p class="col-sm-6" style="margin: 0 auto;">
            Copy and paste this code in your site's HTML code.
          </p>
          <hr />
          <form id="linkForm" class="col-sm-11" style="margin: 0 auto;">
            <div class="form-group">
              <div class="form-group">
                <pre >
                  <code id="resultCode" @click="selectText('resultCode')">
                  </code>
                </pre>
              </div>
            </div>
          </form>
        </div>
      </template>

      <template v-if="achievements.length">
        <div class="container bg-muted">
          <h5 class="text-muted font-weight-light">Achievements Unlocked</h5>
          <div class="m-1 badge-pill badge badge-secondary p-2" v-for="ach in achievements">
            <i class="fas fa-trophy"></i> <span v-text="ach"></span>
          </div>
        </div>
      </template>


    </div>
  </div>
</main>
<script type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="./static/js/lodash.js"></script>
<script src="./static/js/renderjson.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script>

AOS.init();

const store = new Vuex.Store({
  state: {
    // can access directly but not mutate using this.$store.state.count
    'metadata':{
      "name":'',
      "description":'',
      "keywords": [],
      "version":'',
      "url":'',
      "sameAs":'',
      "variablesMeasured":'',
      "license": '',
      "dateModified":''
    },
    'otherFields':[],
    'categoryGoals':[]
  },
  strict: true,
  mutations: {
    completeFromCategory(state,payload){
      Object.keys(payload).forEach(function(key,index) {
        for (var i = 0; i < state.categoryGoals.length; i++) {
          if (state.categoryGoals[i]['name']===payload[key]) {
            if (state.categoryGoals[i]['value'] >=0 ) {
              state.categoryGoals[i]['value']--;
            }
          }
        }
      });
    },
    uncompleteFromCategory(state,payload){
      Object.keys(payload).forEach(function(key,index) {
        for (var i = 0; i < state.categoryGoals.length; i++) {
          if (state.categoryGoals[i]['name']===payload[key]) {
            state.categoryGoals[i]['value']++;
          }
        }
      });
    },
    addNewCategory(state,payload){
      //{toGo:,name}
      state.categoryGoals.push(payload);
    },
    changeMetadata(state,payload){
      // console.log('changing metadata event')
      // console.log(payload)
      Object.keys(payload).forEach(function(key,index) {
          switch (key) {
            case 'keywords':
              if (_.isArray(payload[key])) {
                state.metadata.keywords = payload[key];
              }else if (_.isString(payload[key])) {
                state.metadata.keywords = payload[key].split(",");
              }
              break;
            default:
              if (key in state.metadata) {
                state.metadata[key] = payload[key];
              }else{
                if ( key !== "@context" || "@type" || "@id") {
                  state.otherFields.push(key);
                }
              }
              break;
          }
      });
    },
    clearMetadata(state){
      Object.keys(state.metadata).forEach(function(key,index) {
        if (_.isArray(state.metadata[key])) {
          state.metadata[key]=[];
        }else{
          state.metadata[key]='';
        }
      });
      state.otherFields = []
    },
    addKeyword(state,payload){
      let value = payload.kw;
      if (value && !state.metadata.keywords.includes(value)) {
        state.metadata.keywords.push(value);
      }else{
        swal({
          type: 'error',
          toast: true,
          title: 'Duplicate or No Value Entered',
          showConfirmButton: false,
          position: 'top',
          timer: 4500
        });
      }
    },
    removeKeyword(state,payload){
      let value = payload.kw;
      for (var i = 0; i < state.metadata.keywords.length; i++) {
        if (state.metadata.keywords[i] === value) {
          state.metadata.keywords.splice(i,1);
        }
      }
    },
  },
  getters:{
    //exposed as store.getters.getCount
    getStoreMetadata:state=>{
      return state.metadata
    },
    getOtherFields:state=>{
      return state.otherFields
    }
  },
  actions:{
    clearMetadata ({ commit }) {
        commit('clearMetadata')
      }
  }
});

Vue.component('category', {
  data: function(){
    return{
      doneClass:'',
      pillDone:''
    }
  },
  props: ['name','value'],
  methods:{
    highlightField(className){
      let elements = document.getElementsByClassName(className);
      for (var i = 0; i < elements.length; i++) {
        if (!elements[i].classList.contains('highlight')) {
          elements[i].classList.add('highlight')
        }else{
          elements[i].classList.remove('highlight')
        }
      }
    },
  },
  watch:{
    value:function(n,o){
      if (n <= 0) {
        this.doneClass ='bg-complete text-light'
        this.pillDone ='jello'
      }else{
        this.doneClass =''
        this.pillDone =''
      }
    }
  },
  mounted: function(){

  },
  computed: {


  },
  template:
  `<div class="pill pointer" :class="pillDone" @click.prevent="highlightField(name)">
    <div class="pillLeft text-center " :class="doneClass">
      <div>
        <i v-if="name==='Minimum'" :data-tippy="'Minimum requirement'" class="fas fa-seedling fa-3x min d-none d-sm-none d-md-block"></i>
        <i v-if="name==='Google'" :data-tippy="'Recommended by '+name" class="fab fa-google fa-3x googleText d-none d-sm-none d-md-block"></i>
        <img v-if="name==='DDE'" :data-tippy="'Recommended by Data Discovery Engine'" src="/static/img/dde-logo-o.svg" style="width:46px;" alt="logo" class='d-none d-sm-none d-md-block'/>
        <i v-if="name==='Gold'" :data-tippy="'Complete to achieve Gold Standard'" class="fas fa-3x fa-star gold d-none d-sm-none d-md-block"></i>
        <small class='d-block' v-text="name"></small>
      </div>
    </div>
    <div class="pillRight">
      <div class="pillTop text-center d-none d-sm-none d-md-block">
        <span v-if="value > 0">Needs</span>
        <i v-else class="fas fa-check text-success"></i>
      </div>
      <div class="pillBottom text-center" :class="{'text-success':value === 0 }">
        <span v-text="value"></span>
      </div>
    </div>
  </div>`
});

Vue.component('metadata-field', {
  data: function(){
    return{
      err:true,
    }
  },
  props: ['inputvalidationtype','label','trophy','requiredby','helpmsg','emptymessage','required','fieldname'],
  methods:{
    addClass(list){
      var str = list.join(' ');
      return str;
    },
    addCategory(data){
      if (_.isString(data)) {
        var payload = {};
        payload[data] = 1;
        store.commit('addCategory',payload)
      }else if(_.isArray(data)){
        for (var i = 0; i < data.length; i++) {
          var payload = {};
          payload[data[i]] = 1;
          store.commit('addCategory',payload)
        }
      }
    },
    parseRequired(data){
      let self = this;
      if (_.isString(data)) {
        return [data];
      }else if(_.isArray(data)){
        return data;
      }
    },
    addKeyword(){
      let self = this;
      let value = self.$refs.keywordInput.value;
      var payload = {};
      payload["kw"] = value;
      store.commit('addKeyword',payload)
      self.$refs.keywordInput.value = '';
    },
    removeKeyword(tagName){
      var payload = {};
      payload["kw"] = tagName;
      store.commit('removeKeyword',payload)
    },
  },
  watch:{
    err:function(n,o){
      var self = this;
      if (!n) {
        let payload = Object.assign({}, self.requiredby);
        store.commit('completeFromCategory',payload)
      }else{
        let payload = Object.assign({}, self.requiredby);
        store.commit('uncompleteFromCategory',payload)
      }
    },
    answer:function(newAnswer,oldAnswer){
      var self = this;
      if (newAnswer) {
        //removes error msg
        self.err = false;
      }else{
        //no data shows error msg
        self.err = true;
      }
      //prepares payload and emits event
      var keyName = self.fieldname;
      var payload = {};
      payload[keyName] = newAnswer;
      store.commit('changeMetadata',payload)
    },
    ks: function(newKW, oldKW){
      var self = this;
      if (newKW.length) {
        self.err = false;
      }else{
        self.err = true;
      }
      //prepares payload and emits event
      var keyName = self.fieldname;
      var payload = {};
      payload[keyName] = self.ks;
      store.commit('changeMetadata',payload)
    }
  },
  mounted: function(){
    // console.log('TYPE',this.inputvalidationtype)
  },
  updated:function(){
    // console.log('STORE ',this.$store.state);
  },
  computed: {
    answer:{
      get () {
        return store.state.metadata[this.fieldname]
      },
      set (value){
        var keyName = this.fieldname;
        var payload = {};
        payload[keyName] = value;
        store.commit('changeMetadata',payload)
      }
    },
    ks:{
      get () {
        return store.state.metadata[this.fieldname]
      },
      set (value){
        var keyName = this.fieldname;
        var payload = {};
        payload[keyName] = this.ks;
        store.commit('changeMetadata',payload)
      }
    }
  },
  template:
  `<div>
    <template v-if="inputvalidationtype ==='keywords'">
      <div class="form-group p-2 row" :class='addClass(requiredby)'>
        <label :for="label" class="col-sm-2 col-form-label col-form-label-sm">
          <span v-text="label" :class="{'text-success':!err}"></span><span v-if="required">*</span>
          <br />
          <template v-for="item in parseRequired(requiredby)">
            <i v-if="item==='Minimum'" :data-tippy="'Minimum requirement'" class="fas fa-seedling text-success"></i>
            <i v-if="item==='Google'" :data-tippy="'Recommended by '+item" class="fab fa-google googleText"></i>
            <img v-if="item==='DDE'" :data-tippy="'Recommended by '+item" src="/static/img/dde-logo-o.svg" style="width:17px;" alt="logo"/>
            <i v-if="item==='Gold'" :data-tippy="'Complete to achieve Gold Standard'" class="fas fa-star text-warning"></i>
          </template>
          <i class="fas fa-question-circle" :data-tippy="helpmsg"></i>
        </label>
        <div class="col-sm-9">
          <input ref="keywordInput" autocomplete="off" data-parsley-trigger="change" type="text" class="form-control form-control-sm" :id="label" placeholder="Enter new keyword here">
        </div>
        <div class="col-sm-1">
          <button @click.prevent="addKeyword" class="btn btn-secondary btn-sm"><i class="fas fa-plus-circle"></i></button>
        </div>
        <div :id="label" class="col-sm-8 m-auto">
          <template v-for="text in ks">
            <span title="Delete"  class="badge kwbadge badge-success mr-1 pointer slit-in-vertical" data-tippy="Remove">
            <span v-html="text"></span>
            <span style="opacity:0;" class="d-inline" @click.prevent="removeKeyword(text)"> <i class="fas fa-times"></i></span>
            </span>
          </template>
        </div>
        <small class="col-sm-12 text-primary m-auto" v-if="err" v-text="emptymessage"></small>
      </div>
    </template>

    <template v-if="inputvalidationtype ==='textarea'">
      <div class="form-group p-2 row" :class='addClass(requiredby)'>
        <label :for="label" class="col-sm-2 col-form-label col-form-label-sm">
          <span v-text="label" :class="{'text-success':!err}"></span><span v-if="required">*</span>
          <br />
          <template v-for="item in parseRequired(requiredby)">
            <i v-if="item==='Minimum'" :data-tippy="'Minimum requirement'" class="fas fa-seedling text-success"></i>
            <i v-if="item==='Google'" :data-tippy="'Recommended by '+item" class="fab fa-google googleText"></i>
            <img v-if="item==='DDE'" :data-tippy="'Recommended by '+item" src="/static/img/dde-logo-o.svg" style="width:17px;" alt="logo"/>
            <i v-if="item==='Gold'" :data-tippy="'Complete to achieve Gold Standard'" class="fas fa-star text-warning"></i>
          </template>
          <i class="fas fa-question-circle" :data-tippy="helpmsg"></i>
        </label>
        <textarea :data-parsley-required="required" rows="7" v-model="answer" class="form-control col-sm-10" :id="label" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-minlength-message="Your description needs to be at least 20 characters long.." data-parsley-validation-threshold="10"></textarea>
        <div class="col-sm-12 text-center">
          <small><span v-text="answer.length">0</span> Characters</small>
        </div>
        <small class="text-primary m-auto" v-if="err" v-text="emptymessage"></small>
      </div>
    </template>

    <template v-if="inputvalidationtype ==='text'||inputvalidationtype ==='url'||inputvalidationtype ==='date'">
      <div class="form-group p-2 row" :class='addClass(requiredby)'>
        <label :for="label" class="col-sm-2 col-form-label col-form-label-sm">
          <span v-text="label" :class="{'text-success':!err}"></span><span v-if="required">*</span>
          <br />
          <template v-for="item in parseRequired(requiredby)">
            <i v-if="item==='Minimum'" :data-tippy="'Minimum requirement'" class="fas fa-seedling text-success"></i>
            <i v-if="item==='Google'" :data-tippy="'Recommended by '+item" class="fab fa-google googleText"></i>
            <img v-if="item==='DDE'" :data-tippy="'Recommended by '+item" src="/static/img/dde-logo-o.svg" style="width:17px;" alt="logo"/>
            <i v-if="item==='Gold'" :data-tippy="'Complete to achieve Gold Standard'" class="fas fa-star text-warning"></i>
          </template>
          <i class="fas fa-question-circle" :data-tippy="helpmsg"></i>
        </label>
        <div class="col-sm-10">
          <input :data-parsley-required="required" autocomplete="off" v-model="answer" data-parsley-trigger="change" :type="inputvalidationtype" class="form-control form-control-sm" :id="label" :placeholder="helpmsg" >
        </div>
        <small class="text-primary m-auto" v-if="err" v-text="emptymessage"></small>
      </div>
    </template>

  </div>`
});

var app = new Vue({
      el: '#guide',
      // provide the store using the "store" option.
      // this will inject the store instance to all child components.
      store:store,
			data: function(){
				return {
          loading: false,
          data:{},
          link:'',
          licenseInfo:false,
          typeLicense:'',
          licenseAbbreviation:'',
          licenseLink:'',
          licenseHelp: false,
          result:'',
          datasetInput:false,
          validForm:false,
          achievements:[],
          editCodeMode: false,
          otherFields:[],
          totalQuestions:0,
          'categoryTotals':{
            'Google':0,
            'DDE':0,
            'Minimum':0,
            'Gold':0,
          },
          // categories:[],
          fieldsInfo:[
            {
              //The label to appear above the input field
              'label':'Name',
              //actual field name in camelCase format
              'fieldname':'name',
              //html input type
              'inputvalidationtype':'text',
              //is it a required field
              'required':true,
              //when hovering above the ?
              'helpmsg':'A descriptive name of a dataset',
              //initial red text or when empty
              'emptymessage':'Required* What is the name of your dataset?',
              //achieevment for completing this question
              'trophy':'',
              //required by what serach engines
              'requiredby':['Minimum','Google','DDE','Gold'],
            },
            {
              'label':'Description',
              'fieldname':'description',
              'inputvalidationtype':'textarea',
              'required':true,
              'helpmsg':'A short summary describing a dataset.',
              'emptymessage':'Required* Write a short summary about your dataset',
              'trophy':'',
              'requiredby':['Minimum','Google','DDE','Gold'],
            },
            {
              'label':'Keywords',
              'fieldname':'keywords',
              'inputvalidationtype':'keywords',
              'required':'',
              'helpmsg':'Keywords summarizing the dataset',
              'emptymessage':'Enter a list of keywords that descrive your dataset',
              'trophy':'',
              'requiredby':['Google','DDE','Gold'],
            },
            {
              'label':'Version',
              'fieldname':'version',
              'inputvalidationtype':'text',
              'required':false,
              'helpmsg':'The version number of the dataset',
              'emptymessage':'Enter the version number of your dataset',
              'trophy':'',
              'requiredby':['Google','DDE','Gold'],
            },
            {
              'label':'URL',
              'fieldname':'url',
              'inputvalidationtype':'url',
              'required':false,
              'helpmsg':'Location of a page describing the dataset',
              'emptymessage':'Enter the url of a page that decribes the dataset',
              'trophy':'',
              'requiredby':['Google','DDE','Gold'],
            },
            {
              'label':'Same As',
              'fieldname':'sameAs',
              'inputvalidationtype':'text',
              'required':false,
              'helpmsg':'A link to a page that provides more information about the same dataset, usually in a different repository.',
              'emptymessage':'Enter the url of a page that provides more information about the same dataset',
              'trophy':'',
              'requiredby':['Google','Gold'],
            },
            {
              'label':'Date Modified',
              'fieldname':'dateModified',
              'inputvalidationtype':'date',
              'required':false,
              'helpmsg':'The last date this dataset metadata was modified.',
              'emptymessage':'This field will be automatically filled in.',
              'trophy':'',
              'requiredby':['Google','DDE','Gold'],
            },
          ]
				}
			},
      computed:{
        meterTotal:function(){
          let meter=0
          let meterObj= store.getters.getStoreMetadata
          Object.keys(meterObj).forEach(function(key,index) {
            if (key === 'keywords') {
              if (meterObj[key].length > 0) {
                meter++;
              }
            }else if (meterObj[key] !== '' ){
              meter++;
            }
          });
          return meter
        },
        categories:{
          get () {
            return  store.state.categoryGoals
            // return  _.sortBy(store.state.categoryGoals, ['value']);
          },
          set (value){
            // console.log('comp value',value)
            // var keyName = this.fieldname;
            // var payload = {};
            // payload[keyName] = value;
            // store.commit('addNewCategory',payload)
          }
        }
      },
      watch:{
        metadata: {
          handler:function(newM,oldM){
            renderjson.set_show_to_level(7);
						$('#sideCode').html( renderjson(newM) );
          },
          deep: true
        },
        typeLicense: function(newLic,oldLic){
          let payload ={};
          payload['license']=this.licenseAbbreviation;
          store.commit('changeMetadata',payload)
        }
      },
      methods:{
        parseQuestions(data){
          let self = this;
          let total = 0;
          for (var i = 0; i < data.length; i++) {
            if (_.isArray(data[i]['requiredby'])) {
              for (var x = 0; x < data[i]['requiredby'].length; x++) {
                self.categoryTotals[data[i]['requiredby'][x]]++;
              }
              total++;
            }else if (_.isString(data[i]['requiredby'])) {
              self.categoryTotals[data[i]['requiredby']]++;
              total++;
            }

          }

          let categories = [];
          Object.keys(self.categoryTotals).forEach(function(key,index) {
            let obj ={};
            obj.name = key;
            obj.value = self.categoryTotals[key];
            store.commit('addNewCategory',obj);
          });
          self.totalQuestions = total;
          self.categories = categories;
        },
        renderProgress(){
          // var str = JSON.stringify(this.metadata, null, 2);
          // var progressCode = str;
          // document.getElementById("progressCode").textContent=progressCode;
          let metadata = store.getters.getStoreMetadata
          var newData = _.extend({}, this.data, metadata);
          renderjson.set_show_to_level(7);
          $('#progressCode').html( renderjson(newData) );
        },
        flipView(){

          if ($('.flipcard').hasClass("flipped")) {
              $('.flipcard').removeClass('flipped');
          } else {
              $('.flipcard').addClass('flipped');
              this.renderProgress();
          }
        },
        selectText(containerid) {
          window.getSelection().selectAllChildren( document.getElementById( containerid ) );
        },
        achievementPopup(title){

          if (this.achievements.indexOf(title) === -1) {
            this.achievements.push(title);
            setTimeout(function(){
              swal({
                imageUrl: './static/img/trophy.svg',
                imageHeight: 50,
                imageAlt: 'Trophy',
                toast: true,
                timer: 3000,
                showConfirmButton: false,
                title: title,
                footer:'Achievement Unlocked',
                position: 'center-start'
              });
            }, 1000);
          }

        },
        clearForm(){
          store.dispatch('clearMetadata');
          this.otherFields = [];
          this.typeLicense='';
          this.licenseAbbreviation='';
          this.licenseLink='';
          this.achievements = [];
          this.renderProgress();
        },
        validate(formID){
          let self = this;
          let res = $('#'+formID).parsley().validate();
          if (self.licenseAbbreviation) {
            if (res) {
              self.validForm = true;
              self.makeScript();
              swal({
                type: 'success',
                toast: true,
                title: 'Form Submitted',
                showConfirmButton: false,
                position: 'top',
                timer: 4500
              });
            }else{
              swal({
                type: 'error',
                toast: true,
                title: 'Oops...Form Incomplete',
                showConfirmButton: false,
                position: 'top',
                timer: 4500
              });
              self.validForm = false;
            }
          }else{
            swal({
              type: 'warning',
              title: 'You need to choose a license to proceed',
              position: 'center',
              timer: 4500
            });
          }

          this.renderProgress();
        },
        mergeOldAndNewData(){
          let metadata = store.getters.getStoreMetadata
          var newData = _.extend({}, this.data, metadata);
          this.data = newData;
        },
        makeScript(){
          this.mergeOldAndNewData();
          this.achievementPopup('Done and Done');
          var str = JSON.stringify(this.data, null, 2);
          var script = "<script type=\"application/ld+json\">" + str + "<\/script>"
          this.result = script;
          document.getElementById("resultCode").textContent=script;
          this.scrollTo('result');
        },
        addKeyword(){
          let value = this.$refs.keywordInput.value;
          this.keywords.push(value);
          this.$refs.keywordInput.value = '';
        },
        removeKeyword(tagName){
          for (var i = 0; i < this.keywords.length; i++) {
            if (this.keywords[i] === tagName) {
              this.keywords.splice(i,1);
            }
          }
        },
        loadingOn(){
          var self = this;
          self.loading = true;
        },
        loadingOff(){
          var self = this;
          setTimeout(function(){
             self.loading = false;
           }, 500);
        },
        getLicense(specialCase){
          let question1 = this.$refs.license1.value;
          let question2 = this.$refs.license2.value;

          function notifySuccess(){
            swal({
              type: 'success',
              toast: true,
              title: 'License Added to Form',
              showConfirmButton: false,
              position: 'top',
              timer: 4500
            });
          }

          if (specialCase) {
            switch (specialCase) {
              case 'No':
                this.licenseInfo = true;
                this.typeLicense = 'No Rights Reserved';
                this.licenseLink = 'https://creativecommons.org/share-your-work/public-domain/cc0/';
                this.licenseAbbreviation = 'CC0';
                notifySuccess();
                break;
              case "Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by/4.0/';
                this.licenseAbbreviation = 'CC BY 4.0';
                notifySuccess();
                break;
              default:
                this.licenseInfo = false;
                this.typeLicense = "We had trouble with your input, please try this link:";
                this.licenseAbbreviation = '';
                this.licenseLink = 'https://creativecommons.org/choose/';
                this.thirdQuestion = false;
                break;
            }
          }else{
            switch (question1+'|'+question2) {
              case "Yes|Yes":
                // Special Case
                //display third question
                $('#thirdQuestionBlock').show();
                let question3 = this.$refs['license3'].value;
                this.getLicense(question3);
                break;
              case "No|Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NoDerivatives 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nd/4.0/';
                this.licenseAbbreviation = 'CC BY-ND 4.0';
                notifySuccess();
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes, as long as others share alike|Yes":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-ShareAlike 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-sa/4.0/';
                this.licenseAbbreviation = 'CC BY-SA 4.0';
                notifySuccess();
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial 4.0 International';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc/4.0/';
                this.licenseAbbreviation = 'CC BY-NC 4.0';
                notifySuccess();
                $('#thirdQuestionBlock').hide();
                break;
              case "No|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial-NoDerivatives 4.0 International';
                this.licenseAbbreviation = 'CC BY-NC-ND 4.0';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
                notifySuccess();
                $('#thirdQuestionBlock').hide();
                break;
              case "Yes, as long as others share alike|No":
                this.licenseInfo = true;
                this.typeLicense = 'Attribution-NonCommercial-ShareAlike 4.0 International';
                this.licenseAbbreviation = 'CC BY-NC-SA 4.0';
                this.licenseLink = 'http://creativecommons.org/licenses/by-nc-nd/4.0/';
                notifySuccess();
                $('#thirdQuestionBlock').hide();
                break;
              default:
                this.licenseInfo = false;
                this.typeLicense = "We had trouble with your input, please try this link:";
                this.licenseAbbreviation = '';
                this.licenseLink = 'https://creativecommons.org/choose/';
                $('#thirdQuestionBlock').hide();
                break;
            }
          }
        },
        getFormValues () {
          this.requestPageHTML(this.link);
        },
        scrollTo(anchor){
          document.querySelector("#"+anchor).scrollIntoView({
            behavior: 'smooth'
          });
        },
        requestPageHTML(url){
          var self = this;
          self.loadingOn();
          axios.get('/api/proxy?url='+url).then(res=>{
            self.loadingOff();
            let parser  = new DOMParser();
            let htmlDoc = parser.parseFromString(res.data, "text/html");
            var txt = htmlDoc.querySelector('script[type="application/ld+json"]');
            if (!txt) {
              swal({
                type: 'error',
                title: 'Oops...',
                text: "We cannot find any structured dataset metadata in the pasted URL",
                footer: '<small>Make sure your dataset is enclosed in a "script" tag with "type=application/ld+json" then try again.</small>'
              });
            }else{
              self.achievementPopup("Who's Got Data? You Do!");
              txt = txt.textContent;
              var res = JSON.parse(txt);
              self.data = res;
              self.parseData();
              self.scrollTo('metadataForm');
            }
          }).catch(err=>{
            self.loadingOff();
            throw err;
          });
        },
        loadExample(url){
          var self = this;
          self.loading = true;
          self.loadingOn();
          axios.get(url).then(res=>{
            self.achievementPopup("Show Me The Way, Master Kenobi");
            self.data = res.data;
            self.loadingOff();
            self.parseData();
            self.scrollTo('metadataForm');
          }).catch(err=>{
            throw err;
            swal({
              type: 'error',
              toast: true,
              title: 'Oops...Something Went Wrong',
              showConfirmButton: false,
              position: 'center',
              timer: 4500
            });
          })
        },
        pushToFields(key){
          let self = this;
          if (key[0] !== '@') {
            var finalResult = _.startCase(key);
            // console.log(key,finalResult);
            self.fieldsInfo.push({
              'label':finalResult,
              'fieldname':key,
              'inputvalidationtype':'text',
              'required':true,
              'helpmsg':'enter text here',
              'emptymessage':'',
              'trophy':'',
              'requiredby':['Other'],
            })
          }
        },
        parseData(){
          let self = this;
          let data = this.data;

          Object.keys(data).forEach(function(key,index) {
            //prepares payload and emits event
            // let string = key;
            // self.pushToFields(string);
            var payload = {};
            payload[key] = data[key];
            store.commit('changeMetadata',payload)
          });

          self.otherFields = store.getters.getOtherFields
          // self.metadata = store.getters.getStoreMetadata
        }
    },
    mounted:function(){
      var self = this;
      self.parseQuestions(self.fieldsInfo);
      $(function () {
        $('#metadataForm').parsley().on('field:validated', function() {
          var err = $('.parsley-error').length;
          if (err > 5) {
            self.achievementPopup('Not So Fast!');
          }
        })
        .on('form:submit', function() {
          self.makeScript();
          return false;
        });

        $('#licenseForm').parsley().on('field:validated', function() {
        });

        $('#linkForm').parsley().on('field:validated', function() {
        })
        .on('form:submit', function() {
          return false;
        });
      });

      tippy.setDefaults({
        theme:'light'
      })
    },
    created: function(){
    }
  })

</script>
{% include "footer.html" %}
{% endblock %}
