{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<style>
g.nodes g.node:last-child circle{
  fill: #ec9ff0 !important;
}

g.nodes g.node:last-child text{
  font-size: 1.5em !important;
}

.node-name{
  margin:0;
}

.navigation{
  opacity: .7;
  margin-top:100px;
  position: fixed; top: 40vh;
  box-shadow: 0px 0px 0px #4b4b4b;
  z-index:100;
  transition: all .5s;
}

.navigation:hover{
  box-shadow: 1px 5px 20px #4b4b4b;
  opacity: 1;
}

.description{
  background: #d7d7d7;
  border-radius: 10px;
}

</style>
<div id="viewer" class="container" style="min-height: 70vh; padding-top:40px;">
  <div class="row" style="margin-top:40px;">
    <div class="col-lg-2">
      <template v-if="availableClasses">
        <ul class="list-group">
          <li class="list-group-item mainBackDark text-light text-center">
            Schemas
          </li>
          <li class="list-group-item">
            <select @change='handleChange' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Filter by...</option>
              <option v-for="letter in filterLetters" :value="letter" v-text="letter"></option>
            </select>
          </li>
          <li class="list-group-item text-light mainBackDark twoEM text-center" v-if='filter' v-text='filter'>

          </li>
          <li class="list-group-item" v-if='filter'>
            <select @change='handleFilter' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected v-text='"Choose..."'></option>
              <option v-for="(item,i) in filterResults" :value="item['rdfs:label']" v-text="item['rdfs:label']"></option>
            </select>
          </li>
        </ul>
      </template>

      <!-- sideNav -->
      <template v-if="parentDisplayResults.length">
        <ul class="list-group d-none d-sm-none d-md-block navigation">
          <li class="list-group-item mainBackLight text-light text-center font-weight-bold">
            Page Navigation
          </li>
          <li class="list-group-item noPadding" v-for="item in parentDisplayResults.slice().reverse()">
            <a class="nav-link" :href="'#'+removePrefix(item)" ><i class="fas fa-arrow-alt-circle-right mainTextLight"></i> <span v-text="removePrefix(item)"></span></a>
          </li>
        </ul>
      </template>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-9">
      <h1 class="text-muted">Schema.org Core Schema</h1>
      <div id="canvas" class="d-none d-sm-none d-md-block"></div>
      <div class="jumbotron" v-if='schemaClass'>
        <div >
          <button @click="toggleGraph" class="d-none d-sm-none d-md-block btn themeButton text-light float-right" ><i class="fas fa-draw-polygon"></i> Graph</button>
          <h1 class="mainTextDark bold" v-if='schemaClass' :id='schemaClass' v-text='schemaClass'></h1>
          <template v-if='allPaths.length'>
            <ul>
              <li v-for="path in allPaths">
                <span v-for="(item,index) in path">
                  <a :class="[ index !== path.length-1 ? 'mainTextLight' : 'mainTextDark']" class="font-weight-bold" :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
                  <span v-if="index !== path.length-1">&gt;</span>
                </span>
              </li>
            </ul>
          </template>
          <template v-else>
            <span v-if="subclass">
              <a class="mainTextLight font-weight-bold" :href="'./'+subclass" v-text='subclass'></a>
              &gt;
            </span>
            <a class="mainTextDark font-weight-bold" :href="'./'+schemaClass" v-text='schemaClass'></a>
          </template>
          <template v-if="schemaClass">
            <p v-html="classInfo['rdfs:comment']" class="padding20 description mainTextDark"></p>
          </template>
        </div>
      </div>
      <h1 class="mainTextDark bold" v-if='property' v-text='property'></h1>
      <h1 class="mainTextDark bold" v-if='schemaClass' v-text='schemaClass'></h1>
      <table class="table table-responsive" v-if="properties.length" style="margin-bottom: 40px">
      <thead class="mainBackDark text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in properties">
          <td>
            <a class="font-weight-bold" :href='"./"+getTitle(item)' v-html=getTitle(item)></a></td>
          <td>
            <a style="display: block;" v-for="(type,i) in getType(item)" :href="'./'+type" v-html='type'></a>
          </td>
          <td v-html=getDescription(item) class="mainTextDark"></td>
        </tr>
      </tbody>
    </table>
    <template v-if="!properties.length && !userURL">
      <div class="text-center mainBackDark text-light padding20" style="margin-bottom: 40px">
        <i class="fas fa-exclamation-circle mainTextLight"></i>
        This class has no properties of it's own
      </div>
    </template>
    <div class="row" v-if='propertyInfo["@id"]'>
      <div class="col-sm-6">
        <ul class="list-group" style="max-width: 50vw;">
          <li class="list-group-item mainBackLight text-light font-weight-bold">
            Used on these types
          </li>
          <li class="list-group-item" v-for="(item,i) in usedOnTheseTypes">
              <a :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-group" style="max-width: 50vw;">
          <li class="list-group-item mainBackLight text-light font-weight-bold">
            Values expected to be one of these types
          </li>
          <li class="list-group-item" v-for="(item,i) in rangeIncludes">
              <a :href="'./'+removePrefix(item)" v-text="removePrefix(item)"></a>
          </li>
        </ul>
      </div>
    </div>

    <span v-if="parentClassesAndProps.length" v-for="(parent,i) in parentClassesAndProps">
      <h1 :id='parent["className"]' class="mainTextLight" v-html='parent["className"]'></h1>
      <table v-if="parent['props'].length" class="table table-responsive" style="margin-bottom: 40px">
      <thead class="mainBackLight text-light">
        <tr>
          <th scope="col">Property</th>
          <th scope="col">Expected Type</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in parent['props']">
          <td>
            <a class="font-weight-bold" :href='"./"+getTitle(item)' v-html=getTitle(item)></a></td>
          <td>
            <a style="display: block;" v-for="(type,i) in getType(item)" :href="'./'+type" v-html='type'></a>
          </td>
          <td v-html=getDescription(item) class="mainTextDark"></td>
        </tr>
      </tbody>
    </span>
  </table>
  <template v-else>
    <div class="text-center mainBackLight text-light padding20" style="margin-bottom: 40px">
      <i class="fas fa-exclamation-circle"></i>
      This class has no properties of it's own
    </div>
  </template>


    </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/lodash.js"></script>
<script src="https://d3js.org/d3.v3.js"     ></script>
<script src="/static/js/networkx.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsonld@1.0.0/dist/jsonld.min.js"></script>

<script>
var app = new Vue({
      el: '#viewer',
			data: function(){
				return {
          filterLetters : [],
          filter:'',
          dataSetURL : 'https://raw.githubusercontent.com/data2health/schemas/master/Dataset/Dataset.jsonld',
          graph: [],
          query:'',
          schemaClass:'',
          properties:[],
          parentProperties: [],
          property:'',
          propertyInfo:{},
          classes:[],
          subclass: '',
          classInfo:{},
          availableClasses:[],
          filterResults:[],
          lineageArray:[],
          displayResults:[],
          parentDisplayResults:[],
          additionalPaths:[],
          userURL:'',
          nxG: null,
          allPaths:[],
          edgeGraph: [],
          parentClassesAndProps:[],
          usedOnTheseTypes: [],
          rangeIncludes: [],
          showGraph: false,
				}
			},
			methods:{
        toggleGraph(){
          this.showGraph = !this.showGraph;
          if (this.showGraph) {
            this.makeQueryGraph();
          }
        },
        removePrefix(text){
          let arr = text.split(':');
          text = arr[arr.length-1];
          return text;
        },
        allIndices(arr, val){
            var indices = [],
                i;
            for (i = 0; i < arr.length; i++) {
                if (arr[i] === val) {
                    indices.push(i);
                }
            }
            return indices;
        },
        hasEdgeBeenFollowedInPath({ edge, path }) {
            var indices = this.allIndices(path, edge.from);
            return indices.some(i => path[i + 1] === edge.to);
        },
        nodes(graph, node){
          return graph.reduce((p, c) => {
              (c[0] === node) && p.push(c[1]);
              return p;
          }, []);
        },
        memoize(fn){
          const cache = new Map();
          return function() {
              var key = JSON.stringify(arguments);
              var cached = cache.get(key);
              if (cached) {
                  return cached;
              }
              cached = fn.apply(this, arguments)
              cache.set(key, cached);
              return cached;;
          };
        },
        paths(graph =[],from, to, path =[]){
          var self= this;
          const linkedNodes = self.memoize(self.nodes.bind(null, graph));
          return explore(from, to);

          function explore(currNode, to, paths = []) {
              path.push(currNode);
              for (let linkedNode of linkedNodes(currNode)) {
                  if (linkedNode === to) {
                      let result = path.slice(); // copy values
                      result.push(to);
                      paths.push(result);
                      continue;
                  }
                  // do not re-explore edges
                  if (!self.hasEdgeBeenFollowedInPath({
                          edge: {
                              from: currNode,
                              to: linkedNode
                          },
                          path
                      })) {
                      explore(linkedNode, to, paths);
                  }
              }
              path.pop(); // sub-graph fully explored
              return paths;
          }
        },
        getAllPaths(){
          if (this.lineageArray.length) {
            let from = this.lineageArray[0]["@id"];
            let to = this.classInfo["@id"];
            let path = jsnx.shortestPath(this.nxG, {source: from,target: to});

            let g = JSON.parse(JSON.stringify(this.edgeGraph));

            let res = this.paths(g,path[0],path[path.length-1])
            this.allPaths = res;
            this.getUniqueContent(res);
            this.getParentData();
          }
        },
        getUniqueContent(paths){

          var finalArr = [];

          Array.prototype.unique = function() {
              var a = this.concat();
              for(var i=0; i<a.length; ++i) {
                  for(var j=i+1; j<a.length; ++j) {
                      if(a[i] === a[j])
                          a.splice(j--, 1);
                  }
              }

              return a;
          };

          for (var i = 0; i < paths.length; i++) {
            if (paths[i+1]) {
              finalArr =paths[i].concat(paths[i+1]).unique();
            }else{
              finalArr = paths[0];
            }
          }
          this.parentDisplayResults = finalArr;

        },
        returnFullClassInfo(name){
          this.getAvailableClasses();
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i].hasOwnProperty('@type') && this.availableClasses[i]['@type'] === "rdfs:Class" && this.availableClasses[i]["rdfs:label"].toLowerCase() === name.toString().toLowerCase()) {
                return this.availableClasses[i]["rdfs:label"]
              }
            }
          },
          makeGraph(){
          this.nxG = new jsnx.Graph();
          this.getAvailableClasses();
          let grabFrom = this.availableClasses;

          if (grabFrom.length > 1) {
            for (var i = 0; i < grabFrom.length; i++) {
              if (grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(grabFrom[i]["rdfs:subClassOf"]) ) {
                this.addNode(grabFrom[i]["@id"]);
                this.addNode(grabFrom[i]["rdfs:subClassOf"]["@id"]);
                this.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"]["@id"])
              }
              else if(grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isArray(grabFrom[i]["rdfs:subClassOf"]) ){
                this.addNode(grabFrom[i]["@id"]);
                for (var x = 0; x < grabFrom[i]["rdfs:subClassOf"].length; x++) {
                  this.addNode(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  this.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"][x]["@id"])
                }
              }
            }
          }
          this.getClassLineage(this.classInfo);
          this.getAllPaths();
          // this.drawGraph(this.nxG);
          // this.makeQueryGraph();
        },
        makeQueryGraph(){
          let smallG = new jsnx.Graph();
          let arr = [];
          let grabFrom = arr;
          for (var i = 0; i < this.parentDisplayResults.length; i++) {
            arr.push( this.returnClass(this.parentDisplayResults[i]) )
          }

          if (grabFrom.length) {
            for (var i = 0; i < grabFrom.length; i++) {
              if (grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(grabFrom[i]["rdfs:subClassOf"]) ) {
                smallG.addNode(grabFrom[i]["@id"],{'label':grabFrom[i]["@id"]});
                smallG.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"]["@id"]);
              }
              else if(grabFrom[i].hasOwnProperty("rdfs:subClassOf") && _.isArray(grabFrom[i]["rdfs:subClassOf"]) ){
                // smallG.addNode(grabFrom[i]["@id"]);
                for (var x = 0; x < grabFrom[i]["rdfs:subClassOf"].length; x++) {
                  smallG.addNode(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  smallG.addEdge(grabFrom[i]["@id"],grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  //go one level deeper if exists
                  let sc = this.returnClass(grabFrom[i]["rdfs:subClassOf"][x]["@id"]);
                  if (sc.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(sc["rdfs:subClassOf"])) {
                    smallG.addEdge(sc["@id"],sc["rdfs:subClassOf"]["@id"]);
                  }
                }
              }
            }
          }else{
            smallG.addNode(this.classInfo["@id"],{'label':this.classInfo["@id"]});
          }
          this.drawGraph(smallG);
        },
        drawGraph(g){
          jsnx.draw(g, {
            element: '#canvas',
            weighted: true,
            edgeStyle: {
                'stroke-width': 10,
                'fill': '#b4b4b4'
            },
            layoutAttr: {
                charge: -800,
                linkDistance: 100
            },
            height:300,
            labelStyle: {fill: '#5C3069'},
            withLabels: true,
            nodeLabels: 'label',
            nodeStyle: {
                'stroke': '#8feddc',
                'fill': '#84dcdf',
                'cursor': 'pointer'
            }
          });
        },
        addNode(className){
          this.nxG.addNode(className,{'label':className});
        },
        addEdge(class1,class2){
          this.nxG.addEdge(class1,class2);
          let node = [class2,class1];
          // console.log('adding node..',node)
          this.edgeGraph.push(node);
        },
        getClassLineage(classInfo){
          let subclass ='';
          this.getAvailableClasses();
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(classInfo["rdfs:subClassOf"])) {
            subclass = classInfo["rdfs:subClassOf"]['@id'];
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i]['@id'] === subclass) {
                this.lineageArray.unshift(this.availableClasses[i])
                this.getClassLineage(this.availableClasses[i])
              }
            }
          }
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && _.isArray(classInfo["rdfs:subClassOf"])) {
            //if array take the first index and explore further
            subclass = classInfo["rdfs:subClassOf"][0]['@id'];
            for (var i = 0; i < this.availableClasses.length; i++) {
              if (this.availableClasses[i]['@id'] === subclass) {
                this.lineageArray.unshift(this.availableClasses[i])
                this.getClassLineage(this.availableClasses[i])
              }
            }
          }

        },
        returnSubclass(className){
          let classInfo = this.returnClass(className);
          let subclass = '';
          if (classInfo.hasOwnProperty("rdfs:subClassOf") && !_.isArray(classInfo["rdfs:subClassOf"])) {
              subclass = this.removePrefix(classInfo["rdfs:subClassOf"]['@id']);
              return subclass;
          }else{
            return false;
          }
        },
        getParentData(){
          // console.log('getParentData happening',this.parentDisplayResults )
          for (var i = 0; i < this.parentDisplayResults.length-1; i++) {
            let parent = this.parentDisplayResults[i];
            let props = this.returnProps(this.parentDisplayResults[i]);
            this.shapeData(parent,props);
          }
        },
        shapeData(parent,props){
          // console.log('shaping data', parent)
          let obj = {
            'className' : this.removePrefix(parent),
            'props' : props
          }
          this.parentClassesAndProps.unshift(obj);
          // console.log('parentClassesAndProps', this.parentClassesAndProps)
        },
        returnClass(classInfo){
          if (_.isObject(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo["rdfs:label"].toLowerCase()) {
                return this.graph[i];
              }
            }
          }

          if (_.isString(classInfo)) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === classInfo.toLowerCase() || this.graph[i]["@id"] === classInfo ) {
                return this.graph[i];
              }
            }
          }

        },
        returnProps(classInfo){
          let properties = [];

            for (var i = 0; i < this.graph.length; i++) {

              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                if ( _.isArray(this.graph[i]['schema:domainIncludes']) ) {
                  for (var x = 0; x < this.graph[i]['schema:domainIncludes'].length; x++) {
                    if (this.graph[i]["schema:domainIncludes"][x]['@id'] === classInfo || this.graph[i]["schema:domainIncludes"][x]['@id'] === classInfo["rdfs:label"]) {
                      properties.push(this.graph[i]);
                    }
                  }
                }else if( _.isObject(this.graph[i]['schema:domainIncludes']) ){
                  if (this.graph[i]["schema:domainIncludes"]['@id'] === classInfo || this.graph[i]["schema:domainIncludes"]['@id'] === classInfo["rdfs:label"]) {
                    properties.push(this.graph[i]);
                  }
                }
                properties = _.sortBy(properties, [user => user['rdfs:label']], ['asc']);
              }

            }
            return properties;
        },
        handleFilter(e){
          if (e.target.value !== 'Choose...') {
            window.location.href = "./"+e.target.value;
          }
        },
        findDisplaySchema(){
          // console.log('findschema',this.graph)
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class"){
              this.query = this.graph[i]["rdfs:label"];
              // this.getClass();
            }
          }
        },
        determinePath(){
          if(this.userURL){
            this.findDisplaySchema()
          }
          if (this.getClass()) {
            // console.log('PATH: CLASS')
            this.property='';
            this.getClassProperties();
            this.makeGraph();
          }else if (!this.getClass()){
            // console.log('PATH: PROPERTY')
            this.getPropertyInfo()
          }
        },
        getTitle: function(data){
          if (data.hasOwnProperty('rdfs:label')) {
            if (_.isObject(data['rdfs:label'])) {
              if (data['rdfs:label'].hasOwnProperty('@value')) {
                return data['rdfs:label']['@value']
              }else{
                return data['rdfs:label'];
              }
            }else if (_.isString(data['rdfs:label'])) {
              return data["rdfs:label"];
            }
          }else{
            return 'no property name available'
          }
        },
        getType: function(data){
          let types=[];
          if (data.hasOwnProperty("schema:rangeIncludes")) {
            if (_.isArray(data["schema:rangeIncludes"])) {
              for (var i = 0; i < data['schema:rangeIncludes'].length; i++) {
                let type = data['schema:rangeIncludes'][i]['@id'].split(':');
                type = type[type.length-1];
                types.push(type);
              }
            }else if(_.isObject(data["schema:rangeIncludes"])){
              let type = data['schema:rangeIncludes']['@id'].split(':');
              type = type[type.length-1];
              types.push(type);
            }
          }
          return types;
        },
        getDescription: function(data){
          if (data.hasOwnProperty("rdfs:comment")) {
            return data["rdfs:comment"];
          }else{
            return 'no description available'
          }
        },
        reqFile: function(){
          let url = '';
          if (this.userURL) {
            url = this.userURL;
          }
          else{
            url = '/static/misc/schema.jsonld';
          }
          // console.log('using ', url)
          axios.get(url).then(res=>{
            this.graph = res.data['@graph']
            this.determinePath()
            this.getAvailableClasses()
          }).catch(err=>{
            throw err;
          })
        },
        getClassProperties(){
          this.properties = [];
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                // console.log('extracting', this.graph[i])
                this.extractPropertyInfo(this.graph[i]);
              }
            }
            this.getParentProperties();
        },
        getParentProperties(){
          this.parentProperties = [];
          if (this.subclass) {
            for (var i = 0; i < this.graph.length; i++) {
              if (this.graph[i].hasOwnProperty('schema:domainIncludes') && this.graph[i]["@type"] === "rdf:Property") {
                this.extractParentPropertyInfo(this.graph[i])
              }
            }
          }
        },
        extractPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              let idValue = data["schema:domainIncludes"][i]['@id'].split(':');
              idValue = idValue[idValue.length-1];
              if (idValue.toLowerCase() === this.query.toLowerCase()) {
                this.properties.push(data);
              }
            }
          }else if( _.isPlainObject(data['schema:domainIncludes']) ){
            let idValue = data["schema:domainIncludes"]['@id'].split(':');
            idValue = idValue[idValue.length-1];
            if (idValue.toLowerCase() === this.query.toLowerCase() ) {
              this.properties.push(data);
            }
          }
          this.properties = _.sortBy(this.properties, [user => user['rdfs:label']], ['asc']);
        },
        extractParentPropertyInfo(data){
          if ( _.isArray(data['schema:domainIncludes']) ) {
            for (var i = 0; i < data['schema:domainIncludes'].length; i++) {
              if (data["schema:domainIncludes"][i]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"][i]['@id'].toLowerCase() === this.subclass.toLowerCase()) {
                this.parentProperties.push(data);
              }
            }
          }else if( _.isObject(data['schema:domainIncludes']) ){
            if (data["schema:domainIncludes"]['@id'].toLowerCase() === 'schema:'+this.subclass.toLowerCase() || data["schema:domainIncludes"]['@id'].toLowerCase() === this.subclass.toLowerCase() ) {
              this.parentProperties.push(data);
            }
          }
          this.parentProperties = _.sortBy(this.parentProperties, [user => user['rdfs:label']], ['asc']);
        },
        getClass(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query ||
          this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class" && this.graph[i]["rdfs:label"].toLowerCase() === this.query.toLowerCase()) {
              this.schemaClass = this.graph[i]["rdfs:label"];
              this.classInfo= this.graph[i];

              this.getSubclass(this.graph[i]);
            }
          }
          if (this.schemaClass) {
            return true;
          }else{
            return false;
          }
        },
        getAvailableClasses(){
          let results = [];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty('@type') && this.graph[i]['@type'] === "rdfs:Class") {
              results.push(this.graph[i]);
            }
          }
          this.availableClasses = results.sort();
          this.getFilters();
        },
        getFilters(){
          let letters = [];
          let self = this;
          for (var i = 0; i < self.availableClasses.length; i++) {

            let q = self.availableClasses[i]["rdfs:label"][0];

            if ( !letters.includes(q) ) {
              letters.push( q );
            }
          }
          this.filterLetters = letters.sort();
        },
        handleChange: function(e){
          let target = e.target.value;
          this.filter = e.target.value;
          let fullList = this.availableClasses;
          let results = [];
          switch (target) {
            case 'ALL':
              this.filterResults = fullList;
              break;
            default:
              results = fullList;
              results = fullList.filter(word => word["rdfs:label"][0] === target);
              this.filterResults =  _.sortBy(results, [user => user['rdfs:label']], ['asc']);
          }
        },
        getSubclass(data){
          if (data.hasOwnProperty("rdfs:subClassOf") && _.isPlainObject(data["rdfs:subClassOf"])) {
            let sc = data["rdfs:subClassOf"]['@id'].split(':');
            sc = sc[sc.length-1];
            this.subclass = sc;
            return data["rdfs:subClassOf"]['@id'];
          }
        },
        getPropertyInfo(){
          let res =[];
          for (var i = 0; i < this.graph.length; i++) {
            if (this.graph[i].hasOwnProperty("rdfs:label") && this.graph[i]["rdfs:label"] === this.query) {
              this.property = this.graph[i]["rdfs:label"];
              res.push(this.graph[i]);
              this.propertyInfo = this.graph[i];
            }
          }
          this.properties = res;
          this.parsePropertyInfo();
        },
        parsePropertyInfo(){
          let res =[];
          let range = [];
          if (this.propertyInfo.hasOwnProperty("schema:domainIncludes") && _.isPlainObject(this.propertyInfo["schema:domainIncludes"])) {
            res.push(this.propertyInfo["schema:domainIncludes"]["@id"]);
          }
          else if(this.propertyInfo.hasOwnProperty("schema:domainIncludes") && _.isArray(this.propertyInfo["schema:domainIncludes"])){
            for (var i = 0; i < this.propertyInfo["schema:domainIncludes"].length; i++) {
              res.push(this.propertyInfo["schema:domainIncludes"][i]["@id"]);
            }
          }
          if (this.propertyInfo.hasOwnProperty("schema:rangeIncludes") && _.isPlainObject(this.propertyInfo["schema:rangeIncludes"])) {
            range.push(this.propertyInfo["schema:rangeIncludes"]["@id"]);
          }
          else if(this.propertyInfo.hasOwnProperty("schema:rangeIncludes") && _.isArray(this.propertyInfo["schema:rangeIncludes"])){
            for (var i = 0; i < this.propertyInfo["schema:rangeIncludes"].length; i++) {
              range.push(this.propertyInfo["schema:domainIncludes"][i]["@id"]);
            }
          }
          this.usedOnTheseTypes = res;
          this.rangeIncludes = range;
        }
			},
			mounted:function(){
        let context = {{Context}}
         if ( context.Content ) {
           console.log('Context  ',context);
           this.query = context.Query;
         }

			},
      created:function(){
          let context = {{Context}}
          if (context.hasOwnProperty('URL')) {
            this.userURL = context.URL;
            console.log("URL!!!!!!!!!!!!!!!", this.userURL)

          }
          this.reqFile()
      }
		});

</script>
{% include "footer.html" %}
{% endblock %}
