{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="jsoneditor" class="container" style="min-height: 100vh;padding-top:60px;">
  <div class="bg-light text-center mt-1 py-5">
    <h1 class="logoText">JSON SCHEMA VIEWER</h1>
    <div class="mb-1">
      <form id="linkForm" class="col-sm-10 m-auto" @submit="loadSchema()">
        <small v-html="loadMsg"></small>
        <div class="input-group mb-3 shadow rounded">
          <input type="text" v-model="input" class="form-control" id="urlform" autocomplete="" required ref="my_input" aria-label="Paste your link here"  placeholder="Paste your link here" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button :disabled="!input.length" @click.prevent="loadSchema()" id="button-addon2" class="btn btn-info" type="submit">Go</button>
          </div>
        </div>
        <div v-if=loading class="loader">
          <img src="./static/img/ripple.svg"/>
        </div>
        <a href="#" @click="loadSchema('ex')" class="badge badge-secondary">JSON Schema Example</a>
      </form>
    </div>
    <template v-if="schema['$schema']">
      <div class="row m-0">
        <div v-if="schemaType" class="col-sm-12 mb-0 p-0 d-flex justify-content-center align-items-center">
          <div class="arrowclip mainBackDark text-light p-1 flex-fill text-center">
            <h4><span v-text="schemaType"></span></h4>
          </div>
        </div>
        <div class="col-sm-12 p-0">
          <ul class="list-group list-group-flush text-left">
            <template v-for="(propinfo,propname) in schema['properties']" :key="propname">
              <propbox :propinfo="propinfo" :propname="propname"></propbox>
            </template>
          </ul>
        </div>
      </div>
      <div v-if="schema && schema['definitions']">
        <div class="col-sm-12 bg-secondary text-light py-4">
          <h4 class="m-1" >Definitions</h4>
        </div>
        <div class="col-sm-12 p-0">
          <div class="row m-0 alert-secondary">
            <template v-for="(info,name) in schema['definitions']" :key="name">
              <defbox :info="info" :name="name"></defbox>
            </template>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="./static/js/lodash.js"></script>
<script src="./static/js/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>

<script>
const store = new Vuex.Store({
  state: {
    'schema':Object,
    'showDescriptions':false
  },
  strict: true,
  mutations: {
    saveSchema(state,payload){
      state.schema = payload['schema'];
      console.log('🍕🍕🍕 saved schema..🍕🍕🍕',state.schema);
    },
  },
  getters:{
    getSchema:state=>{
      return state.schema
    },
    getType:state=>{
      if (state.schema) {
        return state.schema["@type"]
      }
    },
    getShowDesc:state=>{
      return state.showDescriptions
    },
    isPropRequired: (state) => (propname) => {
      if (state.schema && state.schema.hasOwnProperty('required')) {
        if (state.schema['required'].includes(propname)) {
          return true
        }else {
          return false
        }
      }
    },
  },
  actions:{
    getParents ({commit,state}) {

    }
  }
});

Vue.component('defbox', {
  data: function(){
    return{
      userSchema:[],
      textColor:'',
      backColor:'',
      query:'',
      results:[]
    }
  },
  props: ['name','info'],
  methods:{
    isRequired(name){
      var self = this;
      if (self.info.hasOwnProperty('required') && self.info['required'].includes(name)) {
        return true
      }
      return false
    },
    testOntologyLookup(){
      var self = this;

      Swal.fire({
        title: self.name,
        text: 'Search for an existing term here:',
        input: 'text',
        confirmButtonColor:"{{color_main}}",
        cancelButtonColor:"{{color_sec}}",
        animation:false,
        customClass:'scale-in-center',
        inputAttributes: {
          autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Look up',
        showLoaderOnConfirm: true,
        focusConfirm: false,
        preConfirm: (query) => {

          let ontologies = self.info['vocabulary']['ontology'].toString()
          let children = self.info['vocabulary']['children_of'].toString()

          let url = `https://www.ebi.ac.uk/ols/api/search?q=`+query
          +"&ontology="+ontologies
          +"&childrenOf="+children
          +"&type=class&fieldList=id,iri,label,description,obo_id,short_form,ontology_prefix"
          +"&queryFields=label"
          +"&rows=10"

          return fetch(url)
            .then(response => {
              if (!response.ok) {
                throw new Error(response.statusText)
              }
              return response.json()
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        if (result.value) {
          let html ="<div id='ontology' class='p-1 text-left'>";

          for (var i = 0; i < result.value.response.docs.length; i++) {
            tippy('#cb'+i,{
              content:result.value.response.docs[i]
            });

            let label = result.value.response.docs[i]['label']
            if (label && label.length > 37) {
              label = label.substring(0,37)+"..."
            }

            html += `<div class="form-check">
                      <label class="form-check-label" for="cb`+i+`" title="`+result.value.response.docs[i]['label']+`">
                          `+label+`
                          <i class="fa fa-info-circle text-info modaltip" data-tippy-info='`+JSON.stringify(result.value.response.docs[i])+`'></i>
                      </label>
                    </div>`
          }
          html += "</div>";

          Swal.fire({
            title: "Top 10 Results",
            html: html,
            confirmButtonColor:"{{color_main}}",
            cancelButtonColor:"{{color_sec}}",
            animation:false,
            customClass:'scale-in-center',
          });

        }
      })
    }
  },
  watch:{
  },
  mounted: function(){
    var self = this;
    if (self.parent) {
      self.textColor = 'mainTextLight'
      self.backColor = 'mainBackLight'
    }else{
      self.textColor = 'mainTextDark'
      self.backColor = 'mainBackDark'
    }
  },
  computed: {

  },
  template:
  `<div class="col-sm-12 py-3 text-left border-bottom border-info" :id="name">
    <div class="">
      <i class="fas fa-tiny fa-code text-muted float-right" :data-tippy-info="JSON.stringify(info,null,2)"></i>
      <a :href="'#'+name">
        <h6 v-text="name" class="font-weight-bold d-inline"></h6>
      </a>

      <small class="text-muted ml-3" v-text="info['description']"></small>
    </div>
    <div class="d-flex rounded-0">
      <div class="text-dark px-5 py-3 d-flex justify-content-center align-items-center">
        <small>
          TAKES <i class="fas fa-chevron-right"></i> <i class="fas fa-chevron-right"></i>
        </small>
      </div>
      <div class="p-1 rounded-0">

        <!-- VOCABULARY -->

        <div v-if="info && info.vocabulary" class="d-flex justify-content-center align-items-center">
          <div class="d-flex">
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <div class="badge badge-pill badge-dark m-1" v-if="info['type'] == 'array'" data-tippy-info="Array">
                  A List
                </div>
                <div class="badge badge-pill badge-dark m-1" v-if="info['type'] == 'string'" data-tippy-info="String">
                  A String
                </div>
                <div class="badge badge-pill badge-dark m-1" v-if="info['type'] == 'object'" data-tippy-info="Object">
                  An Object
                </div>
                <div class="badge badge-pill badge-dark m-1" v-if="info['type'] == 'number'" data-tippy-info="Number">
                  A Number
                </div>
                <div class="badge badge-pill badge-dark m-1" v-if="info['type'] == 'boolean'" data-tippy-info="Boolean">
                  A Boolean T/F
                </div>
                <small class="badge badge-secondary text-light" v-text="info['format']"></small>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <i class="fas fa-caret-right m-1 text-dark"></i>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <span class="mainTextDark">
                  <span class="badge badge-light m-1">type</span> <span v-text="info['@type']"></span>
                </span>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-chevron-right m-1 mainTextLight"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
              <div>
                <small class="text-muted d-block">
                  <b class="text-danger font-weight-bold" v-text="info.strict?'MUST':'CAN'"></b> be from ontologies:
                </small>
                <template v-for="(ont,i) in info.vocabulary.ontology">
                  <span class="text-info caps m-1 font-weight-bold"  :key="i">
                    <i class="fas fa-star fa-xs"></i> <i v-text="ont"></i>
                  </span>
                </template>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-chevron-right m-1 mainTextLight"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
              <div>
                <small class="text-muted d-block">
                  children of:
                </small>
                <template v-for="(ont,i) in info.vocabulary.children_of">
                  <a class="badge badge-primary d-block m-1 text-left" :href="ont" target="_blank" rel="nonreferrer">
                    <small v-text="ont"></small>
                  </a>
                </template>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2 border-left border-info">
              <a role="button" class="btn btn-sm btn-info text-light" @click="testOntologyLookup()">Try It <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>

        </div>

        <!-- OBJECT -->

        <div v-if="info && info.type == 'object'">
          <div class="d-flex">
            <div class="d-flex justify-content-center align-items-center">
              <div class="badge badge-pill badge-dark m-1" data-tippy-info="Object">
                An Object
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <i class="fas fa-chevron-right m-1 text-dark"></i>
              </div>
              <span class="mainTextDark">
                <span class="badge badge-light m-1">type</span> <span v-text="info['@type']"></span>
              </span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-chevron-right m-1 mainTextLight"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="border-left border-info pl-3">
                <template v-for="(value,name) in info['properties']" :key="name">
                  <div class="border-left border-secondary my-3 pl-2">
                    <small class="mainTextDark"><i class="fas fa-circle"></i> <b v-text="name"></b></small>
                    <span v-if="isRequired(name)" class="text-danger caps" style="zoom:.5;">is required</span>

                    <i class="fas fa-caret-right m-1 text-dark"></i>

                    <small class="badge badge-pill alert-dark" v-text="info['properties'][name]['type']"></small>
                    <small class="badge badge-pill alert-light" v-text="info['properties'][name]['format']"></small>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>`
});

Vue.component('propbox', {
  data: function(){
    return{
      userSchema:[],
      textColor:'',
      backColor:'',
    }
  },
  props: ['propname','propinfo'],
  methods:{
    getText(ref){
      let arr = ref.split('/');
      return arr[arr.length-1];
    },
    isPropRequired(name){
      var self = this;
      if (self.propinfo.hasOwnProperty('required') && self.propinfo['required'].includes(name)) {
        return true
      }
      return false
    },
  },
  watch:{
  },
  mounted: function(){
    var self = this;
    if (self.parent) {
      self.textColor = 'mainTextLight'
      self.backColor = 'mainBackLight'
    }else{
      self.textColor = 'mainTextDark'
      self.backColor = 'mainBackDark'
    }
  },
  computed: {
    isRequired:function(){
      return store.getters.isPropRequired(this.propname)
    }
  },
  template:
  `<li class="list-group-item">
    <h6 class="font-weight-bold mainTextDark">
      <i class="fas fa-tiny fa-code text-muted float-right" :data-tippy-info="JSON.stringify(propinfo,null,2)"></i>
      <span v-text="propname"></span>
      <span v-if="isRequired" class="text-danger caps" style="zoom:.5;">is required</span>
    </h6>
    <small class="text-muted" v-text="propinfo['description']"></small>
    <div class="d-flex rounded-0">
      <div class=" text-muted  px-5 py-3 d-flex justify-content-center align-items-center">
        <small>
          TAKES <i class="fas fa-chevron-right"></i> <i class="fas fa-chevron-right"></i>
        </small>
      </div>
      <div class="p-1 rounded-0 d-flex">

        <!-- HAS TYPE -->
        <div v-if="propinfo && propinfo.type" class="d-flex justify-content-center align-items-center">
          <div class="circle m-1" v-if="propinfo['type'] == 'array'" data-tippy-info="Array">
            [ ]
          </div>
          <div class="badge badge-pill badge-dark m-1" v-if="propinfo['type'] == 'string'" data-tippy-info="String">
            A String
          </div>
          <div class="badge badge-pill badge-dark m-1" v-if="propinfo['type'] == 'object'" data-tippy-info="Object">
            An Object
          </div>
          <div class="badge badge-pill badge-dark m-1" v-if="propinfo['type'] == 'number'" data-tippy-info="Number">
            A Number
          </div>
          <div class="badge badge-pill badge-dark m-1" v-if="propinfo['type'] == 'boolean'" data-tippy-info="Boolean">
            A Boolean T/F
          </div>
        </div>

        <!-- HAS TYPE -->
        <div v-if="propinfo && propinfo.properties" class="d-flex justify-content-center align-items-center">
          <i class="fas fa-chevron-right m-1 text-muted"></i>
        </div>
        <div v-if="propinfo && propinfo.properties" class="d-flex justify-content-center align-items-center">
          <div class="border-left border-info pl-3">
            <template v-for="(value,name) in propinfo['properties']" :key="option">
              <div class="border-left border-primary my-4 pl-2">
                <small class="mainTextDark"><i class="fas fa-circle"></i> <b v-text="name"></b></small>
                <span v-if="isPropRequired(name)" class="text-danger caps" style="zoom:.5;">is required</span>

                <i class="fas fa-caret-right m-1 text-dark"></i>

                <small class="badge badge-pill alert-dark" v-text="propinfo['properties'][name]['type']"></small>
                <small class="badge badge-pill alert-light" v-text="propinfo['properties'][name]['format']"></small>
              </div>
            </template>
          </div>
        </div>

        <!-- ONE OF -->
        <div v-if="propinfo && propinfo.oneOf" class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <small class="text-muted">ONE OF</small>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <i class="fas fa-chevron-right m-1 text-muted"></i>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="border-left border-info pl-3">
              <template v-for="option in propinfo['oneOf']" :key="option">
                <div class="border-left border-primary my-4 pl-2">
                  <a data-tippy-info="To Definition" v-if="option && option['$ref']" :href="'#'+getText(option['$ref'])"><i class="fas fa-info-circle fa-xs"></i> <i v-text="getText(option['$ref'])"></i></a>
                  <div v-if="option && option['items']" class="d-flex">
                    <div class="d-flex justify-content-center align-items-center">
                    <div class="badge badge-pill badge-dark m-1" v-if="option['type'] == 'array'" data-tippy-info="Array">
                      A List Of
                    </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fas fa-caret-right m-1 mainTextLight"></i>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      <template v-for="(val,key) in option['items']">
                        <a data-tippy-info="To Definition" v-if="key == '$ref'" :href="'#'+getText(val)"><i class="fas fa-info-circle fa-xs"></i> <i v-text="getText(val)"></i></a>
                        <small v-else v-text="val"></small>
                      </template>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>

      </div>
    </div>
  </li>`
});

var app = new Vue({
      el: '#jsoneditor',
			data: function(){
				return {
          input:'',
          loadMsg:'Visualize Json Schema Structure',
          loading:false,
          file:{
            "$schema": "http://json-schema.org/draft-07/schema#",
            "type": "object",
            "@type": "schema:Dataset",
            "properties": {
              "name": {
                "description": "Descriptive name of the dataset",
                "type": "string"
              },
              "description": {
                "description": "Longer description of what is contained in the dataset",
                "type": "string"
              },
              "measurementTechnique": {
                "description": "A technique or technology used in a Dataset, corresponding to the method used for measuring the corresponding variable(s).",
                "oneOf": [{
                    "$ref": "#/definitions/controlledVocabulary"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/controlledVocabulary"
                    }
                  }
                ]
              },
              "identifier": {
                "description": "Longer description of what is contained in the dataset",
                "type": "string"
              },
              "creator": {
                "description": "Name of the author or organization that created the dataset.  Note: schema.org/creator and schema.org/organization have additional fields that can provide more information about the author/organization, if desired.",
                "oneOf": [{
                    "$ref": "#/definitions/person"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/person"
                    }
                  }
                ]
              },
              "distribution": {
                "description": "DataDownload objects, which contain the URL link to download the raw, analyzed, and summary data associated with the dataset as well as associated metadata for the file.",
                "oneOf": [{
                    "$ref": "#/definitions/dataDownload"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/dataDownload"
                    }
                  }
                ]
              },
              "citation": {
                "description": "Journal article or other publication associated with the dataset (stored as an object, not a string)",
                "oneOf": [{
                    "$ref": "#/definitions/article"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/article"
                    }
                  }
                ]
              },
              "funding": {
                "description": "Funding that supports (sponsors) the collection of this dataset through some kind of financial contribution",
                "oneOf": [{
                    "$ref": "#/definitions/funder"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/funder"
                    }
                  }
                ]
              },
              "license": {
                "description": "A license document that applies to this content, typically indicated by URL.",
                "type": "string",
                "format": "uri"
              },
              "species": {
                "description": "Species(es) from which dataset has been collected",
                "oneOf": [{
                    "$ref": "#/definitions/miscControlledVocabulary"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/miscControlledVocabulary"
                    }
                  }
                ]
              },
              "pathogen": {
                "description": "Pathogen(s) which are the focus of the dataset",
                "oneOf": [{
                    "$ref": "#/definitions/miscControlledVocabulary"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/miscControlledVocabulary"
                    }
                  }
                ]
              }
            },
            "required": [
              "name",
              "description",
              "measurementTechnique",
              "creator",
              "distribution",
              "funding"
            ],
            "definitions": {
              "person": {
                "description": "Reusable person definition",
                "@type": "Person",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "controlledVocabulary": {
                "description": "collection of vocabulary terms defined in ontologies",
                "@type": "CreativeWork",
                "type": "string",
                "vocabulary": {
                  "ontology": ["edam", "ncit"],
                  "children_of": ["http://edamontology.org/topic_3361", "http://purl.obolibrary.org/obo/NCIT_C20368"]
                },
                "strict": false
              },
              "miscControlledVocabulary": {
                "description": "collection of vocabulary terms defined in ontologies",
                "@type": "CreativeWork",
                "type": "string",
                "vocabulary": {
                  "ontology": ["ncbitaxon"],
                  "children_of": ["http://purl.obolibrary.org/obo/NCBITaxon_10239", "http://purl.obolibrary.org/obo/NCBITaxon_131567l"]
                },
                "strict": false
              },
              "funder": {
                "type": "object",
                "@type": "Organization",
                "description": "Information about a single funder",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An organization associated with a creator or funder of a dataset"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Unique identifier(s) for the grant(s) used to fund the Dataset"
                  },
                  "description": {
                    "type": "string",
                    "description": "description about the funding organization"
                  },
                  "url": {
                    "type": "string",
                    "description": "award URL"
                  },
                  "parentOrganization": {
                    "type": "string",
                    "description": "name of the parent funding organization"
                  }
                },
                "required": [
                  "name",
                  "identifier"
                ]
              },
              "dataDownload": {
                "description": "A dataset in downloadable form.",
                "@type": "DataDownload",
                "type": "object",
                "properties": {
                  "dateModified": {
                    "type": "string",
                    "format": "date"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "dateModified",
                  "url"
                ]
              },
              "article": {
                "description": "A scholarly article in which the dataset is cited.",
                "@type": "ScholarlyArticle",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
				}
			},
      watch:{

      },
      computed:{
        schema:function(){
          return store.getters.getSchema
        },
        schemaType:function(){
          return store.getters.getType
        },
      },
			methods:{
        loadSchema(ex){
          let self = this;

          if (ex) {
            self.loadMsg=`<b class="text-success">Example loaded</b>`;
            payload ={};
            payload['schema'] = self.file;
            store.commit('saveSchema',payload)
          }else if (self.input) {
            axios.get(self.input).then(res=>{
              console.log(res.data)
              let schema = res.data
              if (schema && schema.hasOwnProperty('$schema')) {
                self.loadMsg=`<b class="text-success">Schema loaded</b>`;
                payload ={};
                payload['schema'] = schema;
                store.commit('saveSchema',payload)

              }else if (schema && schema.hasOwnProperty('@context')) {
                self.loadMsg=`<b class="text-danger">ATTENTION! File is JSON-LD and only visualized partially. You should visualize this here: <a href="/schema-playground">Schema Playground</a> for a complete visualization.</b>`;
                if (schema && schema['@graph']) {
                  options={}
                  optionsLabels={}
                  for (var i = 0; i < schema['@graph'].length; i++) {
                    if (schema['@graph'][i].hasOwnProperty('$validation')) {
                      options[schema['@graph'][i]['rdfs:label']]=schema['@graph'][i]
                      optionsLabels[schema['@graph'][i]['rdfs:label']]=schema['@graph'][i]['rdfs:label']
                    }
                  }
                  console.log("options",options)
                  Swal.fire({
                    title: 'Which would you like to visualize?',
                    input: 'select',
                    inputOptions: optionsLabels,
                    inputPlaceholder: 'Select a Class',
                    showCancelButton: true,
                    inputValidator: (value) => {
                      return new Promise((resolve) => {
                        console.log('value',value)
                        if (value) {
                          payload ={};
                          payload['schema'] = options[value]["$validation"];
                          store.commit('saveSchema',payload)
                          resolve()
                        }
                      })
                    }
                  })


                }
              }else{
                self.loadMsg=`<b class="text-danger">File is not JSON Schema Structure or JSON-LD</b>`;
              }
            }).catch(err=>{
              throw err
            });
          }

        }
			},
			mounted:function(){
        tippy( '#jsoneditor', {
          target:'*[data-tippy-info]',
          placement:'left',
          content: 'loading',
          animation: 'fade',
          interactive:true,
          theme:'light',
          onShow(instance) {
            let info = instance.reference.dataset.tippyInfo;

            instance.setContent("<div class='text-muted m-0 wraptext'><pre class='text-left text-muted wraptext d-block'>"+info+"</pre></div>")
          }});

			}
		});

</script>
{% include "footer.html" %}
{% endblock %}
