{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div id="portal" class="container-fluid p-0" style="min-height:80vh;">
  <template v-if="portal && portal.name">
    <div class="row m-0">
      <div class="text-center col-sm-12 p-0" :style="{background: gradient}">
        <div class="lines p-5">
          <img class="mt-4" :src="portal.image" :alt="portal.name" width="300px"/>
          <a href="/portal" class="d-block text-info"><i class="fas fa-chevron-left"></i> Back to Portals</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 py-5 d-flex justify-content-center align-items-center">
        <div>
          <div class="d-flex justify-content-start align-items-center">
            <img :src="portal.portalicon" :alt="portal.name" width="100px" class="mr-2"/>
            <h1 :style="{color: portal.colors[1].hex}"><span v-text="portal.name"></span></h1>
          </div>
          <h5 class="mt-3" v-text="portal.header"></h5>
          <div class="text-muted" v-html="portal.description"></div>
          <div class="border-top text-left text-muted p-2" v-if="portal.publications">
            <h4>Publications</h4>
            <ul>
              <li v-for="pub in portal.publications" :key="pub.name">
                <a :href="pub.link"
                target="_blank" rel="nonreferrer" v-text="pub.name"></a>
              </li>
            </ul>
          </div>
          <template v-if="window.location.pathname == '/portal/n3c' ">
            <div class="border-top text-left text-muted p-2">
              <h4>External Dataset Request</h4>
              <p>
                To enable some integrated analysis with the N3C dataset, you can request to include an external dataset in the N3C Enclave environment.
              </p>
              <div class="text-center p-2 m-1 rounded p-3">
                <a role="button" :style="{background: portal.colors[0].hex}" class="btn text-light btn-lg" href="/guide/n3c/dataset" class="nd mt-2 tip" :data-tippy-info="'Add a dtaset for '+portal.name">
                  Submit Request
                </a>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="border-top text-left text-muted p-2">
              <h4>Contribute</h4>
              <p>
                Follow an easy-to-follow guide to help you contribute metadata for <span v-text=portal.name></span> following this schema's <a :href="portal.schema" target="_blank">structure</a>:
              </p>
              <div v-for="g,i in portal.guides" :key="i + 'g'" class="text-center p-2 m-1 rounded p-3">
                <a role="button" :style="{background: portal.colors[0].hex}"
                @click="gtag('event','click',{'event_category':'portal_guide','event_label':g.guide,'event_value':1})"
                class="btn text-light btn-lg"
                :href="g.guide"
                class="nd mt-2 tip">
                  <i class="fas fa-plus"></i> Add <b v-text="g.name"></b> Metadata
                </a>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column justify-content-center align-items-stretch alert-secondary p-5">
        <div class="text-center p-2 m-1 rounded p-3" @mouseenter="hover('web')" v-if="portal.site">
          <object id="web" type="image/svg+xml" data="/static/img/site.svg" width="100px" alt="WEBSITE"></object>
          <a :href="portal.site" target="_blank" rel="noreferrer" class="nd mt-2 tip text-info" :data-tippy-info="'Explore the '+portal.name+' website'">
            <h5>Site <i class="fas fa-chevron-right"></i></h5>
          </a>
        </div>
        <div class="text-center p-2 m-1 rounded p-3" @mouseenter="hover('schema')">
          <object id="schema" type="image/svg+xml" data="/static/img/sp1-01.svg" width="100px" alt="SCHEMA"></object>
          <a :href="portal.schema" class="nd mt-2 tip text-info" :data-tippy-info="'Explore the schema used in '+portal.name">
            <h5>Schema <i class="fas fa-chevron-right"></i></h5>
          </a>
        </div>
        <div v-for="g,i in portal.guides" :key="i + 'gg'" class="text-center p-2 m-1 rounded p-3" @mouseenter="hover( i+'data')">
          <object :id="i+'data'" type="image/svg+xml" data="/static/img/dataset-01.svg" width="100px" :alt="g.name"></object>
          <a :href="g.registry" class="nd mt-2 tip text-info" :data-tippy-info="'Browse metadata in Data Discovery Engine for '+g.name">
            <h5><span v-text="g.name + 's' "></span> <i class="fas fa-chevron-right"></i></h5>
          </a>
        </div>
        <div v-if="portal && portal.api" class="text-center p-2 m-1 rounded p-3" @mouseenter="hover('api')">
          <object id="api" type="image/svg+xml" data="/static/img/api-01.svg" width="100px" alt="API"></object>
          <a :href="portal.api" target="_blank" rel="noreferrer" class="nd mt-2 tip text-info" :data-tippy-info="'Explore API for '+portal.name">
            <h5>API <i class="fas fa-chevron-right"></i></h5>
          </a>
        </div>
        <div v-if="portal && portal.faq_link" class="text-center p-2 m-1 rounded p-3" @mouseenter="hover('api')">
          <object id="api" type="image/svg+xml" data="/static/img/faq-01.svg" width="100px" alt="API"></object>
          <a :href="portal.faq_link" class="nd mt-2 tip text-info" data-tippy-info="Frequently Asked Questions">
            <h5>FAQ <i class="fas fa-chevron-right"></i></h5>
          </a>
        </div>
      </div>
      <div class="text-center p-5 col-sm-12 mainBackLight p-2">
      </div>
    </div>
  </template>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vivus@0.4.5/dist/vivus.min.js"></script>
<script>

  var app = new Vue({
    el: '#portal',
  	data: function(){
  		return {
        portal:{},
        colors:[],
        portals:[
          {
            'name':'Outbreak.info',
            'header':"During outbreaks of emerging diseases such as COVID-19, efficiently collecting, sharing, and integrating data is critical to scientific research. Outbreak.info is a resource to aggregate all this information into a single location.",
            'linkname':'outbreak',
            'description': `<p>
            In response to the current outbreak of SARS-CoV-2 (the virus that causes COVID-19), researchers worldwide have been generating and openly sharing data, publications, reagents, code, protocols, and more. Broad sharing of these research resources improves the speed and efficiency of science. Unfortunately, there are no uniform standards and repositories for collecting all this information in one place.
            </p><p>
            Outbreak.info focuses on aggregating all SARS-CoV-2 / COVID-19 information into a single site. We focus on making the metadata about these resources more standardized, on creating web interfaces to make the resources more findable, and on a few focused data integration efforts to make data more usable.
            </p>`,
            'image':'/static/img/outbreak_white.svg',
            'portalicon': "/static/img/icon-01.svg",
            "api": 'https://api.outbreak.info/',
            'site': "https://outbreak.info/",
            'schema': '/view/outbreak',
            "guides": [
              {
                guide: "/guide/outbreak/dataset",
                name: 'Dataset',
                registry: "/dataset?guide=/guide/outbreak/dataset"
              }
            ],
            "datasets": "/dataset?guide=/guide/outbreak/dataset",
            "colors": [{"hex":"#D13B62"}, {"hex":"#0A253D"}]
          },
          {
            'name':'NIAID Systems Biology',
            'header':'The NIAID Systems Biology Consortium for Infectious Diseases Data Dissemination Working Group works to make our research outputs more FAIR.',
            'linkname':'niaid',
            'description': `<p>
            The NIAID (National Institute of Allergy and Infectious Diseases) Systems Biology Consortium for Infectious Diseases Data Dissemination Working Group works to make our research outputs more FAIR.
            </p><p>
            We developed a Dataset and ComputationalTool schema tailored for research outputs in the infectious disease research space to increase their findability and discoverability.
            </p>
            <p>
            To help researchers easily collect and publish these metadata, the DDE registry allows researchers to easily collect dataset metadata based on our standards when no community repository exists.
            </p>`,
            'image':'/static/img/niaid/logo.svg',
            'portalicon': "/static/img/niaid/icon.svg",
            "site": '',
            'schema': '/view/niaid',
            "guides": [
              {
                guide: "/guide/niaid",
                name: 'Dataset',
                registry: "/dataset?guide=/guide/niaid",
              },
              {
                guide: "/guide/niaid/ComputationalTool",
                name: 'Computational Tool',
                registry: "/dataset?guide=/guide/niaid/ComputationalTool",
              },
            ],
            "datasets": "/dataset?guide=/guide/niaid",
            "colors": [{"hex":"#369AC1"},{"hex":"#113B56"}],
            "publications":[
              {
                name: 'Developing a standardized but extendable framework to increase the findability of infectious disease datasets',
                link: 'https://www.biorxiv.org/content/10.1101/2022.10.10.511492v1'
              }
            ]
          },
          {
            'name':'CTSA National Center for Data to Health',
            'header':'A CD2H PROJECT TO PROMOTE FAIR DATA-SHARING BEST PRACTICES & MAXIMIZE THE RESEARCH IMPACT OF CTSA HUBS',
            'linkname':'cd2h',
            'description': `<p>
              Informatics advancements, coupled with a shift towards open science, are in the process of fundamentally transforming how we approach translational research and clinical care. The CTSA Program is poised to help realize precision medicine by leveraging informatics tools and expertise within CTSA hubs to solve key informatics challenges across the translational spectrum.
            </p><p>
            The CD2H was funded in fall 2017 to coordinate and integrate informatics for the CTSA Program by promoting data reuse and interoperability, tool sharing, informatics fluency, and collaboration. We are here to serve the CTSA Program by creating additional resources, building impactful infrastructure, and further coalescing the community to develop and implement innovative solutions.
            </p><p>
            Towards these goals, CD2H seeks input from, and collaboration with, the CTSA Program. We convene the community through our CORES and Community Projects focused on data, software, and people; and partner with the community to iteratively develop solutions through CD2H Labs and our DREAM Challenges. The ultimate goal of the CD2H is to help CTSA Hubs thrive, accelerate advancements in informatics, and improve patient care.
            </p>`,
            'image':'/static/img/cd2h-logo-white.png',
            'portalicon': "/static/img/dde-logo-o.svg",
            "site": 'https://ctsa.ncats.nih.gov/cd2h/',
            'schema': '/view/biomedical',
            "guides": [
              {
                guide: "/guide",
                name: 'Dataset',
                registry: "/dataset?guide=/guide"
              }
            ],
            "api": 'https://crawler.biothings.io/',
            "datasets": "/dataset?guide=/guide",
            "colors": [{"hex":"#63296B"}, {"hex":"#4A7D8F"}]
          },
          {
            'name':'The National COVID Cohort Collaborative (N3C)',
            'header':'The N3C aims to improve the efficiency and accessibility of analyses using a very large row-level (patient-level) COVID-19 clinical dataset and demonstrate a novel approach for collaborative pandemic data sharing.',
            'linkname':'n3c',
            'description': `<p>
              The National COVID Cohort Collaborative (N3C) is a complementary and synergistic partnership among the <a href="https://ncats.nih.gov/ctsa" target="_blank">Clinical and Translational Science Awards (CTSA) Program</a> hubs, the <a href="https://cd2h.org/" target="_blank">National Center for Data to Health (CD2H)</a>, distributed clinical data networks (PCORnet, OHDSI, ACT/i2b2, TriNetX), and other partner organizations, with overall stewardship by NIH’s  <a href="https://ncats.nih.gov/" target="_blank">National Center for Advancing Translational Sciences (NCATS)</a>.
            </p><p>
              The N3C aims to improve the efficiency and accessibility of analyses using a very large row-level (patient-level) COVID-19 clinical dataset and demonstrate a novel approach for collaborative pandemic data sharing.
            </p>`,
            'image':'/static/img/N3Cwhite.png',
            'portalicon': "/static/img/N3Co.png",
            "site": 'https://covid.cd2h.org/N3C',
            'schema': '/view/n3c',
            "guides": [
              {
                guide: "/guide/n3c/dataset",
                name: 'Dataset',
                registry: "/dataset?guide=/guide/n3c/dataset"
              }
            ],
            "datasets": "/dataset?guide=/guide/n3c/dataset",
            "colors": [{"hex":"#4B7E8F"},{"hex":"#64296B"}],
            "faq_link" : "/faq/n3c"
          },
        ]
  	  }
    },
    methods:{
      redirect(){
        Swal.fire({
          type:'error',
          title: "Portal Does Not Exist",
          html:
             "Taking you to the Portals page in <strong></strong> seconds...",
          timer: 3000,
          onBeforeOpen: () => {
            const content = Swal.getContent()
            const $ = content.querySelector.bind(content)
            Swal.showLoading()
            timerInterval = setInterval(() => {
              Swal.getContent().querySelector('strong')
                .textContent = (Swal.getTimerLeft() / 1000)
                  .toFixed(0)
            }, 100)
          },
          onClose: () => {
            window.location.href='/portal/'
          }
        });
      },
      hover(id){
        new Vivus(id, { duration: 100 });
      },
    },
    mounted:function(){
      var self = this;
      let context = {{Context}}
       if ( context.Query ) {
         switch (context.Query) {
           case 'niaid':
             self.portal = self.portals[1]
             break;
           case 'outbreak':
             self.portal = self.portals[0]
             break;
           case 'cd2h':
               self.portal = self.portals[2]
               break;
           case 'n3c':
               self.portal = self.portals[3]
               break;
           default:
             self.redirect()
         }
         self.colors = self.portal['colors']
       }
       tippy( '#portal', {
         target:'.tip',
         placement:'bottom',
         theme:'light',
         sticky: true,
         content: 'loading',
         interactive: true,
         animation: 'fade',
         onShow(instance) {
           let info = instance.reference.dataset.tippyInfo;
           instance.setContent("<div>"+info+"</div>");
         }});


    },
    computed:{
      gradient() {
      let colors = "linear-gradient(45deg";
      this.colors.forEach(function(e) {
        colors += "," + e.hex;
      });
      colors += " 30%)";
      console.log(colors)
      return colors;
    }
    }
  });
</script>
{% include "footer.html" %}
{% endblock %}
